.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/public/packs/
test/dummy/public/packs-test/
test/dummy/node_modules/
test/dummy/config/credentials.yml.enc
test/dummy/config/master.key
.DS_Store
.byebug_history
*.swp
*.swo

# Releases
pay-*.gem
.ruby-version
