---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=gob%40bluth.com&name=&expand[0]=tax&expand[1]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 601d8843-1b94-46bf-9c9c-264fa8c87eea
      Stripe-Version:
      - 2026-09-30.endive
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 601d8843-1b94-46bf-9c9c-264fa8c87eea
      Original-Request:
      - req_z8KuMfYzk1msfA
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VOQjSaOfmOsrF2",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1791314283,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_credit_balance": {},
          "invoice_prefix": "7F6WMUIK",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 06 Oct 2026 19:18:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_VOQjSaOfmOsrF2
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 36c13ab6-2154-4f75-be91-e28dfffaff2a
      Stripe-Version:
      - 2026-09-30.endive
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 36c13ab6-2154-4f75-be91-e28dfffaff2a
      Original-Request:
      - req_KhlJ5kl9z5I3XR
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UNdsFQK2ZHS99RkNBUor9Fv",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 10,
            "exp_year": 2027,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1791314283,
          "customer": "cus_VOQjSaOfmOsrF2",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Tue, 06 Oct 2026 19:18:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_VOQjSaOfmOsrF2
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1UNdsFQK2ZHS99RkNBUor9Fv
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 83862fd4-b776-41cf-994e-17eb5d563741
      Stripe-Version:
      - 2026-09-30.endive
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Content-Type:
      - application/x-www-form-urle[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_VOQjSaOfmOsrF2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Stripe-Version:
      - 2026-09-30.endive
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such customer: 'cus_VOQjSaOfmOsrF2'",
            "param": "id",
            "request_log_url": "https://dashboard.stripe.com/acct_1E4bfnKXBGcbgpbZ/test/workbench/logs?object=req_AmR2410j2moK4K",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Tue, 06 Oct 2026 19:18:04 GMT
recorded_with: VCR 6.4.0
