---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=gob%40bluth.com&name=&expand[0]=tax&expand[1]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 9b7a8a79-886c-4ed3-b5a2-5630f22f96f8
      Stripe-Version:
      - 2026-08-26.dahlia
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9b7a8a79-886c-4ed3-b5a2-5630f22f96f8
      Original-Request:
      - req_VVDsPr6WCkMFmD
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VIORjz5sxT7uvV",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1789921918,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_credit_balance": {},
          "invoice_prefix": "UTUXSCRI",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:31:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_VIORjz5sxT7uvV
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - e3167b40-80e0-4650-a5b0-83f7a2d4d24a
      Stripe-Version:
      - 2026-08-26.dahlia
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e3167b40-80e0-4650-a5b0-83f7a2d4d24a
      Original-Request:
      - req_EDvfSIsp5h6iKG
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UHnekQK2ZHS99RkAYQmuZVL",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 9,
            "exp_year": 2027,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1789921918,
          "customer": "cus_VIORjz5sxT7uvV",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Sun, 20 Sep 2026 16:31:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_VIORjz5sxT7uvV
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1UHnekQK2ZHS99RkAYQmuZVL
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 8bc751d8-a231-4561-bf51-f6cf47c7005c
      Stripe-Version:
      - 2026-08-26.dahlia
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Content-Type:
      - application/x-www-form-urle[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_VIORVa4wugEfbG
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1UHnelKXBGcbgpbZc1lZI0Ag
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 8c892dc6-934c-41e9-b689-4548faa67e5f
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&customer=cus_VIORVa4wugEfbG&expand[0]=latest_charge.balance_transaction&expand[1]=latest_charge.payment_intent&expand[2]=latest_charge.refunds.data.balance_transaction&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_1UHnelKXBGcbgpbZc1lZI0Ag&application_fee_amount=123&transfer_data[destination]=acct_1ISuLNQK2ZHS99Rk
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 5af4611c-7871-46ad-a113-73f4dcfe6b89
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5af4611c-7871-46ad-a113-73f4dcfe6b89
      Original-Request:
      - req_YLH7erBPqQQJr6
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3UHnemKXBGcbgpbZ0NS22j8j",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": null,
          "application_fee_amount": 123,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_secret": "pi_3UHnemKXBGcbgpbZ0NS22j8j_secret_FbYhvswezqJEz0vA0zTChPMPV",
          "confirmation_method": "automatic",
          "created": 1789921920,
          "currency": "usd",
          "customer": "cus_VIORVa4wugEfbG",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3UHnemKXBGcbgpbZ0D4R4DlD",
            "object": "charge",
            "amount": 1000,
            "amount_captured": 1000,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": 123,
            "balance_transaction": null,
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null,
              "tax_id": null
            },
            "calculated_statement_descriptor": "PAY RAILS",
            "captured": true,
            "created": 1789921921,
            "currency": "usd",
            "customer": "cus_VIORVa4wugEfbG",
            "description": null,
            "destination": "acct_1ISuLNQK2ZHS99Rk",
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "advice_code": null,
              "network_advice_code": null,
              "network_decline_code": null,
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 37,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": {
              "id": "pi_3UHnemKXBGcbgpbZ0NS22j8j",
              "object": "payment_intent",
              "allowed_payment_method_types": null,
              "amount": 1000,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 1000,
              "application": null,
              "application_fee_amount": 123,
              "automatic_payment_methods": {
                "allow_redirects": "always",
                "enabled": true
              },
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic_async",
              "client_secret": "pi_3UHnemKXBGcbgpbZ0NS22j8j_secret_FbYhvswezqJEz0vA0zTChPMPV",
              "confirmation_method": "automatic",
              "created": 1789921920,
              "currency": "usd",
              "customer": "cus_VIORVa4wugEfbG",
              "customer_account": null,
              "description": null,
              "excluded_payment_method_types": null,
              "last_payment_error": null,
              "latest_charge": "ch_3UHnemKXBGcbgpbZ0D4R4DlD",
              "livemode": false,
              "managed_payments": {
                "enabled": false
              },
              "metadata": {},
              "next_action": null,
              "on_behalf_of": null,
              "payment_method": "pm_1UHnelKXBGcbgpbZc1lZI0Ag",
              "payment_method_configuration_details": {
                "id": "pmc_1KVQ6KKXBGcbgpbZtICYcb8a",
                "parent": null
              },
              "payment_method_options": {
                "acss_debit": {
                  "verification_method": "automatic"
                },
                "afterpay_clearpay": {
                  "reference": null
                },
                "alipay": {},
                "card": {
                  "installments": null,
                  "mandate_options": null,
                  "network": null,
                  "request_three_d_secure": "automatic"
                },
                "klarna": {
                  "preferred_locale": null
                },
                "link": {
                  "persistent_token": null
                },
                "us_bank_account": {
                  "financial_connections": {
                    "permissions": [
                      "payment_method"
                    ],
                    "prefetch": []
                  },
                  "mandate_options": {},
                  "transaction_purpose": "unspecified",
                  "verification_method": "automatic"
                },
                "wechat_pay": {
                  "app_id": null,
                  "client": null
                }
              },
              "payment_method_types": [
                "card",
                "acss_debit",
                "afterpay_clearpay",
                "alipay",
                "klarna",
                "link",
                "us_bank_account",
                "wechat_pay"
              ],
              "payment_record": null,
              "processing": null,
              "receipt_email": null,
              "review": null,
              "setup_future_usage": null,
              "shared_payment_granted_token": null,
              "shipping": null,
              "source": null,
              "statement_descriptor": null,
              "statement_descriptor_suffix": null,
              "status": "succeeded",
              "transfer_data": {
                "destination": "acct_1ISuLNQK2ZHS99Rk"
              },
              "transfer_group": "group_pi_3UHnemKXBGcbgpbZ0NS22j8j"
            },
            "payment_method": "pm_1UHnelKXBGcbgpbZc1lZI0Ag",
            "payment_method_details": {
              "card": {
                "amount_authorized": 1000,
                "authorization_code": "036659",
                "brand": "visa",
                "checks": {
                  "address_line1_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": "pass"
                },
                "country": "US",
                "electronic_commerce_indicator": "07",
                "exp_month": 9,
                "exp_year": 2027,
                "extended_authorization": {
                  "status": "disabled"
                },
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "incremental_authorization": {
                  "status": "unavailable"
                },
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "multicapture": {
                  "status": "unavailable"
                },
                "network": "visa",
                "network_token": {
                  "used": false
                },
                "network_transaction_id": "119528868122817",
                "overcapture": {
                  "maximum_amount_capturable": 1000,
                  "status": "unavailable"
                },
                "regulated_status": "unregulated",
                "three_d_secure": null,
                "transaction_link_id": null,
                "wallet": null
              },
              "type": "card"
            },
            "radar_options": {},
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xRTRiZm5LWEJHY2JncGJaKIGVwNUGMgZjdJisLso6LBaR1dVwQvC1VFHGvxJRNKdu9rVcIGS8r7xcQRveKrhdaoHNQHz8928_hZHl",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/charges/ch_3UHnemKXBGcbgpbZ0D4R4DlD/refunds"
            },
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": null,
            "status": "succeeded",
            "transfer_data": {
              "amount": null,
              "destination": "acct_1ISuLNQK2ZHS99Rk"
            },
            "transfer_group": "group_pi_3UHnemKXBGcbgpbZ0NS22j8j"
          },
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoice_payments?payment%5Bpayment_intent%5D=pi_3UHnemKXBGcbgpbZ0NS22j8j&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Stripe-Version:
      - 2026-08-26.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/invoice_payments"
        }
  recorded_at: Sun, 20 Sep 2026 16:32:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3UHnemKXBGcbgpbZ0D4R4DlD?expand%5B%5D=balance_transaction&expand%5B%5D=payment_intent&expand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Stripe-Version:
      - 2026-08-26.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Str[...]
