---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=gob%40bluth.com&name=&expand[0]=tax&expand[1]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 0073cd38-35e5-44c3-bb8a-a886241c6dbb
      Stripe-Version:
      - 2026-09-30.endive
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0073cd38-35e5-44c3-bb8a-a886241c6dbb
      Original-Request:
      - req_PT1J7k27JfRuaj
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VOQjgOERRHDdCm",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1791314284,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_credit_balance": {},
          "invoice_prefix": "WLOSUARM",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 06 Oct 2026 19:18:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_VOQjgOERRHDdCm
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 9df2e270-cc99-4d6c-a4a5-5a5d45385cf7
      Stripe-Version:
      - 2026-09-30.endive
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9df2e270-cc99-4d6c-a4a5-5a5d45385cf7
      Original-Request:
      - req_3GPMq7gutcM51m
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UNdsGQK2ZHS99RkWhYoHbZC",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 10,
            "exp_year": 2027,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1791314284,
          "customer": "cus_VOQjgOERRHDdCm",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Tue, 06 Oct 2026 19:18:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_VOQjgOERRHDdCm
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1UNdsGQK2ZHS99RkWhYoHbZC
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - e709cc45-7950-44ab-8d11-064248307cb2
      Stripe-Version:
      - 2026-09-30.endive
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Content-Type:
      - application/x-www-form-urle[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&customer=cus_VOQjgOERRHDdCm&expand[0]=latest_charge.balance_transaction&expand[1]=latest_charge.payment_intent&expand[2]=latest_charge.refunds.data.balance_transaction&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_1UNdsGQK2ZHS99RkWhYoHbZC&transfer_group=12345
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 99d0b5af-28a0-457c-991b-db99d144d599
      Stripe-Version:
      - 2026-09-30.endive
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 99d0b5af-28a0-457c-991b-db99d144d599
      Original-Request:
      - req_4BMOQvKz9gkq6A
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3UNdsHQK2ZHS99Rk1ZlPjErB",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": "ca_J526GYgmSwFgKMno9PpWP7RTYw0iB3mM",
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_secret": "pi_3UNdsHQK2ZHS99Rk1ZlPjErB_secret_8PsMJviCYIMuVubr5mkTTVGaJ",
          "confirmation_method": "automatic",
          "created": 1791314285,
          "currency": "usd",
          "customer": "cus_VOQjgOERRHDdCm",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3UNdsHQK2ZHS99Rk1fzjSA9l",
            "object": "charge",
            "amount": 1000,
            "amount_captured": 1000,
            "amount_refunded": 0,
            "application": "ca_J526GYgmSwFgKMno9PpWP7RTYw0iB3mM",
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": null,
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null,
              "tax_id": null
            },
            "calculated_statement_descriptor": "BUSINESS.COM",
            "captured": true,
            "created": 1791314285,
            "currency": "usd",
            "customer": "cus_VOQjgOERRHDdCm",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "advice_code": null,
              "network_advice_code": null,
              "network_decline_code": null,
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 62,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": {
              "id": "pi_3UNdsHQK2ZHS99Rk1ZlPjErB",
              "object": "payment_intent",
              "allowed_payment_method_types": null,
              "amount": 1000,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 1000,
              "application": "ca_J526GYgmSwFgKMno9PpWP7RTYw0iB3mM",
              "application_fee_amount": null,
              "automatic_payment_methods": {
                "allow_redirects": "always",
                "enabled": true
              },
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic_async",
              "client_secret": "pi_3UNdsHQK2ZHS99Rk1ZlPjErB_secret_8PsMJviCYIMuVubr5mkTTVGaJ",
              "confirmation_method": "automatic",
              "created": 1791314285,
              "currency": "usd",
              "customer": "cus_VOQjgOERRHDdCm",
              "customer_account": null,
              "description": null,
              "excluded_payment_method_types": null,
              "last_payment_error": null,
              "latest_charge": "ch_3UNdsHQK2ZHS99Rk1fzjSA9l",
              "livemode": false,
              "managed_payments": {
                "enabled": false
              },
              "metadata": {},
              "next_action": null,
              "on_behalf_of": null,
              "payment_method": "pm_1UNdsGQK2ZHS99RkWhYoHbZC",
              "payment_method_configuration_details": {
                "id": "pmc_1SRzmBQK2ZHS99RksgsSubjz",
                "parent": "pmc_1RpBqyKXBGcbgpbZsP7BtXy6"
              },
              "payment_method_options": {
                "card": {
                  "installments": null,
                  "mandate_options": null,
                  "network": null,
                  "request_three_d_secure": "automatic"
                },
                "link": {
                  "persistent_token": null
                }
              },
              "payment_method_types": [
                "card",
                "link"
              ],
              "payment_record": null,
              "processing": null,
              "receipt_email": null,
              "review": null,
              "setup_future_usage": null,
              "shared_payment_granted_token": null,
              "shipping": null,
              "source": null,
              "statement_descriptor": null,
              "statement_descriptor_suffix": null,
              "status": "succeeded",
              "transfer_data": null,
              "transfer_group": "12345"
            },
            "payment_method": "pm_1UNdsGQK2ZHS99RkWhYoHbZC",
            "payment_method_details": {
              "card": {
                "amount_authorized": 1000,
                "authorization_code": "220413",
                "brand": "visa",
                "checks": {
                  "address_line1_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": "pass"
                },
                "country": "US",
                "electronic_commerce_indicator": "07",
                "exp_month": 10,
                "exp_year": 2027,
                "extended_authorization": {
                  "status": "disabled"
                },
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "incremental_authorization": {
                  "status": "unavailable"
                },
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "multicapture": {
                  "status": "unavailable"
                },
                "network": "visa",
                "network_token": {
                  "used": false
                },
                "network_transaction_id": "105102104705511",
                "overcapture": {
                  "maximum_amount_capturable": 1000,
                  "status": "unavailable"
                },
                "regulated_status": "unregulated",
                "three_d_secure": null,
                "transaction_link_id": null,
                "wallet": null
              },
              "type": "card"
            },
            "radar_options": {},
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xSVN1TE5RSzJaSFM5OVJrKO6SldYGMgbE1UbFCB86LBaWDIN80HhFEc38gtZUzSSr2qo_aTyonj1vJiUaeAzbG0NJLuLTfBuKaAzX",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/charges/ch_3UNdsHQK2ZHS99Rk1fzjSA9l/refunds"
            },
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": "12345"
          },
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1UNdsGQK2ZHS99RkWhYoHbZC",
          "payment_method_conf[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoice_payments?payment%5Bpayment_intent%5D=pi_3UNdsHQK2ZHS99Rk1ZlPjErB&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Stripe-Version:
      - 2026-09-30.endive
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/invoice_payments"
        }
  recorded_at: Tue, 06 Oct 2026 19:18:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: amount=700&currency=usd&destination=acct_1IStbKQOsIOBQfn0&transfer_group=12345
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - ddf720ad-316c-4b77-a7a4-83a96f659157
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ddf720ad-316c-4b77-a7a4-83a96f659157
      Original-Request:
      - req_X7XeqxcBEhaMUM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_1UNdsIKXBGcbgpbZSJ3EQdhW",
          "object": "transfer",
          "amount": 700,
          "amount_reversed": 0,
          "balance_transaction": "txn_1UNdsIKXBGcbgpbZDLmMGLFr",
          "created": 1791314286,
          "currency": "usd",
          "description": null,
          "destination": "acct_1IStbKQOsIOBQfn0",
          "destination_payment": "py_1UNdsIQOsIOBQfn0dHtwxmVX",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1UNdsIKXBGcbgpbZSJ3EQdhW/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": "12345"
        }
  recorded_at: Tue, 06 Oct 2026 19:18:07 GMT
recorded_with: VCR 6.4.0
