---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=gob%40bluth.com&name=&expand[0]=tax&expand[1]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 72b1a92b-e302-4456-affc-8f8eb4a99c06
      Stripe-Version:
      - 2026-08-26.dahlia
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 72b1a92b-e302-4456-affc-8f8eb4a99c06
      Original-Request:
      - req_HXyOWmrLqz61H3
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VIORyWm3qRz4Yz",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1789921933,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_credit_balance": {},
          "invoice_prefix": "M3CRBVRL",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:32:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_VIORyWm3qRz4Yz
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 8163e421-e85e-45cb-8a92-3c156e8550ef
      Stripe-Version:
      - 2026-08-26.dahlia
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8163e421-e85e-45cb-8a92-3c156e8550ef
      Original-Request:
      - req_RTUFUmvWJptLl7
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UHnezQK2ZHS99RkGN49uUpD",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 9,
            "exp_year": 2027,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1789921933,
          "customer": "cus_VIORyWm3qRz4Yz",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Sun, 20 Sep 2026 16:32:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_VIORyWm3qRz4Yz
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1UHnezQK2ZHS99RkGN49uUpD
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 4fd6e66f-2202-4c11-88fb-71d632e72449
      Stripe-Version:
      - 2026-08-26.dahlia
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Content-Type:
      - application/x-www-form-urle[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_VIORyWm3qRz4Yz?expand%5B%5D=invoice_credit_balance&expand%5B%5D=tax
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Stripe-Version:
      - 2026-08-26.dahlia
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Accou[...]
