<!DOCTYPE html>
<html>
<head>
  <title>Pay</title>
  <%= stylesheet_link_tag    "pay/application", media: "all" %>
  <%= javascript_include_tag "pay/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
