<!DOCTYPE html>
<html class="h-full">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Payment Confirmation - <%= Pay.business_name %></title>
  <%#= stylesheet_link_tag    "pay/application", media: "all" %>
  <%#= javascript_include_tag "pay/application" %>
  <%= csrf_meta_tags %>

  <link href="https://unpkg.com/tailwindcss@^2.2/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://js.stripe.com/v3"></script>
</head>
<body class="font-sans text-gray-600 bg-gray-100 leading-normal p-4 h-full">

<%= yield %>

</body>
</html>
