<h3>Extra confirmation is needed to process your payment</h3>
<p>Your <%= Pay.business_name %> subscription requires confirmation to process your payment to continue access.</p>

<p>You may confirm your payment via your account. If you have any questions, please hit reply and let us know.</p>

<p>- The <%= Pay.business_name %> Team</p>
