<h3>Extra confirmation is needed to process your payment</h3>
<p>Your <%= Pay.business_name %> subscription requires confirmation to process your payment to continue access.</p>

<p><%= link_to "Click here to confirm your payment", pay.payment_url(params[:payment_intent_id]) %>. If you have any questions, please hit reply and let us know.</p>

<p>- The <%= Pay.business_name %> Team</p>
