<h3>Your payment was declined</h3>
<p>We were unable to charge your payment method for your <%= Pay.application_name %> subscription. Please update your billing information.</p>
<p><%= link_to "Update billing information", root_url %></p>
<p>Let us know if you have any questions.</p>
<p>— The <%= Pay.application_name %> Team</p>
