<h3>Extra confirmation is needed to process your payment</h3>
<p>Your <%= Pay.application_name %> subscription requires confirmation to process your payment to continue access.</p>
<p><%= link_to "Confirm your payment", pay.payment_url(params[:payment_intent_id]) %></p>
<p>If you have any questions, please hit reply and let us know.</p>
<p>— The <%= Pay.application_name %> Team</p>
