<h3>Processing your payment failed</h3>
<p>
  Hey <%= params[:pay_customer].customer_name %>,
</p>
<p>
  The <%= Pay.business_name %> Team here. We are writing because it looks like your payment didn't go through.
    Please <%= link_to "update your information here", root_url %> and we'll give it another try.
</p>
<p>
  Let us know if you have any questions.
</p>
<p>
  The <%= Pay.business_name %> Team. 
</p>
