<h3>Your <%= Pay.application_name %> trial is ending soon</h3>
<p>This is just a friendly reminder that your <%= Pay.application_name %> trial will be ending soon.</p>

<p>You may manage your subscription via your account. If you have any questions, please hit reply and let us know.</p>

<p>- The <%= Pay.application_name %> Team</p>
