<h3>Your upcoming subscription renewal</h3>
<p>This is just a friendly reminder that your <%= Pay.business_name %> subscription will renew automatically on <%= @subscription %>.</p>

<p>You may manage your subscription via your account. If you have any questions, please hit reply and let us know.</p>

<p>- The <%= Pay.business_name %> Team</p>
