<h3>Your <%= Pay.application_name %> trial has ended</h3>
<p>This is just a friendly reminder that your <%= link_to Pay.application_name, root_url %> trial has ended.</p>
<p>You may <%= link_to "manage your subscription", root_url %> via your account. If you have any questions, please hit reply and let us know.</p>
<p>— The <%= Pay.application_name %> Team</p>
