<div class="row">
  <div class="col-sm-6">
    <a
      href="#!"
      class="paddle_button"
      data-override="<%= current_user.subscriptions.paddle.last&.paddle_update_url %>"
      data-success="<%= payment_method_path %>"
      >Update Payment Information</a>
  </div>

  <div class="col-sm-6">
  </div>
</div>

