---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User&expand[0]=tax&expand[1]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - d3763592-8d56-48f8-83fc-b0c8aab57d10
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d3763592-8d56-48f8-83fc-b0c8aab57d10
      Original-Request:
      - req_iHik0AfxweMbq4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VIOPA0BW0G4ECA",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1789921793,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_credit_balance": {},
          "invoice_prefix": "53FTYK74",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:29:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_VIOPA0BW0G4ECA&return_url=http%3A%2F%2Flocalhost%3A3000%2F
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 484b8de7-1dce-496b-a5e2-16aef28a7ddd
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 484b8de7-1dce-496b-a5e2-16aef28a7ddd
      Original-Request:
      - req_37Wa9eKecSnAyn
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_1UHncjKXBGcbgpbZA0CcJvAA",
          "object": "billing_portal.session",
          "configuration": "bpc_1ILastKXBGcbgpbZxb0fTvsd",
          "created": 1789921793,
          "customer": "cus_VIOPA0BW0G4ECA",
          "customer_account": null,
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://localhost:3000/",
          "url": "https://billing.stripe.com/p/session?secret=test_YWNjdF8xRTRiZm5LWEJHY2JncGJaLF9WSU9QUE43eklyRERJRW9nN1hrS1NLQVhUY2NWWmRx0100frPTihu0"
        }
  recorded_at: Sun, 20 Sep 2026 16:29:53 GMT
recorded_with: VCR 6.4.0
