---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User&expand[0]=tax&expand[1]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 804f59aa-67f4-4772-9400-7ff73e1da337
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 804f59aa-67f4-4772-9400-7ff73e1da337
      Original-Request:
      - req_Rq2ScrPBa8cGUo
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VOQj6v8u9Ear8x",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1791314261,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_credit_balance": {},
          "invoice_prefix": "Q1O6PKR1",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 06 Oct 2026 19:17:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_VOQj6v8u9Ear8x&return_url=http%3A%2F%2Flocalhost%3A3000%2F
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - '08f2ee11-c5be-4ef4-a333-bae196387405'
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '08f2ee11-c5be-4ef4-a333-bae196387405'
      Original-Request:
      - req_CagXrXvz3waxvx
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_1UNdrtKXBGcbgpbZISbsc5Kl",
          "object": "billing_portal.session",
          "configuration": "bpc_1ILastKXBGcbgpbZxb0fTvsd",
          "created": 1791314261,
          "customer": "cus_VOQj6v8u9Ear8x",
          "customer_account": null,
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://localhost:3000/",
          "url": "https://billing.stripe.com/p/session?secret=test_YWNjdF8xRTRiZm5LWEJHY2JncGJaLF9WT1FqbzY3NmxGUDdyV1ROV1RTcDhDN0I0RnhzaTl60100j2WSN7mO"
        }
  recorded_at: Tue, 06 Oct 2026 19:17:41 GMT
recorded_with: VCR 6.4.0
