---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/subscriptions/253735
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <LEMON_SQUEEZY_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '299'
      Apigw-Requestid:
      - SaZRxhBGiYcEJdA=
    body:
      encoding: ASCII-8BIT
      string: '{"jsonapi":{"version":"1.0"},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735"},"data":{"type":"subscriptions","id":"253735","attributes":{"store_id":51385,"customer_id":2194219,"order_id":2015184,"order_item_id":1976428,"product_id":174873,"variant_id":225676,"product_name":"Payments
        App","variant_name":"Default","user_name":"A TEST","user_email":"dean+9f2d78@voupe.dev","status":"active","status_formatted":"Active","card_brand":"visa","card_last_four":"4242","pause":null,"cancelled":false,"trial_ends_at":null,"billing_anchor":31,"first_subscription_item":{"id":207416,"subscription_id":253735,"price_id":259336,"quantity":1,"is_usage_based":false,"created_at":"2024-01-31T15:38:41.000000Z","updated_at":"2024-01-31T15:38:41.000000Z"},"urls":{"update_payment_method":"https:\/\/voupedev.lemonsqueezy.com\/subscription\/253735\/payment-details?expires=1706803390&signature=3f41b7f495a637653da699d1487100be2bff74794de44ed1c69c555b5e5e0fed","customer_portal":"https:\/\/voupedev.lemonsqueezy.com\/billing?expires=1706738590&test_mode=1&user=1932202&signature=08ad6039782939215e4afcd4dc9f31cf6b20108184788d2d2608f4d327ca67e7"},"renews_at":"2024-02-29T15:38:35.000000Z","ends_at":null,"created_at":"2024-01-31T15:38:36.000000Z","updated_at":"2024-01-31T15:39:11.000000Z","test_mode":true},"relationships":{"store":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/store","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/relationships\/store"}},"customer":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/customer","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/relationships\/customer"}},"order":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/order","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/relationships\/order"}},"order-item":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/order-item","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/relationships\/order-item"}},"product":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/product","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/relationships\/product"}},"variant":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/variant","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/relationships\/variant"}},"subscription-items":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/subscription-items","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/relationships\/subscription-items"}},"subscription-invoices":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/subscription-invoices","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/relationships\/subscription-invoices"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735"}}}'
  recorded_at: Wed, 31 Jan 2024 16:03:11 GMT
recorded_with: VCR 6.2.0
