---
http_interactions:
- request:
    method: patch
    uri: https://api.lemonsqueezy.com/v1/subscriptions/253735
    body:
      encoding: UTF-8
      string: '{"data":{"type":"subscriptions","id":"253735","attributes":{"product_id":"174873","variant_id":"225676"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <LEMON_SQUEEZY_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '299'
      Apigw-Requestid:
      - SaZxDipRCYcEMRA=
    body:
      encoding: ASCII-8BIT
      string: '{"jsonapi":{"version":"1.0"},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735"},"data":{"type":"subscriptions","id":"253735","attributes":{"store_id":51385,"customer_id":2194219,"order_id":2015184,"order_item_id":1976428,"product_id":174873,"variant_id":225676,"product_name":"Payments
        App","variant_name":"20 a month","user_name":"A TEST","user_email":"dean+9f2d78@voupe.dev","status":"active","status_formatted":"Active","card_brand":"visa","card_last_four":"4242","pause":null,"cancelled":false,"trial_ends_at":null,"billing_anchor":31,"first_subscription_item":{"id":207416,"subscription_id":253735,"price_id":259336,"quantity":1,"is_usage_based":false,"created_at":"2024-01-31T15:38:41.000000Z","updated_at":"2024-01-31T15:38:41.000000Z"},"urls":{"update_payment_method":"https:\/\/voupedev.lemonsqueezy.com\/subscription\/253735\/payment-details?expires=1706803590&signature=4782141517b166b7acdc43fb842aaf000417354bbe0b466711a167f6c1ed7b4f","customer_portal":"https:\/\/voupedev.lemonsqueezy.com\/billing?expires=1706738790&test_mode=1&user=1932202&signature=f1d21251e98d07b4937c10cdfb2aaeaf4e6d29aa0e521c2117ddb198e87816e9"},"renews_at":"2024-02-29T15:38:35.000000Z","ends_at":null,"created_at":"2024-01-31T15:38:36.000000Z","updated_at":"2024-01-31T16:06:30.000000Z","test_mode":true},"relationships":{"store":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/store","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/relationships\/store"}},"customer":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/customer","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/relationships\/customer"}},"order":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/order","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/relationships\/order"}},"order-item":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/order-item","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/relationships\/order-item"}},"product":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/product","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/relationships\/product"}},"variant":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/variant","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/relationships\/variant"}},"subscription-items":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/subscription-items","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/relationships\/subscription-items"}},"subscription-invoices":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/subscription-invoices","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735\/relationships\/subscription-invoices"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/253735"}}}'
  recorded_at: Wed, 31 Jan 2024 16:06:31 GMT
[...]
