---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User&expand[0]=tax
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 647f77ab-5a4e-4c09-a01d-b4e407ea9b3f
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 647f77ab-5a4e-4c09-a01d-b4e407ea9b3f
      Original-Request:
      - req_WfQ7CCVXI9js6P
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_NkuahmIPvlZ9cf",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1682101991,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_prefix": "5AA0F78B",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 21 Apr 2023 18:33:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_NkuahmIPvlZ9cf
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8b22c14f-385a-4f98-9a08-f31ed03ed5e3
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8b22c14f-385a-4f98-9a08-f31ed03ed5e3
      Original-Request:
      - req_zw1XCFZLJNcs1T
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1MzOlgKXBGcbgpbZUKhDqPC3",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "exp_month": 4,
            "exp_year": 2024,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1682101992,
          "customer": "cus_NkuahmIPvlZ9cf",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 21 Apr 2023 18:33:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_NkuahmIPvlZ9cf
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1MzOlgKXBGcbgpbZUKhDqPC3
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7c7a16da-0ef5-4d22-8a45-35b1827fa0ff
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      mess[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: expand[0]=pending_setup_intent&expand[1]=latest_invoice.payment_intent&expand[2]=latest_invoice.charge&expand[3]=latest_invoice.total_discount_amounts.discount&expand[4]=latest_invoice.total_tax_amounts.tax_rate&items[0][plan]=small-monthly&customer=cus_NkuahmIPvlZ9cf
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a7b96e20-79a6-478c-b183-9afe68474b3e
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a7b96e20-79a6-478c-b183-9afe68474b3e
      Original-Request:
      - req_jeWO6JKfPantmB
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1MzOlhKXBGcbgpbZEyl9nOSn",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "enabled": false
          },
          "billing_cycle_anchor": 1682101993,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1682101993,
          "currency": "usd",
          "current_period_end": 1684693993,
          "current_period_start": 1682101993,
          "customer": "cus_NkuahmIPvlZ9cf",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_NkuasfcBppZ2n4",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1682101994,
                "metadata": {},
                "plan": {
                  "id": "small-monthly",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 2500,
                  "amount_decimal": "2500",
                  "billing_scheme": "per_unit",
                  "created": 1571425570,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": "Small Monthly",
                  "product": "prod_EYTX7RYhRjcwKD",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "small-monthly",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1571425570,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": "Small Monthly",
                  "product": "prod_EYTX7RYhRjcwKD",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "exclusive",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 2500,
                  "unit_amount_decimal": "2500"
                },
                "quantity": 1,
                "subscription": "sub_1MzOlhKXBGcbgpbZEyl9nOSn",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1MzOlhKXBGcbgpbZEyl9nOSn"
          },
          "latest_invoice": {
            "id": "in_1MzOlhKXBGcbgpbZ9CEVXY4S",
            "object": "invoice",
            "account_country": "US",
            "account_name": "Pay",
            "account_tax_ids": null,
            "amount_due": 2500,
            "amount_paid": 2500,
            "amount_remaining": 0,
            "amount_shipping": 0,
            "application": null,
            "application_fee_amount": null,
            "attempt_count": 1,
            "attempted": true,
            "auto_advance": false,
            "automatic_tax": {
              "enabled": false,
              "status": null
            },
            "billing_reason": "subscription_create",
            "charge": {
              "id": "ch_3MzOliKXBGcbgpbZ1TfonDbe",
              "object": "charge",
              "amount": 2500,
              "amount_captured": 2500,
              "amount_refunded": 0,
              "application": null,
              "application_fee": null,
              "application_fee_amount": null,
              "balance_transaction": "txn_3MzOliKXBGcbgpbZ1d0cwRGl",
              "billing_details": {
                "address": {
                  "city": null,
                  "country": null,
                  "line1": null,
                  "line2": null,
                  "postal_code": null,
                  "state": null
                },
                "email": null,
                "name": null,
                "phone": null
              },
              "calculated_statement_descriptor": "PAY RAILS",
              "captured": true,
              "created": 1682101994,
              "currency": "usd",
              "customer": "cus_NkuahmIPvlZ9cf",
              "description": "Subscription creation",
              "destination": null,
              "dispute": null,
              "disputed": false,
              "failure_balance_transaction": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_1MzOlhKXBGcbgpbZ9CEVXY4S",
              "livemode": false,
              "metadata": {},
              "on_behalf_of": null,
              "order": null,
              "outcome": {
                "network_status": "approved_by_network",
                "reason": null,
                "risk_level": "normal",
                "risk_score": 31,
                "seller_message": "Payment complete.",
                "type": "authorized"
              },
              "paid": true,
              "payment_intent": "pi_3MzOliKXBGcbgpbZ1SYiYxOO",
              "payment_method": "pm_1MzOlgKXBGcbgpbZUKhDqPC3",
              "payment_method_details": {
                "card": {
                  "brand": "visa",
                  "checks": {
                    "address_line1_check": null,
                    "address_postal_code_check": null,
                    "cvc_check": null
                  },
                  "country": "US",
                  "exp_month": 4,
                  "exp_year": 2024,
                  "fingerprint": "w4XDzQOFakih5EZM",
                  "funding": "credit",
                  "installments": null,
                  "last4": "4242",
                  "mandate": null,
                  "network": "visa",
                  "network_token": {
                    "used": false
                  },
                  "three_d_secure": null,
                  "wallet": null
                },
                "type": "card"
              },
              "receipt_email": null,
              "receipt_number": null,
              "receipt_url": "https://pay.stripe.com/receipts/invoices/CAcaFwoVYWNjdF8xRTRiZm5LWEJHY2JncGJaKOuti6IGMgbblNQhSO86LBbGTDzBVQOlzQkud6a9HZRUd1PCUNRu249a1BP4Vx79qC-vX9ZddVx1XWsY?s=ap",
              "refunded": false,
              "review": null,
              "shipping": null,
              "source": null,
              "source_transfer": null,
              "statement_descriptor": null,
              "statement_descriptor_suffix": null,
              "status": "succeeded",
              "transfer_data": null,
              "transfer_group": null
            },
            "collection_method": "charge_automatically",
            "created": 1682101993,
            "currency": "usd",
            "custom_fields": null,
            "customer": "cus_NkuahmIPvlZ9cf",
            "customer_address": null,
            "customer_email": "stripe@example.org",
            "customer_name": "Stripe User",
            "customer_phone": null,
            "customer_shipping": null,
            "customer_tax_exempt": "none",
            "customer_tax_ids": [],
            "default_payment_method": null,
            "default_source": null,
            "default_tax_rates": [],
            "description": null,
            "discount": null,
            "discounts": [],
            "due_date": null,
            "ending_balance": 0,
            "footer": null,
            "from_invoice": null,
            "hosted_invoice_url": "https://invoice.stripe.com/i/acct_1E4bfnKXBGcbgpbZ/test_YWNjdF8xRTRiZm5LWEJHY2JncGJaLF9Oa3VhZWhyY2NDZnN4anFqVmxyZGlrWGZsSEhCUmMzLDcyNjQyNzk20200QnlQhvaA?s=ap",
            "invoice_pdf": "https://pay.stripe.com/invoice/acct_1E4bfnKXBGcbgpbZ/test_YWNjdF8xRTRiZm5LWEJHY2JncGJaLF9Oa3VhZWhyY2NDZnN4anFqVmxyZGlrWGZsSEhCUmMzLDcyNjQyNzk20200QnlQhvaA/pdf?s=ap",
            "last_finalization_error": null,
            "latest_revision": null,
            "lines": {
              "object": "list",
              "data": [
                {
                  "id": "il_1MzOlhKXBGcbgpbZq8tF4bKq",
                  "object": "line_item",
                  "amount": 2500,
                  "amount_excluding_tax": 2500,
                  "currency": "usd",
                  "description": "1 user × Test Subscription (at $25.00 / month)",
                  "discount_amounts": [],
                  "discountable": true,
                  "discounts": [],
                  "livemode": false,
                  "metadata": {},
                  "period": {
                    "end": 1684693993,
                    "start": 1682101993
                  },
                  "plan": {
                    "id": "small-monthly",
                    "object": "plan",
                    "active": true,
                    "aggregate_usage": null,
                    "amount": 2500,
                    "amount_decimal": "2500",
                    "billing_scheme": "per_unit",
                    "created": 1571425570,
                    "currency": "usd",
                    "interval": "month",
                    "i[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3MzOliKXBGcbgpbZ1TfonDbe?expand%5B%5D=invoice.total_discount_amounts.discount&expand%5B%5D=invoice.total_tax_amounts.tax_rate&expand%5B%5D=refunds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions/sub_1MzOlhKXBGcbgpbZEyl9nOSn
    body:
      encoding: UTF-8
      string: cancel_at_period_end=false&plan=small-annual&proration_behavior=always_invoice&trial_end=now&quantity=1&expand[0]=pending_setup_intent&expand[1]=latest_invoice.payment_intent&expand[2]=latest_invoice.charge&expand[3]=latest_invoice.total_discount_amounts.discount&expand[4]=latest_invoice.total_tax_amounts.tax_rate
    headers:
      Authorization[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3MzOllKXBGcbgpbZ0vMv070M?expand%5B%5D=invoice.total_discount_amounts.discount&expand%5B%5D=invoice.total_tax_amounts.tax_rate&expand%5B%5D=refunds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: subscription=sub_1MzOlhKXBGcbgpbZEyl9nOSn&customer=cus_NkuahmIPvlZ9cf
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 04a64f7a-e605-4107-bc10-d0728bfdbd50
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_1MzOlnKXBGcbgpbZjcxnouiQ/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - eb372692-6172-475e-a1af-01cbb232b220
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - ap[...]
