---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods
    body:
      encoding: UTF-8
      string: type=eps&eps[bank]=bank_austria&billing_details[name]=Test+User
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 83<VENDOR_ID>a6d<VENDOR_ID>3-b578-4ae4-9e7e-<VENDOR_ID><VENDOR_ID>765f<VENDOR_ID>eed2a
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 83<VENDOR_ID>a6d<VENDOR_ID>3-b578-4ae4-9e7e-<VENDOR_ID><VENDOR_ID>765f<VENDOR_ID>eed2a
      Original-Request:
      - req_gnH<VENDOR_AUTH_CODE>8fO7ABtRWP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>SOMbbKXBGcbgpbZJDMdnZPD",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": "Test User",
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "created": <VENDOR_ID>76<VENDOR_ID>933559,
          "customer": null,
          "eps": {
            "bank": "bank_austria"
          },
          "livemode": false,
          "metadata": {},
          "type": "eps"
        }
  recorded_at: Fri, 31 Oct 2025 17:59:19 GMT
recorded_with: VCR 6.3.1
