---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods
    body:
      encoding: UTF-8
      string: type=ideal&ideal[bank]=abn_amro
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 9a3fc<VENDOR_ID>ce-8f3c-40b<VENDOR_ID>-b956-282d9dbf60e9
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9a3fc<VENDOR_ID>ce-8f3c-40b<VENDOR_ID>-b956-282d9dbf60e9
      Original-Request:
      - req_PCySkeWNjdDbuD
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>R6zwfKXBGcbgpbZF0cotfeB",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "created": <VENDOR_ID>7430<VENDOR_ID>854<VENDOR_ID>,
          "customer": null,
          "ideal": {
            "bank": "abn_amro",
            "bic": "ABNANL2A"
          },
          "livemode": false,
          "metadata": {},
          "type": "ideal"
        }
  recorded_at: Wed, 26 Mar 2025 19:49:01 GMT
recorded_with: VCR 6.3.1
