---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - d5599<VENDOR_ID>7c-de8d-4f58-abfa-bb9435637<VENDOR_ID>c9
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d5599<VENDOR_ID>7c-de8d-4f58-abfa-bb9435637<VENDOR_ID>c9
      Original-Request:
      - req_4UKWrE7qCBsrXJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VIOP3f7RdQuHdY",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>78992<VENDOR_ID>783,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "D5RBRZ2R",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:29:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_VIOP3f7RdQuHdY
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - c4<VENDOR_ID>f0952-fd45-4a<VENDOR_ID><VENDOR_ID>-9cee-<VENDOR_ID>b<VENDOR_ID>6f82fe<VENDOR_ID>4e
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c4<VENDOR_ID>f0952-fd45-4a<VENDOR_ID><VENDOR_ID>-9cee-<VENDOR_ID>b<VENDOR_ID>6f82fe<VENDOR_ID>4e
      Original-Request:
      - req_fmQ3<VENDOR_ID>Z04ZQ3noh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>UHncaKXBGcbgpbZC<VENDOR_ID>Ip<VENDOR_AUTH_CODE>6et",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": 9,
            "e<VENDOR_AUTH_CODE>p_year": 2027,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>78992<VENDOR_ID>784,
          "customer": "cus_VIOP3f7RdQuHdY",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Sun, 20 Sep 2026 16:29:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_VIOP3f7RdQuHdY
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>UHncaKXBGcbgpbZC<VENDOR_ID>Ip<VENDOR_AUTH_CODE>6et
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - ceaf0530-<VENDOR_ID>8f6-4ad6-9<VENDOR_ID>0a-b6bda88c33a7
      Stripe-Version:
      - 2026-08-26.dahlia
      Conte[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoices
    body:
      encoding: UTF-8
      string: customer=cus_VIOP3f7RdQuHdY
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - "<VENDOR_ID>b26e34a-64e0-4ab4-b<VENDOR_ID>a0-0986558ee772"
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - "<VENDOR_ID>b26e34a-64e0-4ab4-b<VENDOR_ID>a0-0986558ee772"
      Original-Request:
      - req_ETiDbHdLwoQIMh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "in_<VENDOR_ID>UHncaKXBGcbgpbZSFSRjMfK",
          "object": "invoice",
          "account_country": "US",
          "account_name": "Pay",
          "account_ta<VENDOR_AUTH_CODE>_ids": null,
          "amount_due": 0,
          "amount_overpaid": 0,
          "amount_paid": 0,
          "amount_remaining": 0,
          "amount_shipping": 0,
          "application": null,
          "attempt_count": 0,
          "attempted": false,
          "auto_advance": false,
          "automatic_ta<VENDOR_AUTH_CODE>": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null,
            "provider": null,
            "status": null
          },
          "automatically_finalizes_at": null,
          "billing_reason": "manual",
          "collection_method": "charge_automatically",
          "created": <VENDOR_ID>78992<VENDOR_ID>784,
          "currency": "usd",
          "custom_fields": null,
          "customer": "cus_VIOP3f7RdQuHdY",
          "customer_account": null,
          "customer_address": null,
          "customer_email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "customer_name": "Stripe User",
          "customer_phone": null,
          "customer_shipping": null,
          "customer_ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "customer_ta<VENDOR_AUTH_CODE>_ids": [],
          "default_payment_method": null,
          "default_source": null,
          "default_ta<VENDOR_AUTH_CODE>_rates": [],
          "description": null,
          "discounts": [],
          "due_date": null,
          "effective_at": null,
          "ending_balance": null,
          "footer": null,
          "from_invoice": null,
          "hosted_invoice_url": null,
          "invoice_pdf": null,
          "issuer": {
            "type": "self"
          },
          "last_finalization_error": null,
          "latest_revision": null,
          "lines": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v<VENDOR_ID>/invoices/in_<VENDOR_ID>UHncaKXBGcbgpbZSFSRjMfK/lines"
          },
          "livemode": false,
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_payment_attempt": null,
          "number": null,
          "on_behalf_of": null,
          "parent": null,
          "payment_settings": {
            "default_mandate": null,
            "payment_method_options": null,
            "payment_method_types": null
          },
          "period_end": <VENDOR_ID>78992<VENDOR_ID>784,
          "period_start": <VENDOR_ID>78992<VENDOR_ID>784,
          "post_payment_credit_notes_amount": 0,
          "pre_payment_credit_notes_amount": 0,
          "receipt_number": null,
          "rendering": {
            "amount_ta<VENDOR_AUTH_CODE>_display": null,
            "pdf": {
              "page_size": "auto"
            },
            "template": null,
            "template_version": null
          },
          "shipping_cost": null,
          "shipping_details": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "status": "draft",
          "status_transitions": {
            "finalized_at": null,
            "marked_uncollectible_at": null,
            "paid_at": null,
            "voided_at": null
          },
          "subtotal": 0,
          "subtotal_e<VENDOR_AUTH_CODE>cluding_ta<VENDOR_AUTH_CODE>": 0,
          "test_clock": null,
          "total": 0,
          "total_discount_amounts": [],
          "total_e<VENDOR_AUTH_CODE>cluding_ta<VENDOR_AUTH_CODE>": 0,
          "total_preta<VENDOR_AUTH_CODE>_credit_amounts": [],
          "total_ta<VENDOR_AUTH_CODE>es": [],
          "webhooks_delivered_at": <VENDOR_ID>78992<VENDOR_ID>784
        }
  recorded_at: Sun, 20 Sep 2026 16:29:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_VIOP3f7RdQuHdY&invoice=in_<VENDOR_ID>UHncaKXBGcbgpbZSFSRjMfK&amount=<VENDOR_ID>900&discounts[0][coupon]=sirmA<VENDOR_AUTH_CODE>Ri
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 354e22fd-079c-409a-ac52-49739<VENDOR_ID>a6db9d
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 354e22fd-079c-409a-ac52-49739<VENDOR_ID>a6db9d
      Original-Request:
      - req_pR6iSlVsTnJ3Ym
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ii_<VENDOR_ID>UHncbKXBGcbgpbZWIBpT2n<VENDOR_AUTH_CODE>",
          "object": "invoiceitem",
          "amount": <VENDOR_ID>900,
          "currency": "usd",
          "customer": "cus_VIOP3f7RdQuHdY",
          "customer_account": null,
          "date": <VENDOR_ID>78992<VENDOR_ID>785,
          "description": null,
          "discountable": true,
          "discounts": [
            "di_<VENDOR_ID>UHncbKXBGcbgpbZ3We6RvsQ"
          ],
          "frozen_fields": [],
          "invoice": "in_<VENDOR_ID>UHncaKXBGcbgpbZSFSRjMfK",
          "invoicing_rules": [],
          "livemode": false,
          "metadata": {},
          "parent": null,
          "period": {
            "end": <VENDOR_ID>78992<VENDOR_ID>785,
            "start": <VENDOR_ID>78992<VENDOR_ID>785
          },
          "pricing": {
            "price_details": {
              "price": "price_<VENDOR_ID>UHncbKXBGcbgpbZ<VENDOR_ID>8jdBcP5",
              "product": "prod_VIOPvsLrnWGs6R"
            },
            "type": "price_details",
            "unit_amount_decimal": "<VENDOR_ID>900"
          },
          "proration": false,
          "quantity": <VENDOR_ID>,
          "quantity_decimal": "<VENDOR_ID>",
          "ta<VENDOR_AUTH_CODE>_rates": [],
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:29:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoices/in_<VENDOR_ID>UHncaKXBGcbgpbZSFSRjMfK/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - e7586723-806<VENDOR_ID>-43ef-9a32-88a70603683c
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    stat[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?invoice=in_<VENDOR_ID>UHncaKXBGcbgpbZSFSRjMfK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2026-08-26.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "inpay_<VENDOR_ID>UHnccKXBGcbgpbZK4FE<VENDOR_ID>lMU",
              "object": "invoice_payment",
              "amount_paid": 950,
              "amount_requested": 950,
              "created": <VENDOR_ID>78992<VENDOR_ID>786,
              "currency": "usd",
              "invoice": "in_<VENDOR_ID>UHncaKXBGcbgpbZSFSRjMfK",
              "is_default": true,
              "livemode": false,
              "payment": {
                "payment_intent": "pi_3UHncbKXBGcbgpbZ00rQttpZ",
                "type": "payment_intent"
              },
              "status": "paid",
              "status_transitions": {
                "canceled_at": null,
                "paid_at": <VENDOR_ID>78992<VENDOR_ID>786
              }
            }
          ],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Sun, 20 Sep 2026 16:29:47 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents/pi_3UHncbKXBGcbgpbZ00rQttpZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2026-08-26.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3UHncbKXBGcbgpbZ00rQttpZ",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 950,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 950,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_<PADDLE_API_KEY>": "pi_3UHncbKXBGcbgpbZ00rQttpZ_<PADDLE_API_KEY>_qYDu0UqvfejpwFL6I2WkmX8ZE",
          "confirmation_method": "automatic",
          "created": <VENDOR_ID>78992<VENDOR_ID>785,
          "currency": "usd",
          "customer": "cus_VIOP3f7RdQuHdY",
          "customer_account": null,
          "description": "Payment for Invoice",
          "e<VENDOR_AUTH_CODE>cluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": "ch_3UHncbKXBGcbgpbZ0rRp<VENDOR_ID>HQy",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_<VENDOR_ID>UHncaKXBGcbgpbZC<VENDOR_ID>Ip<VENDOR_AUTH_CODE>6et",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "acss_debit": {
              "mandate_options": {
                "interval_description": null,
                "payment_schedule": null,
                "transaction_type": null
              },
              "verification_method": "automatic"
            },
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "cashapp": {},
            "link": {
              "persistent_token": null
            },
            "us_bank_account": {
              "mandate_options": {},
              "transaction_purpose": "unspecified",
              "verification_method": "automatic"
            }
          },
          "payment_method_types": [
            "acss_debit",
            "card",
            "cashapp",
            "link",
            "us_bank_account"
          ],
          "payment_record": null,
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Sun, 20 Sep 2026 16:29:47 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/charges/ch_3UHncbKXBGcbgpbZ0rRp<VENDOR_ID>HQy?e<VENDOR_AUTH_CODE>pand%5B%5D=balance_transaction&e<VENDOR_AUTH_CODE>pand%5B%5D=payment_intent&e<VENDOR_AUTH_CODE>pand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2026-08-26.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3UHncbKXBGcbgpbZ0rRp<VENDOR_ID>HQy",
          "object": "charge",
          "amount": 950,
          "amount_captured": 950,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "t<VENDOR_AUTH_CODE>n_3UHncbKXBGcbgpbZ0R5Ko9Db",
            "object": "balance_transaction",
            "amount": 950,
            "available_on": <VENDOR_ID>790467200,
            "balance_type": "payments",
            "created": <VENDOR_ID>78992<VENDOR_ID>786,
            "currency": "usd",
            "description": "Payment for Invoice",
            "e<VENDOR_AUTH_CODE>change_rate": null,
            "fee": 58,
            "fee_details": [
              {
                "amount": 58,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 892,
            "reporting_category": "charge",
            "source": "ch_3UHncbKXBGcbgpbZ0rRp<VENDOR_ID>HQy",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "calculated_statement_descriptor": "PAY RAILS",
          "captured": true,
          "created": <VENDOR_ID>78992<VENDOR_ID>786,
          "currency": "usd",
          "customer": "cus_VIOP3f7RdQuHdY",
          "description": "Payment for Invoice",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 39,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": {
            "id": "pi_3UHncbKXBGcbgpbZ00rQttpZ",
            "object": "payment_intent",
            "allowed_payment_method_types": null,
            "amount": 950,
            "amount_capturable": 0,
            "amount_details": {
              "tip": {}
            },
            "amount_received": 950,
            "application": null,
            "application_fee_amount": null,
            "automatic_payment_methods": null,
            "canceled_at": nul[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?payment%5Bpayment_intent%5D=pi_3UHncbKXBGcbgpbZ00rQttpZ&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2026-08-26.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoices/in_<VENDOR_ID>UHncaKXBGcbgpbZSFSRjMfK?e<VENDOR_AUTH_CODE>pand%5B%5D=total_discount_amounts.discount.source.coupon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2026-08-26.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - applica[...]
