---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods
    body:
      encoding: UTF-8
      string: type=acss_debit&acss_debit[account_number]=000<VENDOR_ID>23456789&acss_debit[institution_number]=000&acss_debit[transit_number]=<VENDOR_ID><VENDOR_ID>000&billing_details[email]=test%40e<VENDOR_AUTH_CODE>ample.org&billing_details[name]=Test+User
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - c3252cfd-7d57-4574-add7-fd54<VENDOR_ID>49435fa
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c3252cfd-7d57-4574-add7-fd54<VENDOR_ID>49435fa
      Original-Request:
      - req_ibq8X0Z<VENDOR_ID>G<VENDOR_AUTH_CODE>SKCX
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>R70B<VENDOR_ID>KXBGcbgpbZTr5QJtcy",
          "object": "payment_method",
          "acss_debit": {
            "bank_name": "STRIPE TEST BANK",
            "fingerprint": "SNmpHXLO23uR6VaH",
            "institution_number": "000",
            "last4": "6789",
            "transit_number": "<VENDOR_ID><VENDOR_ID>000"
          },
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": "test@e<VENDOR_AUTH_CODE>ample.org",
            "name": "Test User",
            "phone": null
          },
          "created": <VENDOR_ID>7430<VENDOR_ID>943<VENDOR_ID>,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "acss_debit"
        }
  recorded_at: Wed, 26 Mar 2025 20:03:52 GMT
recorded_with: VCR 6.3.1
