---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: usage=off_session
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "seti_1JKbPGKXBGcbgpbZ4FaWmKNz",
          "object": "setup_intent",
          "application": null,
          "cancellation_reason": null,
          "client_secret": "seti_1JKbPGKXBGcbgpbZ4FaWmKNz_secret_JyYWQvJeusYdIBTa1kJxge6kxXYrYvd",
          "created": 1628050118,
          "customer": null,
          "description": null,
          "last_setup_error": null,
          "latest_attempt": null,
          "livemode": false,
          "mandate": null,
          "metadata": {
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "requires_payment_method",
          "usage": "off_session"
        }
  recorded_at: Wed, 04 Aug 2021 04:08:38 GMT
recorded_with: VCR 6.0.0
