---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 84ecdf93-8f74-4799-b48c-3cb2e258c4a9
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 84ecdf93-8f74-4799-b48c-3cb2e258c4a9
      Original-Request:
      - req_6jEWDJ2QymrnVw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VIOPvzedswDvB2",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>78992<VENDOR_ID>793,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "JT9HBFO5",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:29:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/checkout/sessions
    body:
      encoding: UTF-8
      string: customer=cus_VIOPvzedswDvB2&mode=setup&success_url=http%3A%2F%2Flocalhost%3A3000%2F%3Fstripe_checkout_session_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=http%3A%2F%2Flocalhost%3A3000%2F%3Fstripe_checkout_session_id%3D%7BCHECKOUT_SESSION_ID%7D&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - b<VENDOR_ID>60<VENDOR_ID><VENDOR_ID>97-65db-43d9-b003-9ae<VENDOR_ID>23c6543f
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b<VENDOR_ID>60<VENDOR_ID><VENDOR_ID>97-65db-43d9-b003-9ae<VENDOR_ID>23c6543f
      Original-Request:
      - req_dBg9tEMCQ7Lsrv
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_c<VENDOR_ID>DwToQWaYZ7WsafGkj4Y<VENDOR_ID>DLXuJ23rLOZgfDBWwzzWdH7ekqHGEEkQAB2L",
          "object": "checkout.session",
          "adaptive_pricing": {
            "enabled": false
          },
          "after_e<VENDOR_AUTH_CODE>piration": null,
          "allow_promotion_codes": null,
          "allowed_payment_method_types": null,
          "amount_subtotal": null,
          "amount_total": null,
          "automatic_ta<VENDOR_AUTH_CODE>": {
            "enabled": false,
            "liability": null,
            "provider": null,
            "status": null
          },
          "billing_address_collection": null,
          "branding_settings": {
            "background_color": "#ffffff",
            "border_style": "rounded",
            "button_color": "#0074d4",
            "display_name": "Pay",
            "font_family": "default",
            "icon": null,
            "logo": null
          },
          "cancel_url": "http://localhost:3000/?stripe_checkout_session_id={CHECKOUT_SESSION_ID}",
          "client_reference_id": null,
          "client_<PADDLE_API_KEY>": null,
          "collected_information": {
            "business_name": null,
            "individual_name": null,
            "shipping_details": null
          },
          "consent": null,
          "consent_collection": null,
          "created": <VENDOR_ID>78992<VENDOR_ID>793,
          "currency": "usd",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_te<VENDOR_AUTH_CODE>t": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": "cus_VIOPvzedswDvB2",
          "customer_account": null,
          "customer_creation": null,
          "customer_details": {
            "address": null,
            "business_name": null,
            "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
            "individual_name": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": null,
            "ta<VENDOR_AUTH_CODE>_ids": null
          },
          "customer_email": null,
          "discounts": null,
          "e<VENDOR_AUTH_CODE>pires_at": <VENDOR_ID>790008<VENDOR_ID>93,
          "integration_identifier": null,
          "invoice": null,
          "invoice_creation": null,
          "livemode": false,
          "locale": null,
          "managed_payments": null,
          "metadata": {},
          "mode": "setup",
          "origin_conte<VENDOR_AUTH_CODE>t": null,
          "payment_intent": null,
          "payment_link": null,
          "payment_method_collection": "always",
          "payment_method_configuration_details": {
            "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            },
            "us_bank_account": {
              "financial_connections": {
                "permissions": [
                  "payment_method"
                ],
                "prefetch": []
              },
              "verification_method": "automatic"
            }
          },
          "payment_method_types": [
            "card",
            "klarna",
            "link",
            "us_bank_account"
          ],
          "payment_status": "no_payment_required",
          "permissions": null,
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "saved_payment_method_options": null,
          "setup_intent": "seti_<VENDOR_ID>UHncjKXBGcbgpbZ0sZT3qFM",
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_options": [],
          "status": "open",
          "submit_type": null,
          "subscription": null,
          "success_url": "http://localhost:3000/?stripe_checkout_session_id={CHECKOUT_SESSION_ID}",
          "total_details": null,
          "ui_mode": "hosted_page",
          "url": "https://checkout.stripe.com/c/pay/cs_test_c<VENDOR_ID>DwToQWaYZ7WsafGkj4Y<VENDOR_ID>DLXuJ23rLOZgfDBWwzzWdH7ekqHGEEkQAB2L#fidnandhYHdWcX<VENDOR_AUTH_CODE>pYCc%2FJ2FgY2RwaXEnKSdicyc%2FNSknZHVsTmB8Jz8ndW5acWB2cVpucEYyVW5BND<VENDOR_AUTH_CODE>0S<VENDOR_ID><VENDOR_ID>LMkNSfU9vZ3<VENDOR_AUTH_CODE>VNkgnKSdjd2poVmB3c2B3Jz9<VENDOR_AUTH_CODE>d3BgKSdnZGZuYndqcGthRmppancnPycmY2NjY2NjJyknaWR8anB<VENDOR_AUTH_CODE>UX<VENDOR_AUTH_CODE><VENDOR_ID>YCc%2FJ3Zsa2JpYFpmamlwaGsnKSdga2RnaWBVaWRmYG<VENDOR_ID>qaWFgd3YnP3F3cGB4JSUl",
          "wallet_options": null
        }
  recorded_at: Sun, 20 Sep 2026 16:29:53 GMT
recorded_with: VCR 6.4.0
