---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_KMmgwWp1JtPRb9",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1633638147,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_prefix": "283842AF",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Thu, 07 Oct 2021 20:22:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: customer=cus_KMmgwWp1JtPRb9&payment_method_types[0]=card&mode=setup&success_url=http%3A%2F%2Flocalhost%3A3000%2F%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=http%3A%2F%2Flocalhost%3A3000%2F
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cs_test_c1XXGWYLMgMUE5GUeseNQxZBsLDyCKNpsJ03GEx9uraE8NP6wTk4P5Noo2",
          "object": "checkout.session",
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": null,
          "amount_total": null,
          "automatic_tax": {
            "enabled": false,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://localhost:3000/",
          "client_reference_id": null,
          "consent": null,
          "consent_collection": null,
          "currency": null,
          "customer": "cus_KMmgwWp1JtPRb9",
          "customer_details": null,
          "customer_email": null,
          "expires_at": 1633724548,
          "livemode": false,
          "locale": null,
          "metadata": {
          },
          "mode": "setup",
          "payment_intent": null,
          "payment_method_options": {
          },
          "payment_method_types": [
            "card"
          ],
          "payment_status": "no_payment_required",
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "setup_intent": "seti_1Ji36mKXBGcbgpbZNVUXPWCe",
          "shipping": null,
          "shipping_address_collection": null,
          "submit_type": null,
          "subscription": null,
          "success_url": "http://localhost:3000/?session_id={CHECKOUT_SESSION_ID}",
          "total_details": null,
          "url": "https://checkout.stripe.com/pay/cs_test_c1XXGWYLMgMUE5GUeseNQxZBsLDyCKNpsJ03GEx9uraE8NP6wTk4P5Noo2#fidkdWxOYHwnPyd1blpxYHZxWm5wRjJVbkE0PHRLXUsyQ1J9T29nfFU2SCcpJ2N3amhWYHdzYHcnP3F3cGApJ2lkfGpwcVF8dWAnPyd2bGtiaWBaZmppcGhrJyknYGtkZ2lgVWlkZmBtamlhYHd2Jz9xd3BgeCUl"
        }
  recorded_at: Thu, 07 Oct 2021 20:22:28 GMT
recorded_with: VCR 6.0.0
