---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_QdZ3IYEtHLYzuu
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>PmHvDKXBGcbgpbZY9dGGS0B
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 4a090485-f26a-4f88-ad33-46d7<VENDOR_ID>7<VENDOR_ID>58ba2
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4a090485-f26a-4f88-ad33-46d7<VENDOR_ID>7<VENDOR_ID>58ba2
      Original-Request:
      - req_OSaLLqwtq2WgFh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_QdZ3IYEtHLYzuu",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>7233064<VENDOR_ID>9,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_prefi<VENDOR_AUTH_CODE>": "262DE7BE",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_<VENDOR_ID>PmHvDKXBGcbgpbZY9dGGS0B",
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 10 Aug 2024 16:13:40 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_QdZ3IYEtHLYzuu?e<VENDOR_AUTH_CODE>pand%5B%5D=invoice_credit_balance&e<VENDOR_AUTH_CODE>pand%5B%5D=ta<VENDOR_AUTH_CODE>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_QdZ3IYEtHLYzuu",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>7233064<VENDOR_ID>9,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "262DE7BE",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_<VENDOR_ID>PmHvDKXBGcbgpbZY9dGGS0B",
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 10 Aug 2024 16:13:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_S<VENDOR_ID>2<VENDOR_ID>HPNJNj<VENDOR_AUTH_CODE>2MZ
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>R6z<VENDOR_AUTH_CODE>hKXBGcbgpbZ7OTQYGpz
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - b5c52c5a-7579-40b0-a4a7-2b46<VENDOR_ID>0<VENDOR_ID>b66f<VENDOR_ID>
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b5c52c5a-7579-40b0-a4a7-2b46<VENDOR_ID>0<VENDOR_ID>b66f<VENDOR_ID>
      Original-Request:
      - req_IWitDXp<VENDOR_ID>COTvTn
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_S<VENDOR_ID>2<VENDOR_ID>HPNJNj<VENDOR_AUTH_CODE>2MZ",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>7430<VENDOR_ID>8605,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_prefi<VENDOR_AUTH_CODE>": "56E24BCB",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_<VENDOR_ID>R6z<VENDOR_AUTH_CODE>hKXBGcbgpbZ7OTQYGpz",
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 26 Mar 2025 19:50:05 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_S<VENDOR_ID>2<VENDOR_ID>HPNJNj<VENDOR_AUTH_CODE>2MZ?e<VENDOR_AUTH_CODE>pand%5B%5D=invoice_credit_balance&e<VENDOR_AUTH_CODE>pand%5B%5D=ta<VENDOR_AUTH_CODE>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
  response:
    status:
      code: 200[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_S<VENDOR_ID>2AdUuQW7M2J<VENDOR_ID>
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>R7066KXBGcbgpbZM89qILO2
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - db9d<VENDOR_ID>73<VENDOR_ID>-7c0a-46e5-9b5d-34<VENDOR_ID>9085e<VENDOR_ID>dfd
      Stripe-Version:
      - 2025-02-24.acaci[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_S<VENDOR_ID>2AdUuQW7M2J<VENDOR_ID>?e<VENDOR_AUTH_CODE>pand%5B%5D=invoice_credit_balance&e<VENDOR_AUTH_CODE>pand%5B%5D=ta<VENDOR_AUTH_CODE>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-02-24.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TL2hfZ9inFp2hB
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SOMcKKXBGcbgpbZYKJy7yMz
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 4eab044a-d457-4585-ae03-9ec33d550bc0
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TL2hfZ9inFp2hB?e<VENDOR_AUTH_CODE>pand%5B%5D=invoice_credit_balance&e<VENDOR_AUTH_CODE>pand%5B%5D=ta<VENDOR_AUTH_CODE>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-T[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TL2n8QFoE8ay6T
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SOMiEKXBGcbgpbZCIOYMOKB
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - b44ff0c4-497f-40c6-9524-5de5c3462f27
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TL2n8QFoE8ay6T?e<VENDOR_AUTH_CODE>pand%5B%5D=invoice_credit_balance&e<VENDOR_AUTH_CODE>pand%5B%5D=ta<VENDOR_AUTH_CODE>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-T[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TL2<VENDOR_AUTH_CODE>ckTH<VENDOR_ID>09QqF
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SOMrvKXBGcbgpbZwEL23aPY
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 0d7<VENDOR_ID>35bc-b87b-4725-ae4d-63a5f24c<VENDOR_ID>fd6
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
 [...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TL2<VENDOR_AUTH_CODE>ckTH<VENDOR_ID>09QqF?e<VENDOR_AUTH_CODE>pand%5B%5D=invoice_credit_balance&e<VENDOR_AUTH_CODE>pand%5B%5D=ta<VENDOR_AUTH_CODE>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
  response:
    status:
      code: 200
      message: OK
 [...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 74e5d7b9-ce<VENDOR_ID>2-4cc6-8832-e9acb4f0eac3
      Stripe-Version:
   [...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_TL3C0EuYhVeuQA
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - c2bba2f<VENDOR_ID>-<VENDOR_ID>489-4e0<VENDOR_ID>-bd4c-d0ea89cd087d
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c2bba2f<VENDOR_ID>-<VENDOR_ID>489-4e0<VENDOR_ID>-bd4c-d0ea89cd087d
      Original-Request:
      - req_XEXnOl0faXO5G6
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>SON5jKXBGcbgpbZcRKIpEuS",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": <VENDOR_ID>0,
            "e<VENDOR_AUTH_CODE>p_year": 2026,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>76<VENDOR_ID>935427,
          "customer": "cus_TL3C0EuYhVeuQA",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 31 Oct 2025 18:30:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TL3C0EuYhVeuQA
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SON5jKXBGcbgpbZcRKIpEuS
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - baee30<VENDOR_ID>0-2fc6-4e95-9c9f-3b6<VENDOR_ID>0<VENDOR_ID>ebc993
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TL3C0EuYhVeuQA?e<VENDOR_AUTH_CODE>pand%5B%5D=invoice_credit_balance&e<VENDOR_AUTH_CODE>pand%5B%5D=ta<VENDOR_AUTH_CODE>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-T[...]
