---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=gob%40bluth.com&name=&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 9b7a8a79-886c-4ed3-b5a2-5630f22f96f8
      Stripe-Version:
      - 2026-08-26.dahlia
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9b7a8a79-886c-4ed3-b5a2-5630f22f96f8
      Original-Request:
      - req_VVDsPr6WCkMFmD
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VIORjz5s<VENDOR_AUTH_CODE>T7uvV",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>78992<VENDOR_ID>9<VENDOR_ID>8,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "UTUXSCRI",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:31:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_VIORjz5s<VENDOR_AUTH_CODE>T7uvV
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - e3<VENDOR_ID>67b40-80e0-4650-a5b0-83f7a2d4d24a
      Stripe-Version:
      - 2026-08-26.dahlia
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e3<VENDOR_ID>67b40-80e0-4650-a5b0-83f7a2d4d24a
      Original-Request:
      - req_EDvfSIsp5h6iKG
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>UHnekQK2ZHS99RkAYQmuZVL",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": 9,
            "e<VENDOR_AUTH_CODE>p_year": 2027,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>78992<VENDOR_ID>9<VENDOR_ID>8,
          "customer": "cus_VIORjz5s<VENDOR_AUTH_CODE>T7uvV",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Sun, 20 Sep 2026 16:31:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_VIORjz5s<VENDOR_AUTH_CODE>T7uvV
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>UHnekQK2ZHS99RkAYQmuZVL
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 8bc75<VENDOR_ID>d8-a23<VENDOR_ID>-456<VENDOR_ID>-bf5<VENDOR_ID>-f6cf47c7005c
      Stripe-Version:
      - 2026-08-26.dahlia
 [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_VIORVa4wugEfbG
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>UHnelKXBGcbgpbZc<VENDOR_ID>lZI0Ag
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 8c892dc6-934c-4<VENDOR_ID>e9-b689-4548faa67e5f
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - applicatio[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents
    body:
      encoding: UTF-8
      string: amount=<VENDOR_ID>000&currency=usd&customer=cus_VIORVa4wugEfbG&e<VENDOR_AUTH_CODE>pand[0]=latest_charge.balance_transaction&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=latest_charge.payment_intent&e<VENDOR_AUTH_CODE>pand[2]=latest_charge.refunds.data.balance_transaction&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_<VENDOR_ID>UHnelKXBGcbgpbZ[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?payment%5Bpayment_intent%5D=pi_3UHnemKXBGcbgpbZ0NS22j8j&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2026-08-26.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Sun, 20 Sep 2026 16:32:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/charges/ch_3UHnemKXBGcbgpbZ0D4R4DlD?e<VENDOR_AUTH_CODE>pand%5B%5D=balance_transaction&e<VENDOR_AUTH_CODE>pand%5B%5D=payment_intent&e<VENDOR_AUTH_CODE>pand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2026-08-26.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3UHnemKXBGcbgpbZ0D4R4DlD",
          "object": "charge",
          "amount": <VENDOR_ID>000,
          "amount_captured": <VENDOR_ID>000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": <VENDOR_ID>23,
          "balance_transaction": null,
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "calculated_statement_descriptor": "PAY RAILS",
          "captured": true,
          "created": <VENDOR_ID>78992<VENDOR_ID>92<VENDOR_ID>,
          "currency": "usd",
          "customer": "cus_VIORVa4wugEfbG",
          "description": null,
          "destination": "acct_<VENDOR_ID>ISuLNQK2ZHS99Rk",
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 37,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": {
            "id": "pi_3UHnemKXBGcbgpbZ0NS22j8j",
            "object": "payment_intent",
            "allowed_payment_method_types": null,
            "amount": <VENDOR_ID>000,
            "amount_capturable": 0,
            "amount_details": {
              "tip": {}
            },
            "amount_received": <VENDOR_ID>000,
            "application": null,
            "application_fee_amount": <VENDOR_ID>23,
            "automatic_payment_methods": {
              "allow_redirects": "always",
              "enabled": true
            },
            "canceled_at": null,
            "cancellation_reason": null,
            "capture_method": "automatic_async",
            "client_<PADDLE_API_KEY>": "pi_3UHnemKXBGcbgpbZ0NS22j8j_<PADDLE_API_KEY>_FbYhvswezqJEz0vA0zTChPMPV",
            "confirmation_method": "automatic",
            "created": <VENDOR_ID>78992<VENDOR_ID>920,
            "currency": "usd",
            "customer": "cus_VIORVa4wugEfbG",
            "customer_account": null,
            "description": null,
            "e<VENDOR_AUTH_CODE>cluded_payment_method_types": null,
            "last_payment_error": null,
            "latest_charge": "ch_3UHnemKXBGcbgpbZ0D4R4DlD",
            "livemode": false,
            "managed_payments": {
              "enabled": false
            },
            "metadata": {},
            "ne<VENDOR_AUTH_CODE>t_action": null,
            "on_behalf_of": null,
            "payment_method": "pm_<VENDOR_ID>UHnelKXBGcbgpbZc<VENDOR_ID>lZI0Ag",
            "payment_method_configuration_details": {
              "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
              "parent": null
            },
            "payment_method_options": {
              "acss_debit": {
                "verification_method": "automatic"
              },
              "afterpay_clearpay": {
                "reference": null
              },
              "alipay": {},
              "card": {
                "installments": null,
                "mandate_options": null,
                "network": null,
                "request_three_d_secure": "automatic"
              },
              "klarna": {
                "preferred_locale": null
              },
              "link": {
                "persistent_token": null
              },
              "us_bank_account": {
                "financial_connections": {
                  "permissions": [
                    "payment_method"
                  ],
                  "prefetch": []
                },
                "mandate_options": {},
                "transaction_purpose": "unspecified",
                "verification_method": "automatic"
              },
              "wechat_pay": {
                "app_id": null,
                "client": null
              }
            },
            "payment_method_types": [
              "card",
              "acss_debit",
              "afterpay_clearpay",
              "alipay",
              "klarna",
              "link",
              "us_bank_account",
              "wechat_pay"
            ],
            "payment_record": null,
            "processing": null,
            "receipt_email": null,
            "review": null,
            "setup_future_usage": null,
            "shared_payment_granted_token": null,
            "shipping": null,
            "source": null,
            "statement_descriptor": null,
            "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
            "status": "succeeded",
            "transfer_data": {
              "destination": "acct_<VENDOR_ID>ISuLNQK2ZHS99Rk"
            },
            "transfer_group": "group_pi_3UHnemKXBGcbgpbZ0NS22j8j"
          },
          "payment_method": "pm_<VENDOR_ID>UHnelKXBGcbgpbZc<VENDOR_ID>lZI0Ag",
          "payment_method_details": {
            "card": {
              "amount_authorized": <VENDOR_ID>000,
              "authorization_code": "036659",
              "brand": "visa",
              "checks": {
                "address_line<VENDOR_ID>_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "electronic_commerce_indicator": "07",
              "e<VENDOR_AUTH_CODE>p_month": 9,
              "e<VENDOR_AUTH_CODE>p_year": 2027,
              "e<VENDOR_AUTH_CODE>tended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "w4XDzQOFakih5EZM",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "<VENDOR_ID><VENDOR_ID>9528868<VENDOR_ID>228<VENDOR_ID>7",
              "overcapture": {
                "ma<VENDOR_AUTH_CODE>imum_amount_capturable": <VENDOR_ID>000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "transaction_link_id": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaKIGVwNUGMgavrAOH7jU6LBarecJQAm0B<VENDOR_AUTH_CODE>tv9n9YQZO<VENDOR_AUTH_CODE>M9OyONUn3QSUrowES-yvMMsMvOiPITfC4-v<VENDOR_AUTH_CODE>n",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v<VENDOR_ID>/charges/ch_3UHnemKXBGcbgpbZ0D4R4DlD/refunds"
          },
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
          "status": "succeeded",
          "transfer_data": {
            "amount": null,
            "destination": "acct_<VENDOR_ID>ISuLNQK2ZHS99Rk"
          },
          "transfer_group": "group_pi_3UHnemKXBGcbgpbZ0NS22j8j"
        }
  recorded_at: Sun, 20 Sep 2026 16:32:01 GMT
recorded_with: VCR 6.4.0
