---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=gob%40bluth.com&name=&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 3b4<VENDOR_ID>845a-74cc-474c-b28f-d69<VENDOR_ID>2<VENDOR_ID>d0626<VENDOR_ID>
      Stripe-Version:
      - 2026-08-26.dahlia
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3b4<VENDOR_ID>845a-74cc-474c-b28f-d69<VENDOR_ID>2<VENDOR_ID>d0626<VENDOR_ID>
      Original-Request:
      - req_q5<VENDOR_AUTH_CODE>2YigzE9f60W
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VIOR09wSz<VENDOR_ID>0b83",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>78992<VENDOR_ID>93<VENDOR_ID>,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "0KWOH2IT",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:32:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_VIOR09wSz<VENDOR_ID>0b83
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 0<VENDOR_ID>4476f5-08e0-4a0a-8eaf-90df8c88cb9f
      Stripe-Version:
      - 2026-08-26.dahlia
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0<VENDOR_ID>4476f5-08e0-4a0a-8eaf-90df8c88cb9f
      Original-Request:
      - req_IhVHR8pJvlSHqS
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>UHneyQK2ZHS99RkRKK7c5GU",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": 9,
            "e<VENDOR_AUTH_CODE>p_year": 2027,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>78992<VENDOR_ID>932,
          "customer": "cus_VIOR09wSz<VENDOR_ID>0b83",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Sun, 20 Sep 2026 16:32:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_VIOR09wSz<VENDOR_ID>0b83
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>UHneyQK2ZHS99RkRKK7c5GU
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 54b7cd64-b86a-47cf-8fc0-7027f2983da4
      Stripe-Version:
      - 2026-08-26.dahlia
      Stripe-Account:
      - acct_<VENDOR_ID>IS[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/accounts/acct_<VENDOR_ID>IStbKQOsIOBQfn0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2026-08-26.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_<VENDOR_ID>IStbKQOsIOBQfn0
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_<VENDOR_ID>IStbKQOsIOBQfn0",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": null,
            "minority_owned_business_designation": null,
            "name": "E<VENDOR_AUTH_CODE>ample Business",
            "specified_commercial_transactions_act_url": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://e<VENDOR_AUTH_CODE>amplebusiness.com"
          },
          "business_type": "individual",
          "capabilities": {
            "transfers": "active"
          },
          "charges_enabled": true,
          "company": {
            "name": null
          },
          "controller": {
            "fees": {
              "payer": "application_e<VENDOR_AUTH_CODE>press"
            },
            "is_controller": true,
            "losses": {
              "payments": "application"
            },
            "requirement_collection": "stripe",
            "stripe_dashboard": {
              "type": "e<VENDOR_AUTH_CODE>press"
            },
            "type": "application"
          },
          "country": "US",
          "created": <VENDOR_ID>6<VENDOR_ID>5250378,
          "default_currency": "usd",
          "details_submitted": true,
          "email": "somebody@e<VENDOR_AUTH_CODE>ample.com",
          "e<VENDOR_AUTH_CODE>ternal_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_<VENDOR_ID>IStbhQOsIOBQfn0A36bT4RC",
                "object": "bank_account",
                "account": "acct_<VENDOR_ID>IStbKQOsIOBQfn0",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard",
                  "instant"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "pUj4J7llcCLvRVBn",
                "future_requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "last4": "6789",
                "metadata": {},
                "requirements": {
                  "currently_due": [],
                  "errors": [],
                  "past_due": [],
                  "pending_verification": []
                },
                "routing_number": "<VENDOR_ID><VENDOR_ID>0000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": <VENDOR_ID>,
            "url": "/v<VENDOR_ID>/accounts/acct_<VENDOR_ID>IStbKQOsIOBQfn0/e<VENDOR_AUTH_CODE>ternal_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "individual": {
            "id": "person_J53itXvl<VENDOR_AUTH_CODE>fMZ7Q",
            "object": "person",
            "account": "acct_<VENDOR_ID>IStbKQOsIOBQfn0",
            "created": <VENDOR_ID>6<VENDOR_ID>5250350,
            "first_name": "E<VENDOR_AUTH_CODE>ample",
            "last_name": "User",
            "relationship": {
              "authorizer": false,
              "director": false,
              "e<VENDOR_AUTH_CODE>ecutive": false,
              "legal_guardian": false,
              "owner": false,
              "percent_ownership": null,
              "representative": true,
              "title": null
            }
          },
          "login_links": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v<VENDOR_ID>/accounts/acct_<VENDOR_ID>IStbKQOsIOBQfn0/login_links"
          },
          "metadata": {},
          "payouts_enabled": true,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [
              "individual.dob.day",
              "individual.dob.month",
              "individual.dob.year",
              "individual.ssn_last_4"
            ],
            "past_due": [],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefi<VENDOR_AUTH_CODE>": null,
              "statement_descriptor_prefi<VENDOR_AUTH_CODE>_kana": null,
              "statement_descriptor_prefi<VENDOR_AUTH_CODE>_kanji": null
            },
            "dashboard": {
              "display_name": "E<VENDOR_AUTH_CODE>amplebusiness",
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_ta<VENDOR_AUTH_CODE>_ids": null,
              "hosted_payment_method_save": "always"
            },
            "payments": {
              "statement_descriptor": "EXAMPLEBUSINESS.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": <VENDOR_ID>6<VENDOR_ID>5250374
          },
          "type": "e<VENDOR_AUTH_CODE>press"
        }
  recorded_at: Sun, 20 Sep 2026 16:32:13 GMT
recorded_with: VCR 6.4.0
