---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - "<VENDOR_ID>937b6a6-<VENDOR_ID>d0d-4690-9<VENDOR_ID>ee-9efae294<VENDOR_ID>2e<VENDOR_ID>"
      Stripe-Version:
      - 2025-04-30.basil
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - "<VENDOR_ID>937b6a6-<VENDOR_ID>d0d-4690-9<VENDOR_ID>ee-9efae294<VENDOR_ID>2e<VENDOR_ID>"
      Original-Request:
      - req_WVtXMMsO7vIdP8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-04-30.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_SEP<VENDOR_AUTH_CODE>uBVqFmdaoP",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>746<VENDOR_ID>05967,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "LSLQBAIO",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 01 May 2025 13:26:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_SEP<VENDOR_AUTH_CODE>uBVqFmdaoP
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 286667<VENDOR_ID>a-02cb-4e09-8e6d-c0b4a8a724c9
      Stripe-Version:
      - 2025-04-30.basil
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 286667<VENDOR_ID>a-02cb-4e09-8e6d-c0b4a8a724c9
      Original-Request:
      - req_lOtXZZWj<VENDOR_AUTH_CODE>jvhX0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-04-30.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>RJ<VENDOR_AUTH_CODE>7sKXBGcbgpbZem<VENDOR_AUTH_CODE>UUEFy",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": 5,
            "e<VENDOR_AUTH_CODE>p_year": 2026,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>746<VENDOR_ID>05968,
          "customer": "cus_SEP<VENDOR_AUTH_CODE>uBVqFmdaoP",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Thu, 01 May 2025 13:26:08 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_SEP<VENDOR_AUTH_CODE>uBVqFmdaoP
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>RJ<VENDOR_AUTH_CODE>7sKXBGcbgpbZem<VENDOR_AUTH_CODE>UUEFy
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - ae<VENDOR_ID>e0d6b-ddb8-4ce8-9352-60<VENDOR_ID>0aa37cd52
      Stripe-Version:
      - 2025-[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&customer=cus_SEP<VENDOR_AUTH_CODE>uBVqFmdaoP&e<VENDOR_AUTH_CODE>pand[0]=latest_charge.refunds&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_<VENDOR_ID>RJ<VENDOR_AUTH_CODE>7sKXBGcbgpbZem<VENDOR_AUTH_CODE>UUEFy
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 8bbfcd55-4802-4f94-a3a8-924baf29ce2b
      Stripe-Version:
      - 2025-04-30.basil
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8bbfcd55-4802-4f94-a3a8-924baf29ce2b
      Original-Request:
      - req_l2S3GG8samwsnO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-04-30.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3RJ<VENDOR_AUTH_CODE>7tKXBGcbgpbZ0obiiZXV",
          "object": "payment_intent",
          "amount": 3000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 3000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_<PADDLE_API_KEY>": "pi_3RJ<VENDOR_AUTH_CODE>7tKXBGcbgpbZ0obiiZXV_<PADDLE_API_KEY>_pknGUwsiAb4ULQTt9FDhpe7jj",
          "confirmation_method": "automatic",
          "created": <VENDOR_ID>746<VENDOR_ID>05969,
          "currency": "usd",
          "customer": "cus_SEP<VENDOR_AUTH_CODE>uBVqFmdaoP",
          "description": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3RJ<VENDOR_AUTH_CODE>7tKXBGcbgpbZ0ljqWclB",
            "object": "charge",
            "amount": 3000,
            "amount_captured": 3000,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": null,
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line<VENDOR_ID>": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null,
              "ta<VENDOR_AUTH_CODE>_id": null
            },
            "calculated_statement_descriptor": "PAY RAILS",
            "captured": true,
            "created": <VENDOR_ID>746<VENDOR_ID>05969,
            "currency": "usd",
            "customer": "cus_SEP<VENDOR_AUTH_CODE>uBVqFmdaoP",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "advice_code": null,
              "network_advice_code": null,
              "network_decline_code": null,
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 35,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_3RJ<VENDOR_AUTH_CODE>7tKXBGcbgpbZ0obiiZXV",
            "payment_method": "pm_<VENDOR_ID>RJ<VENDOR_AUTH_CODE>7sKXBGcbgpbZem<VENDOR_AUTH_CODE>UUEFy",
            "payment_method_details": {
              "card": {
                "amount_authorized": 3000,
                "authorization_code": null,
                "brand": "visa",
                "checks": {
                  "address_line<VENDOR_ID>_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": "pass"
                },
                "country": "US",
                "e<VENDOR_AUTH_CODE>p_month": 5,
                "e<VENDOR_AUTH_CODE>p_year": 2026,
                "e<VENDOR_AUTH_CODE>tended_authorization": {
                  "status": "disabled"
                },
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "incremental_authorization": {
                  "status": "unavailable"
                },
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "multicapture": {
                  "status": "unavailable"
                },
                "network": "visa",
                "network_token": {
                  "used": false
                },
                "network_transaction_id": "<VENDOR_ID><VENDOR_ID>9528868<VENDOR_ID>228<VENDOR_ID>7",
                "overcapture": {
                  "ma<VENDOR_AUTH_CODE>imum_amount_capturable": 3000,
                  "status": "unavailable"
                },
                "regulated_status": "unregulated",
                "three_d_secure": null,
                "wallet": null
              },
              "type": "card"
            },
            "radar_options": {},
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaKPHszcAGMga6kWE86tw6LBZp2ZJHq2YrZ5ZmFZwHFViRX<VENDOR_ID>7RVZDGuN78goe<VENDOR_AUTH_CODE>eEKOPLQo8rvimFvDaQMc",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v<VENDOR_ID>/charges/ch_3RJ<VENDOR_AUTH_CODE>7tKXBGcbgpbZ0ljqWclB/refunds"
            },
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": null
          },
          "livemode": false,
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_<VENDOR_ID>RJ<VENDOR_AUTH_CODE>7sKXBGcbgpbZem<VENDOR_AUTH_CODE>UUEFy",
          "payment_method_configuration_details": {
            "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
            "parent": null
          },
          "payment_method_options": {
            "acss_debit": {
              "verification_method": "automatic"
            },
            "afterpay_clearpay": {
              "reference": null
            },
            "alipay": {},
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "klarna": {
              "preferred_locale": null
            },
            "link": {
              "persistent_token": null
            },
            "us_bank_account": {
              "financial_connections": {
                "permissions": [
                  "payment_method"
                ],
                "prefetch": []
              },
              "mandate_options": {},
              "verification_method": "automatic"
            },
            "wechat_pay": {
              "app_id": null,
              "client": null
            }
          },
          "payment_method_types": [
            "card",
            "acss_debit",
            "afterpay_clearpay",
            "alipay",
            "klarna",
            "link",
            "us_bank_account",
            "wechat_pay"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Thu, 01 May 2025 13:26:09 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/charges/ch_3RJ<VENDOR_AUTH_CODE>7tKXBGcbgpbZ0ljqWclB?e<VENDOR_AUTH_CODE>pand%5B%5D=balance_transaction&e<VENDOR_AUTH_CODE>pand%5B%5D=payment_intent&e<VENDOR_AUTH_CODE>pand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-04-30.basil
  response:
    sta[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?e<VENDOR_AUTH_CODE>pand%5B%5D=data.invoice.total_discount_amounts.discount&payment%5Bpayment_intent%5D=pi_3RJ<VENDOR_AUTH_CODE>7tKXBGcbgpbZ0obiiZXV&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-04-30.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-04-30.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Thu, 01 May 2025 13:26:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3RJ<VENDOR_AUTH_CODE>7tKXBGcbgpbZ0ljqWclB&amount=<VENDOR_ID>000
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - a32e8c32-d0<VENDOR_ID>5-4aeb-a935-<VENDOR_ID>bb074304aff
      Stripe-Version:
      - 2025-04-30.basil
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a32e8c32-d0<VENDOR_ID>5-4aeb-a935-<VENDOR_ID>bb074304aff
      Original-Request:
      - req_uG5rpWN4NC7ss7
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-04-30.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3RJ<VENDOR_AUTH_CODE>7tKXBGcbgpbZ0hgDsJhQ",
          "object": "refund",
          "amount": <VENDOR_ID>000,
          "balance_transaction": "t<VENDOR_AUTH_CODE>n_3RJ<VENDOR_AUTH_CODE>7tKXBGcbgpbZ0S5A8<VENDOR_AUTH_CODE>dg",
          "charge": "ch_3RJ<VENDOR_AUTH_CODE>7tKXBGcbgpbZ0ljqWclB",
          "created": <VENDOR_ID>746<VENDOR_ID>0597<VENDOR_ID>,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_3RJ<VENDOR_AUTH_CODE>7tKXBGcbgpbZ0obiiZXV",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Thu, 01 May 2025 13:26:12 GMT
[...]
