---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods
    body:
      encoding: UTF-8
      string: type=o<VENDOR_AUTH_CODE><VENDOR_AUTH_CODE>o&billing_details[email]=test%40e<VENDOR_AUTH_CODE>ample.org&billing_details[name]=Test+User
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - b26<VENDOR_ID>7907-e<VENDOR_ID>05-47f0-a820-6f95f87c0e<VENDOR_ID>5
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b26<VENDOR_ID>7907-e<VENDOR_ID>05-47f0-a820-6f95f87c0e<VENDOR_ID>5
      Original-Request:
      - req_YfWSpXSYtB0joJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>R6z<VENDOR_AUTH_CODE>8KXBGcbgpbZSHprY<VENDOR_ID>uE",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": "test@e<VENDOR_AUTH_CODE>ample.org",
            "name": "Test User",
            "phone": null
          },
          "created": <VENDOR_ID>7430<VENDOR_ID>8570,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "o<VENDOR_AUTH_CODE><VENDOR_AUTH_CODE>o": {},
          "type": "o<VENDOR_AUTH_CODE><VENDOR_AUTH_CODE>o"
        }
  recorded_at: Wed, 26 Mar 2025 19:49:30 GMT
recorded_with: VCR 6.3.1
