---
http_interactions:
- request:
    method: post
    uri: https://sandbox-vendors.paddle.com/api/2.0/subscription/users/update
    body:
      encoding: UTF-8
      string: plan_id=594470&prorate=true&quantity=1&subscription_id=3576390&vendor_auth_code=<PADDLE_PRIVATE_KEY>&vendor_id=924
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success": true, "response": {"subscription_id": 3576390, "user_id": 17368056, "plan_id": 594470, "next_payment": {"amount": 144.06, "currency": "USD", "date": "2018-02-15"}}}'
  recorded_at: Sun, 05 Sep 2021 04:15:35 GMT
- request:
    method: post
    uri: https://sandbox-vendors.paddle.com/api/2.0/subscription/users
    body:
      encoding: UTF-8
      string: pause=false&subscription_id=3576390&vendor_auth_code=d4fa0981f2c51335215bfbf31cddfbf1af76951baa11427910&vendor_id=123456
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":[{"subscription_id":3576390,"user_id":17368056,"plan_id":594470,"next_payment":{"amount":0,"currency":"USD","date":"2020-07-04"}}]}'
  recorded_at: Thu, 04 Jun 2020 14:12:52 GMT
recorded_with: VCR 6.0.0
