---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=johnny%40appleseed.com
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_HwGEtmBTqNLp0q",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1598921442,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "johnny@appleseed.com",
          "invoice_prefix": "2F5A0019",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Tue, 01 Sep 2020 00:50:42 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/small-monthly
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "small-monthly",
          "object": "plan",
          "active": true,
          "aggregate_usage": null,
          "amount": 2500,
          "amount_decimal": "2500",
          "billing_scheme": "per_unit",
          "created": 1571425570,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {
          },
          "nickname": "Small Monthly",
          "product": "prod_EYTX7RYhRjcwKD",
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        }
  recorded_at: Tue, 01 Sep 2020 00:50:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&billing_details[name]=Jane+Doe&card[number]=4242+4242+4242+4242&card[exp_month]=9&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1HMNhvKXBGcbgpbZcsdVNvem",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": "Jane Doe",
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 9,
            "exp_year": 2025,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1598921443,
          "customer": null,
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Tue, 01 Sep 2020 00:50:43 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1HMNhvKXBGcbgpbZcsdVNvem/attach
    body:
      encoding: UTF-8
      string: customer=cus_HwGErwafLw8OQF
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Str[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_HwGErwafLw8OQF
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1HMNhvKXBGcbgpbZcsdVNvem
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_HwGErwafLw8OQF",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1598921443,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "johnny@appleseed.com",
          "invoice_prefix": "02B6513D",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_1HMNhvKXBGcbgpbZcsdVNvem",
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Tue, 01 Sep 2020 00:50:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1HMNhvKXBGcbgpbZcsdVNvem
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2900&confirm=true&confirmation_method=automatic&currency=usd&customer=cus_HwGErwafLw8OQF&payment_method=pm_1HMNhvKXBGcbgpbZcsdVNvem
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_1HMNhxKXBGcbgpbZ5DMxQh4d",
          "object": "payment_intent",
          "amount": 2900,
          "amount_capturable": 0,
          "amount_received": 2900,
          "application": null,
          "application_fee_amount": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [
              {
                "id": "ch_1HMNhyKXBGcbgpbZtuB2uc4o",
                "object": "charge",
                "amount": 2900,
                "amount_refunded": 0,
                "application": null,
                "application_fee": null,
                "application_fee_amount": null,
                "balance_transaction": "txn_1HMNhyKXBGcbgpbZiCor9NLj",
                "billing_details": {
                  "address": {
                    "city": null,
                    "country": null,
                    "line1": null,
                    "line2": null,
                    "postal_code": null,
                    "state": null
                  },
                  "email": null,
                  "name": "Jane Doe",
                  "phone": null
                },
                "calculated_statement_descriptor": "Stripe",
                "captured": true,
                "created": 1598921446,
                "currency": "usd",
                "customer": "cus_HwGErwafLw8OQF",
                "description": null,
                "destination": null,
                "dispute": null,
                "disputed": false,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {
                },
                "invoice": null,
                "livemode": false,
                "metadata": {
                },
                "on_behalf_of": null,
                "order": null,
                "outcome": {
                  "network_status": "approved_by_network",
                  "reason": null,
                  "risk_level": "normal",
                  "risk_score": 36,
                  "seller_message": "Payment complete.",
                  "type": "authorized"
                },
                "paid": true,
                "payment_intent": "pi_1HMNhxKXBGcbgpbZ5DMxQh4d",
                "payment_method": "pm_1HMNhvKXBGcbgpbZcsdVNvem",
                "payment_method_details": {
                  "card": {
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": "pass"
                    },
                    "country": "US",
                    "exp_month": 9,
                    "exp_year": 2025,
                    "fingerprint": "w4XDzQOFakih5EZM",
                    "funding": "credit",
                    "installments": null,
                    "last4": "4242",
                    "network": "visa",
                    "three_d_secure": null,
                    "wallet": null
                  },
                  "type": "card"
                },
                "receipt_email": null,
                "receipt_number": null,
                "receipt_url": "https://pay.stripe.com/receipts/acct_1E4bfnKXBGcbgpbZ/ch_1HMNhyKXBGcbgpbZtuB2uc4o/rcpt_HwGEVzthdjRMXRlPfouD1L8RcwEpivL",
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [

                  ],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/ch_1HMNhyKXBGcbgpbZtuB2uc4o/refunds"
                },
                "review": null,
                "shipping": null,
                "source": null,
                "source_transfer": null,
                "statement_descriptor": null,
                "statement_descriptor_suffix": null,
                "status": "succeeded",
                "transfer_data": null,
                "transfer_group": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges?payment_intent=pi_1HMNhxKXBGcbgpbZ5DMxQh4d"
          },
          "client_secret": "pi_1HMNhxKXBGcbgpbZ5DMxQh4d_secret_IEWAC6nVg8TovvHO2UpCq2LVr",
          "confirmation_method": "automatic",
          "created": 1598921445,
          "currency": "usd",
          "customer": "cus_HwGErwafLw8OQF",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1HMNhvKXBGcbgpbZcsdVNvem",
          "payment_method_options": {
            "card": {
              "installments": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 01 Sep 2020 00:50:46 GMT
recorded_with: VCR 6.0.0
