---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - b7be8a87-85cf-4a2f-80dd-ae799003396f
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b7be8a87-85cf-4a2f-80dd-ae799003396f
      Original-Request:
      - req_gZE<VENDOR_AUTH_CODE>wY5h<VENDOR_AUTH_CODE>S<VENDOR_ID>rGG
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TL2hh54j0eZtK<VENDOR_ID>",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>76<VENDOR_ID>9336<VENDOR_ID>9,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "O8MNVMYP",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 31 Oct 2025 18:00:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/invalid/attach
    body:
      encoding: UTF-8
      string: customer=cus_TL2hh54j0eZtK<VENDOR_ID>
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 6987509d-eb8<VENDOR_ID>-46ed-adf7-d4b38a72dd63
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6987509d-eb8<VENDOR_ID>-46ed-adf7-d4b38a72dd63
      Original-Request:
      - req_DiqJq0<VENDOR_ID>OIZrtXA
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such PaymentMethod: 'invalid'; It's possible this PaymentMethod e<VENDOR_AUTH_CODE>ists on one of your connected accounts, in which case you should retry this request on that connected account. Learn more at https://stripe.com/docs/connect/authentication",
            "param": "payment_method",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_DiqJq0<VENDOR_ID>OIZrtXA?t=<VENDOR_ID>76<VENDOR_ID>9336<VENDOR_ID>9",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Fri, 31 Oct 2025 18:00:19 GMT
recorded_with: VCR 6.3.1
