---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=bill%40microsoft.com&name=
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_J53Va1cnVmw5ve",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1615249520,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "bill@microsoft.com",
          "invoice_prefix": "D8F09DCC",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Tue, 09 Mar 2021 00:25:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_J53Va1cnVmw5ve
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1IStO0KXBGcbgpbZD38WOvs7",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "exp_month": 3,
            "exp_year": 2022,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1615249520,
          "customer": "cus_J53Va1cnVmw5ve",
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Tue, 09 Mar 2021 00:25:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_J53Va1cnVmw5ve
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1IStO0KXBGcbgpbZD38WOvs7
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_J53Va1cnVmw5ve",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1615249520,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "bill@microsoft.com",
          "invoice_prefix": "D8F09DCC",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_1IStO0KXBGcbgpbZD38WOvs7",
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Tue, 09 Mar 2021 00:25:19 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
 [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: expand[0]=pending_setup_intent&expand[1]=latest_invoice.payment_intent&items[0][plan]=default&items[0][quantity]=1&off_session=true&trial_period_days=14&customer=cus_J53Va1cnVmw5ve
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_J53Vh2OvtGCVmS",
          "object": "subscription",
          "application_fee_percent": null,
          "billing_cycle_anchor": 1616459122,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "collection_method": "charge_automatically",
          "created": 1615249522,
          "current_period_end": 1616459122,
          "current_period_start": 1615249522,
          "customer": "cus_J53Va1cnVmw5ve",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_J53VdfUhsNHFgC",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1615249523,
                "metadata": {
                },
                "plan": {
                  "id": "default",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 1000,
                  "amount_decimal": "1000",
                  "billing_scheme": "per_unit",
                  "created": 1583852982,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "Default",
                  "product": "prod_EYTX7RYhRjcwKD",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "default",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1583852982,
                  "currency": "usd",
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {
                  },
                  "nickname": "Default",
                  "product": "prod_EYTX7RYhRjcwKD",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 1000,
                  "unit_amount_decimal": "1000"
                },
                "quantity": 1,
                "subscription": "sub_J53Vh2OvtGCVmS",
                "tax_rates": [

                ]
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_J53Vh2OvtGCVmS"
          },
          "latest_invoice": {
            "id": "in_1IStO2KXBGcbgpbZvnOtuv55",
            "object": "invoice",
            "account_country": "US",
            "account_name": "Pay",
            "account_tax_ids": null,
            "amount_due": 0,
            "amount_paid": 0,
            "amount_remaining": 0,
            "application_fee_amount": null,
            "attempt_count": 0,
            "attempted": true,
            "auto_advance": false,
            "billing_reason": "subscription_create",
            "charge": null,
            "collection_method": "charge_automatically",
            "created": 1615249522,
            "currency": "usd",
            "custom_fields": null,
            "customer": "cus_J53Va1cnVmw5ve",
            "customer_address": null,
            "customer_email": "bill@microsoft.com",
            "customer_name": null,
            "customer_phone": null,
            "customer_shipping": null,
            "customer_tax_exempt": "none",
            "customer_tax_ids": [

            ],
            "default_payment_method": null,
            "default_source": null,
            "default_tax_rates": [

            ],
            "description": null,
            "discount": null,
            "discounts": [

            ],
            "due_date": null,
            "ending_balance": 0,
            "footer": null,
            "hosted_invoice_url": "https://invoice.stripe.com/i/acct_1E4bfnKXBGcbgpbZ/invst_J53Vav37IDkaANaRNPVNZJef2ICGe9l",
            "invoice_pdf": "https://pay.stripe.com/invoice/acct_1E4bfnKXBGcbgpbZ/invst_J53Vav37IDkaANaRNPVNZJef2ICGe9l/pdf",
            "last_finalization_error": null,
            "lines": {
              "object": "list",
              "data": [
                {
                  "id": "il_1IStO2KXBGcbgpbZyeu2k1zA",
                  "object": "line_item",
                  "amount": 0,
                  "currency": "usd",
                  "description": "Trial period for Test Subscription",
                  "discount_amounts": [

                  ],
                  "discountable": true,
                  "discounts": [

                  ],
                  "livemode": false,
                  "metadata": {
                  },
                  "period": {
                    "end": 1616459122,
                    "start": 1615249522
                  },
                  "plan": {
                    "id": "default",
                    "object": "plan",
                    "active": true,
                    "aggregate_usage": null,
                    "amount": 1000,
                    "amount_decimal": "1000",
                    "billing_scheme": "per_unit",
                    "created": 1583852982,
                    "currency": "usd",
                    "interval": "month",
                    "interva[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions/sub_J53Vh2OvtGCVmS
    body:
      encoding: UTF-8
      string: cancel_at_period_end=true
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      -[...]
[...]
