---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=gob%40bluth.com&name=
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_K9FpmP2xJjE0XR",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1630517601,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_prefix": "052F1EDD",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Wed, 01 Sep 2021 17:33:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_K9FpmP2xJjE0XR
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1JUxJNQK2ZHS99Rko7qc7qFY",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "exp_month": 9,
            "exp_year": 2022,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1630517601,
          "customer": "cus_K9FpmP2xJjE0XR",
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Wed, 01 Sep 2021 17:33:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_K9FpmP2xJjE0XR
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1JUxJNQK2ZHS99Rko7qc7qFY
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    head[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1IStbKQOsIOBQfn0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1IStbKQOsIOBQfn0
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1IStbKQOsIOBQfn0",
          "object": "account",
          "business_profile": {
            "mcc": null,
            "name": "Example Business",
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "https://examplebusiness.com"
          },
          "capabilities": {
            "transfers": "active"
          },
          "charges_enabled": true,
          "country": "US",
          "created": 1615250378,
          "default_currency": "usd",
          "details_submitted": true,
          "email": "somebody@example.com",
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1IStbhQOsIOBQfn0A36bT4RC",
                "object": "bank_account",
                "account": "acct_1IStbKQOsIOBQfn0",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "pUj4J7llcCLvRVBn",
                "last4": "6789",
                "metadata": {
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1IStbKQOsIOBQfn0/external_accounts"
          },
          "login_links": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/accounts/acct_1IStbKQOsIOBQfn0/login_links",
            "data": [

            ]
          },
          "metadata": {
          },
          "payouts_enabled": true,
          "requirements": {
            "current_deadline": null,
            "currently_due": [

            ],
            "disabled_reason": null,
            "errors": [

            ],
            "eventually_due": [
              "individual.dob.day",
              "individual.dob.month",
              "individual.dob.year",
              "individual.ssn_last_4"
            ],
            "past_due": [

            ],
            "pending_verification": [

            ]
          },
          "settings": {
            "bacs_debit_payments": {
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": null
            },
            "dashboard": {
              "display_name": "Examplebusiness",
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "EXAMPLEBUSINESS.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {
            }
          },
          "tos_acceptance": {
            "date": 1615250374
          },
          "type": "express"
        }
  recorded_at: Wed, 01 Sep 2021 17:33:23 GMT
recorded_with: VCR 6.0.0
