---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?e<VENDOR_AUTH_CODE>pand%5B%5D=data.invoice.total_discount_amounts.discount&payment%5Bpayment_intent%5D=pm_<VENDOR_ID>234&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Fri, 18 Apr 2025 15:08:35 GMT
recorded_with: VCR 6.3.1
