---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=gob%40bluth.com&name=
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_J54cjs9t0UmfK2",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1615253667,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_prefix": "E64754CA",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Tue, 09 Mar 2021 01:34:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_J54cjs9t0UmfK2
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1ISuSuQK2ZHS99RkGUy2BRVL",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "exp_month": 3,
            "exp_year": 2022,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1615253668,
          "customer": "cus_J54cjs9t0UmfK2",
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Tue, 09 Mar 2021 01:34:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_J54cjs9t0UmfK2
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1ISuSuQK2ZHS99RkGUy2BRVL
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message:[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
  [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&confirm=true&confirmation_method=automatic&currency=usd&customer=cus_J54cjs9t0UmfK2&payment_method=pm_1ISuSuQK2ZHS99RkGUy2BRVL
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_1ISuSwQK2ZHS99RkDvVYoDg1",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_received": 1000,
          "application": "ca_J526GYgmSwFgKMno9PpWP7RTYw0iB3mM",
          "application_fee_amount": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [
              {
                "id": "ch_1ISuSwQK2ZHS99RkuIVCE4Am",
                "object": "charge",
                "amount": 1000,
                "amount_captured": 1000,
                "amount_refunded": 0,
                "application": "ca_J526GYgmSwFgKMno9PpWP7RTYw0iB3mM",
                "application_fee": null,
                "application_fee_amount": null,
                "balance_transaction": "txn_1ISuSxQK2ZHS99Rk2h8MjeSs",
                "billing_details": {
                  "address": {
                    "city": null,
                    "country": null,
                    "line1": null,
                    "line2": null,
                    "postal_code": null,
                    "state": null
                  },
                  "email": null,
                  "name": null,
                  "phone": null
                },
                "calculated_statement_descriptor": "BUSINESS.COM",
                "captured": true,
                "created": 1615253670,
                "currency": "usd",
                "customer": "cus_J54cjs9t0UmfK2",
                "description": null,
                "destination": null,
                "dispute": null,
                "disputed": false,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {
                },
                "invoice": null,
                "livemode": false,
                "metadata": {
                },
                "on_behalf_of": null,
                "order": null,
                "outcome": {
                  "network_status": "approved_by_network",
                  "reason": null,
                  "risk_level": "normal",
                  "risk_score": 34,
                  "seller_message": "Payment complete.",
                  "type": "authorized"
                },
                "paid": true,
                "payment_intent": "pi_1ISuSwQK2ZHS99RkDvVYoDg1",
                "payment_method": "pm_1ISuSuQK2ZHS99RkGUy2BRVL",
                "payment_method_details": {
                  "card": {
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": null
                    },
                    "country": "US",
                    "exp_month": 3,
                    "exp_year": 2022,
                    "fingerprint": "w4XDzQOFakih5EZM",
                    "funding": "credit",
                    "installments": null,
                    "last4": "4242",
                    "network": "visa",
                    "three_d_secure": null,
                    "wallet": null
                  },
                  "type": "card"
                },
                "receipt_email": null,
                "receipt_number": null,
                "receipt_url": "https://pay.stripe.com/receipts/acct_1ISuLNQK2ZHS99Rk/ch_1ISuSwQK2ZHS99RkuIVCE4Am/rcpt_J54cZN9vWLTZkHVwHgri4pnmkSVRuL7",
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [

                  ],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/ch_1ISuSwQK2ZHS99RkuIVCE4Am/refunds"
                },
                "review": null,
                "shipping": null,
                "source": null,
                "source_transfer": null,
                "statement_descriptor": null,
                "statement_descriptor_suffix": null,
                "status": "succeeded",
                "transfer_data": null,
                "transfer_group": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges?payment_intent=pi_1ISuSwQK2ZHS99RkDvVYoDg1"
          },
          "client_secret": "pi_1ISuSwQK2ZHS99RkDvVYoDg1_secret_ipO5ywjuDXfcOgfEpZsoPILaz",
          "confirmation_method": "automatic",
          "created": 1615253670,
          "currency": "usd",
          "customer": "cus_J54cjs9t0UmfK2",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1ISuSuQK2ZHS99RkGUy2BRVL",
          "payment_method_options": {
            "card": {
              "installments": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 09 Mar 2021 01:34:31 GMT
recorded_with: VCR 6.0.0
