---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_K9Fo2BpabkGWva
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>JU<VENDOR_AUTH_CODE>JIQK2ZHS99RkamWwXYg3
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_K9Fo2BpabkGWva",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>6305<VENDOR_ID>7595,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_prefi<VENDOR_AUTH_CODE>": "0C69D876",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_<VENDOR_ID>JU<VENDOR_AUTH_CODE>JIQK2ZHS99RkamWwXYg3",
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none"
        }
  recorded_at: Wed, 01 Sep 2021 17:33:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_K9Fo2BpabkGWva
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such customer: 'cus_K9Fo2BpabkGWva'",
            "param": "id",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Wed, 01 Sep 2021 17:33:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=gob%40bluth.com&name=&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - a3f07f20-b<VENDOR_ID>66-4<VENDOR_ID>07-88e8-997a6f36fc73
      Stripe-Version:
      - 2026-03-25.dahlia
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a3f07f20-b<VENDOR_ID>66-4<VENDOR_ID>07-88e8-997a6f36fc73
      Original-Request:
      - req_7ell37UnURsuVh
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-03-25.dahlia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UFHok2V9yiUPsO",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>774905654,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "MDWPZZQS",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Mar 2026 21:20:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_UFHok2V9yiUPsO
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 2<VENDOR_ID>b4e7<VENDOR_ID>d-<VENDOR_ID>a<VENDOR_ID>a-46f5-8cf0-778d624998be
      Stripe-Version:
      - 2026-03-25.dahlia
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2<VENDOR_ID>b4e7<VENDOR_ID>d-<VENDOR_ID>a<VENDOR_ID>a-46f5-8cf0-778d624998be
      Original-Request:
      - req_fm9294Wdefsows
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-03-25.dahlia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>TGnEwQK2ZHS99RkHK9TK<VENDOR_ID>Te",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": 3,
            "e<VENDOR_AUTH_CODE>p_year": 2027,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>774905654,
          "customer": "cus_UFHok2V9yiUPsO",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Mar 2026 21:20:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_UFHok2V9yiUPsO
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>TGnEwQK2ZHS99RkHK9TK<VENDOR_ID>Te
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 82d70086-<VENDOR_ID>844-4ded-bd53-ce496fe<VENDOR_ID>75ca
      Stripe-Version:
      - 2026-03-25.dahlia
      Stripe-Account:
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_UFHok2V9yiUPsO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2026-03-25.dahlia
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-03-25.dahlia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such customer: 'cus_UFHok2V9yiUPsO'",
            "param": "id",
            "request_log_url": "https://dashboard.stripe.com/acct_<VENDOR_ID>E4bfnKXBGcbgpbZ/test/workbench/logs?object=req_<VENDOR_ID>9DCyIqYQ6qObK",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 30 Mar 2026 21:20:55 GMT
recorded_with: VCR 6.4.0
