---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods
    body:
      encoding: UTF-8
      string: type=sofort&sofort[country]=DE
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 327b0e98-435b-44f<VENDOR_ID>-8<VENDOR_ID>c4-3a4fcf0e7748
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 327b0e98-435b-44f<VENDOR_ID>-8<VENDOR_ID>c4-3a4fcf0e7748
      Original-Request:
      - req_9ZLKMBLw8fqJZg
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>Nheh6KXBGcbgpbZl9fXIrsW",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "created": <VENDOR_ID>692649644,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "sofort": {
            "country": "DE"
          },
          "type": "sofort"
        }
  recorded_at: Mon, 21 Aug 2023 20:27:24 GMT
recorded_with: VCR 6.2.0
