---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 5e529933-7f3c-43aa-b69c-fc45bbcbe620
      Stripe-Version:
      - 2026-03-25.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5e529933-7f3c-43aa-b69c-fc45bbcbe620
      Original-Request:
      - req_Ok2Nt6lal0iLGr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-03-25.dahlia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UFHp<VENDOR_AUTH_CODE>9wyRhqhy7",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>774905736,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "E5VQ60JB",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Mar 2026 21:22:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/checkout/sessions
    body:
      encoding: UTF-8
      string: customer=cus_UFHp<VENDOR_AUTH_CODE>9wyRhqhy7&mode=subscription&success_url=http%3A%2F%2Flocalhost%3A3000%2F%3Fstripe_checkout_session_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=http%3A%2F%2Flocalhost%3A3000%2F%3Fstripe_checkout_session_id%3D%7BCHECKOUT_SESSION_ID%7D&line_items[0][price]=default&line_items[0][quantity]=<VENDOR_ID>
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 5c8fb295-cb8e-403f-a9fe-bb6f7aa6a3c<VENDOR_ID>
      Stripe-Version:
      - 2026-03-25.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5c8fb295-cb8e-403f-a9fe-bb6f7aa6a3c<VENDOR_ID>
      Original-Request:
      - req_Xt2DF7ei8IzNWS
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-03-25.dahlia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a<VENDOR_ID>PwY30zt<VENDOR_AUTH_CODE>0TcmbgNKeBcXSGDZwowdkBF2pEJCwVB<VENDOR_ID>bAMgcnS7A4tACRR5",
          "object": "checkout.session",
          "adaptive_pricing": {
            "enabled": true
          },
          "after_e<VENDOR_AUTH_CODE>piration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": <VENDOR_ID>000,
          "amount_total": <VENDOR_ID>000,
          "automatic_ta<VENDOR_AUTH_CODE>": {
            "enabled": false,
            "liability": null,
            "provider": null,
            "status": null
          },
          "billing_address_collection": null,
          "branding_settings": {
            "background_color": "#ffffff",
            "border_style": "rounded",
            "button_color": "#0074d4",
            "display_name": "Pay",
            "font_family": "default",
            "icon": null,
            "logo": null
          },
          "cancel_url": "http://localhost:3000/?stripe_checkout_session_id={CHECKOUT_SESSION_ID}",
          "client_reference_id": null,
          "client_<PADDLE_API_KEY>": null,
          "collected_information": {
            "business_name": null,
            "individual_name": null,
            "shipping_details": null
          },
          "consent": null,
          "consent_collection": null,
          "created": <VENDOR_ID>774905737,
          "currency": "usd",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_te<VENDOR_AUTH_CODE>t": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": "cus_UFHp<VENDOR_AUTH_CODE>9wyRhqhy7",
          "customer_account": null,
          "customer_creation": null,
          "customer_details": {
            "address": null,
            "business_name": null,
            "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
            "individual_name": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
            "ta<VENDOR_AUTH_CODE>_ids": null
          },
          "customer_email": null,
          "discounts": [],
          "e<VENDOR_AUTH_CODE>pires_at": <VENDOR_ID>774992<VENDOR_ID>37,
          "integration_identifier": null,
          "invoice": null,
          "invoice_creation": null,
          "livemode": false,
          "locale": null,
          "metadata": {},
          "mode": "subscription",
          "origin_conte<VENDOR_AUTH_CODE>t": null,
          "payment_intent": null,
          "payment_link": null,
          "payment_method_collection": "always",
          "payment_method_configuration_details": {
            "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card",
            "klarna",
            "link",
            "us_bank_account"
          ],
          "payment_status": "unpaid",
          "permissions": null,
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "saved_payment_method_options": {
            "allow_redisplay_filters": [
              "always"
            ],
            "payment_method_remove": "disabled",
            "payment_method_save": null
          },
          "setup_intent": null,
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_options": [],
          "status": "open",
          "submit_type": null,
          "subscription": null,
          "success_url": "http://localhost:3000/?stripe_checkout_session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_ta<VENDOR_AUTH_CODE>": 0
          },
          "ui_mode": "hosted_page",
          "url": "https://checkout.stripe.com/c/pay/cs_test_a<VENDOR_ID>PwY30zt<VENDOR_AUTH_CODE>0TcmbgNKeBcXSGDZwowdkBF2pEJCwVB<VENDOR_ID>bAMgcnS7A4tACRR5#fidnandhYHdWcX<VENDOR_AUTH_CODE>pYCc%2FJ2FgY2RwaXEnKSd2cGd2ZndsdXFsamtQa2<VENDOR_AUTH_CODE>0cGBrYHZ2QGtkZ2lgYSc%2FY2RpdmApJ2R<VENDOR_ID>bE5gfCc%2FJ3VuWnFgdnFabnBGMlVuQTQ8dEtdSzJDUn<VENDOR_ID>Pb2d8VTZIJyknY3dqaFZgd3Ngdyc%2FcXdwYCknZ2RmbmJ3anBrYUZqaWp3Jz8nJmNjY2NjYycpJ2lkfGpwcVF8dWAnPyd2bGtiaWBabHFgaCcpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgl",
          "wallet_options": null
        }
  recorded_at: Mon, 30 Mar 2026 21:22:17 GMT
recorded_with: VCR 6.4.0
