---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 4ad5d0b6-8ee<VENDOR_ID>-4cce-90b8-ca<VENDOR_ID>d6e4dc5f<VENDOR_ID>
      Stripe-Version:
      - 2026-03-25.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4ad5d0b6-8ee<VENDOR_ID>-4cce-90b8-ca<VENDOR_ID>d6e4dc5f<VENDOR_ID>
      Original-Request:
      - req_RMulfwvCtLrQ6S
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-03-25.dahlia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UFH<VENDOR_AUTH_CODE>ZJzXeBmqOm",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>774906<VENDOR_ID>78,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "FHQZ4K7V",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Mar 2026 21:29:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/checkout/sessions
    body:
      encoding: UTF-8
      string: customer=cus_UFH<VENDOR_AUTH_CODE>ZJzXeBmqOm&mode=setup&success_url=http%3A%2F%2Flocalhost%3A3000%2F%3Fstripe_checkout_session_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=http%3A%2F%2Flocalhost%3A3000%2F%3Fstripe_checkout_session_id%3D%7BCHECKOUT_SESSION_ID%7D&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - dfa5c656-7d<VENDOR_ID>a-4b78-a<VENDOR_ID>5b-dd0238<VENDOR_ID>77a70
      Stripe-Version:
      - 2026-03-25.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - dfa5c656-7d<VENDOR_ID>a-4b78-a<VENDOR_ID>5b-dd0238<VENDOR_ID>77a70
      Original-Request:
      - req_F<VENDOR_ID>cZTDkTFDbDIs
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-03-25.dahlia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_c<VENDOR_ID>9IuEgPnz<VENDOR_AUTH_CODE>TLYhR3V0C<VENDOR_ID>A4v3mdUNlgB8GtHYCrJlHcRehbpiBVzf<VENDOR_AUTH_CODE>YS3D",
          "object": "checkout.session",
          "adaptive_pricing": {
            "enabled": false
          },
          "after_e<VENDOR_AUTH_CODE>piration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": null,
          "amount_total": null,
          "automatic_ta<VENDOR_AUTH_CODE>": {
            "enabled": false,
            "liability": null,
            "provider": null,
            "status": null
          },
          "billing_address_collection": null,
          "branding_settings": {
            "background_color": "#ffffff",
            "border_style": "rounded",
            "button_color": "#0074d4",
            "display_name": "Pay",
            "font_family": "default",
            "icon": null,
            "logo": null
          },
          "cancel_url": "http://localhost:3000/?stripe_checkout_session_id={CHECKOUT_SESSION_ID}",
          "client_reference_id": null,
          "client_<PADDLE_API_KEY>": null,
          "collected_information": {
            "business_name": null,
            "individual_name": null,
            "shipping_details": null
          },
          "consent": null,
          "consent_collection": null,
          "created": <VENDOR_ID>774906<VENDOR_ID>78,
          "currency": "usd",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_te<VENDOR_AUTH_CODE>t": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": "cus_UFH<VENDOR_AUTH_CODE>ZJzXeBmqOm",
          "customer_account": null,
          "customer_creation": null,
          "customer_details": {
            "address": null,
            "business_name": null,
            "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
            "individual_name": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": null,
            "ta<VENDOR_AUTH_CODE>_ids": null
          },
          "customer_email": null,
          "discounts": null,
          "e<VENDOR_AUTH_CODE>pires_at": <VENDOR_ID>774992578,
          "integration_identifier": null,
          "invoice": null,
          "invoice_creation": null,
          "livemode": false,
          "locale": null,
          "metadata": {},
          "mode": "setup",
          "origin_conte<VENDOR_AUTH_CODE>t": null,
          "payment_intent": null,
          "payment_link": null,
          "payment_method_collection": "always",
          "payment_method_configuration_details": {
            "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            },
            "us_bank_account": {
              "financial_connections": {
                "permissions": [
                  "payment_method"
                ],
                "prefetch": []
              },
              "verification_method": "automatic"
            }
          },
          "payment_method_types": [
            "card",
            "klarna",
            "link",
            "us_bank_account"
          ],
          "payment_status": "no_payment_required",
          "permissions": null,
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "saved_payment_method_options": null,
          "setup_intent": "seti_<VENDOR_ID>TGnNOKXBGcbgpbZS<VENDOR_ID>Bhc70E",
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_options": [],
          "status": "open",
          "submit_type": null,
          "subscription": null,
          "success_url": "http://localhost:3000/?stripe_checkout_session_id={CHECKOUT_SESSION_ID}",
          "total_details": null,
          "ui_mode": "hosted_page",
          "url": "https://checkout.stripe.com/c/pay/cs_test_c<VENDOR_ID>9IuEgPnz<VENDOR_AUTH_CODE>TLYhR3V0C<VENDOR_ID>A4v3mdUNlgB8GtHYCrJlHcRehbpiBVzf<VENDOR_AUTH_CODE>YS3D#fidnandhYHdWcX<VENDOR_AUTH_CODE>pYCc%2FJ2FgY2RwaXEnKSdkdW<VENDOR_AUTH_CODE>OYHwnPyd<VENDOR_ID>blp<VENDOR_AUTH_CODE>YHZ<VENDOR_AUTH_CODE>Wm5wRjJVbkE0PHRLXUsyQ<VENDOR_ID>J9T29nfFU2SCcpJ2N3amhWYHdzYHcnP3F3cGApJ2dkZm5id2pwa2FGamlqdyc%2FJyZjY2NjY2MnKSdpZH<VENDOR_AUTH_CODE>qcHFRfHVgJz8ndm<VENDOR_AUTH_CODE>rYmlgWmZqaXBoaycpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgl",
          "wallet_options": null
        }
  recorded_at: Mon, 30 Mar 2026 21:29:39 GMT
recorded_with: VCR 6.4.0
