---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoices/in_<VENDOR_ID>RFFohKXBGcbgpbZk9M<VENDOR_AUTH_CODE>zDMc?e<VENDOR_AUTH_CODE>pand%5B%5D=total_discount_amounts.discount&e<VENDOR_AUTH_CODE>pand%5B%5D=total_ta<VENDOR_AUTH_CODE>es.ta<VENDOR_AUTH_CODE>_rate_details.ta<VENDOR_AUTH_CODE>_rate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: <STRIPE_PRIVATE_KEY>",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Fri, 18 Apr 2025 14:35:46 GMT
recorded_with: VCR 6.3.1
