---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User&expand[0]=tax
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 82faecaa-f124-4d4c-bd40-027993429ecc
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 82faecaa-f124-4d4c-bd40-027993429ecc
      Original-Request:
      - req_kFBA3GPyD5wbVI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_MqPopQyEyQHKqw",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1669071633,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_prefix": "B5D4C426",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 21 Nov 2022 23:00:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_MqPopQyEyQHKqw
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7d0589f8-4ef5-4d07-b36d-6b66a3d2b0b9
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7d0589f8-4ef5-4d07-b36d-6b66a3d2b0b9
      Original-Request:
      - req_WAemJ687P6bUBR
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1M6iybKXBGcbgpbZOtL0d81l",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "exp_month": 11,
            "exp_year": 2023,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1669071633,
          "customer": "cus_MqPopQyEyQHKqw",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 21 Nov 2022 23:00:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_MqPopQyEyQHKqw
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1M6iybKXBGcbgpbZOtL0d81l
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3808798c-514a-4f79-b153-efd4626ac7f3
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 20[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2900&confirm=true&currency=usd&customer=cus_MqPopQyEyQHKqw&expand[0]=latest_charge.refunds&payment_method=pm_1M6iydKXBGcbgpbZdOnohJnP
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0ab9f9c2-f093-4c9a-bf3b-541151fcadd9
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0ab9f9c2-f093-4c9a-bf3b-541151fcadd9
      Original-Request:
      - req_V6W6mfcRobNAHT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3M6iyeKXBGcbgpbZ1hbW93Jj",
          "object": "payment_intent",
          "amount": 2900,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 2900,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3M6iyeKXBGcbgpbZ1hbW93Jj_secret_uVKXamZo5TBPHaeDJMiguqP9O",
          "confirmation_method": "automatic",
          "created": 1669071636,
          "currency": "usd",
          "customer": "cus_MqPopQyEyQHKqw",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3M6iyeKXBGcbgpbZ1E9ei55N",
            "object": "charge",
            "amount": 2900,
            "amount_captured": 2900,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": "txn_3M6iyeKXBGcbgpbZ1keazAUW",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null
            },
            "calculated_statement_descriptor": "PAY RAILS",
            "captured": true,
            "created": 1669071636,
            "currency": "usd",
            "customer": "cus_MqPopQyEyQHKqw",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "invoice": null,
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 1,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_3M6iyeKXBGcbgpbZ1hbW93Jj",
            "payment_method": "pm_1M6iydKXBGcbgpbZdOnohJnP",
            "payment_method_details": {
              "card": {
                "brand": "visa",
                "checks": {
                  "address_line1_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": null
                },
                "country": "US",
                "exp_month": 11,
                "exp_year": 2023,
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "network": "visa",
                "three_d_secure": null,
                "wallet": null
              },
              "type": "card"
            },
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xRTRiZm5LWEJHY2JncGJaKJWG8JsGMgYN1MVFjtM6LBaET67WqJ1R5LQwiCjaBFsLfvjYLlPv3mZ-d-2RR5CZV9HEvP8n_fTfXB0F",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/charges/ch_3M6iyeKXBGcbgpbZ1E9ei55N/refunds"
            },
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": null
          },
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1M6iydKXBGcbgpbZdOnohJnP",
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 21 Nov 2022 23:00:37 GMT
recorded_with: VCR 6.1.0
