---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_JyYGyTyllXl5zP",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1628049193,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_prefix": "FE1463D6",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Wed, 04 Aug 2021 03:53:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_authenticationRequired/attach
    body:
      encoding: UTF-8
      string: customer=cus_JyYGyTyllXl5zP
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1JKbAMKXBGcbgpbZdxBDQ5a6",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "DE",
            "exp_month": 8,
            "exp_year": 2022,
            "fingerprint": "qu2JxQg97yWGBVrd",
            "funding": "credit",
            "generated_from": null,
            "last4": "3184",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1628049194,
          "customer": "cus_JyYGyTyllXl5zP",
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Wed, 04 Aug 2021 03:53:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_JyYGyTyllXl5zP
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1JKbAMKXBGcbgpbZdxBDQ5a6
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_JyYGyTyllXl5zP",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1628049193,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_prefix": "FE1463D6",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_1JKbAMKXBGcbgpbZdxBDQ5a6",
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Wed, 04 Aug 2021 03:53:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2900&confirm=true&confirmation_method=automatic&currency=usd&customer=cus_JyYGyTyllXl5zP&payment_method=pm_1JKbAMKXBGcbgpbZdxBDQ5a6
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_3JKbANKXBGcbgpbZ0YTMK9ds",
          "object": "payment_intent",
          "amount": 2900,
          "amount_capturable": 0,
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges?payment_intent=pi_3JKbANKXBGcbgpbZ0YTMK9ds"
          },
          "client_secret": "pi_3JKbANKXBGcbgpbZ0YTMK9ds_secret_m8QJEOt1Sma6VRpaWP5XiTAXX",
          "confirmation_method": "automatic",
          "created": 1628049195,
          "currency": "usd",
          "customer": "cus_JyYGyTyllXl5zP",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
          },
          "next_action": {
            "type": "use_stripe_sdk",
            "use_stripe_sdk": {
              "type": "three_d_secure_redirect",
              "stripe_js": "https://hooks.stripe.com/redirect/authenticate/src_1JKbANKXBGcbgpbZQKZvUZJa?client_secret=src_client_secret_hyWG26esTp6XjYCGEk7bR485\u0026source_redirect_slug=test_YWNjdF8xRTRiZm5LWEJHY2JncGJaLF9KeVlHMTR0c1ZjQUNkRm5lUzMzTWJyWGtuOENVN3ds0100uTJjjDL7",
              "source": "src_1JKbANKXBGcbgpbZQKZvUZJa"
            }
          },
          "on_behalf_of": null,
          "payment_method": "pm_1JKbAMKXBGcbgpbZdxBDQ5a6",
          "payment_method_options": {
            "card": {
              "installments": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_action",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Wed, 04 Aug 2021 03:53:16 GMT
recorded_with: VCR 6.0.0
