---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_QdYwHlfK8WAKS8
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>PmHolKXBGcbgpbZ<VENDOR_AUTH_CODE>0V4d0Jt
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 56a9a029-4f65-48ed-8e29-ec90c77d22cd
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 56a9a029-4f65-48ed-8e29-ec90c77d22cd
      Original-Request:
      - req_P2<VENDOR_AUTH_CODE>bpG564oiQug
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_QdYwHlfK8WAKS8",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>7233060<VENDOR_ID>9,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_prefi<VENDOR_AUTH_CODE>": "95<VENDOR_ID>B3882",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_<VENDOR_ID>PmHolKXBGcbgpbZ<VENDOR_AUTH_CODE>0V4d0Jt",
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 10 Aug 2024 16:07:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents/pi_3PmHomKXBGcbgpbZ0VTZq9KC/capture
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - cc43c4ea-db6<VENDOR_ID>-4c4d-94e8-ef33d44ebd6f
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cc43c4ea-db6<VENDOR_ID>-4c4d-94e8-ef33d44ebd6f
      Original-Request:
      - req_tlV0ymTEpAD3sX
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3PmHomKXBGcbgpbZ0VTZq9KC",
          "object": "payment_intent",
          "amount": 2900,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 2900,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_<PADDLE_API_KEY>": "pi_3PmHomKXBGcbgpbZ0VTZq9KC_<PADDLE_API_KEY>_sHZDCGG27FWYhgezAA9ToEyYi",
          "confirmation_method": "automatic",
          "created": <VENDOR_ID>723306020,
          "currency": "usd",
          "customer": "cus_QdYwHlfK8WAKS8",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3PmHomKXBGcbgpbZ0sZ5ke9v",
          "livemode": false,
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_<VENDOR_ID>PmHolKXBGcbgpbZ<VENDOR_AUTH_CODE>0V4d0Jt",
          "payment_method_configuration_details": {
            "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
            "parent": null
          },
          "payment_method_options": {
            "afterpay_clearpay": {
              "reference": null
            },
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "klarna": {
              "preferred_locale": null
            },
            "link": {
              "persistent_token": null
            }
          },
          "payment_method_types": [
            "card",
            "afterpay_clearpay",
            "klarna",
            "link"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Sat, 10 Aug 2024 16:07:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/charges/ch_3PmHomKXBGcbgpbZ0sZ5ke9v?e<VENDOR_AUTH_CODE>pand%5B%5D=invoice.total_discount_amounts.discount&e<VENDOR_AUTH_CODE>pand%5B%5D=invoice.total_ta<VENDOR_AUTH_CODE>_amounts.ta<VENDOR_AUTH_CODE>_rate&e<VENDOR_AUTH_CODE>pand%5B%5D=refunds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3PmHomKXBGcbgpbZ0sZ5ke9v",
          "object": "charge",
          "amount": 2900,
          "amount_captured": 2900,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "t<VENDOR_AUTH_CODE>n_3PmHomKXBGcbgpbZ0DKo<VENDOR_AUTH_CODE>e6p",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "PAY RAILS",
          "captured": true,
          "created": <VENDOR_ID>723306020,
          "currency": "usd",
          "customer": "cus_QdYwHlfK8WAKS8",
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 7,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3PmHomKXBGcbgpbZ0VTZq9KC",
          "payment_method": "pm_<VENDOR_ID>PmHolKXBGcbgpbZ<VENDOR_AUTH_CODE>0V4d0Jt",
          "payment_method_details": {
            "card": {
              "amount_authorized": 2900,
              "authorization_code": null,
              "brand": "visa",
              "capture_before": <VENDOR_ID>7239<VENDOR_ID>0820,
              "checks": {
                "address_line<VENDOR_ID>_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "e<VENDOR_AUTH_CODE>p_month": 8,
              "e<VENDOR_AUTH_CODE>p_year": 2025,
              "e<VENDOR_AUTH_CODE>tended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "w4XDzQOFakih5EZM",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "ma<VENDOR_AUTH_CODE>imum_amount_capturable": 2900,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaKKWg3rUGMgZAfyFiHzo6LBao5P_e0yYmVZ-FF_hGv3UjbXs<VENDOR_AUTH_CODE>qc4pNUYsL_XqAJQt8DutBKmjDTct5Ked",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v<VENDOR_ID>/charges/ch_3PmHomKXBGcbgpbZ0sZ5ke9v/refunds"
          },
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Sat, 10 Aug 2024 16:07:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_S<VENDOR_ID>2<VENDOR_ID>4pN7hluybV
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>R6z<VENDOR_AUTH_CODE>SKXBGcbgpbZfzhjraHw
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 833076d0-f<VENDOR_ID>9f-463e-9a20-8a003b4bc3ad
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 833076d0-f<VENDOR_ID>9f-463e-9a20-8a003b4bc3ad
      Original-Request:
      - req_eYQeTEyBm5QhsA
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_S<VENDOR_ID>2<VENDOR_ID>4pN7hluybV",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>7430<VENDOR_ID>8590,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_prefi<VENDOR_AUTH_CODE>": "C0D839D9",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_<VENDOR_ID>R6z<VENDOR_AUTH_CODE>SKXBGcbgpbZfzhjraHw",
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 26 Mar 2025 19:49:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents/pi_3R6z<VENDOR_AUTH_CODE>TKXBGcbgpbZ<VENDOR_ID>R2XPC2U/capture
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - faea9535-a57<VENDOR_ID>-4ba5-a02d-cd20b5f3b8f5
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      Content-Type:
      - application/<VENDOR_AUT[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/charges/ch_3R6z<VENDOR_AUTH_CODE>TKXBGcbgpbZ<VENDOR_ID>tO<VENDOR_ID>so<VENDOR_ID>W?e<VENDOR_AUTH_CODE>pand%5B%5D=balance_transaction&e<VENDOR_AUTH_CODE>pand%5B%5D=invoice.total_discount_amounts.discount&e<VENDOR_AUTH_CODE>pand%5B%5D=invoice.total_ta<VENDOR_AUTH_CODE>_amounts.ta<VENDOR_AUTH_CODE>_rate&e<VENDOR_AUTH_CODE>pand%5B%5D=refunds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3R6z<VENDOR_AUTH_CODE>TKXBGcbgpbZ<VENDOR_ID>tO<VENDOR_ID>so<VENDOR_ID>W",
          "object": "charge",
          "amount": 2900,
          "amount_captured": 2900,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "t<VENDOR_AUTH_CODE>n_3R6z<VENDOR_AUTH_CODE>TKXBGcbgpbZ<VENDOR_ID>w7NsA8H",
            "object": "balance_transaction",
            "amount": 2900,
            "available_on": <VENDOR_ID>743552000,
            "created": <VENDOR_ID>7430<VENDOR_ID>8592,
            "currency": "usd",
            "description": null,
            "e<VENDOR_AUTH_CODE>change_rate": null,
            "fee": <VENDOR_ID><VENDOR_ID>4,
            "fee_details": [
              {
                "amount": <VENDOR_ID><VENDOR_ID>4,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 2786,
            "reporting_category": "charge",
            "source": "ch_3R6z<VENDOR_AUTH_CODE>TKXBGcbgpbZ<VENDOR_ID>tO<VENDOR_ID>so<VENDOR_ID>W",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "PAY RAILS",
          "captured": true,
          "created": <VENDOR_ID>7430<VENDOR_ID>859<VENDOR_ID>,
          "currency": "usd",
          "customer": "cus_S<VENDOR_ID>2<VENDOR_ID>4pN7hluybV",
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 30,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3R6z<VENDOR_AUTH_CODE>TKXBGcbgpbZ<VENDOR_ID>R2XPC2U",
          "payment_method": "pm_<VENDOR_ID>R6z<VENDOR_AUTH_CODE>SKXBGcbgpbZfzhjraHw",
          "payment_method_details": {
            "ca[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - "<VENDOR_ID>5883<VENDOR_ID>7a-<VENDOR_ID>438-403f-bd67-<VENDOR_ID>8e<VEN[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_S<VENDOR_ID>2A20BgJ5XvD8
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 5ca0<VENDOR_ID>570-<VENDOR_ID>7f9-46ed-b<VENDOR_ID>bd-f8c963ce5<VENDOR_ID>de
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5ca0<VENDOR_ID>570-<VENDOR_ID>7f9-46ed-b<VENDOR_ID>bd-f8c963ce5<VENDOR_ID>de
      Original-Request:
      - req_8gT75DmoimH3Oy
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>R706TKXBGcbgpbZCIVJVz9k",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": 3,
            "e<VENDOR_AUTH_CODE>p_year": 2026,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>7430<VENDOR_ID>9<VENDOR_ID>49,
          "customer": "cus_S<VENDOR_ID>2A20BgJ5XvD8",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 26 Mar 2025 19:59:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_S<VENDOR_ID>2A20BgJ5XvD8
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>R706TKXBGcbgpbZCIVJVz9k
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - f50b54a4-f3f3-4422-9e06-8aa8e9c6a53a
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/<VENDOR_[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents
    body:
      encoding: UTF-8
      string: amount=2900&currency=usd&customer=cus_S<VENDOR_ID>2A20BgJ5XvD8&e<VENDOR_AUTH_CODE>pand[0]=latest_charge.refunds&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_<VENDOR_ID>R706TKXBGcbgpbZCIVJVz9k&capture_method=manual
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents/pi_3R706UKXBGcbgpbZ0qK7VTmo/capture
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 33cc92e0-7687-40cb-b587-f4ef9a56<VENDOR_ID>da9
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    sta[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/charges/ch_3R706UKXBGcbgpbZ0IodJdzT?e<VENDOR_AUTH_CODE>pand%5B%5D=balance_transaction&e<VENDOR_AUTH_CODE>pand%5B%5D=invoice.total_discount_amounts.discount&e<VENDOR_AUTH_CODE>pand%5B%5D=invoice.total_ta<VENDOR_AUTH_CODE>_amounts.ta<VENDOR_AUTH_CODE>_rate&e<VENDOR_AUTH_CODE>pand%5B%5D=refunds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGD[...]
