---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=boleto&boleto[tax_id]=000.000.000-00&billing_details[email]=test%40example.org&billing_details[name]=Test+User&billing_details[address][line1]=1+Fake+Street&billing_details[address][city]=Salvador&billing_details[address][state]=BA&billing_details[address][country]=BR&billing_details[address][postal_code]=41940-340
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1JN3aPKXBGcbgpbZFnPs07ly",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": "Salvador",
              "country": "BR",
              "line1": "1 Fake Street",
              "line2": null,
              "postal_code": "41940-340",
              "state": "BA"
            },
            "email": "test@example.org",
            "name": "Test User",
            "phone": null
          },
          "boleto": {
            "tax_id": "000.000.000-00"
          },
          "created": 1628635097,
          "customer": null,
          "livemode": false,
          "metadata": {
          },
          "type": "boleto"
        }
  recorded_at: Tue, 10 Aug 2021 22:38:16 GMT
recorded_with: VCR 6.0.0
