---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods
    body:
      encoding: UTF-8
      string: type=giropay&billing_details[name]=Test+User
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - b607c64f-df0c-4883-9069-ad<VENDOR_ID>dbd80a739
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b607c64f-df0c-4883-9069-ad<VENDOR_ID>dbd80a739
      Original-Request:
      - req_imiaPDODbgyU3F
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>SOMcRKXBGcbgpbZl9P9A2a6",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": "Test User",
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "created": <VENDOR_ID>76<VENDOR_ID>9336<VENDOR_ID><VENDOR_ID>,
          "customer": null,
          "giropay": {},
          "livemode": false,
          "metadata": {},
          "type": "giropay"
        }
  recorded_at: Fri, 31 Oct 2025 18:00:11 GMT
recorded_with: VCR 6.3.1
