---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=gob%40bluth.com&name=&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 77db<VENDOR_ID><VENDOR_ID>6a-5e47-474c-b8ce-f78f4c44e693
      Stripe-Version:
      - 2026-08-26.dahlia
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 77db<VENDOR_ID><VENDOR_ID>6a-5e47-474c-b8ce-f78f4c44e693
      Original-Request:
      - req_njMojePTJJWh7r
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VIORJ<VENDOR_AUTH_CODE>U8U0JvIe",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>78992<VENDOR_ID>922,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "SYI56S6J",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:32:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_VIORJ<VENDOR_AUTH_CODE>U8U0JvIe
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 4efeb3f8-<VENDOR_ID>f<VENDOR_ID>7-4f9f-ac53-554c4d2ce4ec
      Stripe-Version:
      - 2026-08-26.dahlia
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4efeb3f8-<VENDOR_ID>f<VENDOR_ID>7-4f9f-ac53-554c4d2ce4ec
      Original-Request:
      - req_90veJTD6XEqjdl
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>UHneoQK2ZHS99Rk2kyApuK3",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": 9,
            "e<VENDOR_AUTH_CODE>p_year": 2027,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>78992<VENDOR_ID>922,
          "customer": "cus_VIORJ<VENDOR_AUTH_CODE>U8U0JvIe",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Sun, 20 Sep 2026 16:32:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_VIORJ<VENDOR_AUTH_CODE>U8U0JvIe
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>UHneoQK2ZHS99Rk2kyApuK3
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - dc63b492-bf8b-4c<VENDOR_ID>a-aaf4-f864529cf4af
      Stripe-Version:
      - 2026-08-26.dahlia
      Stripe-Account:
      - a[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents
    body:
      encoding: UTF-8
      string: amount=<VENDOR_ID>000&currency=usd&customer=cus_VIORJ<VENDOR_AUTH_CODE>U8U0JvIe&e<VENDOR_AUTH_CODE>pand[0]=latest_charge.balance_transaction&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=latest_charge.payment_intent&e<VENDOR_AUTH_CODE>pand[2]=latest_charge.refunds.data.balance_transaction&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_<VENDOR_ID>UHneoQK2ZHS99Rk2kyApuK3
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 4465be62-cc77-40cf-93bb-040fee47b<VENDOR_ID>ab
      Stripe-Version:
      - 2026-08-26.dahlia
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4465be62-cc77-40cf-93bb-040fee47b<VENDOR_ID>ab
      Original-Request:
      - req_v7jbkjYDDb<VENDOR_ID>daR
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3UHnepQK2ZHS99Rk<VENDOR_ID>3Wpm7N5",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": <VENDOR_ID>000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": <VENDOR_ID>000,
          "application": "ca_J526GYgmSwFgKMno9PpWP7RTYw0iB3mM",
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_<PADDLE_API_KEY>": "pi_3UHnepQK2ZHS99Rk<VENDOR_ID>3Wpm7N5_<PADDLE_API_KEY>_AWPlyTlD8uM2fXyJuUNAC5B52",
          "confirmation_method": "automatic",
          "created": <VENDOR_ID>78992<VENDOR_ID>923,
          "currency": "usd",
          "customer": "cus_VIORJ<VENDOR_AUTH_CODE>U8U0JvIe",
          "customer_account": null,
          "description": null,
          "e<VENDOR_AUTH_CODE>cluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3UHnepQK2ZHS99Rk<VENDOR_ID>nC<VENDOR_AUTH_CODE>zpBd",
            "object": "charge",
            "amount": <VENDOR_ID>000,
            "amount_captured": <VENDOR_ID>000,
            "amount_refunded": 0,
            "application": "ca_J526GYgmSwFgKMno9PpWP7RTYw0iB3mM",
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": null,
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line<VENDOR_ID>": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null,
              "ta<VENDOR_AUTH_CODE>_id": null
            },
            "calculated_statement_descriptor": "BUSINESS.COM",
            "captured": true,
            "created": <VENDOR_ID>78992<VENDOR_ID>923,
            "currency": "usd",
            "customer": "cus_VIORJ<VENDOR_AUTH_CODE>U8U0JvIe",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "advice_code": null,
              "network_advice_code": null,
              "network_decline_code": null,
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 30,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": {
              "id": "pi_3UHnepQK2ZHS99Rk<VENDOR_ID>3Wpm7N5",
              "object": "payment_intent",
              "allowed_payment_method_types": null,
              "amount": <VENDOR_ID>000,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": <VENDOR_ID>000,
              "application": "ca_J526GYgmSwFgKMno9PpWP7RTYw0iB3mM",
              "application_fee_amount": null,
              "automatic_payment_methods": {
                "allow_redirects": "always",
                "enabled": true
              },
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic_async",
              "client_<PADDLE_API_KEY>": "pi_3UHnepQK2ZHS99Rk<VENDOR_ID>3Wpm7N5_<PADDLE_API_KEY>_AWPlyTlD8uM2fXyJuUNAC5B52",
              "confirmation_method": "automatic",
              "created": <VENDOR_ID>78992<VENDOR_ID>923,
              "currency": "usd",
              "customer": "cus_VIORJ<VENDOR_AUTH_CODE>U8U0JvIe",
              "customer_account": null,
              "description": null,
              "e<VENDOR_AUTH_CODE>cluded_payment_method_types": null,
              "last_payment_error": null,
              "latest_charge": "ch_3UHnepQK2ZHS99Rk<VENDOR_ID>nC<VENDOR_AUTH_CODE>zpBd",
              "livemode": false,
              "managed_payments": {
                "enabled": false
              },
              "metadata": {},
              "ne<VENDOR_AUTH_CODE>t_action": null,
              "on_behalf_of": null,
              "payment_method": "pm_<VENDOR_ID>UHneoQK2ZHS99Rk2kyApuK3",
              "payment_method_configuration_details": {
                "id": "pmc_<VENDOR_ID>SRzmBQK2ZHS99RksgsSubjz",
                "parent": "pmc_<VENDOR_ID>RpBqyKXBGcbgpbZsP7BtXy6"
              },
              "payment_method_options": {
                "card": {
                  "installments": null,
                  "mandate_options": null,
                  "network": null,
                  "request_three_d_secure": "automatic"
                },
                "link": {
                  "persistent_token": null
                }
              },
              "payment_method_types": [
                "card",
                "link"
              ],
              "payment_record": null,
              "processing": null,
              "receipt_email": null,
              "review": null,
              "setup_future_usage": null,
              "shared_payment_granted_token": null,
              "shipping": null,
              "source": null,
              "statement_descriptor": null,
              "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
              "status": "succeeded",
              "transfer_data": null,
              "transfer_group": null
            },
            "payment_method": "pm_<VENDOR_ID>UHneoQK2ZHS99Rk2kyApuK3",
            "payment_method_details": {
              "card": {
                "amount_authorized": <VENDOR_ID>000,
                "authorization_code": "579<VENDOR_ID>56",
                "brand": "visa",
                "checks": {
                  "address_line<VENDOR_ID>_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": "pass"
                },
                "country": "US",
                "electronic_commerce_indicator": "07",
                "e<VENDOR_AUTH_CODE>p_month": 9,
                "e<VENDOR_AUTH_CODE>p_year": 2027,
                "e<VENDOR_AUTH_CODE>tended_authorization": {
                  "status": "disabled"
                },
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "incremental_authorization": {
                  "status": "unavailable"
                },
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "multicapture": {
                  "status": "unavailable"
                },
                "network": "visa",
                "network_token": {
                  "used": false
                },
                "network_transaction_id": "<VENDOR_ID>05<VENDOR_ID>02<VENDOR_ID>047055<VENDOR_ID><VENDOR_ID>",
                "overcapture": {
                  "ma<VENDOR_AUTH_CODE>imum_amount_capturable": <VENDOR_ID>000,
                  "status": "unavailable"
                },
                "regulated_status": "unregulated",
                "three_d_secure": null,
                "transaction_link_id": null,
                "wallet": null
              },
              "type": "card"
            },
            "radar_options": {},
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8<VENDOR_AUTH_CODE>SVN<VENDOR_ID>TE5RSzJaSFM5OVJrKIOVwNUGMgZ7-D8w8Uk6LBYy4ezaJ_9CEzJHCNDoUBIFB9hsKtN_s-mtWaPvCTgyYOWVW-Y46O32M5ct",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v<VENDOR_ID>/charges/ch_3UHnepQK2ZHS99Rk<VENDOR_ID>nC<VENDOR_AUTH_CODE>zpBd/refunds"
            },
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": null
          },
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_<VENDOR_ID>UHneoQK2ZHS99Rk[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?payment%5Bpayment_intent%5D=pi_3UHnepQK2ZHS99Rk<VENDOR_ID>3Wpm7N5&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2026-08-26.dahlia
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Sun, 20 Sep 2026 16:32:03 GMT
recorded_with: VCR 6.4.0
