---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - cc66aeee-09f7-450c-89<VENDOR_ID><VENDOR_ID>-9b9c<VENDOR_ID>df9c2<VENDOR_ID>c
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cc66aeee-09f7-450c-89<VENDOR_ID><VENDOR_ID>-9b9c<VENDOR_ID>df9c2<VENDOR_ID>c
      Original-Request:
      - req_y<VENDOR_ID>asyD8SKI6I9g
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VIOQVddqJh8HWR",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>78992<VENDOR_ID>857,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "LUB7RUYT",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:30:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_VIOQVddqJh8HWR
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - b0becf36-2dcd-4303-873f-<VENDOR_ID>4d730209838
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b0becf36-2dcd-4303-873f-<VENDOR_ID>4d730209838
      Original-Request:
      - req_Tsh8<VENDOR_AUTH_CODE>VMP<VENDOR_AUTH_CODE>tBzcs
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>UHndlKXBGcbgpbZmYsJwhDN",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": 9,
            "e<VENDOR_AUTH_CODE>p_year": 2027,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>78992<VENDOR_ID>857,
          "customer": "cus_VIOQVddqJh8HWR",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Sun, 20 Sep 2026 16:30:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_VIOQVddqJh8HWR
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>UHndlKXBGcbgpbZmYsJwhDN
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 53c3e308-3c4a-4089-aff8-4c8c5fd93e72
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_VIOQVddqJh8HWR&amount=<VENDOR_ID>000&currency=usd&description=One-time+setup+fee
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - e2c348b9-246d-426f-857d-25<VENDOR_ID>8<VENDOR_ID>9ba8fdd
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e2c348b9-246d-426f-857d-25<VENDOR_ID>8<VENDOR_ID>9ba8fdd
      Original-Request:
      - req_DPorupqgmdc6iU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ii_<VENDOR_ID>UHndmKXBGcbgpbZijKIqnYH",
          "object": "invoiceitem",
          "amount": <VENDOR_ID>000,
          "currency": "usd",
          "customer": "cus_VIOQVddqJh8HWR",
          "customer_account": null,
          "date": <VENDOR_ID>78992<VENDOR_ID>858,
          "description": "One-time setup fee",
          "discountable": true,
          "discounts": [],
          "frozen_fields": [],
          "invoice": null,
          "invoicing_rules": [],
          "livemode": false,
          "metadata": {},
          "parent": null,
          "period": {
            "end": <VENDOR_ID>78992<VENDOR_ID>858,
            "start": <VENDOR_ID>78992<VENDOR_ID>858
          },
          "pricing": {
            "price_details": {
              "price": "price_<VENDOR_ID>PmHofKXBGcbgpbZCVOHQep3",
              "product": "prod_QdYwATBkKi2FtY"
            },
            "type": "price_details",
            "unit_amount_decimal": "<VENDOR_ID>000"
          },
          "proration": false,
          "quantity": <VENDOR_ID>,
          "quantity_decimal": "<VENDOR_ID>",
          "ta<VENDOR_AUTH_CODE>_rates": [],
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:30:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoices
    body:
      encoding: UTF-8
      string: pending_invoice_items_behavior=include&customer=cus_VIOQVddqJh8HWR
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 63cbb78c-b3a7-4b9f-a485-<VENDOR_ID>080d6e4<VENDOR_ID>075
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 63cbb78c-b3a7-4b9f-a485-<VENDOR_ID>080d6e4<VENDOR_ID>075
      Original-Request:
      - req_49abTQBAV7<VENDOR_ID>R<VENDOR_ID>Q
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "in_<VENDOR_ID>UHndnKXBGcbgpbZOLJEzoXT",
          "object": "invoice",
          "account_country": "US",
          "account_name": "Pay",
          "account_ta<VENDOR_AUTH_CODE>_ids": null,
          "amount_due": <VENDOR_ID>000,
          "amount_overpaid": 0,
          "amount_paid": 0,
          "amount_remaining": <VENDOR_ID>000,
          "amount_shipping": 0,
          "application": null,
          "attempt_count": 0,
          "attempted": false,
          "auto_advance": false,
          "automatic_ta<VENDOR_AUTH_CODE>": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null,
            "provider": null,
            "status": null
          },
          "automatically_finalizes_at": null,
          "billing_reason": "manual",
          "collection_method": "charge_automatically",
          "created": <VENDOR_ID>78992<VENDOR_ID>859,
          "currency": "usd",
          "custom_fields": null,
          "customer": "cus_VIOQVddqJh8HWR",
          "customer_account": null,
          "customer_address": null,
          "customer_email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "customer_name": "Stripe User",
          "customer_phone": null,
          "customer_shipping": null,
          "customer_ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "customer_ta<VENDOR_AUTH_CODE>_ids": [],
          "default_payment_method": null,
          "default_source": null,
          "default_ta<VENDOR_AUTH_CODE>_rates": [],
          "description": null,
          "discounts": [],
          "due_date": null,
          "effective_at": null,
          "ending_balance": null,
          "footer": null,
          "from_invoice": null,
          "hosted_invoice_url": null,
          "invoice_pdf": null,
          "issuer": {
            "type": "self"
          },
          "last_finalization_error": null,
          "latest_revision": null,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "il_<VENDOR_ID>UHndmKXBGcbgpbZs6HwLoqv",
                "object": "line_item",
                "amount": <VENDOR_ID>000,
                "currency": "usd",
                "description": "One-time setup fee",
                "discount_amounts": [],
                "discountable": true,
                "discounts": [],
                "invoice": "in_<VENDOR_ID>UHndnKXBGcbgpbZOLJEzoXT",
                "livemode": false,
                "metadata": {},
                "parent": {
                  "invoice_item_details": {
                    "invoice_item": "ii_<VENDOR_ID>UHndmKXBGcbgpbZijKIqnYH",
                    "proration": false,
                    "proration_details": {
                      "credited_items": null
                    },
                    "subscription": null
                  },
                  "subscription_item_details": null,
                  "type": "invoice_item_details"
                },
                "period": {
                  "end": <VENDOR_ID>78992<VENDOR_ID>858,
                  "start": <VENDOR_ID>78992<VENDOR_ID>858
                },
                "preta<VENDOR_AUTH_CODE>_credit_amounts": [],
                "pricing": {
                  "price_details": {
                    "price": "price_<VENDOR_ID>PmHofKXBGcbgpbZCVOHQep3",
                    "product": "prod_QdYwATBkKi2FtY"
                  },
                  "type": "price_details",
                  "unit_amount_decimal": "<VENDOR_ID>000"
                },
                "quantity": <VENDOR_ID>,
                "quantity_decimal": "<VENDOR_ID>",
                "subtotal": <VENDOR_ID>000,
                "ta<VENDOR_AUTH_CODE>es": []
              }
            ],
            "has_more": false,
            "total_count": <VENDOR_ID>,
            "url": "/v<VENDOR_ID>/invoices/in_<VENDOR_ID>UHndnKXBGcbgpbZOLJEzoXT/lines"
          },
          "livemode": false,
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_payment_attempt": null,
          "number": null,
          "on_behalf_of": null,
          "parent": null,
          "payment_settings": {
            "default_mandate": null,
            "payment_method_options": null,
            "payment_method_types": null
          },
          "period_end": <VENDOR_ID>78992<VENDOR_ID>859,
          "period_start": <VENDOR_ID>78992<VENDOR_ID>859,
          "post_payment_credit_notes_amount": 0,
          "pre_payment_credit_notes_amount": 0,
          "receipt_number": null,
          "rendering": {
            "amount_ta<VENDOR_AUTH_CODE>_display": null,
            "pdf": {
              "page_size": "auto"
            },
            "template": null,
            "template_version": null
          },
          "shipping_cost": null,
          "shipping_details": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "status": "draft",
          "status_transitions": {
            "finalized_at": null,
            "marked_uncollectible_at": null,
            "paid_at": null,
            "voided_at": null
          },
          "subtotal": <VENDOR_ID>000,
          "subtotal_e<VENDOR_AUTH_CODE>cluding_ta<VENDOR_AUTH_CODE>": <VENDOR_ID>000,
          "test_clock": null,
          "total": <VENDOR_ID>000,
          "total_discount_amounts": [],
          "total_e<VENDOR_AUTH_CODE>cluding_ta<VENDOR_AUTH_CODE>": <VENDOR_ID>000,
          "total_preta<VENDOR_AUTH_CODE>_credit_amounts": [],
          "total_ta<VENDOR_AUTH_CODE>es": [],
          "webhooks_delivered_at": <VENDOR_ID>78992<VENDOR_ID>859
        }
  recorded_at: Sun, 20 Sep 2026 16:30:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoices/in_<VENDOR_ID>UHndnKXBGcbgpbZOLJEzoXT/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 634acdfc-6<VENDOR_ID>fc-45d9-ae4f-<VENDOR_ID>9679ca<VENDOR_ID>2387
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
[...]
