---
http_interactions:
- request:
    method: put
    uri: https://api.sandbo<VENDOR_AUTH_CODE>.braintreegateway.com/merchants/zyfwpztymjqdcc5g/customers/bt_<VENDOR_ID>234
    body:
      encoding: UTF-8
      string: |
        <?<VENDOR_AUTH_CODE>ml version="<VENDOR_ID>.0" encoding="UTF-8"?>
        <customer>
          <default-payment-method-token>pm_new</default-payment-method-token>
        </customer>
    headers:
      X-Apiversion:
      - '6'
      Content-Type:
      - application/<VENDOR_AUTH_CODE>ml
      Authorization:
      - Basic NXI<VENDOR_ID>OXJyeGhuODlucGM5bjowMGYwZGY3OTMwM2U<VENDOR_AUTH_CODE>MjcwODg<VENDOR_AUTH_CODE>ZTVmZWRhNzc4ODkyNw==
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/<VENDOR_AUTH_CODE>ml; charset=utf-8
      X-Authentication:
      - basic_auth
      Paypal-Debug-Id:
      - d3c666d57dc0<VENDOR_ID>
      X-Bro<VENDOR_AUTH_CODE>yid:
      - 2c55ce0a-95ea-4bfc-94f8-ae5467358b25
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 19 Nov 2025 02:23:29 GMT
recorded_with: VCR 6.3.1
