---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - e04f2609-fe79-4f69-a823-8<VENDOR_ID>49da5c6e4f
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e04f2609-fe79-4f69-a823-8<VENDOR_ID>49da5c6e4f
      Original-Request:
      - req_29ZIE6QCerLh<VENDOR_ID>W
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_QdZBiuUqY4Ww<VENDOR_ID>y",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>7233069<VENDOR_ID>5,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "8D7A02E3",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 10 Aug 2024 16:21:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_QdZBiuUqY4Ww<VENDOR_ID>y
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 3234356b-7a23-44<VENDOR_ID>c-aca8-d8ac2<VENDOR_ID>d9699f
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3234356b-7a23-44<VENDOR_ID>c-aca8-d8ac2<VENDOR_ID>d9699f
      Original-Request:
      - req_cCaNMJCo3AnO93
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>PmI3DKXBGcbgpbZre3GArdd",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": 8,
            "e<VENDOR_AUTH_CODE>p_year": 2025,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>7233069<VENDOR_ID>6,
          "customer": "cus_QdZBiuUqY4Ww<VENDOR_ID>y",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sat, 10 Aug 2024 16:21:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_QdZBiuUqY4Ww<VENDOR_ID>y
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>PmI3DKXBGcbgpbZre3GArdd
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - c79bace8-3292-4c49-a5c<VENDOR_ID>-dc6<VENDOR_ID>4c2e57[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_QdZBiuUqY4Ww<VENDOR_ID>y&amount=<VENDOR_ID>000&currency=usd&description=One-time+setup+fee
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - d78b9343-3909-4c<VENDOR_ID>5-b<VENDOR_ID>c<VENDOR_ID>-8c84c<VENDOR_ID><VENDOR_ID>3cdba
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d78b9343-3909-4c<VENDOR_ID>5-b<VENDOR_ID>c<VENDOR_ID>-8c84c<VENDOR_ID><VENDOR_ID>3cdba
      Original-Request:
      - req_Fot4zyvwYUeDpr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ii_<VENDOR_ID>PmI3EKXBGcbgpbZzHYCiCcp",
          "object": "invoiceitem",
          "amount": <VENDOR_ID>000,
          "currency": "usd",
          "customer": "cus_QdZBiuUqY4Ww<VENDOR_ID>y",
          "date": <VENDOR_ID>7233069<VENDOR_ID>6,
          "description": "One-time setup fee",
          "discountable": true,
          "discounts": [],
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "period": {
            "end": <VENDOR_ID>7233069<VENDOR_ID>6,
            "start": <VENDOR_ID>7233069<VENDOR_ID>6
          },
          "plan": null,
          "price": {
            "id": "price_<VENDOR_ID>PmHofKXBGcbgpbZCVOHQep3",
            "object": "price",
            "active": false,
            "billing_scheme": "per_unit",
            "created": <VENDOR_ID>7233060<VENDOR_ID>3,
            "currency": "usd",
            "custom_unit_amount": null,
            "livemode": false,
            "lookup_key": null,
            "metadata": {},
            "nickname": null,
            "product": "prod_QdYwATBkKi2FtY",
            "recurring": null,
            "ta<VENDOR_AUTH_CODE>_behavior": "unspecified",
            "tiers_mode": null,
            "transform_quantity": null,
            "type": "one_time",
            "unit_amount": <VENDOR_ID>000,
            "unit_amount_decimal": "<VENDOR_ID>000"
          },
          "proration": false,
          "quantity": <VENDOR_ID>,
          "subscription": null,
          "ta<VENDOR_AUTH_CODE>_rates": [],
          "test_clock": null,
          "unit_amount": <VENDOR_ID>000,
          "unit_amount_decimal": "<VENDOR_ID>000"
        }
  recorded_at: Sat, 10 Aug 2024 16:21:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoices
    body:
      encoding: UTF-8
      string: pending_invoice_items_behavior=include&customer=cus_QdZBiuUqY4Ww<VENDOR_ID>y
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 6db9824a-8d7f-440f-89ce-205b074eed77
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6db9824a-8d7f-440f-89ce-205b074eed77
      Original-Request:
      - req_cZcUFjIXUR<VENDOR_ID>OFJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "in_<VENDOR_ID>PmI3FKXBGcbgpbZHSUvUnwY",
          "object": "invoice",
          "account_country": "US",
          "account_name": "Pay",
          "account_ta<VENDOR_AUTH_CODE>_ids": null,
          "amount_due": <VENDOR_ID>000,
          "amount_paid": 0,
          "amount_remaining": <VENDOR_ID>000,
          "amount_shipping": 0,
          "application": null,
          "application_fee_amount": null,
          "attempt_count": 0,
          "attempted": false,
          "auto_advance": false,
          "automatic_ta<VENDOR_AUTH_CODE>": {
            "enabled": false,
            "liability": null,
            "status": null
          },
          "automatically_finalizes_at": null,
          "billing_reason": "manual",
          "charge": null,
          "collection_method": "charge_automatically",
          "created": <VENDOR_ID>7233069<VENDOR_ID>7,
          "currency": "usd",
          "custom_fields": null,
          "customer": "cus_QdZBiuUqY4Ww<VENDOR_ID>y",
          "customer_address": null,
          "customer_email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "customer_name": "Stripe User",
          "customer_phone": null,
          "customer_shipping": null,
          "customer_ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "customer_ta<VENDOR_AUTH_CODE>_ids": [],
          "default_payment_method": null,
          "default_source": null,
          "default_ta<VENDOR_AUTH_CODE>_rates": [],
          "description": null,
          "discount": null,
          "discounts": [],
          "due_date": null,
          "effective_at": null,
          "ending_balance": null,
          "footer": null,
          "from_invoice": null,
          "hosted_invoice_url": null,
          "invoice_pdf": null,
          "issuer": {
            "type": "self"
          },
          "last_finalization_error": null,
          "latest_revision": null,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "il_<VENDOR_ID>PmI3EKXBGcbgpbZKINbVpnO",
                "object": "line_item",
                "amount": <VENDOR_ID>000,
                "amount_e<VENDOR_AUTH_CODE>cluding_ta<VENDOR_AUTH_CODE>": <VENDOR_ID>000,
                "currency": "usd",
                "description": "One-time setup fee",
                "discount_amounts": [],
                "discountable": true,
                "discounts": [],
                "invoice": "in_<VENDOR_ID>PmI3FKXBGcbgpbZHSUvUnwY",
                "invoice_item": "ii_<VENDOR_ID>PmI3EKXBGcbgpbZzHYCiCcp",
                "livemode": false,
                "metadata": {},
                "period": {
                  "end": <VENDOR_ID>7233069<VENDOR_ID>6,
                  "start": <VENDOR_ID>7233069<VENDOR_ID>6
                },
                "plan": null,
                "price": {
                  "id": "price_<VENDOR_ID>PmHofKXBGcbgpbZCVOHQep3",
                  "object": "price",
                  "active": false,
                  "billing_scheme": "per_unit",
                  "created": <VENDOR_ID>7233060<VENDOR_ID>3,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_QdYwATBkKi2FtY",
                  "recurring": null,
                  "ta<VENDOR_AUTH_CODE>_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "one_time",
                  "unit_amount": <VENDOR_ID>000,
                  "unit_amount_decimal": "<VENDOR_ID>000"
                },
                "proration": false,
                "proration_details": {
                  "credited_items": null
                },
                "quantity": <VENDOR_ID>,
                "subscription": null,
                "ta<VENDOR_AUTH_CODE>_amounts": [],
                "ta<VENDOR_AUTH_CODE>_rates": [],
                "type": "invoiceitem",
                "unit_amount_e<VENDOR_AUTH_CODE>cluding_ta<VENDOR_AUTH_CODE>": "<VENDOR_ID>000"
              }
            ],
            "has_more": false,
            "total_count": <VENDOR_ID>,
            "url": "/v<VENDOR_ID>/invoices/in_<VENDOR_ID>PmI3FKXBGcbgpbZHSUvUnwY/lines"
          },
          "livemode": false,
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_payment_attempt": null,
          "number": null,
          "on_behalf_of": null,
          "paid": false,
          "paid_out_of_band": false,
          "payment_intent": null,
          "payment_settings": {
            "default_mandate": null,
            "payment_method_options": null,
            "payment_method_types": null
          },
          "period_end": <VENDOR_ID>7233069<VENDOR_ID>7,
          "period_start": <VENDOR_ID>7233069<VENDOR_ID>7,
          "post_payment_credit_notes_amount": 0,
          "pre_payment_credit_notes_amount": 0,
          "quote": null,
          "receipt_number": null,
          "rendering": {
            "amount_ta<VENDOR_AUTH_CODE>_display": null,
            "pdf": {
              "page_size": "auto"
            }
          },
          "shipping_cost": null,
          "shipping_details": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "status": "draft",
          "status_transitions": {
            "finalized_at": null,
            "marked_uncollectible_at": null,
            "paid_at": null,
            "voided_at": null
          },
          "subscription": null,
          "subscription_details": {
            "metadata": null
          },
          "subtotal": <VENDOR_ID>000,
          "subtotal_e<VENDOR_AUTH_CODE>cluding_ta<VENDOR_AUTH_CODE>": <VENDOR_ID>000,
          "ta<VENDOR_AUTH_CODE>": null,
          "test_clock": null,
          "total": <VENDOR_ID>000,
          "total_discount_amounts": [],
          "total_e<VENDOR_AUTH_CODE>cluding_ta<VENDOR_AUTH_CODE>": <VENDOR_ID>000,
          "total_ta<VENDOR_AUTH_CODE>_amounts": [],
          "transfer_data": null,
          "webhooks_delivered_at": <VENDOR_ID>7233069<VENDOR_ID>7
        }
  recorded_at: Sat, 10 Aug 2024 16:21:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoices/in_<VENDOR_ID>PmI3FKXBGcbgpbZHSUvUnwY/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - "<VENDOR_ID><VENDOR_ID>8f00ff-6bd3-49<VENDOR_ID>a-9479-0a8ac054<VENDOR_ID>2<VENDOR_ID>a"
      Stripe-Version:
    [...]
