---
http_interactions:
- request:
    method: delete
    uri: https://api.stripe.com/v1/subscriptions/sub_IYB5OQklQXomEl?expand%5B%5D=latest_invoice.charge&expand%5B%5D=latest_invoice.payment_intent&expand%5B%5D=latest_invoice.total_discount_amounts.discount&expand%5B%5D=latest_invoice.total_tax_amounts.tax_rate&expand%5B%5D=pending_setup_intent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 48496a83-f6f6-4475-b794-c26aebcda7d1
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: <STRIPE_PRIVATE_KEY>",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Wed, 04 Jan 2023 16:45:34 GMT
recorded_with: VCR 6.1.0
