---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods
    body:
      encoding: UTF-8
      string: type=boleto&boleto[ta<VENDOR_AUTH_CODE>_id]=000.000.000-00&billing_details[email]=test%40e<VENDOR_AUTH_CODE>ample.org&billing_details[name]=Test+User&billing_details[address][line<VENDOR_ID>]=<VENDOR_ID>+Fake+Street&billing_details[address][city]=Salvador&billing_details[address][state]=BA&billing_details[address][country]=BR&billing_details[address][postal_code]=4<VENDOR_ID>940-340
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - e3298f6c-c3ed-4fdb-8d24-2eb2dd<VENDOR_ID>8<VENDOR_ID>6ba
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e3298f6c-c3ed-4fdb-8d24-2eb2dd<VENDOR_ID>8<VENDOR_ID>6ba
      Original-Request:
      - req_CzAagbUGFnftBJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>R6z<VENDOR_AUTH_CODE>WKXBGcbgpbZH5gEYvq2",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": "Salvador",
              "country": "BR",
              "line<VENDOR_ID>": "<VENDOR_ID> Fake Street",
              "line2": null,
              "postal_code": "4<VENDOR_ID>940-340",
              "state": "BA"
            },
            "email": "test@e<VENDOR_AUTH_CODE>ample.org",
            "name": "Test User",
            "phone": null
          },
          "boleto": {
            "fingerprint": "MwZokDy5EQo<VENDOR_AUTH_CODE>05bq",
            "ta<VENDOR_AUTH_CODE>_id": "000.000.000-00"
          },
          "created": <VENDOR_ID>7430<VENDOR_ID>8594,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "boleto"
        }
  recorded_at: Wed, 26 Mar 2025 19:49:54 GMT
recorded_with: VCR 6.3.1
