---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=gob%40bluth.com&name=
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_IxWGjTYVn9QFwX",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1613511404,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_prefix": "C1D2AB37",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Tue, 16 Feb 2021 21:36:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: customer=cus_IxWGjTYVn9QFwX&payment_method_types[0]=card&mode=subscription&success_url=http%3A%2F%2Flocalhost%3A3000%2F&cancel_url=http%3A%2F%2Flocalhost%3A3000%2F&line_items[0][price]=default&line_items[0][quantity]=1
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cs_test_a1qMgRJUPVnyjUU1JY3rgeDfM7ubwe4n6rRCvbZG205BhBJGwCq4fQYXyF",
          "object": "checkout.session",
          "allow_promotion_codes": null,
          "amount_subtotal": 1000,
          "amount_total": 1000,
          "billing_address_collection": null,
          "cancel_url": "http://localhost:3000/",
          "client_reference_id": null,
          "currency": "usd",
          "customer": "cus_IxWGjTYVn9QFwX",
          "customer_details": null,
          "customer_email": null,
          "livemode": false,
          "locale": null,
          "metadata": {
          },
          "mode": "subscription",
          "payment_intent": null,
          "payment_method_types": [
            "card"
          ],
          "payment_status": "unpaid",
          "setup_intent": null,
          "shipping": null,
          "shipping_address_collection": null,
          "submit_type": null,
          "subscription": null,
          "success_url": "http://localhost:3000/",
          "total_details": {
            "amount_discount": 0,
            "amount_tax": 0
          }
        }
  recorded_at: Tue, 16 Feb 2021 21:36:44 GMT
recorded_with: VCR 6.0.0
