---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 58b65343-628f-4a4d-9ce0-0d3e34e3dc4<VENDOR_ID>
      Stripe-Version:
      - 2026-03-25.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 58b65343-628f-4a4d-9ce0-0d3e34e3dc4<VENDOR_ID>
      Original-Request:
      - req_zmafZy9uLSRwMl
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-03-25.dahlia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UFHpBbwhH<VENDOR_ID>LAIi",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>774905736,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "LFATQ3DO",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Mar 2026 21:22:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/checkout/sessions
    body:
      encoding: UTF-8
      string: customer=cus_UFHpBbwhH<VENDOR_ID>LAIi&mode=payment&success_url=http%3A%2F%2Flocalhost%3A3000%2F%3Fstripe_checkout_session_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=http%3A%2F%2Flocalhost%3A3000%2F%3Fstripe_checkout_session_id%3D%7BCHECKOUT_SESSION_ID%7D&line_items[0][price]=price_<VENDOR_ID>ILVZaKXBGcbgpbZQ26kgXWG&line_items[0][quantity]=<VENDOR_ID>
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - d0bf2<VENDOR_ID><VENDOR_ID>9-<VENDOR_ID>2fa-4ed0-abba-9bb4990eac0b
      Stripe-Version:
      - 2026-03-25.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d0bf2<VENDOR_ID><VENDOR_ID>9-<VENDOR_ID>2fa-4ed0-abba-9bb4990eac0b
      Original-Request:
      - req_OgbIc3J5yrM4LC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-03-25.dahlia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a<VENDOR_ID>pqnykLpwIqifhuigHY5z8AB6RTQN4WcgboNotjBVLoF9nM6<VENDOR_ID><VENDOR_ID><VENDOR_AUTH_CODE>BK<VENDOR_ID>o4s",
          "object": "checkout.session",
          "adaptive_pricing": {
            "enabled": true
          },
          "after_e<VENDOR_AUTH_CODE>piration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": <VENDOR_ID>500,
          "amount_total": <VENDOR_ID>500,
          "automatic_ta<VENDOR_AUTH_CODE>": {
            "enabled": false,
            "liability": null,
            "provider": null,
            "status": null
          },
          "billing_address_collection": null,
          "branding_settings": {
            "background_color": "#ffffff",
            "border_style": "rounded",
            "button_color": "#0074d4",
            "display_name": "Pay",
            "font_family": "default",
            "icon": null,
            "logo": null
          },
          "cancel_url": "http://localhost:3000/?stripe_checkout_session_id={CHECKOUT_SESSION_ID}",
          "client_reference_id": null,
          "client_<PADDLE_API_KEY>": null,
          "collected_information": {
            "business_name": null,
            "individual_name": null,
            "shipping_details": null
          },
          "consent": null,
          "consent_collection": null,
          "created": <VENDOR_ID>774905736,
          "currency": "usd",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_te<VENDOR_AUTH_CODE>t": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": "cus_UFHpBbwhH<VENDOR_ID>LAIi",
          "customer_account": null,
          "customer_creation": null,
          "customer_details": {
            "address": null,
            "business_name": null,
            "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
            "individual_name": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
            "ta<VENDOR_AUTH_CODE>_ids": null
          },
          "customer_email": null,
          "discounts": [],
          "e<VENDOR_AUTH_CODE>pires_at": <VENDOR_ID>774992<VENDOR_ID>36,
          "integration_identifier": null,
          "invoice": null,
          "invoice_creation": {
            "enabled": false,
            "invoice_data": {
              "account_ta<VENDOR_AUTH_CODE>_ids": null,
              "custom_fields": null,
              "description": null,
              "footer": null,
              "issuer": null,
              "metadata": {},
              "rendering_options": null
            }
          },
          "livemode": false,
          "locale": null,
          "metadata": {},
          "mode": "payment",
          "origin_conte<VENDOR_AUTH_CODE>t": null,
          "payment_intent": null,
          "payment_link": null,
          "payment_method_collection": "if_required",
          "payment_method_configuration_details": {
            "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            },
            "us_bank_account": {
              "financial_connections": {
                "permissions": [
                  "payment_method"
                ],
                "prefetch": []
              },
              "verification_method": "automatic"
            },
            "wechat_pay": {
              "app_id": null,
              "client": "web"
            }
          },
          "payment_method_types": [
            "card",
            "afterpay_clearpay",
            "alipay",
            "klarna",
            "link",
            "us_bank_account",
            "wechat_pay"
          ],
          "payment_status": "unpaid",
          "permissions": null,
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "saved_payment_method_options": {
            "allow_redisplay_filters": [
              "always"
            ],
            "payment_method_remove": "disabled",
            "payment_method_save": null
          },
          "setup_intent": null,
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_options": [],
          "status": "open",
          "submit_type": null,
          "subscription": null,
          "success_url": "http://localhost:3000/?stripe_checkout_session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_ta<VENDOR_AUTH_CODE>": 0
          },
          "ui_mode": "hosted_page",
          "url": "https://checkout.stripe.com/c/pay/cs_test_a<VENDOR_ID>pqnykLpwIqifhuigHY5z8AB6RTQN4WcgboNotjBVLoF9nM6<VENDOR_ID><VENDOR_ID><VENDOR_AUTH_CODE>BK<VENDOR_ID>o4s#fidnandhYHdWcX<VENDOR_AUTH_CODE>pYCc%2FJ2FgY2RwaXEnKSdkdW<VENDOR_AUTH_CODE>OYHwnPyd<VENDOR_ID>blp<VENDOR_AUTH_CODE>YHZ<VENDOR_AUTH_CODE>Wm5wRjJVbkE0PHRLXUsyQ<VENDOR_ID>J9T29nfFU2SCcpJ2N3amhWYHdzYHcnP3F3cGApJ2dkZm5id2pwa2FGamlqdyc%2FJyZjY2NjY2MnKSdpZH<VENDOR_AUTH_CODE>qcHFRfHVgJz8ndm<VENDOR_AUTH_CODE>rYmlgWm<VENDOR_AUTH_CODE><VENDOR_AUTH_CODE>YGgnKSdga2RnaWBVaWRmYG<VENDOR_ID>qaWFgd3YnP3F3cGB4JSUl",
          "wallet_options": null
        }
  recorded_at: Mon, 30 Mar 2026 21:22:16 GMT
recorded_with: VCR 6.4.0
