---
http_interactions:
- request:
    method: put
    uri: https://api.sandbox.braintreegateway.com/merchants/zyfwpztymjqdcc5g/customers/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <customer>
          <email>johnny@appleseed.com</email>
          <first-name nil="true"/>
          <last-name nil="true"/>
        </customer>
    headers:
      X-Apiversion:
      - '6'
      Content-Type:
      - application/xml
      Authorization:
      - Basic NXI1OXJyeGhuODlucGM5bjowMGYwZGY3OTMwM2UxMjcwODgxZTVmZWRhNzc4ODkyNw==
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Broxyid:
      - 7e559417-8feb-4d1d-824c-84c88c07510b
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 16 Feb 2021 03:37:45 GMT
recorded_with: VCR 6.0.0
