---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 5ff<VENDOR_ID>2b3e-37da-4caf-9325-62c3bff5a095
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5ff<VENDOR_ID>2b3e-37da-4caf-9325-62c3bff5a095
      Original-Request:
      - req_uZf4RzblZzvYVQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OUdypkgm5b8psb",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>692649629,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_prefi<VENDOR_AUTH_CODE>": "DC259660",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 21 Aug 2023 20:27:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_OUdypkgm5b8psb
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 7bbcbc9d-4709-43df-82af-b6f<VENDOR_ID><VENDOR_ID>deca0ab
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7bbcbc9d-4709-43df-82af-b6f<VENDOR_ID><VENDOR_ID>deca0ab
      Original-Request:
      - req_Jv2LmeyeLK3Sc4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>NhegrKXBGcbgpbZskLzmHgJ",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "e<VENDOR_AUTH_CODE>p_month": 8,
            "e<VENDOR_AUTH_CODE>p_year": 2024,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>692649629,
          "customer": "cus_OUdypkgm5b8psb",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 21 Aug 2023 20:27:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_OUdypkgm5b8psb
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>NhegrKXBGcbgpbZskLzmHgJ
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 5ff59c69-2dab-4d97-ad6a-b<VENDOR_ID>dbec9f9cf5
      Stripe-Vers[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/subscriptions
    body:
      encoding: UTF-8
      string: e<VENDOR_AUTH_CODE>pand[0]=pending_setup_intent&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=latest_invoice.payment_intent&e<VENDOR_AUTH_CODE>pand[2]=latest_invoice.charge&e<VENDOR_AUTH_CODE>pand[3]=latest_invoice.total_discount_amounts.discount&e<VENDOR_AUTH_CODE>pand[4]=latest_invoice.total_ta<VENDOR_AUTH_CODE>_amounts.ta<VENDOR_AUTH_CODE>_rate&items[0][plan]=small-monthly&trial_period_days=<VENDOR_ID>5&customer=cus_OUdypkgm5b8psb
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - f60cf94c-db4f-4cd5-8ad8-80467539f6<VENDOR_ID>9
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f60cf94c-db4f-4cd5-8ad8-80467539f6<VENDOR_ID>9
      Original-Request:
      - req_mlGJG5YlQg9QIV
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_<VENDOR_ID>NhegsKXBGcbgpbZJjeYY8oY",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_ta<VENDOR_AUTH_CODE>": {
            "enabled": false
          },
          "billing_cycle_anchor": <VENDOR_ID>693945630,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": <VENDOR_ID>692649630,
          "currency": "usd",
          "current_period_end": <VENDOR_ID>693945630,
          "current_period_start": <VENDOR_ID>692649630,
          "customer": "cus_OUdypkgm5b8psb",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_ta<VENDOR_AUTH_CODE>_rates": [],
          "description": null,
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_OUdylmc3sfevLj",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": <VENDOR_ID>69264963<VENDOR_ID>,
                "metadata": {},
                "plan": {
                  "id": "small-monthly",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 2500,
                  "amount_decimal": "2500",
                  "billing_scheme": "per_unit",
                  "created": <VENDOR_ID>57<VENDOR_ID>425570,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": <VENDOR_ID>,
                  "livemode": false,
                  "metadata": {},
                  "nickname": "Small Monthly",
                  "product": "prod_EYTX7RYhRjcwKD",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "small-monthly",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": <VENDOR_ID>57<VENDOR_ID>425570,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": "Small Monthly",
                  "product": "prod_EYTX7RYhRjcwKD",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": <VENDOR_ID>,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "ta<VENDOR_AUTH_CODE>_behavior": "e<VENDOR_AUTH_CODE>clusive",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 2500,
                  "unit_amount_decimal": "2500"
                },
                "quantity": <VENDOR_ID>,
                "subscription": "sub_<VENDOR_ID>NhegsKXBGcbgpbZJjeYY8oY",
                "ta<VENDOR_AUTH_CODE>_rates": []
              }
            ],
            "has_more": false,
            "total_count": <VENDOR_ID>,
            "url": "/v<VENDOR_ID>/subscription_items?subscription=sub_<VENDOR_ID>NhegsKXBGcbgpbZJjeYY8oY"
          },
          "latest_invoice": {
            "id": "in_<VENDOR_ID>NhegsKXBGcbgpbZwhmtp4p3",
            "object": "invoice",
            "account_country": "US",
            "account_name": "Pay",
            "account_ta<VENDOR_AUTH_CODE>_ids": null,
            "amount_due": 0,
            "amount_paid": 0,
            "amount_remaining": 0,
            "amount_shipping": 0,
            "application": null,
            "application_fee_amount": null,
            "attempt_count": 0,
            "attempted": true,
            "auto_advance": false,
            "automatic_ta<VENDOR_AUTH_CODE>": {
              "enabled": false,
              "status": null
            },
            "billing_reason": "subscription_create",
            "charge": null,
            "collection_method": "charge_automatically",
            "created": <VENDOR_ID>692649630,
            "currency": "usd",
            "custom_fields": null,
            "customer": "cus_OUdypkgm5b8psb",
            "customer_address": null,
            "customer_email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
            "customer_name": "Stripe User",
            "customer_phone": null,
            "customer_shipping": null,
            "customer_ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
            "customer_ta<VENDOR_AUTH_CODE>_ids": [],
            "default_payment_method": null,
            "default_source": null,
            "default_ta<VENDOR_AUTH_CODE>_rates": [],
            "description": null,
            "discount": null,
            "discounts": [],
            "due_date": null,
            "effective_at": <VENDOR_ID>692649630,
            "ending_balance": 0,
            "footer": null,
            "from_invoice": null,
            "hosted_invoice_url": "https://invoice.stripe.com/i/acct_<VENDOR_ID>E4bfnKXBGcbgpbZ/test_YWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaLF9PVWR5M0h<VENDOR_AUTH_CODE>U2hEdU5nenNSdE54M09mekZ0NHpFQ0lQLDgzMTkwNDMy0200shpw24wh?s=ap",
            "invoice_pdf": "https://pay.stripe.com/invoice/acct_<VENDOR_ID>E4bfnKXBGcbgpbZ/test_YWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaLF9PVWR5M0h<VENDOR_AUTH_CODE>U2hEdU5nenNSdE54M09mekZ0NHpFQ0lQLDgzMTkwNDMy0200shpw24wh/pdf?s=ap",
            "last_finalization_error": null,
            "latest_revision": null,
            "lines": {
              "object": "list",
              "data": [
                {
                  "id": "il_<VENDOR_ID>NhegsKXBGcbgpbZF0Y3YNky",
                  "object": "line_item",
                  "amount": 0,
                  "amount_e<VENDOR_AUTH_CODE>cluding_ta<VENDOR_AUTH_CODE>": 0,
                  "currency": "usd",
                  "description": "Trial period for Test Subscription (per user)",
                  "discount_amounts": [],
                  "discountable": true,
                  "discounts": [],
                  "livemode": false,
                  "metadata": {},
                  "period": {
                    "end": <VENDOR_ID>693945630,
                    "start": <VENDOR_ID>692649630
                  },
                  "plan": {
                    "id": "small-monthly",
                    "object": "plan",
                    "active": true,
                    "aggregate_usage": null,
                    "amount": 2500,
                    "amount_decimal": "2500",
                    "billing_scheme": "per_unit",
                    "created": <VENDOR_ID>57<VENDOR_ID>425570,
                    "currency": "usd",
                    "interval": "[...]
