---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v<VENDOR_ID>/orders/<VENDOR_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json
      Apigw-Requestid:
      - EAiiwiIYiYcEMKw=
    body:
      encoding: UTF-8
      string: '{"jsonapi":{"version":"<VENDOR_ID>.0"},"errors":[{"detail":"Unauthenticated.","status":"40<VENDOR_ID>","title":"Unauthorized"}]}'
  recorded_at: Sun, 20 Sep 2026 17:28:10 GMT
recorded_with: VCR 6.4.0
