---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=gob%40bluth.com&name=
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_IxWG7tjrMBXI43",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1613511401,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_prefix": "464A003A",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Tue, 16 Feb 2021 21:36:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: customer=cus_IxWG7tjrMBXI43&payment_method_types[0]=card&mode=setup&success_url=http%3A%2F%2Flocalhost%3A3000%2F&cancel_url=http%3A%2F%2Flocalhost%3A3000%2F
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cs_test_c14E7OsMwu3xx5eRho2JnicgurpatFiYCtdSS7x62XKizS5bSZGvDwfrxa",
          "object": "checkout.session",
          "allow_promotion_codes": null,
          "amount_subtotal": null,
          "amount_total": null,
          "billing_address_collection": null,
          "cancel_url": "http://localhost:3000/",
          "client_reference_id": null,
          "currency": null,
          "customer": "cus_IxWG7tjrMBXI43",
          "customer_details": null,
          "customer_email": null,
          "livemode": false,
          "locale": null,
          "metadata": {
          },
          "mode": "setup",
          "payment_intent": null,
          "payment_method_types": [
            "card"
          ],
          "payment_status": "no_payment_required",
          "setup_intent": "seti_1ILbDpKXBGcbgpbZkp7Po8DL",
          "shipping": null,
          "shipping_address_collection": null,
          "submit_type": null,
          "subscription": null,
          "success_url": "http://localhost:3000/",
          "total_details": null
        }
  recorded_at: Tue, 16 Feb 2021 21:36:42 GMT
recorded_with: VCR 6.0.0
