---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_QdZBiuUqY4Ww<VENDOR_ID>y
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>PmI3DKXBGcbgpbZre3GArdd
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - c79bace8-3292-4c49-a5c<VENDOR_ID>-dc6<VENDOR_ID>4c2e5762
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c79bace8-3292-4c49-a5c<VENDOR_ID>-dc6<VENDOR_ID>4c2e5762
      Original-Request:
      - req_fKbW<VENDOR_AUTH_CODE>HMYSfAF0O
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_QdZBiuUqY4Ww<VENDOR_ID>y",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>7233069<VENDOR_ID>5,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_prefi<VENDOR_AUTH_CODE>": "8D7A02E3",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_<VENDOR_ID>PmI3DKXBGcbgpbZre3GArdd",
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 10 Aug 2024 16:21:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoices/in_<VENDOR_ID>PmI3FKXBGcbgpbZHSUvUnwY/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - "<VENDOR_ID><VENDOR_ID>8f00ff-6bd3-49<VENDOR_ID>a-9479-0a8ac054<VENDOR_ID>2<VENDOR_ID>a"
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - "<VENDOR_ID><VENDOR_ID>8f00ff-6bd3-49<VENDOR_ID>a-9479-0a8ac054<VENDOR_ID>2<VENDOR_ID>a"
      Original-Request:
      - req_P574b8wKlA7Ik9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "in_<VENDOR_ID>PmI3FKXBGcbgpbZHSUvUnwY",
          "object": "invoice",
          "account_country": "US",
          "account_name": "Pay",
          "account_ta<VENDOR_AUTH_CODE>_ids": null,
          "amount_due": <VENDOR_ID>000,
          "amount_paid": <VENDOR_ID>000,
          "amount_remaining": 0,
          "amount_shipping": 0,
          "application": null,
          "application_fee_amount": null,
          "attempt_count": <VENDOR_ID>,
          "attempted": true,
          "auto_advance": false,
          "automatic_ta<VENDOR_AUTH_CODE>": {
            "enabled": false,
            "liability": null,
            "status": null
          },
          "automatically_finalizes_at": null,
          "billing_reason": "manual",
          "charge": "ch_3PmI3FKXBGcbgpbZ<VENDOR_ID>iX<VENDOR_ID>Zyv<VENDOR_ID>",
          "collection_method": "charge_automatically",
          "created": <VENDOR_ID>7233069<VENDOR_ID>7,
          "currency": "usd",
          "custom_fields": null,
          "customer": "cus_QdZBiuUqY4Ww<VENDOR_ID>y",
          "customer_address": null,
          "customer_email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "customer_name": "Stripe User",
          "customer_phone": null,
          "customer_shipping": null,
          "customer_ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "customer_ta<VENDOR_AUTH_CODE>_ids": [],
          "default_payment_method": null,
          "default_source": null,
          "default_ta<VENDOR_AUTH_CODE>_rates": [],
          "description": null,
          "discount": null,
          "discounts": [],
          "due_date": null,
          "effective_at": <VENDOR_ID>7233069<VENDOR_ID>7,
          "ending_balance": 0,
          "footer": null,
          "from_invoice": null,
          "hosted_invoice_url": "https://invoice.stripe.com/i/acct_<VENDOR_ID>E4bfnKXBGcbgpbZ/test_YWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaLF9RZFpCdzZNSjF4V0NIOXFDTGJMSlJDTENQQThGMllkLDE<VENDOR_AUTH_CODE>Mzg0Nzc<VENDOR_AUTH_CODE>OA0200bvd5SuXN?s=ap",
          "invoice_pdf": "https://pay.stripe.com/invoice/acct_<VENDOR_ID>E4bfnKXBGcbgpbZ/test_YWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaLF9RZFpCdzZNSjF4V0NIOXFDTGJMSlJDTENQQThGMllkLDE<VENDOR_AUTH_CODE>Mzg0Nzc<VENDOR_AUTH_CODE>OA0200bvd5SuXN/pdf?s=ap",
          "issuer": {
            "type": "self"
          },
          "last_finalization_error": null,
          "latest_revision": null,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "il_<VENDOR_ID>PmI3EKXBGcbgpbZKINbVpnO",
                "object": "line_item",
                "amount": <VENDOR_ID>000,
                "amount_e<VENDOR_AUTH_CODE>cluding_ta<VENDOR_AUTH_CODE>": <VENDOR_ID>000,
                "currency": "usd",
                "description": "One-time setup fee",
                "discount_amounts": [],
                "discountable": true,
                "discounts": [],
                "invoice": "in_<VENDOR_ID>PmI3FKXBGcbgpbZHSUvUnwY",
                "invoice_item": "ii_<VENDOR_ID>PmI3EKXBGcbgpbZzHYCiCcp",
                "livemode": false,
                "metadata": {},
                "period": {
                  "end": <VENDOR_ID>7233069<VENDOR_ID>6,
                  "start": <VENDOR_ID>7233069<VENDOR_ID>6
                },
                "plan": null,
                "price": {
                  "id": "price_<VENDOR_ID>PmHofKXBGcbgpbZCVOHQep3",
                  "object": "price",
                  "active": false,
                  "billing_scheme": "per_unit",
                  "created": <VENDOR_ID>7233060<VENDOR_ID>3,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_QdYwATBkKi2FtY",
                  "recurring": null,
                  "ta<VENDOR_AUTH_CODE>_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "one_time",
                  "unit_amount": <VENDOR_ID>000,
                  "unit_amount_decimal": "<VENDOR_ID>000"
                },
                "proration": false,
                "proration_details": {
                  "credited_items": null
                },
                "quantity": <VENDOR_ID>,
                "subscription": null,
                "ta<VENDOR_AUTH_CODE>_amounts": [],
                "ta<VENDOR_AUTH_CODE>_rates": [],
                "type": "invoiceitem",
                "unit_amount_e<VENDOR_AUTH_CODE>cluding_ta<VENDOR_AUTH_CODE>": "<VENDOR_ID>000"
              }
            ],
            "has_more": false,
            "total_count": <VENDOR_ID>,
            "url": "/v<VENDOR_ID>/invoices/in_<VENDOR_ID>PmI3FKXBGcbgpbZHSUvUnwY/lines"
          },
          "livemode": false,
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_payment_attempt": null,
          "number": "8D7A02E3-000<VENDOR_ID>",
          "on_behalf_of": null,
          "paid": true,
          "paid_out_of_band": false,
          "payment_intent": "pi_3PmI3FKXBGcbgpbZ<VENDOR_ID>2ft<VENDOR_AUTH_CODE>4iO",
          "payment_settings": {
            "default_mandate": null,
            "payment_method_options": null,
            "payment_method_types": null
          },
          "period_end": <VENDOR_ID>7233069<VENDOR_ID>7,
          "period_start": <VENDOR_ID>7233069<VENDOR_ID>7,
          "post_payment_credit_notes_amount": 0,
          "pre_payment_credit_notes_amount": 0,
          "quote": null,
          "receipt_number": null,
          "rendering": {
            "amount_ta<VENDOR_AUTH_CODE>_display": null,
            "pdf": {
              "page_size": "letter"
            }
          },
          "shipping_cost": null,
          "shipping_details": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "status": "paid",
          "status_transitions": {
            "finalized_at": <VENDOR_ID>7233069<VENDOR_ID>7,
            "marked_uncollectible_at": null,
            "paid_at": <VENDOR_ID>7233069<VENDOR_ID>7,
            "voided_at": null
          },
          "subscription": null,
          "subscription_details": {
            "metadata": null
          },
          "subtotal": <VENDOR_ID>000,
          "subtotal_e<VENDOR_AUTH_CODE>cluding_ta<VENDOR_AUTH_CODE>": <VENDOR_ID>000,
          "ta<VENDOR_AUTH_CODE>": null,
          "test_clock": null,
          "total": <VENDOR_ID>000,
          "total_discount_amounts": [],
          "total_e<VENDOR_AUTH_CODE>cluding_ta<VENDOR_AUTH_CODE>": <VENDOR_ID>000,
          "total_ta<VENDOR_AUTH_CODE>_amounts": [],
          "transfer_data": null,
          "webhooks_delivered_at": <VENDOR_ID>7233069<VENDOR_ID>7
        }
  recorded_at: Sat, 10 Aug 2024 16:21:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_S<VENDOR_ID><VENDOR_ID>zjW99ySjdCr
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>R6zv9KXBGcbgpbZhFST3B5G
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 9fe<VENDOR_ID>8ddf-5<VENDOR_ID>03-4045-8d<VENDOR_ID>e-734a49<VENDOR_ID>79f73
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9fe<VENDOR_ID>8ddf-5<VENDOR_ID>03-4045-8d<VENDOR_ID>e-734a49<VENDOR_ID>79f73
      Original-Request:
      - req_VFF8Z99jGK3o2J
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_S<VENDOR_ID><VENDOR_ID>zjW99ySjdCr",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>7430<VENDOR_ID>8447,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_prefi<VENDOR_AUTH_CODE>": "B9AC23EE",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_<VENDOR_ID>R6zv9KXBGcbgpbZhFST3B5G",
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 26 Mar 2025 19:47:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoices/in_<VENDOR_ID>R6zvAKXBGcbgpbZ6yuY3YPe/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - c6555d7c-ae4d-4e78-a6d<VENDOR_ID>-<VENDOR_ID><VENDOR_ID>3b25f94d<VENDOR_ID>6
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c6555d7c-ae4d-4e78-a6d<VENDOR_ID>-<VENDOR_ID><VENDOR_ID>3b25f94d<VENDOR_ID>6
      Original-Request:
      - req_PCJpWL0YKG2jPl
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "in_<VENDOR_ID>R6zvAKXBGcbgpbZ6yuY3YPe",
          "object": "invoice",
          "account_country": "US",
          "account_name": "Pay",
          "account_ta<VENDOR_AUTH_CODE>_ids": null,
          "amount_due": <VENDOR_ID>000,
          "amount_overpaid": 0,
          "amount_paid": <VENDOR_ID>000,
          "amount_remaining": 0,
          "amount_shipping": 0,
          "application": null,
          "application_fee_amount": null,
          "attempt_count": <VENDOR_ID>,
          "attempted": true,
          "auto_advance": false,
          "automatic_ta<VENDOR_AUTH_CODE>": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null,
            "status": null
          },
          "automatically_finalizes_at": null,
          "billing_reason": "manual",
          "charge": "ch_3R6zvBKXBGcbgpbZ<VENDOR_ID>pLEHldN",
          "collection_method": "charge_automatically",
          "created": <VENDOR_ID>7430<VENDOR_ID>8448,
          "currency": "usd",
          "custom_fields": null,
          "customer": "cus_S<VENDOR_ID><VENDOR_ID>zjW99ySjdCr",
          "cu[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_S<VENDOR_ID>2<VENDOR_ID>jRfElHMjp6
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>R6z<VENDOR_AUTH_CODE>dKXBGcbgpbZyqvJtqU7
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 2b4b36a8-39f<VENDOR_ID>-43ec-9b99-0623a60f437f
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoices/in_<VENDOR_ID>R6z<VENDOR_AUTH_CODE>eKXBGcbgpbZPRPRnATG/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - "<VENDOR_ID>70e0d07-df<VENDOR_ID>f-4ea6-a86b-263c5<VENDOR_ID>fe0367"
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      Content-Type:
      - application/[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_S<VENDOR_ID>2Ap9ZyPTSfvz
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>R705nKXBGcbgpbZZUzYEkLk
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 69739605-d98b-406f-9d98-e7784da693<VENDOR_ID>4
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - applicatio[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoices/in_<VENDOR_ID>R705oKXBGcbgpbZqoqYuz5J/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - f<VENDOR_ID>d72c99-7235-4a84-9f63-ea3706b6<VENDOR_ID>5<VENDOR_ID>4
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TL2gsQ7ihn5JSH
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SOMb7KXBGcbgpbZDk85Urnj
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 7729e0d6-70<VENDOR_ID>c-46a2-aa83-4c682ae7ecda
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - applicatio[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoices/in_<VENDOR_ID>SOMb8KXBGcbgpbZaPVAMLBv/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 4b8d2b<VENDOR_ID>e-f9ee-4e7<VENDOR_ID>-b<VENDOR_ID>5<VENDOR_ID>-4084fa98857f
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TL2orH<VENDOR_AUTH_CODE>anXIrZv
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SOMipKXBGcbgpbZ0j8THLca
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 7bfc43d8-b078-4<VENDOR_ID>e2-8499-ad09e2<VENDOR_ID>bc80e
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Conte[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoices/in_<VENDOR_ID>SOMiqKXBGcbgpbZwAYueCS6/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 8fc85f7f-e4c0-4ff8-b6e8-382f688a5bb2
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    stat[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TL2y09ETHOMknf
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SOMsmKXBGcbgpbZ0qhspdL4
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 9fc2c724-4de2-4508-8d39-a408<VENDOR_ID>3e7efc5
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - applicatio[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoices/in_<VENDOR_ID>SOMsnKXBGcbgpbZ<VENDOR_ID>ZAJQ3h9/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 64f5e667-0683-4469-9755-<VENDOR_ID>0a38c2b6a3c
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TL3CoSMe2DhAZ7
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SON6YKXBGcbgpbZTJazhNKK
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - fec572c2-8a4e-4c4<VENDOR_ID>-8ccb-7345682424e3
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - applicatio[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoices/in_<VENDOR_ID>SON6ZKXBGcbgpbZIVj<VENDOR_ID><VENDOR_AUTH_CODE>nT0/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 55752970-30b8-403c-9be4-c2e0528a9f5b
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urle[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TM7TfQUDSydP53
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SPPEZKXBGcbgpbZVBXgV7vt
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - a6e34d2a-8f63-475e-9fb6-5b246f407c3d
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoices/in_<VENDOR_ID>SPPEaKXBGcbgpbZMsW<VENDOR_ID>tcm<VENDOR_ID>/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - a66d4a90-<VENDOR_ID>e80-4<VENDOR_ID>bf-9a0c-695af5ad5eb7
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 2f82<VENDOR_ID>b8b-8ab8-4e<VENDOR_ID>0-8d9e-2f8fbf3869b7
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2f82<VENDOR_ID>b8b-8ab8-4e<VENDOR_ID>0-8d9e-2f8fbf3869b7
      Original-Request:
      - req_DNkjRVAfSLyvhb
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TM7XsHEoq<VENDOR_ID>Te<VENDOR_ID>j",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>762<VENDOR_ID>82238,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "IZB6C9GK",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 03 Nov 2025 15:03:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_TM7XsHEoq<VENDOR_ID>Te<VENDOR_ID>j
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 6<VENDOR_ID>7d5d7a-3cdf-46dd-8924-59293e389ccf
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6<VENDOR_ID>7d5d7a-3cdf-46dd-8924-59293e389ccf
      Original-Request:
      - req_vMPYP<VENDOR_AUTH_CODE>0CYZBdc2
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>SPPIYKXBGcbgpbZF7PWjQZy",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": <VENDOR_ID><VENDOR_ID>,
            "e<VENDOR_AUTH_CODE>p_year": 2026,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>762<VENDOR_ID>82238,
          "customer": "cus_TM7XsHEoq<VENDOR_ID>Te<VENDOR_ID>j",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 03 Nov 2025 15:03:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TM7XsHEoq<VENDOR_ID>Te<VENDOR_ID>j
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SPPIYKXBGcbgpbZF7PWjQZy
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 4a77985f-f645-43ff-8<VENDOR_ID>e0-ec30aca<VENDOR_ID>6b20
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Co[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_TM7XsHEoq<VENDOR_ID>Te<VENDOR_ID>j&amount=<VENDOR_ID>000&currency=usd&description=One-time+setup+fee
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 5389498e-02e6-4f44-8902-<VENDOR_ID>56c29e798<VENDOR_ID>7
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5389498e-02e6-4f44-8902-<VENDOR_ID>56c29e798<VENDOR_ID>7
      Original-Request:
      - req_L5rkJb<VENDOR_ID>fXSCNlf
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ii_<VENDOR_ID>SPPIZKXBGcbgpbZ22GX2e3S",
          "object": "invoiceitem",
          "amount": <VENDOR_ID>000,
          "currency": "usd",
          "customer": "cus_TM7XsHEoq<VENDOR_ID>Te<VENDOR_ID>j",
          "date": <VENDOR_ID>762<VENDOR_ID>82239,
          "description": "One-time setup fee",
          "discountable": true,
          "discounts": [],
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "parent": null,
          "period": {
            "end": <VENDOR_ID>762<VENDOR_ID>82239,
            "start": <VENDOR_ID>762<VENDOR_ID>82239
          },
          "pricing": {
            "price_details": {
              "price": "price_<VENDOR_ID>PmHofKXBGcbgpbZCVOHQep3",
              "product": "prod_QdYwATBkKi2FtY"
            },
            "type": "price_details",
            "unit_amount_decimal": "<VENDOR_ID>000"
          },
          "proration": false,
          "quantity": <VENDOR_ID>,
          "ta<VENDOR_AUTH_CODE>_rates": [],
          "test_clock": null
        }
  recorded_at: Mon, 03 Nov 2025 15:03:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoices
    body:
      encoding: UTF-8
      string: pending_invoice_items_behavior=include&customer=cus_TM7XsHEoq<VENDOR_ID>Te<VENDOR_ID>j
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 33daf<VENDOR_ID>95-f532-47d8-8255-6df9548c9557
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AU[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/invoices/in_<VENDOR_ID>SPPIZKXBGcbgpbZ7jLLFkUK/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 65abdc<VENDOR_ID>a-b93c-4fad-b273-64<VENDOR_ID>7f9a6<VENDOR_ID>32e
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-u[...]
