---
  http_interactions:
  - request:
      method: post
      uri: https://vendors.paddle.com/api/2.0/subscription/users
      body:
        encoding: UTF-8
        string: subscription_id=3484448&vendor_auth_code=d4fa0981f2c51335215bfbf31cddfbf1af76951baa11427910&vendor_id=123456
      headers:
        Content-Type:
        - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
        - application/json
      body:
        encoding: ASCII-8BIT
        string: '{"success":true,"response":[{"subscription_id":3484448,"plan_id":594469,"user_id":17368056,"user_email":"test@example.com","marketing_consent":false,"update_url":"https:\/\/checkout.paddle.com\/subscription\/update?user=17368056&subscription=3484448&hash=07e2aacdc9b440d075775cdd147964de23eb5f9ea754282c2206971ad0ecd9f8","cancel_url":"https:\/\/checkout.paddle.com\/subscription\/cancel?user=17368056&subscription=3484448&hash=13918e10c8bedf7b26c13568b3bdb17fa7927c90cd74c2e7a2ac9f7bd196c251","state":"active","signup_date":"2020-05-23
          08:47:54","last_payment":{"amount":0,"currency":"USD","date":"2020-05-23"},"linked_subscriptions":[],"payment_information":{"payment_method":"paypal"},"next_payment":{"amount":0,"currency":"USD","date":"2020-12-31"}}]}'
    recorded_at: Thu, 04 Jun 2020 08:52:07 GMT
  - request:
      method: post
      uri: https://vendors.paddle.com/api/2.0/subscription/users_cancel
      body:
        encoding: UTF-8
        string: subscription_id=3484448&vendor_auth_code=d4fa0981f2c51335215bfbf31cddfbf1af76951baa11427910&vendor_id=123456
      headers:
        Content-Type:
        - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
        - application/json
      body:
        encoding: UTF-8
        string: '{"success":true,"response":null}'
    recorded_at: Thu, 04 Jun 2020 08:52:08 GMT
  recorded_with: VCR 5.1.0
  