---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=gob%40bluth.com&name=&expand[0]=tax
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8340ec02-bb9e-440b-a9be-ff650c9bd075
      Stripe-Version:
      - '2022-11-15'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8340ec02-bb9e-440b-a9be-ff650c9bd075
      Original-Request:
      - req_HU6yYW9os40m6d
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_MqPol5MKsm9DCM",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1669071663,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_prefix": "88FD8F9D",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 21 Nov 2022 23:01:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_MqPol5MKsm9DCM
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f8e58556-392a-40c9-8287-ec31b32a5467
      Stripe-Version:
      - '2022-11-15'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f8e58556-392a-40c9-8287-ec31b32a5467
      Original-Request:
      - req_hCeyoSy6EjDbyT
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1M6iz6QK2ZHS99Rka49W52Yc",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "exp_month": 11,
            "exp_year": 2023,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1669071664,
          "customer": "cus_MqPol5MKsm9DCM",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 21 Nov 2022 23:01:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_MqPol5MKsm9DCM
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1M6iz6QK2ZHS99Rka49W52Yc
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3f06326f-75ee-4efb-a62e-20d4d10d5fa6
      Stripe-Version:
      - '2022-11-15'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99R[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_MqPoDhBzz8RMhr
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1M6iz7KXBGcbgpbZ6SDtYK8q
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c4162a4e-3c99-4728-8a58-ea5b407cde5c
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      mess[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&confirm=true&currency=usd&customer=cus_MqPoDhBzz8RMhr&expand[0]=latest_charge.refunds&payment_method=pm_1M6iz8KXBGcbgpbZmyZhIwXS&application_fee_amount=123&transfer_data[destination]=acct_1ISuLNQK2ZHS99Rk
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 84a030b4-d0a1-4df6-b0b1-eaf953aedb82
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 84a030b4-d0a1-4df6-b0b1-eaf953aedb82
      Original-Request:
      - req_ahfyJwcRyNYf59
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3M6izAKXBGcbgpbZ05bn9uwG",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": null,
          "application_fee_amount": 123,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3M6izAKXBGcbgpbZ05bn9uwG_secret_unoeIiV7G5NfiK6XnsEEPiEhB",
          "confirmation_method": "automatic",
          "created": 1669071668,
          "currency": "usd",
          "customer": "cus_MqPoDhBzz8RMhr",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3M6izAKXBGcbgpbZ0WDCjcCQ",
            "object": "charge",
            "amount": 1000,
            "amount_captured": 1000,
            "amount_refunded": 0,
            "application": null,
            "application_fee": "fee_1M6izBQK2ZHS99RkRgUylf9n",
            "application_fee_amount": 123,
            "balance_transaction": "txn_3M6izAKXBGcbgpbZ0nt5HegS",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null
            },
            "calculated_statement_descriptor": "PAY RAILS",
            "captured": true,
            "created": 1669071668,
            "currency": "usd",
            "customer": "cus_MqPoDhBzz8RMhr",
            "description": null,
            "destination": "acct_1ISuLNQK2ZHS99Rk",
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "invoice": null,
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 52,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_3M6izAKXBGcbgpbZ05bn9uwG",
            "payment_method": "pm_1M6iz8KXBGcbgpbZmyZhIwXS",
            "payment_method_details": {
              "card": {
                "brand": "visa",
                "checks": {
                  "address_line1_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": null
                },
                "country": "US",
                "exp_month": 11,
                "exp_year": 2023,
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "network": "visa",
                "three_d_secure": null,
                "wallet": null
              },
              "type": "card"
            },
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xRTRiZm5LWEJHY2JncGJaKLaG8JsGMgapBku5szI6LBbf-TI_7jsaCOaC6GZYZw32JFgV-2nyytJvMGP9p7nv4a526d0v5zN3rye4",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/charges/ch_3M6izAKXBGcbgpbZ0WDCjcCQ/refunds"
            },
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": null,
            "status": "succeeded",
            "transfer": "tr_3M6izAKXBGcbgpbZ09HmbOqK",
            "transfer_data": {
              "amount": null,
              "destination": "acct_1ISuLNQK2ZHS99Rk"
            },
            "transfer_group": "group_pi_3M6izAKXBGcbgpbZ05bn9uwG"
          },
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1M6iz8KXBGcbgpbZmyZhIwXS",
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": {
            "destination": "acct_1ISuLNQK2ZHS99Rk"
          },
          "transfer_group": "group_pi_3M6izAKXBGcbgpbZ05bn9uwG"
        }
  recorded_at: Mon, 21 Nov 2022 23:01:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3M6izAKXBGcbgpbZ0WDCjcCQ?expand%5B%5D=customer&expand%5B%5D=invoice.subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
   [...]
