---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods
    body:
      encoding: UTF-8
      string: type=sepa_debit&sepa_debit[iban]=DK5000400440<VENDOR_ID><VENDOR_ID>6243&billing_details[email]=test%40e<VENDOR_AUTH_CODE>ample.org&billing_details[name]=Test+User
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 0f366474-a493-4<VENDOR_ID>88-a67b-0<VENDOR_ID>7d2c5d7ab7
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0f366474-a493-4<VENDOR_ID>88-a67b-0<VENDOR_ID>7d2c5d7ab7
      Original-Request:
      - req_RqXHNFZfNCwTO<VENDOR_AUTH_CODE>
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>NhefjKXBGcbgpbZLjCyum65",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": "test@e<VENDOR_AUTH_CODE>ample.org",
            "name": "Test User",
            "phone": null
          },
          "created": <VENDOR_ID>692649559,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "sepa_debit": {
            "bank_code": "0040",
            "branch_code": "",
            "country": "DK",
            "fingerprint": "hXDUt<VENDOR_ID>PnMAsdv0<VENDOR_AUTH_CODE>W",
            "generated_from": {
              "charge": null,
              "setup_attempt": null
            },
            "last4": "6243"
          },
          "type": "sepa_debit"
        }
  recorded_at: Mon, 21 Aug 2023 20:25:59 GMT
recorded_with: VCR 6.2.0
