---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User&expand[0]=tax
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0545ea44-3930-4b7b-ac19-cdf3830e7bd7
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0545ea44-3930-4b7b-ac19-cdf3830e7bd7
      Original-Request:
      - req_kX1s4p7wwN4cBL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_MqPoaUWdKK4rAi",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1669071637,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_prefix": "8FCC349F",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 21 Nov 2022 23:00:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_MqPoaUWdKK4rAi
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - aea1057e-c7e6-4c9e-bd3d-dfa923baaff2
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - aea1057e-c7e6-4c9e-bd3d-dfa923baaff2
      Original-Request:
      - req_7mz1hqMEAqFlpd
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1M6iygKXBGcbgpbZOpxd8VOU",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "exp_month": 11,
            "exp_year": 2023,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1669071638,
          "customer": "cus_MqPoaUWdKK4rAi",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 21 Nov 2022 23:00:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_MqPoaUWdKK4rAi
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1M6iygKXBGcbgpbZOpxd8VOU
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e30be61e-8de0-4080-8883-5af2391a0d43
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 20[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2500&confirm=true&currency=usd&customer=cus_MqPoaUWdKK4rAi&expand[0]=latest_charge.refunds&payment_method=pm_1M6iyhKXBGcbgpbZOPNKUzwo&shipping[name]=Recipient&shipping[address][line1]=One+Infinite+Loop&shipping[address][city]=Cupertino&shipping[address][state]=CA
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - '04528208-efde-4586-af86-464b515fd2fa'
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '04528208-efde-4586-af86-464b515fd2fa'
      Original-Request:
      - req_BmzSGSgjl5fSFq
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3M6iyiKXBGcbgpbZ1YqHXELx",
          "object": "payment_intent",
          "amount": 2500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 2500,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3M6iyiKXBGcbgpbZ1YqHXELx_secret_89WkiYoyecRSnK0ddIPpGiren",
          "confirmation_method": "automatic",
          "created": 1669071640,
          "currency": "usd",
          "customer": "cus_MqPoaUWdKK4rAi",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3M6iyiKXBGcbgpbZ1j83dImg",
            "object": "charge",
            "amount": 2500,
            "amount_captured": 2500,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": "txn_3M6iyiKXBGcbgpbZ1nk2pdxO",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null
            },
            "calculated_statement_descriptor": "PAY RAILS",
            "captured": true,
            "created": 1669071641,
            "currency": "usd",
            "customer": "cus_MqPoaUWdKK4rAi",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "invoice": null,
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 58,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_3M6iyiKXBGcbgpbZ1YqHXELx",
            "payment_method": "pm_1M6iyhKXBGcbgpbZOPNKUzwo",
            "payment_method_details": {
              "card": {
                "brand": "visa",
                "checks": {
                  "address_line1_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": null
                },
                "country": "US",
                "exp_month": 11,
                "exp_year": 2023,
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "network": "visa",
                "three_d_secure": null,
                "wallet": null
              },
              "type": "card"
            },
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xRTRiZm5LWEJHY2JncGJaKJqG8JsGMgYg7CC6M446LBZyD-jOz062LqFMduQTozYfg1eFrOmJ2BOPy1yfT3Nk3JvzlxpUQ8fHGFgf",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/charges/ch_3M6iyiKXBGcbgpbZ1j83dImg/refunds"
            },
            "review": null,
            "shipping": {
              "address": {
                "city": "Cupertino",
                "country": null,
                "line1": "One Infinite Loop",
                "line2": null,
                "postal_code": null,
                "state": "CA"
              },
              "carrier": null,
              "name": "Recipient",
              "phone": null,
              "tracking_number": null
            },
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": null
          },
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1M6iyhKXBGcbgpbZOPNKUzwo",
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": {
            "address": {
              "city": "Cupertino",
              "country": null,
              "line1": "One Infinite Loop",
              "line2": null,
              "postal_code": null,
              "state": "CA"
            },
            "carrier": null,
            "name": "Recipient",
            "phone": null,
            "tracking_number": null
          },
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 21 Nov 2022 23:00:42 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3M6iyiKXBGcbgpbZ1j83dImg?expand%5B%5D=customer&expand%5B%5D=invoice.subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - applicat[...]
