---
http_interactions:
- request:
    method: put
    uri: https://api.sandbo<VENDOR_AUTH_CODE>.braintreegateway.com/merchants/zyfwpztymjqdcc5g/customers/bt_<VENDOR_ID>234
    body:
      encoding: UTF-8
      string: |
        <?<VENDOR_AUTH_CODE>ml version="<VENDOR_ID>.0" encoding="UTF-8"?>
        <customer>
          <default-payment-method-token>pm_3</default-payment-method-token>
        </customer>
    headers:
      X-Apiversion:
      - '6'
      Content-Type:
      - application/<VENDOR_AUTH_CODE>ml
      Authorization:
      - Basic NXI<VENDOR_ID>OXJyeGhuODlucGM5bjowMGYwZGY3OTMwM2U<VENDOR_AUTH_CODE>MjcwODg<VENDOR_AUTH_CODE>ZTVmZWRhNzc4ODkyNw==
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/<VENDOR_AUTH_CODE>ml; charset=utf-8
      X-Authentication:
      - basic_auth
      Paypal-Debug-Id:
      - c8a2cb0b<VENDOR_ID>9c68
      X-Bro<VENDOR_AUTH_CODE>yid:
      - fd9d7055-a0e4-4250-85ea-bb270f65be0b
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 19 Nov 2025 02:10:30 GMT
recorded_with: VCR 6.3.1
