---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - efa38979-3d7b-4f78-ad0a-97c79<VENDOR_ID>83bdf2
      Stripe-Version:
      - 2024-<VENDOR_ID><VENDOR_ID>-20.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - efa38979-3d7b-4f78-ad0a-97c79<VENDOR_ID>83bdf2
      Original-Request:
      - req_oprhjHjuX0KDVz
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-<VENDOR_ID><VENDOR_ID>-20.acacia
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_RKN2De0U9Uu4B3",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>733<VENDOR_ID>79265,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "2546<VENDOR_ID>D<VENDOR_ID>2",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 02 Dec 2024 22:41:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_RKN2De0U9Uu4B3
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 4f5a0b49-8f<VENDOR_ID>d-4687-af06-5f4fb9<VENDOR_ID><VENDOR_ID>7edd
      Stripe-Version:
      - 2024-<VENDOR_ID><VENDOR_ID>-20.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4f5a0b49-8f<VENDOR_ID>d-4687-af06-5f4fb9<VENDOR_ID><VENDOR_ID>7edd
      Original-Request:
      - req_2XICc9U2aVYIJQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-<VENDOR_ID><VENDOR_ID>-20.acacia
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>QRiIfKXBGcbgpbZP9Wkzp6v",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": <VENDOR_ID>2,
            "e<VENDOR_AUTH_CODE>p_year": 2025,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>733<VENDOR_ID>79265,
          "customer": "cus_RKN2De0U9Uu4B3",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 02 Dec 2024 22:41:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_RKN2De0U9Uu4B3
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>QRiIfKXBGcbgpbZP9Wkzp6v
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - a4e6977f-ef<VENDOR_ID>4-49c7-82<VENDOR_ID>b-bd6458<VENDOR_ID>8<VENDOR_ID>dc0
      Stripe-Version:
      - 2024-<VENDOR_ID><VENDOR_ID>-20.acaci[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/subscriptions
    body:
      encoding: UTF-8
      string: e<VENDOR_AUTH_CODE>pand[0]=default_payment_method&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=pending_setup_intent&e<VENDOR_AUTH_CODE>pand[2]=latest_invoice.payment_intent&e<VENDOR_AUTH_CODE>pand[3]=latest_invoice.charge&e<VENDOR_AUTH_CODE>pand[4]=latest_invoice.total_discount_amounts.discount&e<VENDOR_AUTH_CODE>pand[5]=latest_invoice.total_ta<VENDOR_AUTH_CODE>_amounts.ta[...]
- request:
    method: delete
    uri: https://api.stripe.com/v<VENDOR_ID>/subscriptions/sub_<VENDOR_ID>QRiIgKXBGcbgpbZHnUcaH0F?e<VENDOR_AUTH_CODE>pand%5B%5D=default_payment_method&e<VENDOR_AUTH_CODE>pand%5B%5D=latest_invoice.charge&e<VENDOR_AUTH_CODE>pand%5B%5D=latest_invoice.payment_intent&e<VENDOR_AUTH_CODE>pand%5B%5D=latest_invoice.total_discount_amounts.discount&e<VENDOR_AUTH_CODE>pand%5B%5D=latest_invoice.total_ta<VENDOR_AUTH_CODE>_amounts.ta<VENDOR_AUTH_CODE>_rate&e<VENDOR_AUTH_CODE>pand%5B%5D=pending_setup_intent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - b75<VENDOR_ID>4dd0-0f3d-4d09-b402-c974cc4cb93b
      Stripe-Version:
      - 2024-<VENDOR_ID><VENDOR_ID>-20.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b75<VENDOR_ID>4dd0-0f3d-4d09-b402-c974cc4cb93b
      Stripe-Version:
      - 2024-<VENDOR_ID><VENDOR_ID>-20.acacia
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_<VENDOR_ID>QRiIgKXBGcbgpbZHnUcaH0F",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_ta<VENDOR_AUTH_CODE>": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": <VENDOR_ID>734388866,
          "billing_cycle_anchor_config": null,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": <VENDOR_ID>733<VENDOR_ID>79268,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": "cancellation_requested"
          },
          "collection_method": "charge_automatically",
          "created": <VENDOR_ID>733<VENDOR_ID>79266,
          "currency": "usd",
          "current_period_end": <VENDOR_ID>734388866,
          "current_period_start": <VENDOR_ID>733<VENDOR_ID>79266,
          "customer": "cus_RKN2De0U9Uu4B3",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_ta<VENDOR_AUTH_CODE>_rates": [],
          "description": null,
          "discount": null,
          "discounts": [],
          "ended_at": <VENDOR_ID>733<VENDOR_ID>79268,
          "invoice_settings": {
            "account_ta<VENDOR_AUTH_CODE>_ids": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_RKN2eXNNOAP7MG",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": <VENDOR_ID>733<VENDOR_ID>79266,
                "discounts": [],
                "metadata": {},
                "plan": {
                  "id": "default",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": <VENDOR_ID>000,
                  "amount_decimal": "<VENDOR_ID>000",
                  "billing_scheme": "per_unit",
                  "created": <VENDOR_ID>583852982,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": <VENDOR_ID>,
                  "livemode": false,
                  "metadata": {},
                  "meter": null,
                  "nickname": "Default",
                  "product": "prod_EYTX7RYhRjcwKD",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "default",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": <VENDOR_ID>583852982,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": "Default",
                  "product": "prod_EYTX7RYhRjcwKD",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": <VENDOR_ID>,
                    "meter": null,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "ta<VENDOR_AUTH_CODE>_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": <VENDOR_ID>000,
                  "unit_amount_decimal": "<VENDOR_ID>000"
                },
                "quantity": <VENDOR_ID>,
                "subscription": "sub_<VENDOR_ID>QRiIgKXBGcbgpbZHnUcaH0F",
                "ta<VENDOR_AUTH_CODE>_rates": []
              }
            ],
            "has_more": false,
            "total_count": <VENDOR_ID>,
            "url": "/v<VENDOR_ID>/subscription_items?subscription=sub_<VENDOR_ID>QRiIgKXBGcbgpbZHnUcaH0F"
          },
          "latest_invoice": {
            "id": "in_<VENDOR_ID>QRiIgKXBGcbgpbZhMDmTckz",
            "object": "invoice",
            "account_country": "US",
            "account_name": "Pay",
            "account_ta<VENDOR_AUTH_CODE>_ids": null,
            "amount_due": 0,
            "amount_paid": 0,
            "amount_remaining": 0,
            "amount_shipping": 0,
            "application": null,
            "application_fee_amount": null,
            "attempt_count": 0,
            "attempted": true,
            "auto_advance": false,
            "automatic_ta<VENDOR_AUTH_CODE>": {
              "disabled_reason": null,
              "enabled": false,
              "liability": null,
              "status": null
            },
            "automatically_finalizes_at": null,
            "billing_reason": "subscription_create",
            "charge": null,
            "collection_method": "charge_automatically",
            "created": <VENDOR_ID>733<VENDOR_ID>79266,
            "currency": "usd",
            "custom_fields": null,
            "customer": "cus_RKN2De0U9Uu4B3",
            "customer_address": null,
            "customer_email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
            "customer_name": "Stripe User",
            "customer_phone": null,
            "customer_shipping": null,
            "customer_ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
            "customer_ta<VENDOR_AUTH_CODE>_ids": [],
            "default_payment_method": null,
            "default_source": null,
            "default_ta<VENDOR_AUTH_CODE>_rates": [],
            "description": null,
            "discount": null,
            "discounts": [],
            "due_date": null,
            "effective_at": <VENDOR_ID>733<VENDOR_ID>79266,
            "ending_balance": 0,
            "footer": null,
            "from_invoice": null,
            "hosted_invoice_url": "https://invoice.stripe.com/i/acct_<VENDOR_ID>E4bfnKXBGcbgpbZ/test_YWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaLF9SS04yMG<VENDOR_AUTH_CODE>DNjA0R29kU3lJa<VENDOR_ID>NWaFZTY2Z6WkVtMEhWLDEyMzcyMDA2OA02002jCaa7LO?s=ap",
            "invoice_pdf": "https://pay.stripe.com/invoice/acct_<VENDOR_ID>E4bfnKXBGcbgpbZ/test_YWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaLF9SS04yMG<VENDOR_AUTH_CODE>DNjA0R29kU3lJa<VENDOR_ID>NWaFZTY2Z6WkVtMEhWLDEyMzcyMDA2OA02002jCaa7LO/pdf?s=ap",
            "issuer": {
              "type": "self"
            },
            "last_finalization_error": null,
            "latest_revision": null,
            "lines": {
              "object": "list",
              "data": [
                {
                  "id": "il_<VENDOR_ID>QRiIgKXBGcbgpbZl3Bwd58N",
                  "object": "line_item",
                  "amount": 0,
                  "amount_e<VENDOR_AUTH_CODE>cluding_ta<VENDOR_AUTH_CODE>": 0,
                  "currency": "usd",
                  "description": "Trial period for Test Subscription (per user)",
                  "discount_amounts": [],
                  "discountable": true,
                  "discounts": [],
                  "invoice": "in_<VENDOR_ID>QRiIgKXBGcbgpbZhMDmTckz",
                  "livemode": false,
                  "metadata": {},
                  "period": {
                    "end": <VENDOR_ID>734388866,
                    "start": <VENDOR_ID>733<VENDOR_ID>79266
                  },
                  "plan": {
                    "id": "default",
                    "object": "plan",
                    "active": true,
                    "aggregate_usage": null,
                    "amount": <VENDOR_ID>000,
                    "amount_decimal": "<VENDOR_ID>000",
                    "billing_scheme": "per_unit",
                    "created": <VENDOR_ID>583852982,
                    "currency": "usd",
                   [...]
