---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods
    body:
      encoding: UTF-8
      string: type=boleto&boleto[ta<VENDOR_AUTH_CODE>_id]=000.000.000-00&billing_details[email]=test%40e<VENDOR_AUTH_CODE>ample.org&billing_details[name]=Test+User&billing_details[address][line<VENDOR_ID>]=<VENDOR_ID>+Fake+Street&billing_details[address][city]=Salvador&billing_details[address][state]=BA&billing_details[address][country]=BR&billing_details[address][postal_code]=4<VENDOR_ID>940-340
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 6494b55<VENDOR_ID>-a55f-4cad-93e6-d5d989d3d436
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6494b55<VENDOR_ID>-a55f-4cad-93e6-d5d989d3d436
      Original-Request:
      - req_mXBB6DheaoJ9ez
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>SOMbsKXBGcbgpbZrQOg5A3K",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": "Salvador",
              "country": "BR",
              "line<VENDOR_ID>": "<VENDOR_ID> Fake Street",
              "line2": null,
              "postal_code": "4<VENDOR_ID>940-340",
              "state": "BA"
            },
            "email": "test@e<VENDOR_AUTH_CODE>ample.org",
            "name": "Test User",
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "boleto": {
            "fingerprint": "MwZokDy5EQo<VENDOR_AUTH_CODE>05bq",
            "ta<VENDOR_AUTH_CODE>_id": "000.000.000-00"
          },
          "created": <VENDOR_ID>76<VENDOR_ID>933576,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "boleto"
        }
  recorded_at: Fri, 31 Oct 2025 17:59:36 GMT
recorded_with: VCR 6.3.1
