---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/subscription/3576390/charge
    body:
      encoding: UTF-8
      string: amount=10.00&charge_name=Test&vendor_auth_code=d4fa0981f2c51335215bfbf31cddfbf1af76951baa11427910&vendor_id=123456
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":{"invoice_id":10693223,"subscription_id":1,"amount":"10.00","currency":"USD",
      "payment_date":"2018-09-21","receipt_url":"https://my.paddle.com/receipt/1-1/3-chre8a53a2624c6-41771cb81a"}}'
  recorded_at: Fri, 05 Jun 2020 12:08:14 GMT
recorded_with: VCR 5.1.0
