---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_QdYocX35<VENDOR_ID>A<VENDOR_AUTH_CODE>snX
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>PmHgdKXBGcbgpbZrtZfG5U2
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 0bdcb573-80d2-4802-afb3-2aa9d732ac38
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0bdcb573-80d2-4802-afb3-2aa9d732ac38
      Original-Request:
      - req_KnwPwUXtpT70EO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_QdYocX35<VENDOR_ID>A<VENDOR_AUTH_CODE>snX",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>7233055<VENDOR_ID>4,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_prefi<VENDOR_AUTH_CODE>": "5389535C",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_<VENDOR_ID>PmHgdKXBGcbgpbZrtZfG5U2",
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 10 Aug 2024 15:58:35 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/charges/ch_3PmHgeKXBGcbgpbZ0AphOwQa?e<VENDOR_AUTH_CODE>pand%5B%5D=customer&e<VENDOR_AUTH_CODE>pand%5B%5D=invoice.subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3PmHgeKXBGcbgpbZ0AphOwQa",
          "object": "charge",
          "amount": 2500,
          "amount_captured": 2500,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": null,
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "PAY RAILS",
          "captured": true,
          "created": <VENDOR_ID>7233055<VENDOR_ID>6,
          "currency": "usd",
          "customer": {
            "id": "cus_QdYocX35<VENDOR_ID>A<VENDOR_AUTH_CODE>snX",
            "object": "customer",
            "address": null,
            "balance": 0,
            "created": <VENDOR_ID>7233055<VENDOR_ID>4,
            "currency": null,
            "default_source": null,
            "delinquent": false,
            "description": null,
            "discount": null,
            "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
            "invoice_prefi<VENDOR_AUTH_CODE>": "5389535C",
            "invoice_settings": {
              "custom_fields": null,
              "default_payment_method": "pm_<VENDOR_ID>PmHgdKXBGcbgpbZrtZfG5U2",
              "footer": null,
              "rendering_options": null
            },
            "livemode": false,
            "metadata": {},
            "name": "Stripe User",
            "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
            "phone": null,
            "preferred_locales": [],
            "shipping": null,
            "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
            "test_clock": null
          },
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 8,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3PmHgeKXBGcbgpbZ02BO4t2T",
          "payment_method": "pm_<VENDOR_ID>PmHgdKXBGcbgpbZrtZfG5U2",
          "payment_method_details": {
            "card": {
              "amount_authorized": 2500,
              "authorization_code": null,
              "brand": "visa",
              "checks": {
                "address_line<VENDOR_ID>_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "e<VENDOR_AUTH_CODE>p_month": 8,
              "e<VENDOR_AUTH_CODE>p_year": 2025,
              "e<VENDOR_AUTH_CODE>tended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "w4XDzQOFakih5EZM",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "ma<VENDOR_AUTH_CODE>imum_amount_capturable": 2500,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaKK2c3rUGMgZlrX6h9p86LBZLsJijVGmAvDczAApGyMcfANC4krEki_uwl2ICB07o0wJotDDrVoF9l0Ys",
          "refunded": false,
          "review": null,
          "shipping": {
            "address": {
              "city": "Cupertino",
              "country": null,
              "line<VENDOR_ID>": "One Infinite Loop",
              "line2": null,
              "postal_code": null,
              "state": "CA"
            },
            "carrier": null,
            "name": "Recipient",
            "phone": null,
            "tracking_number": null
          },
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Sat, 10 Aug 2024 15:58:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_S<VENDOR_ID>20KlLpU7<VENDOR_AUTH_CODE>NS2
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>R6zwrKXBGcbgpbZ79yzYyq2
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - f356cb33-0<VENDOR_ID>80-4848-bb8a-d<VENDOR_ID>9239a07f8a
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f356cb33-0<VENDOR_ID>80-4848-bb8a-d<VENDOR_ID>9239a07f8a
      Original-Request:
      - req_TkN0KcFFSops<VENDOR_ID>Z
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_S<VENDOR_ID>20KlLpU7<VENDOR_AUTH_CODE>NS2",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>7430<VENDOR_ID>8553,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_prefi<VENDOR_AUTH_CODE>": "632AB508",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_<VENDOR_ID>R6zwrKXBGcbgpbZ79yzYyq2",
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 26 Mar 2025 19:49:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/charges/ch_3R6zwsKXBGcbgpbZ0tX<VENDOR_AUTH_CODE>SpOQ?e<VENDOR_AUTH_CODE>pand%5B%5D=customer&e<VENDOR_AUTH_CODE>pand%5B%5D=invoice.subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
  response:
    status:
      code: 200
      message: OK
    head[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 4c28fdb3-b462-493e-a494-04e50966bcc4
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4c28fdb3-b462-493e-a494-04e50966bcc4
      Original-Request:
      - req_y2ZYucs0XyZJ8v
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_S<VENDOR_ID>29TjcWt<VENDOR_AUTH_CODE>tR6J",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>7430<VENDOR_ID>9096,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "2F769A62",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 26 Mar 2025 19:58:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_S<VENDOR_ID>29TjcWt<VENDOR_AUTH_CODE>tR6J
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 87dd4<VENDOR_ID>bd-b5<VENDOR_ID>5-4<VENDOR_ID>23-9c26-bbe26d6a26c7
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 87dd4<VENDOR_ID>bd-b5<VENDOR_ID>5-4<VENDOR_ID>23-9c26-bbe26d6a26c7
      Original-Request:
      - req_LckI6d5g0sAIL2
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>R705dKXBGcbgpbZdNEJOD77",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": 3,
            "e<VENDOR_AUTH_CODE>p_year": 2026,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>7430<VENDOR_ID>9097,
          "customer": "cus_S<VENDOR_ID>29TjcWt<VENDOR_AUTH_CODE>tR6J",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 26 Mar 2025 19:58:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_S<VENDOR_ID>29TjcWt<VENDOR_AUTH_CODE>tR6J
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>R705dKXBGcbgpbZdNEJOD77
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 56c388f2-9b02-47c<VENDOR_ID>-8<VENDOR_ID>a5-d509f5378582
      Stripe-Version:
      - 2025-02-24.acacia
      Conte[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents
    body:
      encoding: UTF-8
      string: amount=2500&currency=usd&customer=cus_S<VENDOR_ID>29TjcWt<VENDOR_AUTH_CODE>tR6J&e<VENDOR_AUTH_CODE>pand[0]=latest_charge.refunds&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_<VENDOR_ID>R705dKXBGcbgpbZdNEJOD77&shipping[name]=Recipient&shipping[address][line<VENDOR_ID>]=One+Infinite+Loop&shipping[address][city]=Cupertino&shipping[address][state]=CA
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 56<VENDOR_ID>ccafd-e68a-4<VENDOR_ID>55-b0e<VENDOR_ID>-e24d0b96f7d7
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 56<VENDOR_ID>ccafd-e68a-4<VENDOR_ID>55-b0e<VENDOR_ID>-e24d0b96f7d7
      Original-Request:
      - req_SaQ84Woo9SSFy7
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3R705dKXBGcbgpbZ<VENDOR_ID>MN9Gnv2",
          "object": "payment_intent",
          "amount": 2500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 2500,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_<PADDLE_API_KEY>": "pi_3R705dKXBGcbgpbZ<VENDOR_ID>MN9Gnv2_<PADDLE_API_KEY>_AE5IyaCElbT6auUDhGL7luGiI",
          "confirmation_method": "automatic",
          "created": <VENDOR_ID>7430<VENDOR_ID>9097,
          "currency": "usd",
          "customer": "cus_S<VENDOR_ID>29TjcWt<VENDOR_AUTH_CODE>tR6J",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3R705dKXBGcbgpbZ<VENDOR_ID>etn2m6n",
            "object": "charge",
            "amount": 2500,
            "amount_captured": 2500,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": null,
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line<VENDOR_ID>": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null
            },
            "calculated_statement_descriptor": "PAY RAILS",
            "captured": true,
            "created": <VENDOR_ID>7430<VENDOR_ID>9098,
            "currency": "usd",
            "customer": "cus_S<VENDOR_ID>29TjcWt<VENDOR_AUTH_CODE>tR6J",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "invoice": null,
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "advice_code": null,
              "network_advice_code": null,
              "network_decline_code": null,
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": <VENDOR_ID>2,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_3R705dKXBGcbgpbZ<VENDOR_ID>MN9Gnv2",
            "payment_method": "pm_<VENDOR_ID>R705dKXBGcbgpbZdNEJOD77",
            "payment_method_details": {
              "ca[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/charges/ch_3R705dKXBGcbgpbZ<VENDOR_ID>etn2m6n?e<VENDOR_AUTH_CODE>pand%5B%5D=customer&e<VENDOR_AUTH_CODE>pand%5B%5D=invoice.subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-02-24.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
  [...]
