---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=gob%40bluth.com&name=&expand[0]=tax
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a5003c3d-a528-4d02-b36f-0f43682f1dbd
      Stripe-Version:
      - '2022-11-15'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a5003c3d-a528-4d02-b36f-0f43682f1dbd
      Original-Request:
      - req_RxrhdlRdgDvULW
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_MqQ1a0HqXRqQIn",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1669072450,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_prefix": "90F22EBC",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 21 Nov 2022 23:14:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_MqQ1a0HqXRqQIn
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 38f8887d-1376-4e59-a876-825ac992f8b7
      Stripe-Version:
      - '2022-11-15'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 38f8887d-1376-4e59-a876-825ac992f8b7
      Original-Request:
      - req_llvoY4ODeYBs0t
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1M6jBmQK2ZHS99Rk57dIGHn0",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "exp_month": 11,
            "exp_year": 2023,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1669072450,
          "customer": "cus_MqQ1a0HqXRqQIn",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 21 Nov 2022 23:14:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_MqQ1a0HqXRqQIn
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1M6jBmQK2ZHS99Rk57dIGHn0
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - '09f436db-e2b5-4efe-a7b8-b865ffd68f44'
      Stripe-Version:
      - '2022-11-15'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS9[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&confirm=true&currency=usd&customer=cus_MqQ1a0HqXRqQIn&expand[0]=latest_charge.refunds&payment_method=pm_1M6jBmQK2ZHS99Rk57dIGHn0&transfer_group=12345
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d900c1e6-498c-445e-b07c-c6d34b414059
      Stripe-Version:
      - '2022-11-15'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d900c1e6-498c-445e-b07c-c6d34b414059
      Original-Request:
      - req_Tk7Hpm557DMGsK
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3M6jBnQK2ZHS99Rk0w7fCEoa",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": "ca_J526GYgmSwFgKMno9PpWP7RTYw0iB3mM",
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3M6jBnQK2ZHS99Rk0w7fCEoa_secret_4JgSHZK1WM2Xivi7yCNhUB3ve",
          "confirmation_method": "automatic",
          "created": 1669072451,
          "currency": "usd",
          "customer": "cus_MqQ1a0HqXRqQIn",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3M6jBnQK2ZHS99Rk0GkzeTy6",
            "object": "charge",
            "amount": 1000,
            "amount_captured": 1000,
            "amount_refunded": 0,
            "application": "ca_J526GYgmSwFgKMno9PpWP7RTYw0iB3mM",
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": "txn_3M6jBnQK2ZHS99Rk0kY7VJns",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null
            },
            "calculated_statement_descriptor": "BUSINESS.COM",
            "captured": true,
            "created": 1669072452,
            "currency": "usd",
            "customer": "cus_MqQ1a0HqXRqQIn",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "invoice": null,
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 18,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_3M6jBnQK2ZHS99Rk0w7fCEoa",
            "payment_method": "pm_1M6jBmQK2ZHS99Rk57dIGHn0",
            "payment_method_details": {
              "card": {
                "brand": "visa",
                "checks": {
                  "address_line1_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": null
                },
                "country": "US",
                "exp_month": 11,
                "exp_year": 2023,
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "network": "visa",
                "three_d_secure": null,
                "wallet": null
              },
              "type": "card"
            },
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xSVN1TE5RSzJaSFM5OVJrKMSM8JsGMgbtmZAm0PU6LBbvmdu2K4GWnXbuSNaMoR2ScSh6bjvmQuz9N24aR3krlh0Mge74S_mZ0Gwq",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/charges/ch_3M6jBnQK2ZHS99Rk0GkzeTy6/refunds"
            },
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": "12345"
          },
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1M6jBmQK2ZHS99Rk57dIGHn0",
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "12345"
        }
  recorded_at: Mon, 21 Nov 2022 23:14:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: amount=700&currency=usd&destination=acct_1IStbKQOsIOBQfn0&transfer_group=12345
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 73feaf4f-ddd6-4c29-82e6-4078b95f7b7e
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 73feaf4f-ddd6-4c29-82e6-4078b95f7b7e
      Original-Request:
      - req_SU0PC09qXezPZU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_1M6jBpKXBGcbgpbZwvjfFJgg",
          "object": "transfer",
          "amount": 700,
          "amount_reversed": 0,
          "balance_transaction": "txn_1M6jBpKXBGcbgpbZaPsk2lTC",
          "created": 1669072453,
          "currency": "usd",
          "description": null,
          "destination": "acct_1IStbKQOsIOBQfn0",
          "destination_payment": "py_1M6jBpQOsIOBQfn0gsEhRe06",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1M6jBpKXBGcbgpbZwvjfFJgg/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": "12345"
        }
  recorded_at: Mon, 21 Nov 2022 23:14:14 GMT
recorded_with: VCR 6.1.0
