---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.paddle.com/transactions
    body:
      encoding: UTF-8
      string: '{"items":null,"customer_id":"ctm_01hd12bdgxkfjx1cj8ynmjyark"}'
    headers:
      Paddle-Version:
      - '1'
      Authorization:
      - Bearer <PADDLE_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"type":"request_error","code":"bad_request","detail":"Invalid
        request","documentation_url":"https://developer.paddle.com/v1/errors/shared/bad_request","errors":[{"field":"items","message":"Invalid
        type. Expected: array, given: null"}]},"meta":{"request_id":"850d6c5f-28ba-4813-ae85-6c30854be843"}}'
  recorded_at: Sat, 21 Oct 2023 17:07:21 GMT
recorded_with: VCR 6.2.0
