---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_OUe<VENDOR_ID>A36wFX4eYP
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>NhejSKXBGcbgpbZdjl3Ma0U
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - '08a93ca8-35<VENDOR_ID><VENDOR_ID>-49ac-8a99-8b0<VENDOR_ID><VENDOR_ID>60ecece'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '08a93ca8-35<VENDOR_ID><VENDOR_ID>-49ac-8a99-8b0<VENDOR_ID><VENDOR_ID>60ecece'
      Original-Request:
      - req_Le<VENDOR_AUTH_CODE>upTjVZGlUTU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OUe<VENDOR_ID>A36wFX4eYP",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>692649789,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_prefi<VENDOR_AUTH_CODE>": "8<VENDOR_ID><VENDOR_ID>B9BC6",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_<VENDOR_ID>NhejSKXBGcbgpbZdjl3Ma0U",
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 21 Aug 2023 20:29:51 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_S<VENDOR_ID>2<VENDOR_ID>WJf<VENDOR_AUTH_CODE>ts6h<VENDOR_ID>Z
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>R6zwzKXBGcbgpbZ9H9XWZCh
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 86d930af-f8e2-4<VENDOR_ID>3a-9e8<VENDOR_ID>-be<VENDOR_ID>c9<VENDOR_ID>ee8442
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 86d930af-f8e2-4<VENDOR_ID>3a-9e8<VENDOR_ID>-be<VENDOR_ID>c9<VENDOR_ID>ee8442
      Original-Request:
      - req_wLNUFYSoN5CScQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_S<VENDOR_ID>2<VENDOR_ID>WJf<VENDOR_AUTH_CODE>ts6h<VENDOR_ID>Z",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>7430<VENDOR_ID>856<VENDOR_ID>,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_prefi<VENDOR_AUTH_CODE>": "<VENDOR_ID>76E99A<VENDOR_ID>",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_<VENDOR_ID>R6zwzKXBGcbgpbZ9H9XWZCh",
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 26 Mar 2025 19:49:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_S<VENDOR_ID>2AHzzh2ltgSa
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>R706RKXBGcbgpbZVLZPwbRA
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - adb68988-fca2-42fc-8308-ff7df825dae8
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/<VENDOR_[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TL2hlDWik4Svt<VENDOR_AUTH_CODE>
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SOMbhKXBGcbgpbZiFNhYU0b
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 3fab0f4a-b7db-4<VENDOR_ID>3d-9<VENDOR_ID>0f-7d<VENDOR_ID>2a6<VENDOR_ID>f2cf3
      Stripe-Version:
      - 2025-<VENDOR_ID>0-2[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TL2n3WmLXod9iU
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SOMiAKXBGcbgpbZVw8DJbiI
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 0ed9456<VENDOR_ID>-56a0-4e8e-b<VENDOR_ID>3d-8c2de8b7fd4b
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - [...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TL2<VENDOR_AUTH_CODE>06Wl4hgqjX
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SOMrzKXBGcbgpbZgKL<VENDOR_AUTH_CODE><VENDOR_AUTH_CODE>qYK
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - d65b96e7-bb2b-4934-9a70-2<VENDOR_ID>00e680<VENDOR_ID>3<VENDOR_ID>0
      Stripe-Version:
   [...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TL3CcHd8kFYgWg
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SON5yKXBGcbgpbZO7U4CjLC
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - a4f8bb4b-5036-4ec2-ad3e-c26b7a44<VENDOR_ID>9a7
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - applicatio[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TM7VgtO23XQurf
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SPPGOKXBGcbgpbZOCMz0ebQ
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 2f0c5b7a-bdaf-4679-95ca-ad<VENDOR_ID>7d5cc8627
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - applicatio[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_authenticationRequired/attach
    body:
      encoding: UTF-8
      string: customer=cus_TM7Xdgy7<VENDOR_ID>FmRFC
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 4<VENDOR_ID>06e228-2aa5-49f8-a83d-fc6<VENDOR_ID>e85aee48
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4<VENDOR_ID>06e228-2aa5-49f8-a83d-fc6<VENDOR_ID>e85aee48
      Original-Request:
      - req_zVTUmuOZMuKOMs
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>SPPIMKXBGcbgpbZBScRYKUT",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "DE",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": <VENDOR_ID><VENDOR_ID>,
            "e<VENDOR_AUTH_CODE>p_year": 2026,
            "fingerprint": "qu2J<VENDOR_AUTH_CODE>Qg97yWGBVrd",
            "funding": "credit",
            "generated_from": null,
            "last4": "3<VENDOR_ID>84",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>762<VENDOR_ID>82226,
          "customer": "cus_TM7Xdgy7<VENDOR_ID>FmRFC",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 03 Nov 2025 15:03:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TM7Xdgy7<VENDOR_ID>FmRFC
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SPPIMKXBGcbgpbZBScRYKUT
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 4d6bf2f<VENDOR_ID>-7db6-4f26-9490-3b7f9<VENDOR_ID>9d35ee
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 39f7eccf-<VENDOR_ID>055-4eec-82e8-e<VENDOR_ID>6950cdd940
      Stripe-Version:
      - 2026-03-25.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 39f7eccf-<VENDOR_ID>055-4eec-82e8-e<VENDOR_ID>6950cdd940
      Original-Request:
      - req_6tGfsLJDbnFbyu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-03-25.dahlia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UFHourdaW3oLms",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>774905679,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "W4JQIFYM",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Mar 2026 21:21:19 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_UFHourdaW3oLms
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>TGnFLKXBGcbgpbZdwVQK6Eg
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 3bf8944b-<VENDOR_ID>8a5-437b-a66d-e55bffba26db
      Stripe-Version:
      - 2026-03-25.dahlia
      Content-Type:
      - application/<VENDOR_[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents
    body:
      encoding: UTF-8
      string: amount=2900&currency=usd&customer=cus_UFHourdaW3oLms&e<VENDOR_AUTH_CODE>pand[0]=latest_charge.balance_transaction&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=latest_charge.payment_intent&e<VENDOR_AUTH_CODE>pand[2]=latest_charge.refunds.data.balance_transaction&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_<VENDOR_ID>TGnFLKXBGcbgpbZdwVQK6Eg
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 8900e6e2-72a3-4b55-98d9-f62ce2a2e502
      Stripe-Version:
      - 2026-03-25.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8900e6e2-72a3-4b55-98d9-f62ce2a2e502
      Original-Request:
      - req_gpWIgKOlrJVSvh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-03-25.dahlia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3TGnFMKXBGcbgpbZ<VENDOR_ID>QIugONj",
          "object": "payment_intent",
          "amount": 2900,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_<PADDLE_API_KEY>": "pi_3TGnFMKXBGcbgpbZ<VENDOR_ID>QIugONj_<PADDLE_API_KEY>_gLXGpF5GqiKUFlaknW2tKY0<VENDOR_ID>0",
          "confirmation_method": "automatic",
          "created": <VENDOR_ID>774905680,
          "currency": "usd",
          "customer": "cus_UFHourdaW3oLms",
          "customer_account": null,
          "description": null,
          "e<VENDOR_AUTH_CODE>cluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_action": {
            "redirect_to_url": {
              "return_url": "http://localhost:3000/",
              "url": "https://hooks.stripe.com/3d_secure_2/hosted?merchant=acct_<VENDOR_ID>E4bfnKXBGcbgpbZ&payment_intent=pi_3TGnFMKXBGcbgpbZ<VENDOR_ID>QIugONj&payment_intent_client_<PADDLE_API_KEY>=pi_3TGnFMKXBGcbgpbZ<VENDOR_ID>QIugONj_<PADDLE_API_KEY>_gLXGpF5GqiKUFlaknW2tKY0<VENDOR_ID>0&publishable_key=pk_test_kuC7PkD<VENDOR_ID>9qNXN7FW<VENDOR_AUTH_CODE>JjbyP3M&source=payatt_3TGnFMKXBGcbgpbZ<VENDOR_ID>G9<VENDOR_ID><VENDOR_AUTH_CODE>CgJ"
            },
            "type": "redirect_to_url"
          },
          "on_behalf_of": null,
          "payment_method": "pm_<VENDOR_ID>TGnFLKXBGcbgpbZdwVQK6Eg",
          "payment_method_configuration_details": {
            "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
            "parent": null
          },
          "payment_method_options": {
            "acss_debit": {
              "verification_method": "automatic"
            },
            "afterpay_clearpay": {
              "reference": null
            },
            "alipay": {},
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "klarna": {
              "preferred_locale": null
            },
            "link": {
              "persistent_token": null
            },
            "us_bank_account": {
              "financial_connections": {
                "permissions": [
                  "payment_method"
                ],
                "prefetch": []
              },
              "mandate_options": {},
              "transaction_purpose": "unspecified",
              "verification_method": "automatic"
            },
            "wechat_pay": {
              "app_id": null,
              "client": null
            }
          },
          "payment_method_types": [
            "card",
            "acss_debit",
            "afterpay_clearpay",
            "alipay",
            "klarna",
            "link",
            "us_bank_account",
            "wechat_pay"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
          "status": "requires_action",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 30 Mar 2026 21:21:20 GMT
recorded_with: VCR 6.4.0
