---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=gob%40bluth.com&name=
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_J55jadkaMrq5iv",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1615257840,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_prefix": "9B501508",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Tue, 09 Mar 2021 02:44:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_J55jadkaMrq5iv
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1ISvYDQK2ZHS99RkVUL3wLP5",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "exp_month": 3,
            "exp_year": 2022,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1615257841,
          "customer": "cus_J55jadkaMrq5iv",
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Tue, 09 Mar 2021 02:44:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_J55jadkaMrq5iv
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1ISvYDQK2ZHS99RkVUL3wLP5
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message:[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
  [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_J55j1C9cc1Ap4L
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1ISvYFKXBGcbgpbZPFDMXHBV
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_J55j1C9cc1Ap4L",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1615257843,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_prefix": "37F6FF91",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_1ISvYFKXBGcbgpbZPFDMXHBV",
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Tue, 09 Mar 2021 02:44:04 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&confirm=true&confirmation_method=automatic&currency=usd&customer=cus_J55j1C9cc1Ap4L&payment_method=pm_1ISvYFKXBGcbgpbZPFDMXHBV&application_fee_amount=123&transfer_data[destination]=acct_1ISuLNQK2ZHS99Rk
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_1ISvYHKXBGcbgpbZiyWvJix4",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_received": 1000,
          "application": null,
          "application_fee_amount": 123,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [
              {
                "id": "ch_1ISvYHKXBGcbgpbZGlhEg8jv",
                "object": "charge",
                "amount": 1000,
                "amount_captured": 1000,
                "amount_refunded": 0,
                "application": null,
                "application_fee": "fee_1ISvYIQK2ZHS99RkHCBMQrt4",
                "application_fee_amount": 123,
                "balance_transaction": "txn_1ISvYIKXBGcbgpbZ7OjpEewp",
                "billing_details": {
                  "address": {
                    "city": null,
                    "country": null,
                    "line1": null,
                    "line2": null,
                    "postal_code": null,
                    "state": null
                  },
                  "email": null,
                  "name": null,
                  "phone": null
                },
                "calculated_statement_descriptor": "PAY RAILS",
                "captured": true,
                "created": 1615257845,
                "currency": "usd",
                "customer": "cus_J55j1C9cc1Ap4L",
                "description": null,
                "destination": "acct_1ISuLNQK2ZHS99Rk",
                "dispute": null,
                "disputed": false,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {
                },
                "invoice": null,
                "livemode": false,
                "metadata": {
                },
                "on_behalf_of": null,
                "order": null,
                "outcome": {
                  "network_status": "approved_by_network",
                  "reason": null,
                  "risk_level": "normal",
                  "risk_score": 15,
                  "seller_message": "Payment complete.",
                  "type": "authorized"
                },
                "paid": true,
                "payment_intent": "pi_1ISvYHKXBGcbgpbZiyWvJix4",
                "payment_method": "pm_1ISvYFKXBGcbgpbZPFDMXHBV",
                "payment_method_details": {
                  "card": {
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": null
                    },
                    "country": "US",
                    "exp_month": 3,
                    "exp_year": 2022,
                    "fingerprint": "w4XDzQOFakih5EZM",
                    "funding": "credit",
                    "installments": null,
                    "last4": "4242",
                    "network": "visa",
                    "three_d_secure": null,
                    "wallet": null
                  },
                  "type": "card"
                },
                "receipt_email": null,
                "receipt_number": null,
                "receipt_url": "https://pay.stripe.com/receipts/acct_1E4bfnKXBGcbgpbZ/ch_1ISvYHKXBGcbgpbZGlhEg8jv/rcpt_J55j33yPmbnR9CmAQq5H9GCQN0OL9Zp",
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [

                  ],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/ch_1ISvYHKXBGcbgpbZGlhEg8jv/refunds"
                },
                "review": null,
                "shipping": null,
                "source": null,
                "source_transfer": null,
                "statement_descriptor": null,
                "statement_descriptor_suffix": null,
                "status": "succeeded",
                "transfer": "tr_1ISvYIKXBGcbgpbZcGqOJhYA",
                "transfer_data": {
                  "amount": null,
                  "destination": "acct_1ISuLNQK2ZHS99Rk"
                },
                "transfer_group": "group_pi_1ISvYHKXBGcbgpbZiyWvJix4"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges?payment_intent=pi_1ISvYHKXBGcbgpbZiyWvJix4"
          },
          "client_secret": "pi_1ISvYHKXBGcbgpbZiyWvJix4_secret_kMjMXIpk8PeqIdasDcAuRSk5A",
          "confirmation_method": "automatic",
          "created": 1615257845,
          "currency": "usd",
          "customer": "cus_J55j1C9cc1Ap4L",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1ISvYFKXBGcbgpbZPFDMXHBV",
          "payment_method_options": {
            "card": {
              "installments": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": {
            "destination": "acct_1ISuLNQK2ZHS99Rk"
          },
          "transfer_group": "group_pi_1ISvYHKXBGcbgpbZiyWvJix4"
        }
  recorded_at: Tue, 09 Mar 2021 02:44:07 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_1ISvYHKXBGcbgpbZGlhEg8jv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    [...]
