---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods
    body:
      encoding: UTF-8
      string: type=fp<VENDOR_AUTH_CODE>&fp<VENDOR_AUTH_CODE>[bank]=affin_bank
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 9c5a2a34-0e95-4c9f-a<VENDOR_ID>e6-5a4<VENDOR_ID>58f3c652
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9c5a2a34-0e95-4c9f-a<VENDOR_ID>e6-5a4<VENDOR_ID>58f3c652
      Original-Request:
      - req_N8Ctz6PCpH3eoP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>NhegvKXBGcbgpbZql2Bu6jk",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "created": <VENDOR_ID>692649633,
          "customer": null,
          "fp<VENDOR_AUTH_CODE>": {
            "account_holder_type": "individual",
            "bank": "affin_bank"
          },
          "livemode": false,
          "metadata": {},
          "type": "fp<VENDOR_AUTH_CODE>"
        }
  recorded_at: Mon, 21 Aug 2023 20:27:13 GMT
recorded_with: VCR 6.2.0
