---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 6b0c2c72-4d<VENDOR_ID>6-4e75-8392-3c25dabffc5a
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6b0c2c72-4d<VENDOR_ID>6-4e75-8392-3c25dabffc5a
      Original-Request:
      - req_SDaawWnP7EJguU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_S9GDvtvrsR2<VENDOR_ID>y3",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>7449<VENDOR_ID>6482,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "3DA05F57",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 17 Apr 2025 19:01:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/subscriptions
    body:
      encoding: UTF-8
      string: items[0][price]=invalid&customer=cus_S9GDvtvrsR2<VENDOR_ID>y3&e<VENDOR_AUTH_CODE>pand[0]=discounts&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=default_payment_method&e<VENDOR_AUTH_CODE>pand[2]=pending_setup_intent&e<VENDOR_AUTH_CODE>pand[3]=latest_invoice.confirmation_<PADDLE_API_KEY>&e<VENDOR_AUTH_CODE>pand[4]=latest_invoice.payments&e<VENDOR_AUTH_CODE>pand[5]=latest_invoice.total_discount_amounts.discount
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 29<VENDOR_ID>5e<VENDOR_ID>78-79b3-4d33-8530-e20cb7a2be9c
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 29<VENDOR_ID>5e<VENDOR_ID>78-79b3-4d33-8530-e20cb7a2be9c
      Original-Request:
      - req_bWMFURNbeOvglb
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such price: 'invalid'",
            "param": "items[0][price]",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_bWMFURNbeOvglb?t=<VENDOR_ID>7449<VENDOR_ID>6483",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 17 Apr 2025 19:01:23 GMT
recorded_with: VCR 6.3.1
