---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - ed20a807-<VENDOR_ID>80f-4325-a6d2-c788fc0c9f02
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ed20a807-<VENDOR_ID>80f-4325-a6d2-c788fc0c9f02
      Original-Request:
      - req_dAAvbinIW2u562
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VIOQJZsHmqkLUc",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>78992<VENDOR_ID>843,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "BCFIGBAS",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:30:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_chargeDeclined/attach
    body:
      encoding: UTF-8
      string: customer=cus_VIOQJZsHmqkLUc
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 5<VENDOR_ID>e760a9-a0b2-4e02-bf3c-dfdc3f83<VENDOR_ID>db<VENDOR_ID>
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5<VENDOR_ID>e760a9-a0b2-4e02-bf3c-dfdc3f83<VENDOR_ID>db<VENDOR_ID>
      Original-Request:
      - req_z77IPb6yVfFmMN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "advice_code": "try_again_later",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "network_decline_code": "0<VENDOR_ID>",
            "param": "",
            "request_log_url": "https://dashboard.stripe.com/acct_<VENDOR_ID>E4bfnKXBGcbgpbZ/test/workbench/logs?object=req_z77IPb6yVfFmMN",
            "type": "card_error"
          }
        }
  recorded_at: Sun, 20 Sep 2026 16:30:44 GMT
recorded_with: VCR 6.4.0
