---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - d3763592-8d56-48f8-83fc-b0c8aab57d<VENDOR_ID>0
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d3763592-8d56-48f8-83fc-b0c8aab57d<VENDOR_ID>0
      Original-Request:
      - req_iHik0Af<VENDOR_AUTH_CODE>weMbq4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VIOPA0BW0G4ECA",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>78992<VENDOR_ID>793,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "53FTYK74",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:29:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_VIOPA0BW0G4ECA&return_url=http%3A%2F%2Flocalhost%3A3000%2F
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 484b8de7-<VENDOR_ID>dce-496b-a5e2-<VENDOR_ID>6aef28a7ddd
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 484b8de7-<VENDOR_ID>dce-496b-a5e2-<VENDOR_ID>6aef28a7ddd
      Original-Request:
      - req_37Wa9eKecSnAyn
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_<VENDOR_ID>UHncjKXBGcbgpbZA0CcJvAA",
          "object": "billing_portal.session",
          "configuration": "bpc_<VENDOR_ID>ILastKXBGcbgpbZ<VENDOR_AUTH_CODE>b0fTvsd",
          "created": <VENDOR_ID>78992<VENDOR_ID>793,
          "customer": "cus_VIOPA0BW0G4ECA",
          "customer_account": null,
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://localhost:3000/",
          "url": "https://billing.stripe.com/p/session?<PADDLE_API_KEY>=test_YWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaLF9WSU9QUE43eklyRERJRW9nN<VENDOR_ID>hrS<VENDOR_ID>NLQVhUY2NWWmR<VENDOR_AUTH_CODE>0<VENDOR_ID>00frPTihu0"
        }
  recorded_at: Sun, 20 Sep 2026 16:29:53 GMT
recorded_with: VCR 6.4.0
