---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 0b7<VENDOR_ID>9e74-c6dc-43c8-b76b-8eb3c<VENDOR_ID>8a3252
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0b7<VENDOR_ID>9e74-c6dc-43c8-b76b-8eb3c<VENDOR_ID>8a3252
      Original-Request:
      - req_<VENDOR_AUTH_CODE>B3HpekVQzDMO2
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OUe2OAqDDfdJ6a",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>692649833,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_prefi<VENDOR_AUTH_CODE>": "295AE82<VENDOR_ID>",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 21 Aug 2023 20:30:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_OUe2OAqDDfdJ6a
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - f9ca4c<VENDOR_ID>c-48f5-4e07-bae2-b4bb64a307de
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f9ca4c<VENDOR_ID>c-48f5-4e07-bae2-b4bb64a307de
      Original-Request:
      - req_dN2RcakJomiAXk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>Nhek9KXBGcbgpbZrGY8nErl",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "e<VENDOR_AUTH_CODE>p_month": 8,
            "e<VENDOR_AUTH_CODE>p_year": 2024,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>692649833,
          "customer": "cus_OUe2OAqDDfdJ6a",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 21 Aug 2023 20:30:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_OUe2OAqDDfdJ6a
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>Nhek9KXBGcbgpbZrGY8nErl
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 84f<VENDOR_ID>88<VENDOR_ID>8-8bfd-4c70-807e-cd<VENDOR_ID>8d5<VEN[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents
    body:
      encoding: UTF-8
      string: amount=2900&confirm=true&currency=usd&customer=cus_OUe2OAqDDfdJ6a&e<VENDOR_AUTH_CODE>pand[0]=latest_charge.refunds&payment_method=pm_<VENDOR_ID>NhekAKXBGcbgpbZi4cizcs6&return_url=http%3A%2F%2Flocalhost%3A3000%2F
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - f29ef236-777b-495<VENDOR_ID>-aac7-a34224653<VENDOR_ID>c5
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f29ef236-777b-495<VENDOR_ID>-aac7-a34224653<VENDOR_ID>c5
      Original-Request:
      - req_wGnBvAo6QJ96OD
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3NhekBKXBGcbgpbZ0ZlWzHSp",
          "object": "payment_intent",
          "amount": 2900,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 2900,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3NhekBKXBGcbgpbZ0ZlWzHSp_secret_e9XOGpmydrBSlJLUgNaTr<VENDOR_ID>vaK",
          "confirmation_method": "automatic",
          "created": <VENDOR_ID>692649835,
          "currency": "usd",
          "customer": "cus_OUe2OAqDDfdJ6a",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3NhekBKXBGcbgpbZ0UM<VENDOR_AUTH_CODE>L8qz",
            "object": "charge",
            "amount": 2900,
            "amount_captured": 2900,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": "t<VENDOR_AUTH_CODE>n_3NhekBKXBGcbgpbZ0lmBbo5l",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line<VENDOR_ID>": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null
            },
            "calculated_statement_descriptor": "PAY RAILS",
            "captured": true,
            "created": <VENDOR_ID>692649835,
            "currency": "usd",
            "customer": "cus_OUe2OAqDDfdJ6a",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "invoice": null,
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 2<VENDOR_ID>,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_3NhekBKXBGcbgpbZ0ZlWzHSp",
            "payment_method": "pm_<VENDOR_ID>NhekAKXBGcbgpbZi4cizcs6",
            "payment_method_details": {
              "card": {
                "brand": "visa",
                "checks": {
                  "address_line<VENDOR_ID>_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": null
                },
                "country": "US",
                "e<VENDOR_AUTH_CODE>p_month": 8,
                "e<VENDOR_AUTH_CODE>p_year": 2024,
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "network": "visa",
                "network_token": {
                  "used": false
                },
                "three_d_secure": null,
                "wallet": null
              },
              "type": "card"
            },
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaKOySj6cGMgYFkZJZsnY6LBbMU_UtPZIfFBGPA3FPJSetCWsCL7L7-eaHNFcFny0sTYcf8fulY0ZAbV3r",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v<VENDOR_ID>/charges/ch_3NhekBKXBGcbgpbZ0UM<VENDOR_AUTH_CODE>L8qz/refunds"
            },
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": null
          },
          "livemode": false,
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_<VENDOR_ID>NhekAKXBGcbgpbZi4cizcs6",
          "payment_method_options": {
            "acss_debit": {
              "verification_method": "automatic"
            },
            "afterpay_clearpay": {
              "reference": null
            },
            "alipay": {},
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "klarna": {
              "preferred_locale": null
            },
            "link": {
              "persistent_token": null
            },
            "us_bank_account": {
              "verification_method": "automatic"
            },
            "wechat_pay": {
              "app_id": null,
              "client": null
            }
          },
          "payment_method_types": [
            "card",
            "acss_debit",
            "afterpay_clearpay",
            "alipay",
            "klarna",
            "link",
            "us_bank_account",
            "wechat_pay"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 21 Aug 2023 20:30:36 GMT
recorded_with: VCR 6.2.0
