---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User&expand[0]=tax
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 701d8f20-df8d-48fe-8414-fb2c5b12c447
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 701d8f20-df8d-48fe-8414-fb2c5b12c447
      Original-Request:
      - req_wWnxHy0ArL1etL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_MqPkX4fAvlJfRl",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1669071439,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_prefix": "C4444F0D",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 21 Nov 2022 22:57:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_MqPkX4fAvlJfRl
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3ff4ae8a-2a6a-40cf-be98-c5c550bb026b
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3ff4ae8a-2a6a-40cf-be98-c5c550bb026b
      Original-Request:
      - req_qfhfEU6FvLge53
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1M6ivTKXBGcbgpbZYlZlaIA5",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "exp_month": 11,
            "exp_year": 2023,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1669071439,
          "customer": "cus_MqPkX4fAvlJfRl",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 21 Nov 2022 22:57:20 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_MqPkX4fAvlJfRl
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1M6ivTKXBGcbgpbZYlZlaIA5
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b2d1182e-a737-4fa9-9aeb-40eda5670c05
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 20[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2900&confirm=true&currency=usd&customer=cus_MqPkX4fAvlJfRl&expand[0]=latest_charge.refunds&payment_method=pm_1M6ivVKXBGcbgpbZfOeE0HgN&capture_method=manual
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2f3075e6-0b96-45e2-bd1e-f5b2d6e34c00
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2f3075e6-0b96-45e2-bd1e-f5b2d6e34c00
      Original-Request:
      - req_L6g7AbPs0UYbiX
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3M6ivWKXBGcbgpbZ05cHgvGo",
          "object": "payment_intent",
          "amount": 2900,
          "amount_capturable": 2900,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "pi_3M6ivWKXBGcbgpbZ05cHgvGo_secret_Q68hYfZNQbMtz4hBlJCddRUtm",
          "confirmation_method": "automatic",
          "created": 1669071442,
          "currency": "usd",
          "customer": "cus_MqPkX4fAvlJfRl",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3M6ivWKXBGcbgpbZ0yz65GIg",
            "object": "charge",
            "amount": 2900,
            "amount_captured": 0,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": null,
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null
            },
            "calculated_statement_descriptor": "PAY RAILS",
            "captured": false,
            "created": 1669071442,
            "currency": "usd",
            "customer": "cus_MqPkX4fAvlJfRl",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "invoice": null,
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 0,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_3M6ivWKXBGcbgpbZ05cHgvGo",
            "payment_method": "pm_1M6ivVKXBGcbgpbZfOeE0HgN",
            "payment_method_details": {
              "card": {
                "brand": "visa",
                "checks": {
                  "address_line1_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": null
                },
                "country": "US",
                "exp_month": 11,
                "exp_year": 2023,
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "network": "visa",
                "three_d_secure": null,
                "wallet": null
              },
              "type": "card"
            },
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xRTRiZm5LWEJHY2JncGJaKNOE8JsGMgZ-H6eXOa06LBaRMEsBORPHozoro572l3_TlqA6Md98iqwNHRZ8A633SOyX6z0pGXp6ujIM",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/charges/ch_3M6ivWKXBGcbgpbZ0yz65GIg/refunds"
            },
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": null
          },
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1M6ivVKXBGcbgpbZfOeE0HgN",
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_capture",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 21 Nov 2022 22:57:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3M6ivWKXBGcbgpbZ05cHgvGo/capture
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0b71eeef-a216-4831-ac77-757f22a08317
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      C[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3M6ivWKXBGcbgpbZ0yz65GIg?expand%5B%5D=invoice.total_discount_amounts.discount&expand%5B%5D=invoice.total_tax_amounts.tax_rate&expand%5B%5D=refunds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
 [...]
