---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_OUe<VENDOR_ID>A36wFX4eYP
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>NhejSKXBGcbgpbZdjl3Ma0U
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - '08a93ca8-35<VENDOR_ID><VENDOR_ID>-49ac-8a99-8b0<VENDOR_ID><VENDOR_ID>60ecece'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '08a93ca8-35<VENDOR_ID><VENDOR_ID>-49ac-8a99-8b0<VENDOR_ID><VENDOR_ID>60ecece'
      Original-Request:
      - req_Le<VENDOR_AUTH_CODE>upTjVZGlUTU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OUe<VENDOR_ID>A36wFX4eYP",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>692649789,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_prefi<VENDOR_AUTH_CODE>": "8<VENDOR_ID><VENDOR_ID>B9BC6",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_<VENDOR_ID>NhejSKXBGcbgpbZdjl3Ma0U",
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 21 Aug 2023 20:29:51 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_authenticationRequired/attach
    body:
      encoding: UTF-8
      string: customer=cus_S<VENDOR_ID>2<VENDOR_ID>WJf<VENDOR_AUTH_CODE>ts6h<VENDOR_ID>Z
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 92a43dcb-6ae5-4969-a77c-05e6<VENDOR_ID>920da<VENDOR_ID>6
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 92a43dcb-6ae5-4969-a77c-05e6<VENDOR_ID>920da<VENDOR_ID>6
      Original-Request:
      - req_ZOO9R8MD6K9D7c
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>R6zwzKXBGcbgpbZ9H9XWZCh",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "DE",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": 3,
            "e<VENDOR_AUTH_CODE>p_year": 2026,
            "fingerprint": "qu2J<VENDOR_AUTH_CODE>Qg97yWGBVrd",
            "funding": "credit",
            "generated_from": null,
            "last4": "3<VENDOR_ID>84",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>7430<VENDOR_ID>856<VENDOR_ID>,
          "customer": "cus_S<VENDOR_ID>2<VENDOR_ID>WJf<VENDOR_AUTH_CODE>ts6h<VENDOR_ID>Z",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 26 Mar 2025 19:49:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_S<VENDOR_ID>2<VENDOR_ID>WJf<VENDOR_AUTH_CODE>ts6h<VENDOR_ID>Z
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>R6zwzKXBGcbgpbZ9H9XWZCh
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 86d930af-f8e2-4<VENDOR_ID>3a-9e8<VENDOR_ID>-be<VENDOR_ID>c9<VENDOR_ID>ee8442
      Stripe-Versio[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - c<VENDOR_ID>4ca2a<VENDOR_ID>-06e9-4b74-bd9e-b0<VENDOR_ID>50f8c7<VENDOR_I[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_S<VENDOR_ID>2AHzzh2ltgSa
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>R706RKXBGcbgpbZVLZPwbRA
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - adb68988-fca2-42fc-8308-ff7df825dae8
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/<VENDOR_[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents
    body:
      encoding: UTF-8
      string: amount=2900&currency=usd&customer=cus_S<VENDOR_ID>2AHzzh2ltgSa&e<VENDOR_AUTH_CODE>pand[0]=latest_charge.refunds&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_<VENDOR_ID>R706RKXBGcbgpbZVLZPwbRA
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 02b28<VENDOR_ID>ad-<VENDOR_ID>e0<VENDOR_ID>-4700-8b4c-4<VENDOR_ID>bd20f6c2<VENDOR_ID>d
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 02b28<VENDOR_ID>ad-<VENDOR_ID>e0<VENDOR_ID>-4700-8b4c-4<VENDOR_ID>bd20f6c2<VENDOR_ID>d
      Original-Request:
      - req_CHygXlqLQUp4ST
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3R706SKXBGcbgpbZ0I9mGkDe",
          "object": "payment_intent",
          "amount": 2900,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_<PADDLE_API_KEY>": "pi_3R706SKXBGcbgpbZ0I9mGkDe_<PADDLE_API_KEY>_umrZrZgyUt2KAU<VENDOR_ID>h6W4iU2jHv",
          "confirmation_method": "automatic",
          "created": <VENDOR_ID>7430<VENDOR_ID>9<VENDOR_ID>48,
          "currency": "usd",
          "customer": "cus_S<VENDOR_ID>2AHzzh2ltgSa",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_action": {
            "redirect_to_url": {
              "return_url": "http://localhost:3000/",
              "url": "https://hooks.stripe.com/3d_secure_2/hosted?merchant=acct_<VENDOR_ID>E4bfnKXBGcbgpbZ&payment_intent=pi_3R706SKXBGcbgpbZ0I9mGkDe&payment_intent_client_<PADDLE_API_KEY>=pi_3R706SKXBGcbgpbZ0I9mGkDe_<PADDLE_API_KEY>_umrZrZgyUt2KAU<VENDOR_ID>h6W4iU2jHv&publishable_key=pk_test_kuC7PkD<VENDOR_ID>9qNXN7FW<VENDOR_AUTH_CODE>JjbyP3M&source=payatt_3R706SKXBGcbgpbZ0M0NcO7G"
            },
            "type": "redirect_to_url"
          },
          "on_behalf_of": null,
          "payment_method": "pm_<VENDOR_ID>R706RKXBGcbgpbZVLZPwbRA",
          "payment_method_configuration_details": {
            "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
            "parent": null
          },
          "payment_method_options": {
            "acss_debit": {
              "verification_method": "automatic"
            },
            "afterpay_clearpay": {
              "reference": null
            },
            "alipay": {},
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "klarna": {
              "preferred_locale": null
            },
            "link": {
              "persistent_token": null
            },
            "us_bank_account": {
              "financial_connections": {
                "permissions": [
                  "payment_method"
                ],
                "prefetch": []
              },
              "mandate_options": {},
              "verification_method": "automatic"
            },
            "wechat_pay": {
              "app_id": null,
              "client": null
            }
          },
          "payment_method_types": [
            "card",
            "acss_debit",
            "afterpay_clearpay",
            "alipay",
            "klarna",
            "link",
            "us_bank_account",
            "wechat_pay"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
          "status": "requires_action",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Wed, 26 Mar 2025 19:59:09 GMT
recorded_with: VCR 6.3.1
