---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=gob%40bluth.com&name=&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 23d87ac3-dfb0-477c-babc-f9af<VENDOR_ID>54<VENDOR_ID>8ad2
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 23d87ac3-dfb0-477c-babc-f9af<VENDOR_ID>54<VENDOR_ID>8ad2
      Original-Request:
      - req_Py<VENDOR_ID>MUJ4Lr<VENDOR_ID><VENDOR_ID>F<VENDOR_ID>M
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TOnNRMI<VENDOR_ID>CGJPpe",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>762799<VENDOR_ID>77,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "ZHTR7I<VENDOR_ID>6",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 10 Nov 2025 18:26:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_TOnNRMI<VENDOR_ID>CGJPpe
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 5b<VENDOR_ID>9<VENDOR_ID>86<VENDOR_ID>-ad4f-4ea6-b756-9<VENDOR_ID><VENDOR_ID><VENDOR_ID>49b<VENDOR_ID>a02e
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5b<VENDOR_ID>9<VENDOR_ID>86<VENDOR_ID>-ad4f-4ea6-b756-9<VENDOR_ID><VENDOR_ID><VENDOR_ID>49b<VENDOR_ID>a02e
      Original-Request:
      - req_QTf6YJCl7aZoXi
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>SRznBQK2ZHS99RkjJE3uz80",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": <VENDOR_ID><VENDOR_ID>,
            "e<VENDOR_AUTH_CODE>p_year": 2026,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>762799<VENDOR_ID>77,
          "customer": "cus_TOnNRMI<VENDOR_ID>CGJPpe",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 10 Nov 2025 18:26:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TOnNRMI<VENDOR_ID>CGJPpe
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SRznBQK2ZHS99RkjJE3uz80
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 9c9d7c2f-268c-4c29-a947-3f28d057c<VENDOR_ID>6<VENDOR_ID>
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Stripe-Accou[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents
    body:
      encoding: UTF-8
      string: amount=<VENDOR_ID>000&currency=usd&customer=cus_TOnNRMI<VENDOR_ID>CGJPpe&e<VENDOR_AUTH_CODE>pand[0]=latest_charge.balance_transaction&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=latest_charge.payment_intent&e<VENDOR_AUTH_CODE>pand[2]=latest_charge.refunds.data.balance_transaction&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_<VENDOR_ID>SRznB[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?payment%5Bpayment_intent%5D=pi_3SRznCQK2ZHS99Rk0DfSs<VENDOR_AUTH_CODE>K7&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Mon, 10 Nov 2025 18:26:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/transfers
    body:
      encoding: UTF-8
      string: amount=700&currency=usd&destination=acct_<VENDOR_ID>IStbKQOsIOBQfn0&transfer_group=<VENDOR_ID>2345
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 2c5275<VENDOR_ID>d-8fb9-4d8<VENDOR_ID>-bd<VENDOR_ID>e-5<VENDOR_ID>9f9ab564a7
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2c5275<VENDOR_ID>d-8fb9-4d8<VENDOR_ID>-bd<VENDOR_ID>e-5<VENDOR_ID>9f9ab564a7
      Original-Request:
      - req_ypCfyQB<VENDOR_AUTH_CODE>JtCzme
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tr_<VENDOR_ID>SRznDKXBGcbgpbZ69pgN0b<VENDOR_AUTH_CODE>",
          "object": "transfer",
          "amount": 700,
          "amount_reversed": 0,
          "balance_transaction": "t<VENDOR_AUTH_CODE>n_<VENDOR_ID>SRznDKXBGcbgpbZvHeOvrSV",
          "created": <VENDOR_ID>762799<VENDOR_ID>79,
          "currency": "usd",
          "description": null,
          "destination": "acct_<VENDOR_ID>IStbKQOsIOBQfn0",
          "destination_payment": "py_<VENDOR_ID>SRznDQOsIOBQfn0JXOGFagc",
          "livemode": false,
          "metadata": {},
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v<VENDOR_ID>/transfers/tr_<VENDOR_ID>SRznDKXBGcbgpbZ69pgN0b<VENDOR_AUTH_CODE>/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": "<VENDOR_ID>2345"
        }
  recorded_at: Mon, 10 Nov 2025 18:26:20 GMT
recorded_with: VCR 6.3.1
