---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - f7eb8ecf-5<VENDOR_ID>f5-49aa-964c-263648fad9e6
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f7eb8ecf-5<VENDOR_ID>f5-49aa-964c-263648fad9e6
      Original-Request:
      - req_GRW<VENDOR_ID><VENDOR_AUTH_CODE>f47iGKmZc
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VIOQhfpGg0TJov",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>78992<VENDOR_ID>825,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "5JDWQR20",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:30:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_authenticationRequired/attach
    body:
      encoding: UTF-8
      string: customer=cus_VIOQhfpGg0TJov
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 2047<VENDOR_ID>3a8-2f<VENDOR_ID>2-4887-944<VENDOR_ID>-66554568<VENDOR_ID>5da
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2047<VENDOR_ID>3a8-2f<VENDOR_ID>2-4887-944<VENDOR_ID>-66554568<VENDOR_ID>5da
      Original-Request:
      - req_iNaH3N8aMqpcDT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>UHndGKXBGcbgpbZWI7ihpa6",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "DE",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": 9,
            "e<VENDOR_AUTH_CODE>p_year": 2027,
            "fingerprint": "qu2J<VENDOR_AUTH_CODE>Qg97yWGBVrd",
            "funding": "credit",
            "generated_from": null,
            "last4": "3<VENDOR_ID>84",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>78992<VENDOR_ID>826,
          "customer": "cus_VIOQhfpGg0TJov",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Sun, 20 Sep 2026 16:30:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_VIOQhfpGg0TJov
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>UHndGKXBGcbgpbZWI7ihpa6
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 558d656f-64<VENDOR_ID>2-4ebf-a4ce-ba<VENDOR_ID><VENDOR_ID>cc087c38
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - [...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents
    body:
      encoding: UTF-8
      string: amount=2900&currency=usd&customer=cus_VIOQhfpGg0TJov&e<VENDOR_AUTH_CODE>pand[0]=latest_charge.balance_transaction&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=latest_charge.payment_intent&e<VENDOR_AUTH_CODE>pand[2]=latest_charge.refunds.data.balance_transaction&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_<VENDOR_ID>UHndGKXBGcbgpbZWI7ihpa6
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 0cac<VENDOR_ID><VENDOR_ID>68-9d<VENDOR_ID>2-486e-98<VENDOR_ID>3-829d3f6f630c
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0cac<VENDOR_ID><VENDOR_ID>68-9d<VENDOR_ID>2-486e-98<VENDOR_ID>3-829d3f6f630c
      Original-Request:
      - req_A2VXzzVTen<VENDOR_AUTH_CODE>EHd
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3UHndHKXBGcbgpbZ<VENDOR_ID>l7N3Tuw",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 2900,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_<PADDLE_API_KEY>": "pi_3UHndHKXBGcbgpbZ<VENDOR_ID>l7N3Tuw_<PADDLE_API_KEY>_HaY2r7XRgskGCMRP3wBT5<VENDOR_ID>UBo",
          "confirmation_method": "automatic",
          "created": <VENDOR_ID>78992<VENDOR_ID>827,
          "currency": "usd",
          "customer": "cus_VIOQhfpGg0TJov",
          "customer_account": null,
          "description": null,
          "e<VENDOR_AUTH_CODE>cluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_action": {
            "redirect_to_url": {
              "return_url": "http://localhost:3000/",
              "url": "https://hooks.stripe.com/3d_secure_2/hosted?merchant=acct_<VENDOR_ID>E4bfnKXBGcbgpbZ&payment_intent=pi_3UHndHKXBGcbgpbZ<VENDOR_ID>l7N3Tuw&payment_intent_client_<PADDLE_API_KEY>=pi_3UHndHKXBGcbgpbZ<VENDOR_ID>l7N3Tuw_<PADDLE_API_KEY>_HaY2r7XRgskGCMRP3wBT5<VENDOR_ID>UBo&publishable_key=pk_test_kuC7PkD<VENDOR_ID>9qNXN7FW<VENDOR_AUTH_CODE>JjbyP3M&source=payatt_3UHndHKXBGcbgpbZ<VENDOR_ID>ddEj0ad"
            },
            "type": "redirect_to_url"
          },
          "on_behalf_of": null,
          "payment_method": "pm_<VENDOR_ID>UHndGKXBGcbgpbZWI7ihpa6",
          "payment_method_configuration_details": {
            "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
            "parent": null
          },
          "payment_method_options": {
            "acss_debit": {
              "verification_method": "automatic"
            },
            "afterpay_clearpay": {
              "reference": null
            },
            "alipay": {},
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "klarna": {
              "preferred_locale": null
            },
            "link": {
              "persistent_token": null
            },
            "us_bank_account": {
              "financial_connections": {
                "permissions": [
                  "payment_method"
                ],
                "prefetch": []
              },
              "mandate_options": {},
              "transaction_purpose": "unspecified",
              "verification_method": "automatic"
            },
            "wechat_pay": {
              "app_id": null,
              "client": null
            }
          },
          "payment_method_types": [
            "card",
            "acss_debit",
            "afterpay_clearpay",
            "alipay",
            "klarna",
            "link",
            "us_bank_account",
            "wechat_pay"
          ],
          "payment_record": null,
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
          "status": "requires_action",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Sun, 20 Sep 2026 16:30:27 GMT
recorded_with: VCR 6.4.0
