---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods
    body:
      encoding: UTF-8
      string: type=boleto&boleto[ta<VENDOR_AUTH_CODE>_id]=000.000.000-00&billing_details[email]=test%40e<VENDOR_AUTH_CODE>ample.org&billing_details[name]=Test+User&billing_details[address][line<VENDOR_ID>]=<VENDOR_ID>+Fake+Street&billing_details[address][city]=Salvador&billing_details[address][state]=BA&billing_details[address][country]=BR&billing_details[address][postal_code]=4<VENDOR_ID>940-340
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - b<VENDOR_ID>73b9ec-f9df-4fb7-8a52-c0876eb49eb0
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b<VENDOR_ID>73b9ec-f9df-4fb7-8a52-c0876eb49eb0
      Original-Request:
      - req_wEpBAU2K<VENDOR_AUTH_CODE>gtKNd
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>NhegZKXBGcbgpbZEQ8<VENDOR_ID>mfJs",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": "Salvador",
              "country": "BR",
              "line<VENDOR_ID>": "<VENDOR_ID> Fake Street",
              "line2": null,
              "postal_code": "4<VENDOR_ID>940-340",
              "state": "BA"
            },
            "email": "test@e<VENDOR_AUTH_CODE>ample.org",
            "name": "Test User",
            "phone": null
          },
          "boleto": {
            "fingerprint": "MwZokDy5EQo<VENDOR_AUTH_CODE>05bq",
            "ta<VENDOR_AUTH_CODE>_id": "000.000.000-00"
          },
          "created": <VENDOR_ID>6926496<VENDOR_ID>2,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "boleto"
        }
  recorded_at: Mon, 21 Aug 2023 20:26:52 GMT
recorded_with: VCR 6.2.0
