---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 36<VENDOR_ID><VENDOR_ID>f2d8-3078-4f62-9c73-8d0c8274d8fe
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 36<VENDOR_ID><VENDOR_ID>f2d8-3078-4f62-9c73-8d0c8274d8fe
      Original-Request:
      - req_QJZpK7FYZQStYG
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_QdYwmkQrXdT0pz",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>7233060<VENDOR_ID>6,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "<VENDOR_ID>53779B<VENDOR_ID>",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 10 Aug 2024 16:06:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_QdYwmkQrXdT0pz
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 830eef46-c26<VENDOR_ID>-4a<VENDOR_ID>9-888b-3896c85dce07
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 830eef46-c26<VENDOR_ID>-4a<VENDOR_ID>9-888b-3896c85dce07
      Original-Request:
      - req_vgMgz5tQLReyf<VENDOR_AUTH_CODE>
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>PmHoiKXBGcbgpbZFeG6OX0O",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": 8,
            "e<VENDOR_AUTH_CODE>p_year": 2025,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>7233060<VENDOR_ID>6,
          "customer": "cus_QdYwmkQrXdT0pz",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sat, 10 Aug 2024 16:06:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_QdYwmkQrXdT0pz
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>PmHoiKXBGcbgpbZFeG6OX0O
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 5909c4<VENDOR_ID>3-d3b6-44<VENDOR_ID>5-97d3-aa3605733fa9
      S[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_QdYwmkQrXdT0pz?e<VENDOR_AUTH_CODE>pand%5B%5D=invoice_credit_balance&e<VENDOR_AUTH_CODE>pand%5B%5D=ta<VENDOR_AUTH_CODE>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/subscriptions
    body:
      encoding: UTF-8
      string: e<VENDOR_AUTH_CODE>pand[0]=default_payment_method&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=pending_setup_intent&e<VENDOR_AUTH_CODE>pand[2]=latest_invoice.payment_intent&e<VENDOR_AUTH_CODE>pand[3]=latest_invoice.charge&e<VENDOR_AUTH_CODE>pand[4]=latest_invoice.total_discount_amounts.discount&e<VENDOR_AUTH_CODE>pand[5]=latest_invoice.total_ta<VENDOR_AUTH_CODE>_amounts.ta<VENDOR_AUTH_CODE>_rate&items[0][plan]=small-monthly&trial_period_days=<VENDOR_ID>5&customer=cus_QdYwmkQrXdT0pz
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - cd539ad8-<VENDOR_ID>8db-4cee-aefc-<VENDOR_ID>55ba4e3<VENDOR_ID>b<VENDOR_ID>8
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cd539ad8-<VENDOR_ID>8db-4cee-aefc-<VENDOR_ID>55ba4e3<VENDOR_ID>b<VENDOR_ID>8
      Original-Request:
      - req_opyvccw4p7DWbv
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_<VENDOR_ID>PmHojKXBGcbgpbZpS5m9a8G",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_ta<VENDOR_AUTH_CODE>": {
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": <VENDOR_ID>7246020<VENDOR_ID>7,
          "billing_cycle_anchor_config": null,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": <VENDOR_ID>7233060<VENDOR_ID>7,
          "currency": "usd",
          "current_period_end": <VENDOR_ID>7246020<VENDOR_ID>7,
          "current_period_start": <VENDOR_ID>7233060<VENDOR_ID>7,
          "customer": "cus_QdYwmkQrXdT0pz",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_ta<VENDOR_AUTH_CODE>_rates": [],
          "description": null,
          "discount": null,
          "discounts": [],
          "ended_at": null,
          "invoice_settings": {
            "account_ta<VENDOR_AUTH_CODE>_ids": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_QdYwhbdjE9GwKX",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": <VENDOR_ID>7233060<VENDOR_ID>7,
                "discounts": [],
                "metadata": {},
                "plan": {
                  "id": "small-monthly",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 2500,
                  "amount_decimal": "2500",
                  "billing_scheme": "per_unit",
                  "created": <VENDOR_ID>57<VENDOR_ID>425570,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": <VENDOR_ID>,
                  "livemode": false,
                  "metadata": {},
                  "meter": null,
                  "nickname": "Small Monthly",
                  "product": "prod_EYTX7RYhRjcwKD",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "small-monthly",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": <VENDOR_ID>57<VENDOR_ID>425570,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": "Small Monthly",
                  "product": "prod_EYTX7RYhRjcwKD",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": <VENDOR_ID>,
                    "meter": null,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "ta<VENDOR_AUTH_CODE>_behavior": "e<VENDOR_AUTH_CODE>clusive",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 2500,
                  "unit_amount_decimal": "2500"
                },
                "quantity": <VENDOR_ID>,
                "subscription": "sub_<VENDOR_ID>PmHojKXBGcbgpbZpS5m9a8G",
                "ta<VENDOR_AUTH_CODE>_rates": []
              }
            ],
            "has_more": false,
            "total_count": <VENDOR_ID>,
            "url": "/v<VENDOR_ID>/subscription_items?subscription=sub_<VENDOR_ID>PmHojKXBGcbgpbZpS5m9a8G"
          },
          "latest_invoice": {
            "id": "in_<VENDOR_ID>PmHojKXBGcbgpbZKGmmj4b5",
            "object": "invoice",
            "account_country": "US",
            "account_name": "Pay",
            "account_ta<VENDOR_AUTH_CODE>_ids": null,
            "amount_due": 0,
            "amount_paid": 0,
            "amount_remaining": 0,
            "amount_shipping": 0,
            "application": null,
            "application_fee_amount": null,
            "attempt_count": 0,
            "attempted": true,
            "auto_advance": false,
            "automatic_ta<VENDOR_AUTH_CODE>": {
              "enabled": false,
              "liability": null,
              "status": null
            },
            "automatically_finalizes_at": null,
            "billing_reason": "subscription_create",
            "charge": null,
            "collection_method": "charge_automatically",
            "created": <VENDOR_ID>7233060<VENDOR_ID>7,
            "currency": "usd",
            "custom_fields": null,
            "customer": "cus_QdYwmkQrXdT0pz",
            "customer_address": null,
            "customer_email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
            "customer_name": "Stripe User",
            "customer_phone": null,
            "customer_shipping": null,
            "customer_ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
            "customer_ta<VENDOR_AUTH_CODE>_ids": [],
            "default_payment_method": null,
            "default_source": null,
            "default_ta<VENDOR_AUTH_CODE>_rates": [],
            "description": null,
            "discount": null,
            "discounts": [],
            "due_date": null,
            "effective_at": <VENDOR_ID>7233060<VENDOR_ID>7,
            "ending_balance": 0,
            "footer": null,
            "from_invoice": null,
            "hosted_invoice_url": "https://invoice.stripe.com/i/acct_<VENDOR_ID>E4bfnKXBGcbgpbZ/test_YWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaLF9RZFl3dDltZ0pGRXBiemhzYVl5S<VENDOR_ID>hUeGJacVRSZk9OLDE<VENDOR_AUTH_CODE>Mzg0Njg<VENDOR_AUTH_CODE>OA0200N<VENDOR_ID>Cj0inl?s=ap",
            "invoice_pdf": "https://pay.stripe.com/invoice/acct_<VENDOR_ID>E4bfnKXBGcbgpbZ/test_YWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaLF9RZFl3dDltZ0pGRXBiemhzYVl5S<VENDOR_ID>hUeGJacVRSZk9OLDE<VENDOR_AUTH_CODE>Mzg0Njg<VENDOR_AUTH_CODE>OA0200N<VENDOR_ID>Cj0inl/pdf?s=ap",
            "issuer": {
              "type": "self"
            },
            "last_finalization_error": null,
            "latest_revision": null,
            "lines": {
              "object": "list",
              "data": [
                {
                  "id": "il_<VENDOR_ID>PmHojKXBGcbgpbZnOvyV0XQ",
                  "object": "line_item",
                  "amount": 0,
                  "amount_e<VENDOR_AUTH_CODE>cluding_ta<VENDOR_AUTH_CODE>": 0,
                  "currency": "usd",
                  "description": "Trial period for Test Subscription (per user)",
                  "discount_amounts": [],
                  "discountable": true,
                  "discounts": [],
                  "invoice": "in_<VENDOR_ID>PmHojKXBGcbgpbZKGmmj4b5",
                  "livemode": false,
                  "metadata": {},
                  "period": {
                    "end": <VENDOR_ID>7246020<VENDOR_ID>7,
                    "start": <VENDOR_ID>7233060<VENDOR_ID>7
                  },
                  "plan": {
                    "id": "small-monthly",
                    "object": "plan",
                    "active": true,
                    "aggregate_usage": null,
                    "amount": 2500,
                    "amount_decimal": "2500",
                    "billing_scheme": "per_unit",
                    "created": <VENDOR_ID>57<VENDOR_ID>425570,
                    "currency": "usd",
                    "in[...]
