---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_JyYW1yOKLT5ewA",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1628050118,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_prefix": "49D5AE5A",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Wed, 04 Aug 2021 04:08:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_JyYW1yOKLT5ewA
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1JKbPHKXBGcbgpbZA3XIelEK",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "exp_month": 8,
            "exp_year": 2022,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1628050119,
          "customer": "cus_JyYW1yOKLT5ewA",
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Wed, 04 Aug 2021 04:08:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_JyYW1yOKLT5ewA
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1JKbPHKXBGcbgpbZA3XIelEK
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_JyYW1yOKLT5ewA",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1628050118,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_prefix": "49D5AE5A",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_1JKbPHKXBGcbgpbZA3XIelEK",
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Wed, 04 Aug 2021 04:08:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: expand[0]=pending_setup_intent&expand[1]=latest_invoice.payment_intent&items[0][plan]=small-monthly&items[0][quantity]=1&off_session=true&trial_period_days=15&customer=cus_JyYW1yOKLT5ewA
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_JyYWaTR6BD8Vft",
          "object": "subscription",
          "application_fee_percent": null,
          "automatic_tax": {
            "enabled": false
          },
          "billing_cycle_anchor": 1629346120,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "collection_method": "charge_automatically",
          "created": 1628050120,
          "current_period_end": 1629346120,
          "current_period_start": 1628050120,
          "customer": "cus_JyYW1yOKLT5ewA",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_JyYW4QYkmHBadV",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1628050120,
                "metadata": {
                },
                "plan": {
                  "id": "small-monthly",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 2500,
                  "amount_decimal": "2500",
                  "billing_scheme": "per_unit",
                  "created": 1571425570,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "Small Monthly",
                  "product": "prod_EYTX7RYhRjcwKD",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "small-monthly",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1571425570,
                  "currency": "usd",
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {
                  },
                  "nickname": "Small Monthly",
                  "product": "prod_EYTX7RYhRjcwKD",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 2500,
                  "unit_amount_decimal": "2500"
                },
                "quantity": 1,
                "subscription": "sub_JyYWaTR6BD8Vft",
                "tax_rates": [

                ]
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_JyYWaTR6BD8Vft"
          },
          "latest_invoice": {
            "id": "in_1JKbPIKXBGcbgpbZTJYjPaeL",
            "object": "invoice",
            "account_country": "US",
            "account_name": "Pay",
            "account_tax_ids": null,
            "amount_due": 0,
            "amount_paid": 0,
            "amount_remaining": 0,
            "application_fee_amount": null,
            "attempt_count": 0,
            "attempted": true,
            "auto_advance": false,
            "automatic_tax": {
              "enabled": false,
              "status": null
            },
            "billing_reason": "subscription_create",
            "charge": null,
            "collection_method": "charge_automatically",
            "created": 1628050120,
            "currency": "usd",
            "custom_fields": null,
            "customer": "cus_JyYW1yOKLT5ewA",
            "customer_address": null,
            "customer_email": "stripe@example.org",
            "customer_name": "Stripe User",
            "customer_phone": null,
            "customer_shipping": null,
            "customer_tax_exempt": "none",
            "customer_tax_ids": [

            ],
            "default_payment_method": null,
            "default_source": null,
            "default_tax_rates": [

            ],
            "description": null,
            "discount": null,
            "discounts": [

            ],
            "due_date": null,
            "ending_balance": 0,
            "footer": null,
            "hosted_invoice_url": "https://invoice.stripe.com/i/acct_1E4bfnKXBGcbgpbZ/invst_JyYWzomQqHH2RikJDM5xBXrJeNRwbSg",
            "invoice_pdf": "https://pay.stripe.com/invoice/acct_1E4bfnKXBGcbgpbZ/invst_JyYWzomQqHH2RikJDM5xBXrJeNRwbSg/pdf",
            "last_finalization_error": null,
            "lines": {
              "object": "list",
              "data": [
                {
                  "id": "il_1JKbPIKXBGcbgpbZ2itTiTZW",
                  "object": "line_item",
                  "amount": 0,
                  "currency": "usd",
                  "description": "Trial period for Test Subscription",
                  "discount_amounts": [

                  ],
                  "discountable": true,
                  "discounts": [

                  ],
                  "livemode": false,
                  "metadata": {
                  },
                  "period": {
                    "end": 1629346120,
                    "start": 1628050120
                  },
                  "plan": {
                    "id": "small-monthly",
                    "object": "plan",
                    "active": true,
                    "aggregate_usage": null,
                    "amount": 2500,
                    "amount_decimal": "2500",
                    "billing_scheme": "per_unit",
                    "created": 1571425570,
                    "currency": "usd",
                    "interval": "month",
                    "i[...]
