---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=johnny%40appleseed.com
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_G8ZOfmYiLelzWE",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1573161036,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "johnny@appleseed.com",
          "invoice_prefix": "93AE7437",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_G8ZOfmYiLelzWE/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_G8ZOfmYiLelzWE/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_G8ZOfmYiLelzWE/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Thu, 07 Nov 2019 21:10:36 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/small-monthly
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "small-monthly",
          "object": "plan",
          "active": true,
          "aggregate_usage": null,
          "amount": 2500,
          "amount_decimal": "2500",
          "billing_scheme": "per_unit",
          "created": 1571425570,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {
          },
          "nickname": "Small Monthly",
          "product": "prod_EYTX7RYhRjcwKD",
          "tiers": null,
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        }
  recorded_at: Thu, 07 Nov 2019 21:10:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&billing_details[name]=Jane+Doe&card[number]=4242+4242+4242+4242&card[exp_month]=9&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1FcIFVKXBGcbgpbZEZE8R9Wn",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": "Jane Doe",
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 9,
            "exp_year": 2024,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1573161037,
          "customer": null,
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Thu, 07 Nov 2019 21:10:37 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1FcIFVKXBGcbgpbZEZE8R9Wn/attach
    body:
      encoding: UTF-8
      string: customer=cus_G8ZOH3dXqvCIcy
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_G8ZOH3dXqvCIcy
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1FcIFVKXBGcbgpbZEZE8R9Wn
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '20[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1FcIFVKXBGcbgpbZEZE8R9Wn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      s[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_G8ZOH3dXqvCIcy/subscriptions
    body:
      encoding: UTF-8
      string: expand[0]=pending_setup_intent&expand[1]=latest_invoice.payment_intent&items[0][plan]=small-monthly&off_session=true&trial_period_days=15
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_G8ZOqA3Xkh6FRe",
          "object": "subscription",
          "application_fee_percent": null,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1574457040,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "collection_method": "charge_automatically",
          "created": 1573161040,
          "current_period_end": 1574457040,
          "current_period_start": 1573161040,
          "customer": "cus_G8ZOH3dXqvCIcy",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "discount": null,
          "ended_at": null,
          "invoice_customer_balance_settings": {
            "consume_applied_balance_on_void": true
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_G8ZOzYtAGqkReN",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1573161040,
                "metadata": {
                },
                "plan": {
                  "id": "small-monthly",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 2500,
                  "amount_decimal": "2500",
                  "billing_scheme": "per_unit",
                  "created": 1571425570,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "Small Monthly",
                  "product": "prod_EYTX7RYhRjcwKD",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "subscription": "sub_G8ZOqA3Xkh6FRe",
                "tax_rates": [

                ]
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_G8ZOqA3Xkh6FRe"
          },
          "latest_invoice": {
            "id": "in_1FcIFYKXBGcbgpbZkVRmk3zP",
            "object": "invoice",
            "account_country": "US",
            "account_name": "Pay",
            "amount_due": 0,
            "amount_paid": 0,
            "amount_remaining": 0,
            "application_fee_amount": null,
            "attempt_count": 0,
            "attempted": true,
            "auto_advance": false,
            "billing": "charge_automatically",
            "billing_reason": "subscription_create",
            "charge": null,
            "collection_method": "charge_automatically",
            "created": 1573161040,
            "currency": "usd",
            "custom_fields": null,
            "customer": "cus_G8ZOH3dXqvCIcy",
            "customer_address": null,
            "customer_email": "johnny@appleseed.com",
            "customer_name": null,
            "customer_phone": null,
            "customer_shipping": null,
            "customer_tax_exempt": "none",
            "customer_tax_ids": [

            ],
            "default_payment_method": null,
            "default_source": null,
            "default_tax_rates": [

            ],
            "description": null,
            "discount": null,
            "due_date": null,
            "ending_balance": 0,
            "footer": null,
            "hosted_invoice_url": "https://pay.stripe.com/invoice/invst_Vy9SEiO8EltshuQpuYuxvXZqAU",
            "invoice_pdf": "https://pay.stripe.com/invoice/invst_Vy9SEiO8EltshuQpuYuxvXZqAU/pdf",
            "lines": {
              "object": "list",
              "data": [
                {
                  "id": "sli_5cf906e0db2c96",
                  "object": "line_item",
                  "amount": 0,
                  "currency": "usd",
                  "description": "Trial period for Test Subscription",
                  "discountable": true,
                  "livemode": false,
                  "metadata": {
                  },
                  "period": {
                    "end": 1574457040,
                    "start": 1573161040
                  },
                  "plan": {
                    "id": "small-monthly",
                    "object": "plan",
                    "active": true,
                    "aggregate_usage": null,
                    "amount": 2500,
                    "amount_decimal": "2500",
                    "billing_scheme": "per_unit",
                    "created": 1571425570,
                    "currency": "usd",
                    "interval": "month",
                    "interval_count": 1,
                    "livemode": false,
                    "metadata": {
                    },
                    "nickname": "Small Monthly",
                    "product": "prod_EYTX7RYhRjcwKD",
                    "tiers": null,
                    "tiers_mode": null,
                    "transform_usage": null,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "proration": false,
                  "quantity": 1,
                  "subscription": "sub_G8ZOqA3Xkh6FRe",
                  "subscription_item": "si_G8ZOzYtAGqkReN",
                  "tax_amounts": [

                  ],
                  "tax_rates": [

                  ],
                  "type": "subscription"
                }
              ],
              "has_more": false,
              "total_count": 1,
              "url": "/v1/invoices/in_1FcIFYKXBGcbgpbZkVRmk3zP/lines"
            },
            "livemode": false,
            "metadata": {
            },
            "next_payment_attempt": null,
            "number": "C7542671-0001",
            "paid": true,
            "payment_intent": null,
            "period_end": 1573161040,
            "period_start": 1573161040,
            "post_payment_credit_notes_amount": 0,
            "pre_payment_credit_notes_amount": 0,
            "receipt_number": null,
            "starting_balance": 0,
            "statement_descriptor": null,
            "status": "paid",
            "status_transitions": {
              "finalized_at": 1573161040,
              "marked_uncollectible_at": null,
              "paid_at": 1573161040,
              "voided_at": null
            },
            "subscription": "sub_G8ZOqA3Xkh6FRe",
            "subtotal": 0,
            "tax": null,
            "tax_percent": null,
            "total": 0,
            "total_tax_amounts": [

            ],
            "webhooks_delivered_at": null
          },
          "livemode": false,
          "metadata": {
          },
          "next_pending_invoice_item_invoice": null,
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "plan": {
            "id": "small-monthly",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 2500,
            "amount_decimal": "2500",
            "billing_scheme": "per_unit",
            "created": 1571425570,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {
            },
            "nickname": "Small Monthly",
            "product": "prod_EYTX7RYhRjcwKD",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start": 1573161040,
          "start_date": 1573161040,
          "status": "trialing",
          "tax_percent": null,
          "trial_end": 1574457040,
          "trial_start": 1573161040
        }
  recorded_at: Thu, 07 Nov 2019 21:10:37 GMT
recorded_with: VCR 5.0.0
