---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/subscription/users
    body:
      encoding: UTF-8
      string: subscription_id=3576212&vendor_auth_code=d4fa0981f2c51335215bfbf31cddfbf1af76951baa11427910&vendor_id=123456
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":[{"subscription_id":3576212,"plan_id":594470,"user_id":17368056,"user_email":"test@example.com","marketing_consent":false,"update_url":"https:\/\/checkout.paddle.com\/subscription\/update?user=17368056&subscription=3576212&hash=c9c3df4dea3a2a14b964a85c1d5d8721a56bf4b0c08c84929779d17d9796d22b","cancel_url":"https:\/\/checkout.paddle.com\/subscription\/cancel?user=17368056&subscription=3576212&hash=c08c685b6de727a8f2d690888b42a3338735661c984bd98f9807338cfe126d47","state":"trialing","signup_date":"2020-06-04
        12:34:59","last_payment":{"amount":0,"currency":"USD","date":"2020-06-04"},"linked_subscriptions":[],"payment_information":{"payment_method":"card","card_type":"visa","last_four_digits":"1234","expiry_date":"06\/2022"},"next_payment":{"amount":0,"currency":"USD","date":"2020-07-04"}}]}'
  recorded_at: Thu, 04 Jun 2020 12:44:28 GMT
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/subscription/users_cancel
    body:
      encoding: UTF-8
      string: subscription_id=3576212&vendor_auth_code=d4fa0981f2c51335215bfbf31cddfbf1af76951baa11427910&vendor_id=123456
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"response":null}'
  recorded_at: Thu, 04 Jun 2020 12:44:29 GMT
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/subscription/users
    body:
      encoding: UTF-8
      string: subscription_id=3576212&vendor_auth_code=d4fa0981f2c51335215bfbf31cddfbf1af76951baa11427910&vendor_id=123456
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":[{"subscription_id":3576212,"plan_id":594470,"user_id":17368056,"user_email":"test@example.com","marketing_consent":false,"update_url":"https:\/\/checkout.paddle.com\/subscription\/update?user=17368056&subscription=3576212&hash=c9c3df4dea3a2a14b964a85c1d5d8721a56bf4b0c08c84929779d17d9796d22b","cancel_url":"https:\/\/checkout.paddle.com\/subscription\/cancel?user=17368056&subscription=3576212&hash=c08c685b6de727a8f2d690888b42a3338735661c984bd98f9807338cfe126d47","state":"trialing","signup_date":"2020-06-04
      12:34:59","last_payment":{"amount":0,"currency":"USD","date":"2020-06-04"},"linked_subscriptions":[],"payment_information":{"payment_method":"card","card_type":"visa","last_four_digits":"1234","expiry_date":"06\/2022"},"next_payment":{"amount":0,"currency":"USD","date":"2020-07-04"}}]}'
  recorded_at: Thu, 04 Jun 2020 12:44:29 GMT
recorded_with: VCR 5.1.0
