---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - a2a7ce09-90ef-4425-8d73-2a700e2b87<VENDOR_ID>a
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a2a7ce09-90ef-4425-8d73-2a700e2b87<VENDOR_ID>a
      Original-Request:
      - req_oCfMrHHXtVJId8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TL2hpcGlBaMk85",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>76<VENDOR_ID>933576,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "KUDWVVYU",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 31 Oct 2025 17:59:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/subscriptions
    body:
      encoding: UTF-8
      string: items[0][price]=small-monthly&customer=cus_TL2hpcGlBaMk85&e<VENDOR_AUTH_CODE>pand[0]=default_payment_method&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=discounts&e<VENDOR_AUTH_CODE>pand[2]=latest_invoice.confirmation_<PADDLE_API_KEY>&e<VENDOR_AUTH_CODE>pand[3]=latest_invoice.payments&e<VENDOR_AUTH_CODE>pand[4]=latest_invoice.total_discount_amounts.discount&e<VENDOR_AUTH_CODE>pand[5]=pending_setup_intent&e<VENDOR_AUTH_CODE>pand[6]=schedule
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - '08659ca<VENDOR_ID>-84ec-4999-b6fa-67a99e6da833'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '08659ca<VENDOR_ID>-84ec-4999-b6fa-67a99e6da833'
      Original-Request:
      - req_MV7<VENDOR_ID>XH0<VENDOR_ID>wzylyI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "This customer has no attached payment source or default payment method. Please consider adding a default payment method. For more information, visit https://stripe.com/docs/billing/subscriptions/payment-methods-setting#payment-method-priority.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_MV7<VENDOR_ID>XH0<VENDOR_ID>wzylyI?t=<VENDOR_ID>76<VENDOR_ID>933577",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Fri, 31 Oct 2025 17:59:38 GMT
recorded_with: VCR 6.3.1
