---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - abfe<VENDOR_ID>a25-2b75-4c2e-ab88-a03beb9<VENDOR_ID>8d44
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - abfe<VENDOR_ID>a25-2b75-4c2e-ab88-a03beb9<VENDOR_ID>8d44
      Original-Request:
      - req_ys2tes6RIPAPU2
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VIOPjuCNNpQVrh",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>78992<VENDOR_ID>8<VENDOR_ID>0,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "H8T5HXRS",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:30:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/setup_intents
    body:
      encoding: UTF-8
      string: customer=cus_VIOPjuCNNpQVrh&usage=off_session
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - c2e4<VENDOR_ID>ec6-2ae5-48b<VENDOR_ID>-b005-cf693488dc29
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c2e4<VENDOR_ID>ec6-2ae5-48b<VENDOR_ID>-b005-cf693488dc29
      Original-Request:
      - req_<VENDOR_ID>czrMvUk<VENDOR_AUTH_CODE>uECZ8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_<VENDOR_ID>UHnd<VENDOR_ID>KXBGcbgpbZsuy0jD9b",
          "object": "setup_intent",
          "allowed_payment_method_types": null,
          "application": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "cancellation_reason": null,
          "client_<PADDLE_API_KEY>": "seti_<VENDOR_ID>UHnd<VENDOR_ID>KXBGcbgpbZsuy0jD9b_<PADDLE_API_KEY>_VIOPKt6jMwOlew2QRqD6lJR6Zqv5fwt",
          "created": <VENDOR_ID>78992<VENDOR_ID>8<VENDOR_ID><VENDOR_ID>,
          "customer": "cus_VIOPjuCNNpQVrh",
          "customer_account": null,
          "description": null,
          "e<VENDOR_AUTH_CODE>cluded_payment_method_types": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "mandate": null,
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_configuration_details": {
            "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "us_bank_account": {
              "mandate_options": {},
              "verification_method": "automatic"
            }
          },
          "payment_method_types": [
            "card",
            "bancontact",
            "ideal",
            "sepa_debit",
            "acss_debit",
            "klarna",
            "link",
            "us_bank_account"
          ],
          "single_use_mandate": null,
          "status": "requires_payment_method",
          "usage": "off_session"
        }
  recorded_at: Sun, 20 Sep 2026 16:30:11 GMT
recorded_with: VCR 6.4.0
