---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - caea9297-fafd-4a86-afea-4af838<VENDOR_ID>cbce6
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - caea9297-fafd-4a86-afea-4af838<VENDOR_ID>cbce6
      Original-Request:
      - req_H<VENDOR_ID>qUEIWpLj02TT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VIOPkjWd7Ll<VENDOR_AUTH_CODE>U9",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>78992<VENDOR_ID>794,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "I3XLDWEH",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:29:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/checkout/sessions
    body:
      encoding: UTF-8
      string: customer=cus_VIOPkjWd7Ll<VENDOR_AUTH_CODE>U9&mode=payment&success_url=http%3A%2F%2Flocalhost%3A3000%2F%3Fstripe_checkout_session_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=http%3A%2F%2Flocalhost%3A3000%2F%3Fstripe_checkout_session_id%3D%7BCHECKOUT_SESSION_ID%7D&line_items[0][price]=price_<VENDOR_ID>ILVZaKXBGcbgpbZQ26kgXWG&line_items[0][quantity]=<VENDOR_ID>
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 74d9e9bf-8cde-42fc-a8ad-34424d706c6e
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 74d9e9bf-8cde-42fc-a8ad-34424d706c6e
      Original-Request:
      - req_COSmhbQObjnjgB
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a<VENDOR_ID>80COMuDa4GJILUoh4QJ<VENDOR_AUTH_CODE>zWPBBuuZXWEdF66MztsMuHl3b3NoNAZHE6rS",
          "object": "checkout.session",
          "adaptive_pricing": {
            "enabled": true
          },
          "after_e<VENDOR_AUTH_CODE>piration": null,
          "allow_promotion_codes": null,
          "allowed_payment_method_types": null,
          "amount_subtotal": <VENDOR_ID>500,
          "amount_total": <VENDOR_ID>500,
          "automatic_ta<VENDOR_AUTH_CODE>": {
            "enabled": false,
            "liability": null,
            "provider": null,
            "status": null
          },
          "billing_address_collection": null,
          "branding_settings": {
            "background_color": "#ffffff",
            "border_style": "rounded",
            "button_color": "#0074d4",
            "display_name": "Pay",
            "font_family": "default",
            "icon": null,
            "logo": null
          },
          "cancel_url": "http://localhost:3000/?stripe_checkout_session_id={CHECKOUT_SESSION_ID}",
          "client_reference_id": null,
          "client_<PADDLE_API_KEY>": null,
          "collected_information": {
            "business_name": null,
            "individual_name": null,
            "shipping_details": null
          },
          "consent": null,
          "consent_collection": null,
          "created": <VENDOR_ID>78992<VENDOR_ID>794,
          "currency": "usd",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_te<VENDOR_AUTH_CODE>t": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": "cus_VIOPkjWd7Ll<VENDOR_AUTH_CODE>U9",
          "customer_account": null,
          "customer_creation": null,
          "customer_details": {
            "address": null,
            "business_name": null,
            "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
            "individual_name": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
            "ta<VENDOR_AUTH_CODE>_ids": null
          },
          "customer_email": null,
          "discounts": [],
          "e<VENDOR_AUTH_CODE>pires_at": <VENDOR_ID>790008<VENDOR_ID>94,
          "integration_identifier": null,
          "invoice": null,
          "invoice_creation": {
            "enabled": false,
            "invoice_data": {
              "account_ta<VENDOR_AUTH_CODE>_ids": null,
              "custom_fields": null,
              "description": null,
              "footer": null,
              "issuer": null,
              "metadata": {},
              "rendering_options": null
            }
          },
          "livemode": false,
          "locale": null,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "mode": "payment",
          "origin_conte<VENDOR_AUTH_CODE>t": null,
          "payment_intent": null,
          "payment_link": null,
          "payment_method_collection": "if_required",
          "payment_method_configuration_details": {
            "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            },
            "us_bank_account": {
              "financial_connections": {
                "permissions": [
                  "payment_method"
                ],
                "prefetch": []
              },
              "verification_method": "automatic"
            },
            "wechat_pay": {
              "app_id": null,
              "client": "web"
            }
          },
          "payment_method_types": [
            "card",
            "afterpay_clearpay",
            "alipay",
            "klarna",
            "link",
            "us_bank_account",
            "wechat_pay"
          ],
          "payment_status": "unpaid",
          "permissions": null,
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "saved_payment_method_options": {
            "allow_redisplay_filters": [
              "always"
            ],
            "payment_method_remove": "disabled",
            "payment_method_save": null
          },
          "setup_intent": null,
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_options": [],
          "status": "open",
          "submit_type": null,
          "subscription": null,
          "success_url": "http://localhost:3000/?stripe_checkout_session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_ta<VENDOR_AUTH_CODE>": 0
          },
          "ui_mode": "hosted_page",
          "url": "https://checkout.stripe.com/c/pay/cs_test_a<VENDOR_ID>80COMuDa4GJILUoh4QJ<VENDOR_AUTH_CODE>zWPBBuuZXWEdF66MztsMuHl3b3NoNAZHE6rS#fidnandhYHdWcX<VENDOR_AUTH_CODE>pYCc%2FJ2FgY2RwaXEnKSdicyc%2FNSknZHVsTmB8Jz8ndW5acWB2cVpucEYyVW5BND<VENDOR_AUTH_CODE>0S<VENDOR_ID><VENDOR_ID>LMkNSfU9vZ3<VENDOR_AUTH_CODE>VNkgnKSdjd2poVmB3c2B3Jz9<VENDOR_AUTH_CODE>d3BgKSdnZGZuYndqcGthRmppancnPycmY2NjY2NjJyknaWR8anB<VENDOR_AUTH_CODE>UX<VENDOR_AUTH_CODE><VENDOR_ID>YCc%2FJ3Zsa2JpYFpscWBoJyknYGtkZ2lgVWlkZmBtamlhYHd2Jz9<VENDOR_AUTH_CODE>d3BgeCUl",
          "wallet_options": null
        }
  recorded_at: Sun, 20 Sep 2026 16:29:54 GMT
recorded_with: VCR 6.4.0
