---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 2834<VENDOR_ID>ffe-789c-4<VENDOR_ID>b9-b6d6-60c7ea9ef7d2
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2834<VENDOR_ID>ffe-789c-4<VENDOR_ID>b9-b6d6-60c7ea9ef7d2
      Original-Request:
      - req_Rz4Ci7I82tLw2r
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OUdyR900aBoc4V",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>6926496<VENDOR_ID>0,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_prefi<VENDOR_AUTH_CODE>": "FB4<VENDOR_ID>80AA",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 21 Aug 2023 20:26:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/abcd/attach
    body:
      encoding: UTF-8
      string: customer=cus_OUdyR900aBoc4V
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - ecf4c842-e8ad-400a-a47a-770c74fc4627
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ecf4c842-e8ad-400a-a47a-770c74fc4627
      Original-Request:
      - req_8c3CLYDuLCXvmr
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such PaymentMethod: 'abcd'; It's possible this PaymentMethod e<VENDOR_AUTH_CODE>ists on one of your connected accounts, in which case you should retry this request on that connected account. Learn more at https://stripe.com/docs/connect/authentication",
            "param": "payment_method",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_8c3CLYDuLCXvmr?t=<VENDOR_ID>6926496<VENDOR_ID>0",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 21 Aug 2023 20:26:51 GMT
recorded_with: VCR 6.2.0
