---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods
    body:
      encoding: UTF-8
      string: type=afterpay_clearpay&billing_details[address][line<VENDOR_ID>]=<VENDOR_ID>+Fake+Street&billing_details[address][city]=Cupertino&billing_details[address][state]=CA&billing_details[address][country]=US&billing_details[address][postal_code]=95<VENDOR_ID>02&billing_details[email]=test%40e<VENDOR_AUTH_CODE>ample.org&billing_details[name]=Test+User
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 62e576e6-fe98-445c-bba<VENDOR_ID>-6<VENDOR_ID>d<VENDOR_ID>c<VENDOR_ID>2b526e
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 62e576e6-fe98-445c-bba<VENDOR_ID>-6<VENDOR_ID>d<VENDOR_ID>c<VENDOR_ID>2b526e
      Original-Request:
      - req_ZrQeQMCmgIJVGr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>SOMcRKXBGcbgpbZQsIkv23R",
          "object": "payment_method",
          "afterpay_clearpay": {},
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": "Cupertino",
              "country": "US",
              "line<VENDOR_ID>": "<VENDOR_ID> Fake Street",
              "line2": null,
              "postal_code": "95<VENDOR_ID>02",
              "state": "CA"
            },
            "email": "test@e<VENDOR_AUTH_CODE>ample.org",
            "name": "Test User",
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "created": <VENDOR_ID>76<VENDOR_ID>9336<VENDOR_ID><VENDOR_ID>,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "afterpay_clearpay"
        }
  recorded_at: Fri, 31 Oct 2025 18:00:11 GMT
recorded_with: VCR 6.3.1
