---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - fc7479d5-46<VENDOR_ID>c-40db-9<VENDOR_ID>95-756e584beb95
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fc7479d5-46<VENDOR_ID>c-40db-9<VENDOR_ID>95-756e584beb95
      Original-Request:
      - req_t0RgKmR3VD<VENDOR_ID>ReU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TOnRdjmItsevqk",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>7627994<VENDOR_ID>6,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "UHA<VENDOR_ID>ROCQ",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 10 Nov 2025 18:30:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_TOnRdjmItsevqk
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 3bb6<VENDOR_ID>89a-f0<VENDOR_ID>9-4379-b08c-f7bb34<VENDOR_ID>4b792
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3bb6<VENDOR_ID>89a-f0<VENDOR_ID>9-4379-b08c-f7bb34<VENDOR_ID>4b792
      Original-Request:
      - req_Ov8BTYkRBOsydy
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>SRzr3KXBGcbgpbZKNgsJUS6",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": <VENDOR_ID><VENDOR_ID>,
            "e<VENDOR_AUTH_CODE>p_year": 2026,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>7627994<VENDOR_ID>7,
          "customer": "cus_TOnRdjmItsevqk",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 10 Nov 2025 18:30:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TOnRdjmItsevqk
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SRzr3KXBGcbgpbZKNgsJUS6
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - db0305a6-ccdf-4290-ace6-ca9ed<VENDOR_ID>22<VENDOR_ID>437
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - [...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents
    body:
      encoding: UTF-8
      string: amount=2900&currency=usd&customer=cus_TOnRdjmItsevqk&e<VENDOR_AUTH_CODE>pand[0]=latest_charge.balance_transaction&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=latest_charge.payment_intent&e<VENDOR_AUTH_CODE>pand[2]=latest_charge.refunds.data.balance_transaction&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_<VENDOR_ID>SRzr3KXBGcbgpbZKNgsJUS6
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 47045e78-5ed8-4fea-ba02-f7078<VENDOR_ID>ee0bef
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 47045e78-5ed8-4fea-ba02-f7078<VENDOR_ID>ee0bef
      Original-Request:
      - req_PNQ2NtXnhTpooV
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SRzr4KXBGcbgpbZ00RsiEOa",
          "object": "payment_intent",
          "amount": 2900,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 2900,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_<PADDLE_API_KEY>": "pi_3SRzr4KXBGcbgpbZ00RsiEOa_<PADDLE_API_KEY>_LRB7M4XppJtaDPnW2duJundpL",
          "confirmation_method": "automatic",
          "created": <VENDOR_ID>7627994<VENDOR_ID>8,
          "currency": "usd",
          "customer": "cus_TOnRdjmItsevqk",
          "description": null,
          "e<VENDOR_AUTH_CODE>cluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3SRzr4KXBGcbgpbZ0SZ3W<VENDOR_ID>ON",
            "object": "charge",
            "amount": 2900,
            "amount_captured": 2900,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": null,
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line<VENDOR_ID>": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null,
              "ta<VENDOR_AUTH_CODE>_id": null
            },
            "calculated_statement_descriptor": "PAY RAILS",
            "captured": true,
            "created": <VENDOR_ID>7627994<VENDOR_ID>8,
            "currency": "usd",
            "customer": "cus_TOnRdjmItsevqk",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "advice_code": null,
              "network_advice_code": null,
              "network_decline_code": null,
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 35,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": {
              "id": "pi_3SRzr4KXBGcbgpbZ00RsiEOa",
              "object": "payment_intent",
              "amount": 2900,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 2900,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": {
                "allow_redirects": "always",
                "enabled": true
              },
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic_async",
              "client_<PADDLE_API_KEY>": "pi_3SRzr4KXBGcbgpbZ00RsiEOa_<PADDLE_API_KEY>_LRB7M4XppJtaDPnW2duJundpL",
              "confirmation_method": "automatic",
              "created": <VENDOR_ID>7627994<VENDOR_ID>8,
              "currency": "usd",
              "customer": "cus_TOnRdjmItsevqk",
              "description": null,
              "e<VENDOR_AUTH_CODE>cluded_payment_method_types": null,
              "last_payment_error": null,
              "latest_charge": "ch_3SRzr4KXBGcbgpbZ0SZ3W<VENDOR_ID>ON",
              "livemode": false,
              "metadata": {},
              "ne<VENDOR_AUTH_CODE>t_action": null,
              "on_behalf_of": null,
              "payment_method": "pm_<VENDOR_ID>SRzr3KXBGcbgpbZKNgsJUS6",
              "payment_method_configuration_details": {
                "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
                "parent": null
              },
              "payment_method_options": {
                "acss_debit": {
                  "verification_method": "automatic"
                },
                "afterpay_clearpay": {
                  "reference": null
                },
                "alipay": {},
                "card": {
                  "installments": null,
                  "mandate_options": null,
                  "network": null,
                  "request_three_d_secure": "automatic"
                },
                "klarna": {
                  "preferred_locale": null
                },
                "link": {
                  "persistent_token": null
                },
                "us_bank_account": {
                  "financial_connections": {
                    "permissions": [
                      "payment_method"
                    ],
                    "prefetch": []
                  },
                  "mandate_options": {},
                  "verification_method": "automatic"
                },
                "wechat_pay": {
                  "app_id": null,
                  "client": null
                }
              },
              "payment_method_types": [
                "card",
                "acss_debit",
                "afterpay_clearpay",
                "alipay",
                "klarna",
                "link",
                "us_bank_account",
                "wechat_pay"
              ],
              "processing": null,
              "receipt_email": null,
              "review": null,
              "setup_future_usage": null,
              "shipping": null,
              "source": null,
              "statement_descriptor": null,
              "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
              "status": "succeeded",
              "transfer_data": null,
              "transfer_group": null
            },
            "payment_method": "pm_<VENDOR_ID>SRzr3KXBGcbgpbZKNgsJUS6",
            "payment_method_details": {
              "card": {
                "amount_authorized": 2900,
                "authorization_code": "05447<VENDOR_ID>",
                "brand": "visa",
                "checks": {
                  "address_line<VENDOR_ID>_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": "pass"
                },
                "country": "US",
                "e<VENDOR_AUTH_CODE>p_month": <VENDOR_ID><VENDOR_ID>,
                "e<VENDOR_AUTH_CODE>p_year": 2026,
                "e<VENDOR_AUTH_CODE>tended_authorization": {
                  "status": "disabled"
                },
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "incremental_authorization": {
                  "status": "unavailable"
                },
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "multicapture": {
                  "status": "unavailable"
                },
                "network": "visa",
                "network_token": {
                  "used": false
                },
                "network_transaction_id": "<VENDOR_ID><VENDOR_ID>9528868<VENDOR_ID>228<VENDOR_ID>7",
                "overcapture": {
                  "ma<VENDOR_AUTH_CODE>imum_amount_capturable": 2900,
                  "status": "unavailable"
                },
                "regulated_status": "unregulated",
                "three_d_secure": null,
                "wallet": null
              },
              "type": "card"
            },
            "radar_options": {},
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaKLreyMgGMgaif60NDEk6LBb6gmMOQLH<VENDOR_ID>XqUV<VENDOR_ID>roY6eUZTKKIDbWqmFabA<VENDOR_AUTH_CODE>kIgaQZb2Fq8gL5ILnpf5IF",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v<VENDOR_ID>/charges/ch_3SRzr4KXBGcbgpbZ0SZ3W<VENDOR_ID>ON/refunds"
            },
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": null
          },
          "livemode": false,
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_<VENDOR_ID>SRzr3KXBGcbgpbZKNgsJUS6",
          "payment_method_configuration_details": {
           [...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?payment%5Bpayment_intent%5D=pi_3SRzr4KXBGcbgpbZ00RsiEOa&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Mon, 10 Nov 2025 18:30:18 GMT
recorded_with: VCR 6.3.1
