---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/subscription/3576390/charge
    body:
      encoding: UTF-8
      string: amount=10.00&charge_name=Test&vendor_auth_code=d4fa0981f2c51335215bfbf31cddfbf1af76951baa11427910&vendor_id=123456
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":{"invoice_id":10693223,"subscription_id":1,"amount":"10.00","currency":"USD",
      "payment_date":"2018-09-21","receipt_url":"https://my.paddle.com/receipt/1-1/3-chre8a53a2714c6-42771cb81a"}}'
  recorded_at: Fri, 05 Jun 2020 12:08:14 GMT
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/subscription/users
    body:
      encoding: UTF-8
      string: subscription_id=3576390&vendor_auth_code=d4fa0981f2c51335215bfbf31cddfbf1af76951baa11427910&vendor_id=123456
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":[{"subscription_id":3576390,"plan_id":594470,"user_id":17368056,"user_email":"test@example.com","marketing_consent":false,"update_url":"https:\/\/checkout.paddle.com\/subscription\/update?user=17368056&subscription=3576390&hash=cc553b2a75a8a8c23bbd22463e5820a8580ea71198db9519ed752ea36d90ceee","cancel_url":"https:\/\/checkout.paddle.com\/subscription\/cancel?user=17368056&subscription=3576390&hash=53fafebb9ea30fc7853acbbb57a3bcecc01615ee43eb300df111b1ff03e1aa9a","state":"active","signup_date":"2020-06-04
        13:06:33","last_payment":{"amount":1.19,"currency":"USD","date":"2020-06-05"},"linked_subscriptions":[],"payment_information":{"payment_method":"card","card_type":"visa","last_four_digits":"1234","expiry_date":"06\/2022"},"next_payment":{"amount":0,"currency":"USD","date":"2020-07-04"}}]}'
  recorded_at: Fri, 05 Jun 2020 12:10:49 GMT
recorded_with: VCR 5.1.0
