---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=johnny%40appleseed.com
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_JGwHoErcCFbwYB",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1617990339,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "johnny@appleseed.com",
          "invoice_prefix": "04D08610",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Fri, 09 Apr 2021 17:45:39 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_authenticationRequired/attach
    body:
      encoding: UTF-8
      string: customer=cus_JGwHoqxHTDcWyu
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1IeOOmKXBGcbgpbZn8nHl6Yb",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "DE",
            "exp_month": 4,
            "exp_year": 2022,
            "fingerprint": "qu2JxQg97yWGBVrd",
            "funding": "credit",
            "generated_from": null,
            "last4": "3184",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1617990340,
          "customer": "cus_JGwHoqxHTDcWyu",
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Fri, 09 Apr 2021 17:45:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_JGwHoqxHTDcWyu
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1IeOOmKXBGcbgpbZn8nHl6Yb
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_JGwHoqxHTDcWyu",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1617990339,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "johnny@appleseed.com",
          "invoice_prefix": "32FF9CC1",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_1IeOOmKXBGcbgpbZn8nHl6Yb",
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Fri, 09 Apr 2021 17:45:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2900&confirm=true&confirmation_method=automatic&currency=usd&customer=cus_JGwHoqxHTDcWyu&payment_method=pm_1IeOOmKXBGcbgpbZn8nHl6Yb
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_1IeOOnKXBGcbgpbZXo4POndb",
          "object": "payment_intent",
          "amount": 2900,
          "amount_capturable": 0,
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges?payment_intent=pi_1IeOOnKXBGcbgpbZXo4POndb"
          },
          "client_secret": "pi_1IeOOnKXBGcbgpbZXo4POndb_secret_jc6HOD7PWQGCpDjERaYp5GC4C",
          "confirmation_method": "automatic",
          "created": 1617990341,
          "currency": "usd",
          "customer": "cus_JGwHoqxHTDcWyu",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
          },
          "next_action": {
            "type": "use_stripe_sdk",
            "use_stripe_sdk": {
              "type": "three_d_secure_redirect",
              "stripe_js": "https://hooks.stripe.com/redirect/authenticate/src_1IeOOnKXBGcbgpbZgvXy9HJW?client_secret=src_client_secret_tx3txXTJiCTWlzZSiHXWuksU\u0026source_redirect_slug=test_YWNjdF8xRTRiZm5LWEJHY2JncGJaLF9KR3dIOVlxdFdwa3k2eUp2QUR4UE8yaTZzbmo0ZVNn0100rAi2DARs",
              "source": "src_1IeOOnKXBGcbgpbZgvXy9HJW"
            }
          },
          "on_behalf_of": null,
          "payment_method": "pm_1IeOOmKXBGcbgpbZn8nHl6Yb",
          "payment_method_options": {
            "card": {
              "installments": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_action",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Fri, 09 Apr 2021 17:45:41 GMT
recorded_with: VCR 6.0.0
