---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - d98ea6f9-9a63-40<VENDOR_ID>3-8d0f-04b54a4<VENDOR_ID>04af
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d98ea6f9-9a63-40<VENDOR_ID>3-8d0f-04b54a4<VENDOR_ID>04af
      Original-Request:
      - req_FuHHW<VENDOR_AUTH_CODE>JYn5zS9e
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OUd<VENDOR_AUTH_CODE>qpavAjfsBB",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>692649558,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_prefi<VENDOR_AUTH_CODE>": "90E<VENDOR_ID>3DBB",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 21 Aug 2023 20:25:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_chargeDeclined/attach
    body:
      encoding: UTF-8
      string: customer=cus_OUd<VENDOR_AUTH_CODE>qpavAjfsBB
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - d52ef656-4f9f-4239-9836-879c4d07dadc
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d52ef656-4f9f-4239-9836-879c4d07dadc
      Original-Request:
      - req_nqfhtkwcfIAsjg
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "param": "",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_nqfhtkwcfIAsjg?t=<VENDOR_ID>692649558",
            "type": "card_error"
          }
        }
  recorded_at: Mon, 21 Aug 2023 20:25:59 GMT
recorded_with: VCR 6.2.0
