---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=gob%40bluth.com&name=&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - cf9fe557-8720-495f-99f<VENDOR_ID>-b<VENDOR_ID>4e944f8da0
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cf9fe557-8720-495f-99f<VENDOR_ID>-b<VENDOR_ID>4e944f8da0
      Original-Request:
      - req_qgjH7bjNm4XaCf
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_S9Y2i9vTapKJr9",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>744982789,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "7E4D6A8<VENDOR_ID>",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 18 Apr 2025 13:26:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_S9Y2i9vTapKJr9
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - d49ba9e3-3db2-403d-9958-472874305aa4
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d49ba9e3-3db2-403d-9958-472874305aa4
      Original-Request:
      - req_CcC94Np3apkZ29
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>RFEw5QK2ZHS99RkG502WDLJ",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": 4,
            "e<VENDOR_AUTH_CODE>p_year": 2026,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>744982789,
          "customer": "cus_S9Y2i9vTapKJr9",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 18 Apr 2025 13:26:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_S9Y2i9vTapKJr9
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>RFEw5QK2ZHS99RkG502WDLJ
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 35c429ba-c350-4a92-ad75-c0798830468a
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      Stripe-Account:
      - acct_<VENDOR_ID>ISu[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_S9Y2c9H6VLa0My
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>RFEw6KXBGcbgpbZ<VENDOR_AUTH_CODE>iBynehU
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - abd2dd89-b993-485c-bf04-67ecc844b362
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      Content-Type:
      - appl[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents
    body:
      encoding: UTF-8
      string: amount=<VENDOR_ID>000&currency=usd&customer=cus_S9Y2c9H6VLa0My&e<VENDOR_AUTH_CODE>pand[0]=latest_charge.refunds&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_<VENDOR_ID>RFEw6KXBGcbgpbZ<VENDOR_AUTH_CODE>iBynehU&application_fee_amount=<VENDOR_ID>23&transfer_data[destination]=acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - e7e987ca-dedf-4cae-a53<VENDOR_ID>-2<VENDOR_ID>0f22c309e6
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e7e987ca-dedf-4cae-a53<VENDOR_ID>-2<VENDOR_ID>0f22c309e6
      Original-Request:
      - req_7zU0HIA69q<VENDOR_AUTH_CODE>3<VENDOR_AUTH_CODE>c
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3RFEw7KXBGcbgpbZ<VENDOR_ID>lqgHKmY",
          "object": "payment_intent",
          "amount": <VENDOR_ID>000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": <VENDOR_ID>000,
          "application": null,
          "application_fee_amount": <VENDOR_ID>23,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_<PADDLE_API_KEY>": "pi_3RFEw7KXBGcbgpbZ<VENDOR_ID>lqgHKmY_<PADDLE_API_KEY>_UcRm4m6<VENDOR_AUTH_CODE>7uhXfdgk9BGkn3LF6",
          "confirmation_method": "automatic",
          "created": <VENDOR_ID>74498279<VENDOR_ID>,
          "currency": "usd",
          "customer": "cus_S9Y2c9H6VLa0My",
          "description": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3RFEw7KXBGcbgpbZ<VENDOR_ID>PzRNZ5a",
            "object": "charge",
            "amount": <VENDOR_ID>000,
            "amount_captured": <VENDOR_ID>000,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": <VENDOR_ID>23,
            "balance_transaction": null,
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line<VENDOR_ID>": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null,
              "ta<VENDOR_AUTH_CODE>_id": null
            },
            "calculated_statement_descriptor": "PAY RAILS",
            "captured": true,
            "created": <VENDOR_ID>74498279<VENDOR_ID>,
            "currency": "usd",
            "customer": "cus_S9Y2c9H6VLa0My",
            "description": null,
            "destination": "acct_<VENDOR_ID>ISuLNQK2ZHS99Rk",
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "advice_code": null,
              "network_advice_code": null,
              "network_decline_code": null,
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 3<VENDOR_ID>,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_3RFEw7KXBGcbgpbZ<VENDOR_ID>lqgHKmY",
            "payment_method": "pm_<VENDOR_ID>RFEw6KXBGcbgpbZ<VENDOR_AUTH_CODE>iBynehU",
            "payment_method_details": {
              "card": {
                "amount_authorized": <VENDOR_ID>000,
                "authorization_code": null,
                "brand": "visa",
                "checks": {
                  "address_line<VENDOR_ID>_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": "pass"
                },
                "country": "US",
                "e<VENDOR_AUTH_CODE>p_month": 4,
                "e<VENDOR_AUTH_CODE>p_year": 2026,
                "e<VENDOR_AUTH_CODE>tended_authorization": {
                  "status": "disabled"
                },
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "incremental_authorization": {
                  "status": "unavailable"
                },
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "multicapture": {
                  "status": "unavailable"
                },
                "network": "visa",
                "network_token": {
                  "used": false
                },
                "network_transaction_id": "<VENDOR_ID><VENDOR_ID>9528868<VENDOR_ID>228<VENDOR_ID>7",
                "overcapture": {
                  "ma<VENDOR_AUTH_CODE>imum_amount_capturable": <VENDOR_ID>000,
                  "status": "unavailable"
                },
                "regulated_status": "unregulated",
                "three_d_secure": null,
                "wallet": null
              },
              "type": "card"
            },
            "radar_options": {},
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaKIemicAGMgbEjykg5oA6LBZVUurYO<VENDOR_AUTH_CODE>p4670dG77VXkMNukoeoI3oCWFjBf9V856XHEa<VENDOR_ID>DuttIDESahw0",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v<VENDOR_ID>/charges/ch_3RFEw7KXBGcbgpbZ<VENDOR_ID>PzRNZ5a/refunds"
            },
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
            "status": "succeeded",
            "transfer_data": {
              "amount": null,
              "destination": "acct_<VENDOR_ID>ISuLNQK2ZHS99Rk"
            },
            "transfer_group": "group_pi_3RFEw7KXBGcbgpbZ<VENDOR_ID>lqgHKmY"
          },
          "livemode": false,
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_<VENDOR_ID>RFEw6KXBGcbgpbZ<VENDOR_AUTH_CODE>iBynehU",
          "payment_method_configuration_details": {
            "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
            "parent": null
          },
          "payment_method_options": {
            "acss_debit": {
              "verification_method": "automatic"
            },
            "afterpay_clearpay": {
              "reference": null
            },
            "alipay": {},
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "klarna": {
              "preferred_locale": null
            },
            "link": {
              "persistent_token": null
            },
            "us_bank_account": {
              "financial_connections": {
                "permissions": [
                  "payment_method"
                ],
                "prefetch": []
              },
              "mandate_options": {},
              "verification_method": "automatic"
            },
            "wechat_pay": {
              "app_id": null,
              "client": null
            }
          },
          "payment_method_types": [
            "card",
            "acss_debit",
            "afterpay_clearpay",
            "alipay",
            "klarna",
            "link",
            "us_bank_account",
            "wechat_pay"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
          "status": "succeeded",
          "transfer_data": {
            "destination": "acct_<VENDOR_ID>ISuLNQK2ZHS99Rk"
          },
          "transfer_group": "group_pi_3RFEw7KXBGcbgpbZ<VENDOR_ID>lqgHKmY"
        }
  recorded_at: Fri, 18 Apr 2025 13:26:31 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?e<VENDOR_AUTH_CODE>pand%5B%5D=data.invoice.total_discount_amounts.discount&payment%5Bpayment_intent%5D=pi_3RFEw7KXBGcbgpbZ<VENDOR_ID>lqgHKmY&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Fri, 18 Apr 2025 13:26:32 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/charges/ch_3RFEw7KXBGcbgpbZ<VENDOR_ID>PzRNZ5a?e<VENDOR_AUTH_CODE>pand%5B%5D=balance_transaction&e<VENDOR_AUTH_CODE>pand%5B%5D=refunds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-T[...]
