---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods
    body:
      encoding: UTF-8
      string: type=bancontact&billing_details[name]=Test+User
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - f842b333-6dbd-44fc-bfbc-a39040efa7a8
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f842b333-6dbd-44fc-bfbc-a39040efa7a8
      Original-Request:
      - req_dCSVJdTYTAYOvc
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>NhegaKXBGcbgpbZ5Lr2wqLD",
          "object": "payment_method",
          "bancontact": {},
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": "Test User",
            "phone": null
          },
          "created": <VENDOR_ID>6926496<VENDOR_ID>2,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "bancontact"
        }
  recorded_at: Mon, 21 Aug 2023 20:26:52 GMT
recorded_with: VCR 6.2.0
