---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods
    body:
      encoding: UTF-8
      string: type=eps&eps[bank]=bank_austria&billing_details[name]=Test+User
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - f5<VENDOR_ID>a255f-fd<VENDOR_ID>7-4dcb-9c69-b<VENDOR_ID>a0b48d5b5b
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f5<VENDOR_ID>a255f-fd<VENDOR_ID>7-4dcb-9c69-b<VENDOR_ID>a0b48d5b5b
      Original-Request:
      - req_XmquOycmY5pqgF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>NhegcKXBGcbgpbZQEKSbvSy",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": "Test User",
            "phone": null
          },
          "created": <VENDOR_ID>6926496<VENDOR_ID>4,
          "customer": null,
          "eps": {
            "bank": "bank_austria"
          },
          "livemode": false,
          "metadata": {},
          "type": "eps"
        }
  recorded_at: Mon, 21 Aug 2023 20:26:54 GMT
recorded_with: VCR 6.2.0
