---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods
    body:
      encoding: UTF-8
      string: type=acss_debit&acss_debit[account_number]=000<VENDOR_ID>23456789&acss_debit[institution_number]=000&acss_debit[transit_number]=<VENDOR_ID><VENDOR_ID>000&billing_details[email]=test%40e<VENDOR_AUTH_CODE>ample.org&billing_details[name]=Test+User
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - aac4265e-605a-4088-ac90-<VENDOR_ID>de007a0cea0
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - aac4265e-605a-4088-ac90-<VENDOR_ID>de007a0cea0
      Original-Request:
      - req_w<VENDOR_AUTH_CODE>vBy5aupoywoV
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>SOMcEKXBGcbgpbZCYezYzyb",
          "object": "payment_method",
          "acss_debit": {
            "bank_name": "STRIPE TEST BANK",
            "fingerprint": "SNmpHXLO23uR6VaH",
            "institution_number": "000",
            "last4": "6789",
            "transit_number": "<VENDOR_ID><VENDOR_ID>000"
          },
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": "test@e<VENDOR_AUTH_CODE>ample.org",
            "name": "Test User",
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "created": <VENDOR_ID>76<VENDOR_ID>933598,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "acss_debit"
        }
  recorded_at: Fri, 31 Oct 2025 17:59:58 GMT
recorded_with: VCR 6.3.1
