---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_JyYKqpNXHAT2pd",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1628049431,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_prefix": "D3942C0A",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Wed, 04 Aug 2021 03:57:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_authenticationRequired/attach
    body:
      encoding: UTF-8
      string: customer=cus_JyYKqpNXHAT2pd
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1JKbEBKXBGcbgpbZNSeGMBBj",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "DE",
            "exp_month": 8,
            "exp_year": 2022,
            "fingerprint": "qu2JxQg97yWGBVrd",
            "funding": "credit",
            "generated_from": null,
            "last4": "3184",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1628049431,
          "customer": "cus_JyYKqpNXHAT2pd",
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Wed, 04 Aug 2021 03:57:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_JyYKqpNXHAT2pd
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1JKbEBKXBGcbgpbZNSeGMBBj
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_JyYKqpNXHAT2pd",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1628049431,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_prefix": "D3942C0A",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_1JKbEBKXBGcbgpbZNSeGMBBj",
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Wed, 04 Aug 2021 03:57:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2900&confirm=true&confirmation_method=automatic&currency=usd&customer=cus_JyYKqpNXHAT2pd&payment_method=pm_1JKbEBKXBGcbgpbZNSeGMBBj
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_3JKbECKXBGcbgpbZ1LKCbzHm",
          "object": "payment_intent",
          "amount": 2900,
          "amount_capturable": 0,
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges?payment_intent=pi_3JKbECKXBGcbgpbZ1LKCbzHm"
          },
          "client_secret": "pi_3JKbECKXBGcbgpbZ1LKCbzHm_secret_laGHuFlIQNHyyL5YTX1F4HOrk",
          "confirmation_method": "automatic",
          "created": 1628049432,
          "currency": "usd",
          "customer": "cus_JyYKqpNXHAT2pd",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
          },
          "next_action": {
            "type": "use_stripe_sdk",
            "use_stripe_sdk": {
              "type": "three_d_secure_redirect",
              "stripe_js": "https://hooks.stripe.com/redirect/authenticate/src_1JKbEDKXBGcbgpbZPbJnZav2?client_secret=src_client_secret_4iF5Qs70QEtJFSBb6nPbWmVo\u0026source_redirect_slug=test_YWNjdF8xRTRiZm5LWEJHY2JncGJaLF9KeVlLWGxJUWhhOWFpRXRtZTNSamdiV2NWckIwZWVD0100VH3yWxHC",
              "source": "src_1JKbEDKXBGcbgpbZPbJnZav2"
            }
          },
          "on_behalf_of": null,
          "payment_method": "pm_1JKbEBKXBGcbgpbZNSeGMBBj",
          "payment_method_options": {
            "card": {
              "installments": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_action",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Wed, 04 Aug 2021 03:57:13 GMT
recorded_with: VCR 6.0.0
