---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User&expand[0]=tax
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8efeaf32-a82e-4dc9-8966-3d1c116dc8e9
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8efeaf32-a82e-4dc9-8966-3d1c116dc8e9
      Original-Request:
      - req_1arUkZ2gnwmAis
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_MqPosbYNaYS0u4",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1669071642,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_prefix": "5C1D9977",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 21 Nov 2022 23:00:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_MqPosbYNaYS0u4
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 74080f32-6ed3-4245-b2f3-1302fc32ba05
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 74080f32-6ed3-4245-b2f3-1302fc32ba05
      Original-Request:
      - req_Nigpzuuz5njrZn
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1M6iylKXBGcbgpbZVxRHsXAO",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "exp_month": 11,
            "exp_year": 2023,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1669071643,
          "customer": "cus_MqPosbYNaYS0u4",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 21 Nov 2022 23:00:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_MqPosbYNaYS0u4
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1M6iylKXBGcbgpbZVxRHsXAO
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ac793221-ab4c-4906-95c6-590d3bd93088
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 20[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2900&confirm=true&currency=usd&customer=cus_MqPosbYNaYS0u4&expand[0]=latest_charge.refunds&payment_method=pm_1M6iymKXBGcbgpbZ7eDqcEYE&capture_method=manual
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 81a7e48a-8f04-4a3f-ba29-a99fff8d6637
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 81a7e48a-8f04-4a3f-ba29-a99fff8d6637
      Original-Request:
      - req_qJY1YaVw5bpdLU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3M6iynKXBGcbgpbZ1f7SzhWv",
          "object": "payment_intent",
          "amount": 2900,
          "amount_capturable": 2900,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "pi_3M6iynKXBGcbgpbZ1f7SzhWv_secret_ldnv8C3MXQMjnBnHy0D7cV4uE",
          "confirmation_method": "automatic",
          "created": 1669071645,
          "currency": "usd",
          "customer": "cus_MqPosbYNaYS0u4",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3M6iynKXBGcbgpbZ1zmbuwL9",
            "object": "charge",
            "amount": 2900,
            "amount_captured": 0,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": null,
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null
            },
            "calculated_statement_descriptor": "PAY RAILS",
            "captured": false,
            "created": 1669071646,
            "currency": "usd",
            "customer": "cus_MqPosbYNaYS0u4",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "invoice": null,
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 52,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_3M6iynKXBGcbgpbZ1f7SzhWv",
            "payment_method": "pm_1M6iymKXBGcbgpbZ7eDqcEYE",
            "payment_method_details": {
              "card": {
                "brand": "visa",
                "checks": {
                  "address_line1_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": null
                },
                "country": "US",
                "exp_month": 11,
                "exp_year": 2023,
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "network": "visa",
                "three_d_secure": null,
                "wallet": null
              },
              "type": "card"
            },
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xRTRiZm5LWEJHY2JncGJaKJ6G8JsGMgY-dCnwz7s6LBYhKmSIb00vHmjLfFIWYWTzL8o6c2CQp-KpRxudOsBrRCuF85UAPNaZJ_v2",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/charges/ch_3M6iynKXBGcbgpbZ1zmbuwL9/refunds"
            },
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": null
          },
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1M6iymKXBGcbgpbZ7eDqcEYE",
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_capture",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 21 Nov 2022 23:00:46 GMT
recorded_with: VCR 6.1.0
