---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods
    body:
      encoding: UTF-8
      string: type=acss_debit&acss_debit[account_number]=00<VENDOR_ID>23456789&acss_debit[institution_number]=000&acss_debit[transit_number]=<VENDOR_ID><VENDOR_ID>000&billing_details[email]=test%40e<VENDOR_AUTH_CODE>ample.org&billing_details[name]=Test+User
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 2f34669b-cdc<VENDOR_ID>-4a53-a8f8-02f08c664b99
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2f34669b-cdc<VENDOR_ID>-4a53-a8f8-02f08c664b99
      Original-Request:
      - req_7Bfw7qaUyg<VENDOR_AUTH_CODE>7r3
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>Nheh6KXBGcbgpbZtive7pC<VENDOR_ID>",
          "object": "payment_method",
          "acss_debit": {
            "bank_name": "STRIPE TEST BANK",
            "fingerprint": "GNY6jXyWJDu9AnX2",
            "institution_number": "000",
            "last4": "6789",
            "transit_number": "<VENDOR_ID><VENDOR_ID>000"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": "test@e<VENDOR_AUTH_CODE>ample.org",
            "name": "Test User",
            "phone": null
          },
          "created": <VENDOR_ID>692649644,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "acss_debit"
        }
  recorded_at: Mon, 21 Aug 2023 20:27:24 GMT
recorded_with: VCR 6.2.0
