---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=gob%40bluth.com&name=
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_IxWGt2C98JHhQU",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1613511403,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_prefix": "BF2D295B",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Tue, 16 Feb 2021 21:36:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_IxWGt2C98JHhQU&return_url=http%3A%2F%2Flocalhost%3A3000%2F
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "bps_1ILbDrKXBGcbgpbZnoX2puCv",
          "object": "billing_portal.session",
          "created": 1613511403,
          "customer": "cus_IxWGt2C98JHhQU",
          "livemode": false,
          "return_url": "http://localhost:3000/",
          "url": "https://billing.stripe.com/session/_IxWG6ZMy0LaJB1rAluWhqLk3mM6YFiq"
        }
  recorded_at: Tue, 16 Feb 2021 21:36:43 GMT
recorded_with: VCR 6.0.0
