---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=gob%40bluth.com&name=
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_JI2VGGUbsfvSDU",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1618244172,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_prefix": "707B1AE3",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Mon, 12 Apr 2021 16:16:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_JI2VGGUbsfvSDU
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1IfSQqQK2ZHS99RkL2OYXD6W",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "exp_month": 4,
            "exp_year": 2022,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1618244172,
          "customer": "cus_JI2VGGUbsfvSDU",
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Mon, 12 Apr 2021 16:16:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_JI2VGGUbsfvSDU
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1IfSQqQK2ZHS99RkL2OYXD6W
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1ISuLNQK2ZHS99Rk
  response:
    status:
      code: 200
      message:[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_JI2VfmAh9a4IIp
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1IfSQsKXBGcbgpbZolrrlGZt
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_JI2VfmAh9a4IIp",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1618244174,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_prefix": "A7A33A42",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_1IfSQsKXBGcbgpbZolrrlGZt",
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Mon, 12 Apr 2021 16:16:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&confirm=true&confirmation_method=automatic&currency=usd&customer=cus_JI2VfmAh9a4IIp&payment_method=pm_1IfSQsKXBGcbgpbZolrrlGZt&application_fee_amount=123&transfer_data[destination]=acct_1ISuLNQK2ZHS99Rk
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_1IfSQtKXBGcbgpbZX5ec0TTn",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_received": 1000,
          "application": null,
          "application_fee_amount": 123,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [
              {
                "id": "ch_1IfSQuKXBGcbgpbZU0NgwxZw",
                "object": "charge",
                "amount": 1000,
                "amount_captured": 1000,
                "amount_refunded": 0,
                "application": null,
                "application_fee": "fee_1IfSQuQK2ZHS99RkjQYe6Pd1",
                "application_fee_amount": 123,
                "balance_transaction": "txn_1IfSQvKXBGcbgpbZJ44FGFJ1",
                "billing_details": {
                  "address": {
                    "city": null,
                    "country": null,
                    "line1": null,
                    "line2": null,
                    "postal_code": null,
                    "state": null
                  },
                  "email": null,
                  "name": null,
                  "phone": null
                },
                "calculated_statement_descriptor": "PAY RAILS",
                "captured": true,
                "created": 1618244176,
                "currency": "usd",
                "customer": "cus_JI2VfmAh9a4IIp",
                "description": null,
                "destination": "acct_1ISuLNQK2ZHS99Rk",
                "dispute": null,
                "disputed": false,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {
                },
                "invoice": null,
                "livemode": false,
                "metadata": {
                },
                "on_behalf_of": null,
                "order": null,
                "outcome": {
                  "network_status": "approved_by_network",
                  "reason": null,
                  "risk_level": "normal",
                  "risk_score": 1,
                  "seller_message": "Payment complete.",
                  "type": "authorized"
                },
                "paid": true,
                "payment_intent": "pi_1IfSQtKXBGcbgpbZX5ec0TTn",
                "payment_method": "pm_1IfSQsKXBGcbgpbZolrrlGZt",
                "payment_method_details": {
                  "card": {
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": null
                    },
                    "country": "US",
                    "exp_month": 4,
                    "exp_year": 2022,
                    "fingerprint": "w4XDzQOFakih5EZM",
                    "funding": "credit",
                    "installments": null,
                    "last4": "4242",
                    "network": "visa",
                    "three_d_secure": null,
                    "wallet": null
                  },
                  "type": "card"
                },
                "receipt_email": null,
                "receipt_number": null,
                "receipt_url": "https://pay.stripe.com/receipts/acct_1E4bfnKXBGcbgpbZ/ch_1IfSQuKXBGcbgpbZU0NgwxZw/rcpt_JI2V5j9Tu7Fg4uGqlteKphNqY4LxzCq",
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [

                  ],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/ch_1IfSQuKXBGcbgpbZU0NgwxZw/refunds"
                },
                "review": null,
                "shipping": null,
                "source": null,
                "source_transfer": null,
                "statement_descriptor": null,
                "statement_descriptor_suffix": null,
                "status": "succeeded",
                "transfer": "tr_1IfSQuKXBGcbgpbZxwj150ze",
                "transfer_data": {
                  "amount": null,
                  "destination": "acct_1ISuLNQK2ZHS99Rk"
                },
                "transfer_group": "group_pi_1IfSQtKXBGcbgpbZX5ec0TTn"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges?payment_intent=pi_1IfSQtKXBGcbgpbZX5ec0TTn"
          },
          "client_secret": "pi_1IfSQtKXBGcbgpbZX5ec0TTn_secret_ncKmO9XGccCQNRh882d1SfREB",
          "confirmation_method": "automatic",
          "created": 1618244175,
          "currency": "usd",
          "customer": "cus_JI2VfmAh9a4IIp",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1IfSQsKXBGcbgpbZolrrlGZt",
          "payment_method_options": {
            "card": {
              "installments": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": {
            "destination": "acct_1ISuLNQK2ZHS99Rk"
          },
          "transfer_group": "group_pi_1IfSQtKXBGcbgpbZX5ec0TTn"
        }
  recorded_at: Mon, 12 Apr 2021 16:16:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_1IfSQuKXBGcbgpbZU0NgwxZw?expand%5B%5D=customer&expand%5B%5D=invoice.subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - applicat[...]
