---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=acss_debit&acss_debit[account_number]=00123456789&acss_debit[institution_number]=000&acss_debit[transit_number]=11000&billing_details[email]=test%40example.org&billing_details[name]=Test+User
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1JN3aRKXBGcbgpbZ78xTUWhL",
          "object": "payment_method",
          "acss_debit": {
            "bank_name": "STRIPE TEST BANK",
            "fingerprint": "GNY6jXyWJDu9AnX2",
            "institution_number": "000",
            "last4": "6789",
            "transit_number": "11000"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": "test@example.org",
            "name": "Test User",
            "phone": null
          },
          "created": 1628635099,
          "customer": null,
          "livemode": false,
          "metadata": {
          },
          "type": "acss_debit"
        }
  recorded_at: Tue, 10 Aug 2021 22:38:19 GMT
recorded_with: VCR 6.0.0
