---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - b975<VENDOR_ID>2df-3959-4b95-b55a-830fc5<VENDOR_ID>9d53a
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b975<VENDOR_ID>2df-3959-4b95-b55a-830fc5<VENDOR_ID>9d53a
      Original-Request:
      - req_IhTpicTd0rt6BT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OUd<VENDOR_AUTH_CODE>kwCCMhiFnj",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>692649559,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_prefi<VENDOR_AUTH_CODE>": "<VENDOR_ID>B6C08<VENDOR_ID>3",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 21 Aug 2023 20:25:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_OUd<VENDOR_AUTH_CODE>kwCCMhiFnj
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 709c<VENDOR_ID>58c-9ec2-4d46-95<VENDOR_ID>0-7ad65dfcbfc6
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 709c<VENDOR_ID>58c-9ec2-4d46-95<VENDOR_ID>0-7ad65dfcbfc6
      Original-Request:
      - req_zQK7MVpKIHvoql
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>NhefkKXBGcbgpbZFcXu<VENDOR_ID>Pot",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "e<VENDOR_AUTH_CODE>p_month": 8,
            "e<VENDOR_AUTH_CODE>p_year": 2024,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>692649560,
          "customer": "cus_OUd<VENDOR_AUTH_CODE>kwCCMhiFnj",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 21 Aug 2023 20:26:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_OUd<VENDOR_AUTH_CODE>kwCCMhiFnj
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>NhefkKXBGcbgpbZFcXu<VENDOR_ID>Pot
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - d6687524-3f5f-4<VENDOR_ID>99-a45f-a5c[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/subscriptions
    body:
      encoding: UTF-8
      string: plan=small-monthly&customer=cus_OUd<VENDOR_AUTH_CODE>kwCCMhiFnj
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - da27674f-45a8-404f-bb00-c7ff<VENDOR_ID>f3a3af7
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - da27674f-45a8-404f-bb00-c7ff<VENDOR_ID>f3a3af7
      Original-Request:
      - req_oaJi8BLag0ii74
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_<VENDOR_ID>NheflKXBGcbgpbZgIrXIQJB",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_ta<VENDOR_AUTH_CODE>": {
            "enabled": false
          },
          "billing_cycle_anchor": <VENDOR_ID>692649560,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": <VENDOR_ID>692649560,
          "currency": "usd",
          "current_period_end": <VENDOR_ID>695327960,
          "current_period_start": <VENDOR_ID>692649560,
          "customer": "cus_OUd<VENDOR_AUTH_CODE>kwCCMhiFnj",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_ta<VENDOR_AUTH_CODE>_rates": [],
          "description": null,
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_OUd<VENDOR_AUTH_CODE>nNkX8yJsHF",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": <VENDOR_ID>69264956<VENDOR_ID>,
                "metadata": {},
                "plan": {
                  "id": "small-monthly",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 2500,
                  "amount_decimal": "2500",
                  "billing_scheme": "per_unit",
                  "created": <VENDOR_ID>57<VENDOR_ID>425570,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": <VENDOR_ID>,
                  "livemode": false,
                  "metadata": {},
                  "nickname": "Small Monthly",
                  "product": "prod_EYTX7RYhRjcwKD",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "small-monthly",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": <VENDOR_ID>57<VENDOR_ID>425570,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": "Small Monthly",
                  "product": "prod_EYTX7RYhRjcwKD",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": <VENDOR_ID>,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "ta<VENDOR_AUTH_CODE>_behavior": "e<VENDOR_AUTH_CODE>clusive",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 2500,
                  "unit_amount_decimal": "2500"
                },
                "quantity": <VENDOR_ID>,
                "subscription": "sub_<VENDOR_ID>NheflKXBGcbgpbZgIrXIQJB",
                "ta<VENDOR_AUTH_CODE>_rates": []
              }
            ],
            "has_more": false,
            "total_count": <VENDOR_ID>,
            "url": "/v<VENDOR_ID>/subscription_items?subscription=sub_<VENDOR_ID>NheflKXBGcbgpbZgIrXIQJB"
          },
          "latest_invoice": "in_<VENDOR_ID>NheflKXBGcbgpbZgjL4NJvA",
          "livemode": false,
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "off"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "small-monthly",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 2500,
            "amount_decimal": "2500",
            "billing_scheme": "per_unit",
            "created": <VENDOR_ID>57<VENDOR_ID>425570,
            "currency": "usd",
            "interval": "month",
            "interval_count": <VENDOR_ID>,
            "livemode": false,
            "metadata": {},
            "nickname": "Small Monthly",
            "product": "prod_EYTX7RYhRjcwKD",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": <VENDOR_ID>,
          "schedule": null,
          "start_date": <VENDOR_ID>692649560,
          "status": "active",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": null,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "create_invoice"
            }
          },
          "trial_start": null
        }
  recorded_at: Mon, 21 Aug 2023 20:26:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/subscriptions/sub_<VENDOR_ID>NheflKXBGcbgpbZgIrXIQJB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
