---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=johnny%40appleseed.com
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_HwGDgqMyM7979w",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1598921409,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "johnny@appleseed.com",
          "invoice_prefix": "472A3DBA",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Tue, 01 Sep 2020 00:50:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/small-monthly
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "small-monthly",
          "object": "plan",
          "active": true,
          "aggregate_usage": null,
          "amount": 2500,
          "amount_decimal": "2500",
          "billing_scheme": "per_unit",
          "created": 1571425570,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {
          },
          "nickname": "Small Monthly",
          "product": "prod_EYTX7RYhRjcwKD",
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        }
  recorded_at: Tue, 01 Sep 2020 00:50:10 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/invalid/attach
    body:
      encoding: UTF-8
      string: customer=cus_HwGDoxX9sylvNW
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such PaymentMethod: 'invalid'",
            "param": "payment_method",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Tue, 01 Sep 2020 00:50:11 GMT
recorded_with: VCR 6.0.0
