---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods
    body:
      encoding: UTF-8
      string: type=acss_debit&acss_debit[account_number]=000<VENDOR_ID>23456789&acss_debit[institution_number]=000&acss_debit[transit_number]=<VENDOR_ID><VENDOR_ID>000&billing_details[email]=test%40e<VENDOR_AUTH_CODE>ample.org&billing_details[name]=Test+User
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - d99<VENDOR_ID>0ab3-6ed<VENDOR_ID>-4<VENDOR_ID>8c-a063-050dcee9b6<VENDOR_ID>9
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d99<VENDOR_ID>0ab3-6ed<VENDOR_ID>-4<VENDOR_ID>8c-a063-050dcee9b6<VENDOR_ID>9
      Original-Request:
      - req_0ly9GW7<VENDOR_AUTH_CODE>jcRuGn
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>UHne3KXBGcbgpbZOM9IYgoI",
          "object": "payment_method",
          "acss_debit": {
            "bank_name": "STRIPE TEST BANK",
            "fingerprint": "SNmpHXLO23uR6VaH",
            "institution_number": "000",
            "last4": "6789",
            "transit_number": "<VENDOR_ID><VENDOR_ID>000"
          },
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": "test@e<VENDOR_AUTH_CODE>ample.org",
            "name": "Test User",
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "created": <VENDOR_ID>78992<VENDOR_ID>875,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "acss_debit"
        }
  recorded_at: Sun, 20 Sep 2026 16:31:15 GMT
recorded_with: VCR 6.4.0
