---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_SEPzY8eswzED2A
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>RJ<VENDOR_AUTH_CODE>9DKXBGcbgpbZYF0sXkWE
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - bfea7<VENDOR_ID>bb-b<VENDOR_ID>64-4d4a-a9e8-83a2e893a270
      Stripe-Version:
      - 2025-04-30.basil
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bfea7<VENDOR_ID>bb-b<VENDOR_ID>64-4d4a-a9e8-83a2e893a270
      Original-Request:
      - req_A9FDj3bvVR0alb
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-04-30.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_SEPzY8eswzED2A",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>746<VENDOR_ID>0605<VENDOR_ID>,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_prefi<VENDOR_AUTH_CODE>": "ZPPCHKD0",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_<VENDOR_ID>RJ<VENDOR_AUTH_CODE>9DKXBGcbgpbZYF0sXkWE",
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 01 May 2025 13:27:32 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/charges/ch_3RJ<VENDOR_AUTH_CODE>9EKXBGcbgpbZ0Dgh0Dk0?e<VENDOR_AUTH_CODE>pand%5B%5D=balance_transaction&e<VENDOR_AUTH_CODE>pand%5B%5D=payment_intent&e<VENDOR_AUTH_CODE>pand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-04-30.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-04-30.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3RJ<VENDOR_AUTH_CODE>9EKXBGcbgpbZ0Dgh0Dk0",
          "object": "charge",
          "amount": 2500,
          "amount_captured": 2500,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": null,
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "calculated_statement_descriptor": "PAY RAILS",
          "captured": true,
          "created": <VENDOR_ID>746<VENDOR_ID>06053,
          "currency": "usd",
          "customer": "cus_SEPzY8eswzED2A",
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 49,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": {
            "id": "pi_3RJ<VENDOR_AUTH_CODE>9EKXBGcbgpbZ00DQ5Bna",
            "object": "payment_intent",
            "amount": 2500,
            "amount_capturable": 0,
            "amount_details": {
              "tip": {}
            },
            "amount_received": 2500,
            "application": null,
            "application_fee_amount": null,
            "automatic_payment_methods": {
              "allow_redirects": "always",
              "enabled": true
            },
            "canceled_at": null,
            "cancellation_reason": null,
            "capture_method": "automatic_async",
            "client_<PADDLE_API_KEY>": "pi_3RJ<VENDOR_AUTH_CODE>9EKXBGcbgpbZ00DQ5Bna_<PADDLE_API_KEY>_YXyOk7EdEbVSmHiGM5yEQRd6C",
            "confirmation_method": "automatic",
            "created": <VENDOR_ID>746<VENDOR_ID>06052,
            "currency": "usd",
            "customer": "cus_SEPzY8eswzED2A",
            "description": null,
            "last_payment_error": null,
            "latest_charge": "ch_3RJ<VENDOR_AUTH_CODE>9EKXBGcbgpbZ0Dgh0Dk0",
            "livemode": false,
            "metadata": {},
            "ne<VENDOR_AUTH_CODE>t_action": null,
            "on_behalf_of": null,
            "payment_method": "pm_<VENDOR_ID>RJ<VENDOR_AUTH_CODE>9DKXBGcbgpbZYF0sXkWE",
            "payment_method_configuration_details": {
              "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
              "parent": null
            },
            "payment_method_options": {
              "acss_debit": {
                "verification_method": "automatic"
              },
              "afterpay_clearpay": {
                "reference": null
              },
              "alipay": {},
              "card": {
                "installments": null,
                "mandate_options": null,
                "network": null,
                "request_three_d_secure": "automatic"
              },
              "klarna": {
                "preferred_locale": null
              },
              "link": {
                "persistent_token": null
              },
              "us_bank_account": {
                "financial_connections": {
                  "permissions": [
                    "payment_method"
                  ],
                  "prefetch": []
                },
                "mandate_options": {},
                "verification_method": "automatic"
              },
              "wechat_pay": {
                "app_id": null,
                "client": null
              }
            },
            "payment_method_types": [
              "card",
              "acss_debit",
              "afterpay_clearpay",
              "alipay",
              "klarna",
              "link",
              "us_bank_account",
              "wechat_pay"
            ],
            "processing": null,
            "receipt_email": null,
            "review": null,
            "setup_future_usage": null,
            "shipping": {
              "address": {
                "city": "Cupertino",
                "country": null,
                "line<VENDOR_ID>": "One Infinite Loop",
                "line2": null,
                "postal_code": null,
                "state": "CA"
              },
              "carrier": null,
              "name": "Recipient",
              "phone": null,
              "tracking_number": null
            },
            "source": null,
            "statement_descriptor": null,
            "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": null
          },
          "payment_method": "pm_<VENDOR_ID>RJ<VENDOR_AUTH_CODE>9DKXBGcbgpbZYF0sXkWE",
          "payment_method_details": {
            "card": {
              "amount_authorized": 2500,
              "authorization_code": null,
              "brand": "visa",
              "checks": {
                "address_line<VENDOR_ID>_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "e<VENDOR_AUTH_CODE>p_month": 5,
              "e<VENDOR_AUTH_CODE>p_year": 2026,
              "e<VENDOR_AUTH_CODE>tended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "w4XDzQOFakih5EZM",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "<VENDOR_ID><VENDOR_ID>9528868<VENDOR_ID>228<VENDOR_ID>7",
              "overcapture": {
                "ma<VENDOR_AUTH_CODE>imum_amount_capturable": 2500,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaKMXtzcAGMgaLrWfHYes6LBZHaH9VamyAZL0cqEzgC3U4FIhj0-5-C9E_YOI0mDA5dEmvbAHqhCRhm8Ev",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v<VENDOR_ID>/charges/ch_3RJ<VENDOR_AUTH_CODE>9EKXBGcbgpbZ0Dgh0Dk0/refunds"
          },
          "review": null,
          "shipping": {
            "address": {
              "city": "Cupertino",
              "country": null,
              "line<VENDOR_ID>": "One Infinite Loop",
              "line2": null,
              "postal_code": null,
              "state": "CA"
            },
            "carrier": null,
            "name": "Recipient",
            "phone": null,
            "tracking_number": null
          },
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Thu, 01 May 2025 13:27:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?e<VENDOR_AUTH_CODE>pand%5B%5D=data.invoice.total_discount_amounts.discount&payment%5Bpayment_intent%5D=pi_3RJ<VENDOR_AUTH_CODE>9EKXBGcbgpbZ00DQ5Bna&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-04-30.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-04-30.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Thu, 01 May 2025 13:27:34 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TL2guaUZvOU97N
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SOMbPKXBGcbgpbZ6XWytVrq
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 4a303a2<VENDOR_ID>-d763-480c-8329-2a4725<VENDOR_ID>bfb2b
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?e<VENDOR_AUTH_CODE>pand%5B%5D=data.invoice.total_discount_amounts.discount&payment%5Bpayment_intent%5D=pi_3SOMbQKXBGcbgpbZ0Api6KeJ&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Fri, 31 Oct 2025 17:59:09 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/charges/ch_3SOMbQKXBGcbgpbZ0ul3X9hd?e<VENDOR_AUTH_CODE>pand%5B%5D=balance_transaction&e<VENDOR_AUTH_CODE>pand%5B%5D=payment_intent&e<VENDOR_AUTH_CODE>pand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
  response:
    status:
 [...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TL2nKiyhqJU<VENDOR_AUTH_CODE>62
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SOMiHKXBGcbgpbZXLbY8el2
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 6d984d38-9547-4e97-94b4-7c59e2f7e997
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - app[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?e<VENDOR_AUTH_CODE>pand%5B%5D=data.invoice.total_discount_amounts.discount&payment%5Bpayment_intent%5D=pi_3SOMiIKXBGcbgpbZ0ZXmLZmi&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Fri, 31 Oct 2025 18:06:15 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/charges/ch_3SOMiIKXBGcbgpbZ0rAoZKSg?e<VENDOR_AUTH_CODE>pand%5B%5D=balance_transaction&e<VENDOR_AUTH_CODE>pand%5B%5D=payment_intent&e<VENDOR_AUTH_CODE>pand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
  response:
    status:
 [...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TL2zmnZyk9MZAp
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SOMtTKXBGcbgpbZROMkVo<VENDOR_ID>C
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 5bab289e-a<VENDOR_ID>9a-4a5d-9<VENDOR_ID>0b-<VENDOR_ID>e89aca055f<VENDOR_ID>
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clove[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?e<VENDOR_AUTH_CODE>pand%5B%5D=data.invoice.total_discount_amounts.discount&payment%5Bpayment_intent%5D=pi_3SOMtUKXBGcbgpbZ<VENDOR_ID>u2<VENDOR_AUTH_CODE>OZVA&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Fri, 31 Oct 2025 18:17:49 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/charges/ch_3SOMtUKXBGcbgpbZ<VENDOR_ID>75DusaR?e<VENDOR_AUTH_CODE>pand%5B%5D=balance_transaction&e<VENDOR_AUTH_CODE>pand%5B%5D=payment_intent&e<VENDOR_AUTH_CODE>pand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
  response:
   [...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TL3C0Beg8V8dYu
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SON5dKXBGcbgpbZTkFgLby5
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 7b56db73-3bc0-4d04-b76e-ce77<VENDOR_ID>2090649
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - applicatio[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?e<VENDOR_AUTH_CODE>pand%5B%5D=data.invoice.total_discount_amounts.discount&payment%5Bpayment_intent%5D=pi_3SON5eKXBGcbgpbZ<VENDOR_ID>bDD<VENDOR_ID>8a2&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Fri, 31 Oct 2025 18:30:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/charges/ch_3SON5eKXBGcbgpbZ<VENDOR_ID>DBYHy<VENDOR_ID>v?e<VENDOR_AUTH_CODE>pand%5B%5D=balance_transaction&e<VENDOR_AUTH_CODE>pand%5B%5D=payment_intent&e<VENDOR_AUTH_CODE>pand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
  res[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TM7VVySLw5MIJZ
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SPPG4KXBGcbgpbZF3RVhgJw
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 53<VENDOR_ID>b25<VENDOR_ID>f-0329-4570-bc0b-ce56b0fdf833
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - [...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?e<VENDOR_AUTH_CODE>pand%5B%5D=data.invoice.total_discount_amounts.discount&payment%5Bpayment_intent%5D=pi_3SPPG5KXBGcbgpbZ0FXLkhR4&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Mon, 03 Nov 2025 15:01:26 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/charges/ch_3SPPG5KXBGcbgpbZ03QKdBSI?e<VENDOR_AUTH_CODE>pand%5B%5D=balance_transaction&e<VENDOR_AUTH_CODE>pand%5B%5D=payment_intent&e<VENDOR_AUTH_CODE>pand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
  response:
    status:
 [...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 442<VENDOR_ID>7208-a<VENDOR_ID>02-42a3-8<VENDOR_ID>23-77723e37e<VENDOR_I[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_TM7XyDepAusEID
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - dba78505-<VENDOR_ID>e58-44cc-ba75-6fd52e9ba3aa
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - dba78505-<VENDOR_ID>e58-44cc-ba75-6fd52e9ba3aa
      Original-Request:
      - req_4YSzG8uOFfG5rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>SPPIOKXBGcbgpbZuPA<VENDOR_AUTH_CODE>G9Cl",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": <VENDOR_ID><VENDOR_ID>,
            "e<VENDOR_AUTH_CODE>p_year": 2026,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>762<VENDOR_ID>82228,
          "customer": "cus_TM7XyDepAusEID",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 03 Nov 2025 15:03:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_TM7XyDepAusEID
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>SPPIOKXBGcbgpbZuPA<VENDOR_AUTH_CODE>G9Cl
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 543bdd65-6b3b-46ff-9<VENDOR_ID>5c-dddf<VENDOR_ID>6d<VENDOR_ID>42eb
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
 [...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents
    body:
      encoding: UTF-8
      string: amount=2500&currency=usd&customer=cus_TM7XyDepAusEID&e<VENDOR_AUTH_CODE>pand[0]=latest_charge.balance_transaction&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=latest_charge.payment_intent&e<VENDOR_AUTH_CODE>pand[2]=latest_charge.refunds.data.balance_transaction&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_<VENDOR_ID>SPPIOKXBGcbgpbZuPA<VENDOR[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?e<VENDOR_AUTH_CODE>pand%5B%5D=data.invoice.total_discount_amounts.discount&payment%5Bpayment_intent%5D=pi_3SPPIPKXBGcbgpbZ<VENDOR_ID>YhrQrzN&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Mon, 03 Nov 2025 15:03:50 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/charges/ch_3SPPIPKXBGcbgpbZ<VENDOR_ID>2jqt6Ci?e<VENDOR_AUTH_CODE>pand%5B%5D=balance_transaction&e<VENDOR_AUTH_CODE>pand%5B%5D=payment_intent&e<VENDOR_AUTH_CODE>pand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
  response:
   [...]
