---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/subscription/payments
    body:
      encoding: UTF-8
      string: is_paid=1&subscription_id=3576390&vendor_auth_code=d4fa0981f2c51335215bfbf31cddfbf1af76951baa11427910&vendor_id=123456
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":[{"id":10996435,"subscription_id":3576390,"amount":0,"currency":"USD","payout_date":"2020-06-04","is_paid":1,"is_one_off_charge":false,"receipt_url":"https:\/\/my.paddle.com\/receipt\/15134577-10996435\/58042319-chre8cc7b3d10d5-1696e20c8b"},{"id":11018517,"subscription_id":3576390,"amount":1.19,"currency":"USD","payout_date":"2020-06-05","is_paid":1,"is_one_off_charge":true,"receipt_url":"https:\/\/my.paddle.com\/receipt\/15134577-11018517\/58042319-chre8cc7b3d10d5-1696e20c8b"}]}'
  recorded_at: Fri, 05 Jun 2020 13:15:55 GMT
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/payment/refund
    body:
      encoding: UTF-8
      string: amount=119&order_id=11018517&vendor_auth_code=d4fa0981f2c51335215bfbf31cddfbf1af76951baa11427910&vendor_id=123456
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":{"code":172,"message":"The transaction can
        no longer be refunded."}}'
  recorded_at: Fri, 05 Jun 2020 13:15:55 GMT
recorded_with: VCR 5.1.0
