---
http_interactions:
- request:
    method: patch
    uri: https://api.lemonsqueezy.com/v<VENDOR_ID>/subscriptions/253735
    body:
      encoding: UTF-8
      string: '{"data":{"type":"subscriptions","id":"253735","attributes":{"product_id":"<VENDOR_ID>74873","variant_id":"225676"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer eyJ0eXAiOiJKV<VENDOR_ID>QiLCJhbGciOiJSUzI<VENDOR_ID>NiJ9.eyJhdWQiOiI5NGQ<VENDOR_ID>OWNlZi<VENDOR_ID>kYmI4LTRlYTUtYjE3OC<VENDOR_ID>kMjU0MGZjZDY5MTkiLCJqdGkiOiI<VENDOR_AUTH_CODE>NTQ<VENDOR_AUTH_CODE>ZTY<VENDOR_ID>YWVmNjU<VENDOR_AUTH_CODE>NGYzMWQ3NDFiNGEyZjM3MDBkNDk5ZWEzMTBlNTczMDFjYjlhYTAyOWU2Y2Y4OWFiZmQyMGVmZjg0NGY<VENDOR_AUTH_CODE>NGUwYjA4NSIsImlhdCI6MTcwNjEwODQ4My4wMTA0NjksIm5iZiI6MTcwNjEwODQ4My4wMTA0NzIsImV4cCI6MjAyMTcyNzY4Mi45NzY3MSwic3ViIjoiMTUzOTA3MSIsInNjb3BlcyI6W<VENDOR_ID><VENDOR_ID>9.VZTipL_ZOKHvUVoIvl2g-9PZ5rgvBUkaX3kYjXs6U5iCeHyAG7o4lu-VaUU26vQYLTn-WMM3rDfWovtITag-abaop9<VENDOR_ID>JP_n_zfIp7dJAA0nhKPt_phRQVZqLyONsjuQUmWDDvTYCg5<VENDOR_AUTH_CODE>lHVLp<VENDOR_AUTH_CODE>a<VENDOR_ID>iPrgkgT80cmF2B85qkpJbGrRYVCYoNXfZOLNbduBU8wjeZXMJs<VENDOR_ID>VTp-DDPeU6if5-NKhIUf32ZVC2ADg-5LspyRT5mlrWCCB-VzFD05R<VENDOR_ID>u6VUr8DkA9GLc4y4fI3FozIfUH_S<VENDOR_ID>f3Z_e-lY979eB6<VENDOR_ID>-IGbjg-EyvRuQMHlhi_ViclcGW2u0y4DBwXHvJ4cTJr2JOFhiJeUNjIAkvvYP6-NG8hMhdvQWUBp7RIDIeEn4fs<VENDOR_AUTH_CODE>kDH7yaCHqo5hQZ-jcaTiSSr20pNTs8pd7Shk8<VENDOR_ID>aZZoaz-cavDLlRU6auX<VENDOR_ID>R_vMlbtfRIfk-49jRezcovfSsRb-WegaXETTVMHUynPCj8FYnd2ib6FVrhAnicmY7L5Lva
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '299'
      Apigw-Requestid:
      - SaZ<VENDOR_AUTH_CODE>DipRCYcEMRA=
    body:
      encoding: ASCII-8BIT
      string: '{"jsonapi":{"version":"<VENDOR_ID>.0"},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v<VENDOR_ID>\/subscriptions\/253735"},"data":{"type":"subscriptions","id":"253735","attributes":{"store_id":5<VENDOR_ID>385,"customer_id":2<VENDOR_ID>942<VENDOR_ID>9,"order_id":20<VENDOR_ID>5<VENDOR_ID>84,"order_item_id":<VENDOR_ID>976428,"product_id":<VENDOR_ID>74873,"variant_id":225676,"product_name":"Payments
        App","variant_name":"20 a month","user_name":"A TEST","user_email":"dean+9f2d78@voupe.dev","status":"active","status_formatted":"Active","card_brand":"visa","card_last_four":"4242","pause":null,"cancelled":false,"trial_ends_at":null,"billing_anchor":3<VENDOR_ID>,"first_subscription_item":{"id":2074<VENDOR_ID>6,"subscription_id":253735,"price_id":259336,"quantity":<VENDOR_ID>,"is_usage_based":false,"created_at":"2024-0<VENDOR_ID>-3<VENDOR_ID>T<VENDOR_ID>5:38:4<VENDOR_ID>.000000Z","updated_at":"2024-0<VENDOR_ID>-3<VENDOR_ID>T<VENDOR_ID>5:38:4<VENDOR_ID>.000000Z"},"urls":{"update_payment_method":"https:\/\/voupedev.lemonsqueezy.com\/subscription\/253735\/payment-details?e<VENDOR_AUTH_CODE>pires=<VENDOR_ID>706803590&signature=4782<VENDOR_ID>4<VENDOR_ID>5<VENDOR_ID>7b<VENDOR_ID>66b7acdc43fb842aaf0004<VENDOR_ID>7354bbe0b4667<VENDOR_ID><VENDOR_ID>a<VENDOR_ID>67f6c<VENDOR_ID>ed7b4f","customer_portal":"https:\/\/voupedev.lemonsqueezy.com\/billing?e<VENDOR_AUTH_CODE>pires=<VENDOR_ID>706738790&test_mode=<VENDOR_ID>&user=<VENDOR_ID>932202&signature=f<VENDOR_ID>d2<VENDOR_ID>25<VENDOR_ID>e98d07b4937c<VENDOR_ID>0cdfb2aaeaf4e6d29aa0e52<VENDOR_ID>c2<VENDOR_ID><VENDOR_ID>7ddb<VENDOR_ID>98e878<VENDOR_ID>6e9"},"renews_at":"2024-02-29T<VENDOR_ID>5:38:35.000000Z","ends_at":null,"created_at":"2024-0<VENDOR_ID>-3<VENDOR_ID>T<VENDOR_ID>5:38:36.000000Z","updated_at":"2024-0<VENDOR_ID>-3<VENDOR_ID>T<VENDOR_ID>6:06:30.000000Z","test_mode":true},"relationships":{"store":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v<VENDOR_ID>\/subscriptions\/253735\/store","self":"https:\/\/api.lemonsqueezy.com\/v<VENDOR_ID>\/subscriptions\/253735\/relationships\/store"}},"customer":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v<VENDOR_ID>\/subscriptions\/253735\/customer","self":"https:\/\/api.lemonsqueezy.com\/v<VENDOR_ID>\/subscriptions\/253735\/relationships\/customer"}},"order":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v<VENDOR_ID>\/subscriptions\/253735\/order","self":"https:\/\/api.lemonsqueezy.com\/v<VENDOR_ID>\/subscriptions\/253735\/relationships\/order"}},"order-item":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v<VENDOR_ID>\/subscriptions\/253735\/order-item","self":"https:\/\/api.lemonsqueezy.com\/v<VENDOR_ID>\/subscriptions\/253735\/relationships\/order-item"}},"product":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v<VENDOR_ID>\/subscriptions\/253735\/product","self":"https:\/\/api.lemonsqueezy.com\/v<VENDOR_ID>\/subscriptions\/253735\/relationships\/product"}},"variant":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v<VENDOR_ID>\/subscriptions\/253735\/variant","self":"https:\/\/api.lemonsqueezy.com\/v<VENDOR_ID>\/subscriptions\/253735\/relationships\/variant"}},"subscription-items":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v<VENDOR_ID>\/subscriptions\/253735\/subscription-items","self":"https:\/\/api.lemonsqueezy.com\/v<VENDOR_ID>\/subscriptions\/253735\/relationships\/subscription-items"}},"subscription-invoices":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v<VENDOR_ID>\/subscriptions\/253735\/subscription-invoices","self":"https:\/\/api.lemonsqueezy.com\/v<VENDOR_ID>\/subscriptions\/253735\/relationships\/subscription-invoices"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v<VENDOR_ID>\/subscriptions\/253735"}}}'
  recorded_at: Wed, 31 Jan 2024 16:06:31 GMT
[...]
