---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=gob%40bluth.com&name=&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - b72f278<VENDOR_ID>-4ac2-4f9b-bedc-78<VENDOR_ID>8555ec3af
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b72f278<VENDOR_ID>-4ac2-4f9b-bedc-78<VENDOR_ID>8555ec3af
      Original-Request:
      - req_6KbH<VENDOR_AUTH_CODE>Je<VENDOR_ID>qrtXWY
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_S9Y<VENDOR_ID>PrVnPnfso<VENDOR_AUTH_CODE>",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>744982774,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gob@bluth.com",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "E472ED73",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 18 Apr 2025 13:26:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_S9Y<VENDOR_ID>PrVnPnfso<VENDOR_AUTH_CODE>
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - a6a4<VENDOR_ID>d8b-d05<VENDOR_ID>-4929-ad3<VENDOR_ID>-75fd5ac4874e
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a6a4<VENDOR_ID>d8b-d05<VENDOR_ID>-4929-ad3<VENDOR_ID>-75fd5ac4874e
      Original-Request:
      - req_mjnbjJDkdE4sYQ
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>RFEvqQK2ZHS99RkDg0F2I<VENDOR_AUTH_CODE>o",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": 4,
            "e<VENDOR_AUTH_CODE>p_year": 2026,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>744982774,
          "customer": "cus_S9Y<VENDOR_ID>PrVnPnfso<VENDOR_AUTH_CODE>",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 18 Apr 2025 13:26:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_S9Y<VENDOR_ID>PrVnPnfso<VENDOR_AUTH_CODE>
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>RFEvqQK2ZHS99RkDg0F2I<VENDOR_AUTH_CODE>o
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 4032d<VENDOR_ID>6c-4d47-4290-8b48-c3257287d8ad
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.b[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents
    body:
      encoding: UTF-8
      string: amount=<VENDOR_ID>000&currency=usd&customer=cus_S9Y<VENDOR_ID>PrVnPnfso<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[0]=latest_charge.refunds&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_<VENDOR_ID>RFEvqQK2ZHS99RkDg0F2I<VENDOR_AUTH_CODE>o
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 70d97454-a0c8-494c-8fc5-7be786cac7<VENDOR_ID>f
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 70d97454-a0c8-494c-8fc5-7be786cac7<VENDOR_ID>f
      Original-Request:
      - req_gQp5ZZKq6QhCkr
      Stripe-Account:
      - acct_<VENDOR_ID>ISuLNQK2ZHS99Rk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3RFEvrQK2ZHS99Rk0tw7<VENDOR_AUTH_CODE>0fY",
          "object": "payment_intent",
          "amount": <VENDOR_ID>000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": <VENDOR_ID>000,
          "application": "ca_J526GYgmSwFgKMno9PpWP7RTYw0iB3mM",
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_<PADDLE_API_KEY>": "pi_3RFEvrQK2ZHS99Rk0tw7<VENDOR_AUTH_CODE>0fY_<PADDLE_API_KEY>_Uv2L2KTgwUHUKT6dC<VENDOR_AUTH_CODE>48j79y6",
          "confirmation_method": "automatic",
          "created": <VENDOR_ID>744982775,
          "currency": "usd",
          "customer": "cus_S9Y<VENDOR_ID>PrVnPnfso<VENDOR_AUTH_CODE>",
          "description": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3RFEvrQK2ZHS99Rk0NFCb5bz",
            "object": "charge",
            "amount": <VENDOR_ID>000,
            "amount_captured": <VENDOR_ID>000,
            "amount_refunded": 0,
            "application": "ca_J526GYgmSwFgKMno9PpWP7RTYw0iB3mM",
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": null,
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line<VENDOR_ID>": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null,
              "ta<VENDOR_AUTH_CODE>_id": null
            },
            "calculated_statement_descriptor": "BUSINESS.COM",
            "captured": true,
            "created": <VENDOR_ID>744982775,
            "currency": "usd",
            "customer": "cus_S9Y<VENDOR_ID>PrVnPnfso<VENDOR_AUTH_CODE>",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "advice_code": null,
              "network_advice_code": null,
              "network_decline_code": null,
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 0,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_3RFEvrQK2ZHS99Rk0tw7<VENDOR_AUTH_CODE>0fY",
            "payment_method": "pm_<VENDOR_ID>RFEvqQK2ZHS99RkDg0F2I<VENDOR_AUTH_CODE>o",
            "payment_method_details": {
              "card": {
                "amount_authorized": <VENDOR_ID>000,
                "authorization_code": null,
                "brand": "visa",
                "checks": {
                  "address_line<VENDOR_ID>_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": "pass"
                },
                "country": "US",
                "e<VENDOR_AUTH_CODE>p_month": 4,
                "e<VENDOR_AUTH_CODE>p_year": 2026,
                "e<VENDOR_AUTH_CODE>tended_authorization": {
                  "status": "disabled"
                },
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "incremental_authorization": {
                  "status": "unavailable"
                },
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "multicapture": {
                  "status": "unavailable"
                },
                "network": "visa",
                "network_token": {
                  "used": false
                },
                "network_transaction_id": "<VENDOR_ID>05<VENDOR_ID>02<VENDOR_ID>047055<VENDOR_ID><VENDOR_ID>",
                "overcapture": {
                  "ma<VENDOR_AUTH_CODE>imum_amount_capturable": <VENDOR_ID>000,
                  "status": "unavailable"
                },
                "regulated_status": "unregulated",
                "three_d_secure": null,
                "wallet": null
              },
              "type": "card"
            },
            "radar_options": {},
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8<VENDOR_AUTH_CODE>SVN<VENDOR_ID>TE5RSzJaSFM5OVJrKPilicAGMgamItwQvqo6LBYafmlcA8E<VENDOR_AUTH_CODE>J-qjLKy2uF2NX<VENDOR_ID>H3z7hDXo3AtajAhHAE24tqX7ibc2XH54f8",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v<VENDOR_ID>/charges/ch_3RFEvrQK2ZHS99Rk0NFCb5bz/refunds"
            },
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": null
          },
          "livemode": false,
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_<VENDOR_ID>RFEvqQK2ZHS99RkDg0F2I<VENDOR_AUTH_CODE>o",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Fri, 18 Apr 2025 13:26:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?e<VENDOR_AUTH_CODE>pand%5B%5D=data.invoice.total_discount_amounts.discount&payment%5Bpayment_intent%5D=pi_3RFEvrQK2ZHS99Rk0tw7<VENDOR_AUTH_CODE>0fY&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Fri, 18 Apr 2025 13:26:16 GMT
recorded_with: VCR 6.3.1
