---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 2f4b93f4-64<VENDOR_ID>5-4<VENDOR_ID>0<VENDOR_ID>-94d0-0f5a6520532a
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2f4b93f4-64<VENDOR_ID>5-4<VENDOR_ID>0<VENDOR_ID>-94d0-0f5a6520532a
      Original-Request:
      - req_<VENDOR_ID>LUOHRmvQUAN5O
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_QdZChpUT<VENDOR_ID>QDREc",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>723306994,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "35A8A6B9",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 10 Aug 2024 16:23:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_QdZChpUT<VENDOR_ID>QDREc
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - ccfc28c6-5<VENDOR_ID>ef-45<VENDOR_ID><VENDOR_ID>-aff3-ed33af9a3afb
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ccfc28c6-5<VENDOR_ID>ef-45<VENDOR_ID><VENDOR_ID>-aff3-ed33af9a3afb
      Original-Request:
      - req_<VENDOR_ID>flWZVbtUJQQEV
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>PmI4UKXBGcbgpbZ5UHXvH66",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": 8,
            "e<VENDOR_AUTH_CODE>p_year": 2025,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>723306994,
          "customer": "cus_QdZChpUT<VENDOR_ID>QDREc",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sat, 10 Aug 2024 16:23:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_QdZChpUT<VENDOR_ID>QDREc
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>PmI4UKXBGcbgpbZ5UHXvH66
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 86f9f527-a685-4030-a543-8b8bc84<VENDOR_ID>80de
      S[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&customer=cus_QdZChpUT<VENDOR_ID>QDREc&e<VENDOR_AUTH_CODE>pand[0]=latest_charge.refunds&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_<VENDOR_ID>PmI4UKXBGcbgpbZ5UHXvH66
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - c97a7593-a4e4-4aa5-9d0e-7a4<VENDOR_ID>b7a9ceb7
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c97a7593-a4e4-4aa5-9d0e-7a4<VENDOR_ID>b7a9ceb7
      Original-Request:
      - req_XNNdPbF09QdjO7
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3PmI4VKXBGcbgpbZ<VENDOR_ID>09fJOtb",
          "object": "payment_intent",
          "amount": 3000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 3000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_<PADDLE_API_KEY>": "pi_3PmI4VKXBGcbgpbZ<VENDOR_ID>09fJOtb_<PADDLE_API_KEY>_2bwu9zcpAbJ<VENDOR_AUTH_CODE>phdPJ8FaPMuIJ",
          "confirmation_method": "automatic",
          "created": <VENDOR_ID>723306995,
          "currency": "usd",
          "customer": "cus_QdZChpUT<VENDOR_ID>QDREc",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3PmI4VKXBGcbgpbZ<VENDOR_ID>UhRjGNa",
            "object": "charge",
            "amount": 3000,
            "amount_captured": 3000,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": null,
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line<VENDOR_ID>": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null
            },
            "calculated_statement_descriptor": "PAY RAILS",
            "captured": true,
            "created": <VENDOR_ID>723306995,
            "currency": "usd",
            "customer": "cus_QdZChpUT<VENDOR_ID>QDREc",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "invoice": null,
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 6,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_3PmI4VKXBGcbgpbZ<VENDOR_ID>09fJOtb",
            "payment_method": "pm_<VENDOR_ID>PmI4UKXBGcbgpbZ5UHXvH66",
            "payment_method_details": {
              "card": {
                "amount_authorized": 3000,
                "authorization_code": null,
                "brand": "visa",
                "checks": {
                  "address_line<VENDOR_ID>_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": "pass"
                },
                "country": "US",
                "e<VENDOR_AUTH_CODE>p_month": 8,
                "e<VENDOR_AUTH_CODE>p_year": 2025,
                "e<VENDOR_AUTH_CODE>tended_authorization": {
                  "status": "disabled"
                },
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "incremental_authorization": {
                  "status": "unavailable"
                },
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "multicapture": {
                  "status": "unavailable"
                },
                "network": "visa",
                "network_token": {
                  "used": false
                },
                "overcapture": {
                  "ma<VENDOR_AUTH_CODE>imum_amount_capturable": 3000,
                  "status": "unavailable"
                },
                "three_d_secure": null,
                "wallet": null
              },
              "type": "card"
            },
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaKPOn3rUGMgaYrqiUnmY6LBZTbOR5Q7aQ00_AkjiDvv7hB4uz-3Kh99Kj9eFXlsuVB347E<VENDOR_ID>XVOanFkKdL",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v<VENDOR_ID>/charges/ch_3PmI4VKXBGcbgpbZ<VENDOR_ID>UhRjGNa/refunds"
            },
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": null
          },
          "livemode": false,
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_<VENDOR_ID>PmI4UKXBGcbgpbZ5UHXvH66",
          "payment_method_configuration_details": {
            "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
            "parent": null
          },
          "payment_method_options": {
            "acss_debit": {
              "verification_method": "automatic"
            },
            "afterpay_clearpay": {
              "reference": null
            },
            "alipay": {},
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "klarna": {
              "preferred_locale": null
            },
            "link": {
              "persistent_token": null
            },
            "us_bank_account": {
              "financial_connections": {
                "permissions": [
                  "payment_method"
                ],
                "prefetch": []
              },
              "mandate_options": {},
              "verification_method": "automatic"
            },
            "wechat_pay": {
              "app_id": null,
              "client": null
            }
          },
          "payment_method_types": [
            "card",
            "acss_debit",
            "afterpay_clearpay",
            "alipay",
            "klarna",
            "link",
            "us_bank_account",
            "wechat_pay"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Sat, 10 Aug 2024 16:23:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3PmI4VKXBGcbgpbZ<VENDOR_ID>UhRjGNa&amount=<VENDOR_ID>000
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - e3ea8077-609b-4c70-977c-cf8770aa440b
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e3ea8077-609b-4c70-977c-cf8770aa440b
      Original-Request:
      - req_DLqgTbkNWjjHGl
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3PmI4VKXBGcbgpbZ<VENDOR_ID>URTzyFF",
          "object": "refund",
          "amount": <VENDOR_ID>000,
          "balance_transaction": "t<VENDOR_AUTH_CODE>n_3PmI4VKXBGcbgpbZ<VENDOR_ID>gfpecHh",
          "charge": "ch_3PmI4VKXBGcbgpbZ<VENDOR_ID>UhRjGNa",
          "created": <VENDOR_ID>723306996,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_3PmI4VKXBGcbgpbZ<VENDOR_ID>09fJOtb",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Sat, 10 Aug 2024 16:23:17 GMT
[...]
