---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/subscription/users
    body:
      encoding: UTF-8
      string: subscription_id=3575629&vendor_auth_code=d4fa0981f2c51335215bfbf31cddfbf1af76951baa11427910&vendor_id=123456
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":[{"subscription_id":3575629,"plan_id":594470,"user_id":17368056,"user_email":"test@example.com","marketing_consent":false,"update_url":"https:\/\/checkout.paddle.com\/subscription\/update?user=17368056&subscription=3575629&hash=73e02975016fe45e1c9dbc2ae9ad7310059c610331fbbed1e94dd322f0151b9a","cancel_url":"https:\/\/checkout.paddle.com\/subscription\/cancel?user=17368056&subscription=3575629&hash=da80216fe65319dba5903f403dfb9485f843ff01311ca723fa9463e4f54edace","state":"deleted","signup_date":"2020-06-04
        10:47:37","last_payment":{"amount":0,"currency":"USD","date":"2020-06-04"},"linked_subscriptions":[],"payment_information":{"payment_method":"paypal"}}]}'
  recorded_at: Thu, 04 Jun 2020 11:18:36 GMT
recorded_with: VCR 5.1.0
