---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7de0b220-5665-4b68-bb90-5ab315202c6b
      Original-Request:
      - req_kFeZC2gOQFumM4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_LpoLGDHYKOsxOv",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1654632614,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_prefix": "BEF6FC17",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 07 Jun 2022 20:10:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_LpoLGDHYKOsxOv
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a86fb818-f677-4259-aa12-7a8905d3fcce
      Original-Request:
      - req_BlTaHu7CVkhRjm
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1L88jDKXBGcbgpbZU1Cn3Sq8",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "exp_month": 6,
            "exp_year": 2023,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1654632615,
          "customer": "cus_LpoLGDHYKOsxOv",
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Tue, 07 Jun 2022 20:10:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_LpoLGDHYKOsxOv
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1L88jDKXBGcbgpbZU1Cn3Sq8
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
  [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=3000&confirm=true&confirmation_method=automatic&currency=usd&customer=cus_LpoLGDHYKOsxOv&payment_method=pm_1L88jEKXBGcbgpbZtvl9GBBI
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - df8e7e4c-7cff-4081-8e1b-c5d3bbe08420
      Original-Request:
      - req_HOwcrOMul9mI7j
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_3L88jGKXBGcbgpbZ0stvxC0X",
          "object": "payment_intent",
          "amount": 3000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {
            }
          },
          "amount_received": 3000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [
              {
                "id": "ch_3L88jGKXBGcbgpbZ0U8sN2Ja",
                "object": "charge",
                "amount": 3000,
                "amount_captured": 3000,
                "amount_refunded": 0,
                "application": null,
                "application_fee": null,
                "application_fee_amount": null,
                "balance_transaction": "txn_3L88jGKXBGcbgpbZ0KMliFcK",
                "billing_details": {
                  "address": {
                    "city": null,
                    "country": null,
                    "line1": null,
                    "line2": null,
                    "postal_code": null,
                    "state": null
                  },
                  "email": null,
                  "name": null,
                  "phone": null
                },
                "calculated_statement_descriptor": "PAY RAILS",
                "captured": true,
                "created": 1654632618,
                "currency": "usd",
                "customer": "cus_LpoLGDHYKOsxOv",
                "description": null,
                "destination": null,
                "dispute": null,
                "disputed": false,
                "failure_balance_transaction": null,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {
                },
                "invoice": null,
                "livemode": false,
                "metadata": {
                },
                "on_behalf_of": null,
                "order": null,
                "outcome": {
                  "network_status": "approved_by_network",
                  "reason": null,
                  "risk_level": "normal",
                  "risk_score": 55,
                  "seller_message": "Payment complete.",
                  "type": "authorized"
                },
                "paid": true,
                "payment_intent": "pi_3L88jGKXBGcbgpbZ0stvxC0X",
                "payment_method": "pm_1L88jEKXBGcbgpbZtvl9GBBI",
                "payment_method_details": {
                  "card": {
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": null
                    },
                    "country": "US",
                    "exp_month": 6,
                    "exp_year": 2023,
                    "fingerprint": "w4XDzQOFakih5EZM",
                    "funding": "credit",
                    "installments": null,
                    "last4": "4242",
                    "mandate": null,
                    "network": "visa",
                    "three_d_secure": null,
                    "wallet": null
                  },
                  "type": "card"
                },
                "receipt_email": null,
                "receipt_number": null,
                "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xRTRiZm5LWEJHY2JncGJaKKvh_pQGMgZmnEcuIyQ6LBbr5r8ggQws5XVwuu9DHpxtg3n6pzfdgYh1qu_KO8wGwLuoV2OAaj7Ish08",
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [

                  ],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/ch_3L88jGKXBGcbgpbZ0U8sN2Ja/refunds"
                },
                "review": null,
                "shipping": null,
                "source": null,
                "source_transfer": null,
                "statement_descriptor": null,
                "statement_descriptor_suffix": null,
                "status": "succeeded",
                "transfer_data": null,
                "transfer_group": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges?payment_intent=pi_3L88jGKXBGcbgpbZ0stvxC0X"
          },
          "client_secret": "pi_3L88jGKXBGcbgpbZ0stvxC0X_secret_LhEz6G8PtJe5Wfjhu3sR1iAjH",
          "confirmation_method": "automatic",
          "created": 1654632618,
          "currency": "usd",
          "customer": "cus_LpoLGDHYKOsxOv",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1L88jEKXBGcbgpbZtvl9GBBI",
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 07 Jun 2022 20:10:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3L88jGKXBGcbgpbZ0U8sN2Ja&amount=1000
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 43ae3e28-9458-4554-8e35-be4d216b9e11
      Original-Request:
      - req_kpkAQOXrMREg5n
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_3L88jGKXBGcbgpbZ0mwJxxIu",
          "object": "refund",
          "amount": 1000,
          "balance_transaction": "txn_3L88jGKXBGcbgpbZ09Ug2eMU",
          "charge": "ch_3L88jGKXBGcbgpbZ0U8sN2Ja",
          "created": 1654632619,
          "currency": "usd",
          "metadata": {
          },
          "payment_intent": "pi_3L88jGKXBGcbgpbZ0stvxC0X",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Tue, 07 Jun 2022 20:10:20 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3L88jGKXBGcbgpbZ0U8sN2Ja&amount=500
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a60e9daf-e1c1-4e68-8aed-086efff0d66b
      Original-Request:
      - req_K1HCylXpFq18gQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_3L88jGKXBGcbgpbZ0lQc3TIJ",
          "object": "refund",
          "amount": 500,
          "balance_transaction": "txn_3L88jGKXBGcbgpbZ0gtyeCXo",
          "charge": "ch_3L88jGKXBGcbgpbZ0U8sN2Ja",
          "created": 1654632620,
          "currency": "usd",
          "metadata": {
          },
          "payment_intent": "pi_3L88jGKXBGcbgpbZ0stvxC0X",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Tue, 07 Jun 2022 20:10:21 GMT
recorded_with: VCR 6.1.0
