---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such customer: '1'",
            "param": "id",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Tue, 16 Feb 2021 02:54:50 GMT
recorded_with: VCR 6.0.0
