---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - e8945bb7-0e<VENDOR_ID>c-42c7-bf<VENDOR_ID>f-da3000a352d4
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e8945bb7-0e<VENDOR_ID>c-42c7-bf<VENDOR_ID>f-da3000a352d4
      Original-Request:
      - req_Ktn5GdFuV<VENDOR_ID>sATb
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TL2gn0JH6I2TZy",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>76<VENDOR_ID>933542,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "W7CUDNOQ",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 31 Oct 2025 17:59:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/abcd/attach
    body:
      encoding: UTF-8
      string: customer=cus_TL2gn0JH6I2TZy
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - "<VENDOR_ID>36998bc-8c7<VENDOR_ID>-42f5-927f-650062e858dd"
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - "<VENDOR_ID>36998bc-8c7<VENDOR_ID>-42f5-927f-650062e858dd"
      Original-Request:
      - req_bHqNFeZ2N4do0C
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such PaymentMethod: 'abcd'; It's possible this PaymentMethod e<VENDOR_AUTH_CODE>ists on one of your connected accounts, in which case you should retry this request on that connected account. Learn more at https://stripe.com/docs/connect/authentication",
            "param": "payment_method",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_bHqNFeZ2N4do0C?t=<VENDOR_ID>76<VENDOR_ID>933542",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Fri, 31 Oct 2025 17:59:02 GMT
recorded_with: VCR 6.3.1
