---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods
    body:
      encoding: UTF-8
      string: type=sepa_debit&sepa_debit[iban]=DK5000400440<VENDOR_ID><VENDOR_ID>6243&billing_details[email]=test%40e<VENDOR_AUTH_CODE>ample.org&billing_details[name]=Test+User
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 8385f82a-84<VENDOR_ID>4-4532-b4cd-9526eeccd37a
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8385f82a-84<VENDOR_ID>4-4532-b4cd-9526eeccd37a
      Original-Request:
      - req_zXTLARQW5vjKOT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>UHndFKXBGcbgpbZS6DHiw9w",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": "test@e<VENDOR_AUTH_CODE>ample.org",
            "name": "Test User",
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "created": <VENDOR_ID>78992<VENDOR_ID>825,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "sepa_debit": {
            "bank_code": "0040",
            "branch_code": "",
            "country": "DK",
            "fingerprint": "BZ2XYzsIYf06E4yv",
            "generated_from": {
              "charge": null,
              "setup_attempt": null
            },
            "last4": "6243"
          },
          "shared_payment_granted_token": null,
          "type": "sepa_debit"
        }
  recorded_at: Sun, 20 Sep 2026 16:30:25 GMT
recorded_with: VCR 6.4.0
