---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 2967b6b0-ec56-4b25-be65-ddb935235632
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2967b6b0-ec56-4b25-be65-ddb935235632
      Original-Request:
      - req_3m7<VENDOR_ID>Q3n<VENDOR_ID>4uKjSc
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VIOQouzs7l553B",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>78992<VENDOR_ID>862,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "FYRDNO5Z",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:31:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_VIOQouzs7l553B
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 545ac9<VENDOR_ID>3-dc72-4aad-8b3b-f5e5fdbc9e67
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 545ac9<VENDOR_ID>3-dc72-4aad-8b3b-f5e5fdbc9e67
      Original-Request:
      - req_YSirV89Yn9DkH9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>UHndqKXBGcbgpbZqlyg60na",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": 9,
            "e<VENDOR_AUTH_CODE>p_year": 2027,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>78992<VENDOR_ID>862,
          "customer": "cus_VIOQouzs7l553B",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Sun, 20 Sep 2026 16:31:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_VIOQouzs7l553B
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>UHndqKXBGcbgpbZqlyg60na
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - cf96e26c-fdda-4627-a55d-94<VENDOR_ID>36bc2<VENDOR_ID>467
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - applicatio[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents
    body:
      encoding: UTF-8
      string: amount=2900&currency=usd&customer=cus_VIOQouzs7l553B&e<VENDOR_AUTH_CODE>pand[0]=latest_charge.balance_transaction&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=latest_charge.payment_intent&e<VENDOR_AUTH_CODE>pand[2]=latest_charge.refunds.data.balance_transaction&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_<VENDOR_ID>UHndqKXBGcbgpbZqlyg60na&capture_method=manual
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 49e73f6a-3<VENDOR_ID>22-4f27-9566-0fec63dbd993
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 49e73f6a-3<VENDOR_ID>22-4f27-9566-0fec63dbd993
      Original-Request:
      - req_BA5X0zEr2RbRhZ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3UHndrKXBGcbgpbZ<VENDOR_ID>g<VENDOR_ID>CI<VENDOR_ID>A9",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 2900,
          "amount_capturable": 2900,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_<PADDLE_API_KEY>": "pi_3UHndrKXBGcbgpbZ<VENDOR_ID>g<VENDOR_ID>CI<VENDOR_ID>A9_<PADDLE_API_KEY>_fLJ5gZm<VENDOR_AUTH_CODE>9HhI6FGfKn2ujyZMB",
          "confirmation_method": "automatic",
          "created": <VENDOR_ID>78992<VENDOR_ID>863,
          "currency": "usd",
          "customer": "cus_VIOQouzs7l553B",
          "customer_account": null,
          "description": null,
          "e<VENDOR_AUTH_CODE>cluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3UHndrKXBGcbgpbZ<VENDOR_ID>2G6<VENDOR_ID><VENDOR_ID>JA",
            "object": "charge",
            "amount": 2900,
            "amount_captured": 0,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": null,
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line<VENDOR_ID>": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null,
              "ta<VENDOR_AUTH_CODE>_id": null
            },
            "calculated_statement_descriptor": "PAY RAILS",
            "captured": false,
            "created": <VENDOR_ID>78992<VENDOR_ID>863,
            "currency": "usd",
            "customer": "cus_VIOQouzs7l553B",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "advice_code": null,
              "network_advice_code": null,
              "network_decline_code": null,
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 33,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": {
              "id": "pi_3UHndrKXBGcbgpbZ<VENDOR_ID>g<VENDOR_ID>CI<VENDOR_ID>A9",
              "object": "payment_intent",
              "allowed_payment_method_types": null,
              "amount": 2900,
              "amount_capturable": 2900,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": {
                "allow_redirects": "always",
                "enabled": true
              },
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "manual",
              "client_<PADDLE_API_KEY>": "pi_3UHndrKXBGcbgpbZ<VENDOR_ID>g<VENDOR_ID>CI<VENDOR_ID>A9_<PADDLE_API_KEY>_fLJ5gZm<VENDOR_AUTH_CODE>9HhI6FGfKn2ujyZMB",
              "confirmation_method": "automatic",
              "created": <VENDOR_ID>78992<VENDOR_ID>863,
              "currency": "usd",
              "customer": "cus_VIOQouzs7l553B",
              "customer_account": null,
              "description": null,
              "e<VENDOR_AUTH_CODE>cluded_payment_method_types": null,
              "last_payment_error": null,
              "latest_charge": "ch_3UHndrKXBGcbgpbZ<VENDOR_ID>2G6<VENDOR_ID><VENDOR_ID>JA",
              "livemode": false,
              "managed_payments": {
                "enabled": false
              },
              "metadata": {},
              "ne<VENDOR_AUTH_CODE>t_action": null,
              "on_behalf_of": null,
              "payment_method": "pm_<VENDOR_ID>UHndqKXBGcbgpbZqlyg60na",
              "payment_method_configuration_details": {
                "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
                "parent": null
              },
              "payment_method_options": {
                "afterpay_clearpay": {
                  "reference": null
                },
                "card": {
                  "installments": null,
                  "mandate_options": null,
                  "network": null,
                  "request_three_d_secure": "automatic"
                },
                "klarna": {
                  "preferred_locale": null
                },
                "link": {
                  "persistent_token": null
                }
              },
              "payment_method_types": [
                "card",
                "afterpay_clearpay",
                "klarna",
                "link"
              ],
              "payment_record": null,
              "processing": null,
              "receipt_email": null,
              "review": null,
              "setup_future_usage": null,
              "shared_payment_granted_token": null,
              "shipping": null,
              "source": null,
              "statement_descriptor": null,
              "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
              "status": "requires_capture",
              "transfer_data": null,
              "transfer_group": null
            },
            "payment_method": "pm_<VENDOR_ID>UHndqKXBGcbgpbZqlyg60na",
            "payment_method_details": {
              "card": {
                "amount_authorized": 2900,
                "authorization_code": "47<VENDOR_ID>072",
                "brand": "visa",
                "capture_before": <VENDOR_ID>790526663,
                "checks": {
                  "address_line<VENDOR_ID>_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": "pass"
                },
                "country": "US",
                "electronic_commerce_indicator": "07",
                "e<VENDOR_AUTH_CODE>p_month": 9,
                "e<VENDOR_AUTH_CODE>p_year": 2027,
                "e<VENDOR_AUTH_CODE>tended_authorization": {
                  "status": "disabled"
                },
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "incremental_authorization": {
                  "status": "unavailable"
                },
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "multicapture": {
                  "status": "unavailable"
                },
                "network": "visa",
                "network_token": {
                  "used": false
                },
                "network_transaction_id": "<VENDOR_ID><VENDOR_ID>9528868<VENDOR_ID>228<VENDOR_ID>7",
                "overcapture": {
                  "ma<VENDOR_AUTH_CODE>imum_amount_capturable": 2900,
                  "status": "unavailable"
                },
                "regulated_status": "unregulated",
                "three_d_secure": null,
                "transaction_link_id": null,
                "wallet": null
              },
              "type": "card"
            },
            "radar_options": {},
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaKMiUwNUGMgaZHhzTS806LBY_nE_v<VENDOR_ID>HPzF_F3oshPqaSSse28ojBOhtZLN<VENDOR_ID>LbeVRzSSOnATXhXytmTbky",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v<VENDOR_ID>/charges/ch_3UHndrKXBGcbgpbZ<VENDOR_ID>2G6<VENDOR_ID><VENDOR_ID>JA/refunds"
            },
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": null
          },
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_<VENDOR_ID>UHndqKXBGcbgpbZ[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?payment%5Bpayment_intent%5D=pi_3UHndrKXBGcbgpbZ<VENDOR_ID>g<VENDOR_ID>CI<VENDOR_ID>A9&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2026-08-26.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Sun, 20 Sep 2026 16:31:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents/pi_3UHndrKXBGcbgpbZ<VENDOR_ID>g<VENDOR_ID>CI<VENDOR_ID>A9/capture
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 2a637a58-b76f-4037-aab0-a6b7c<VENDOR_ID>6e4e2d
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/charges/ch_3UHndrKXBGcbgpbZ<VENDOR_ID>2G6<VENDOR_ID><VENDOR_ID>JA?e<VENDOR_AUTH_CODE>pand%5B%5D=balance_transaction&e<VENDOR_AUTH_CODE>pand%5B%5D=payment_intent&e<VENDOR_AUTH_CODE>pand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2026-08-26.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3UHndrKXBGcbgpbZ<VENDOR_ID>2G6<VENDOR_ID><VENDOR_ID>JA",
          "object": "charge",
          "amount": 2900,
          "amount_captured": 2900,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "t<VENDOR_AUTH_CODE>n_3UHndrKXBGcbgpbZ<VENDOR_ID>RzrabPE",
            "object": "balance_transaction",
            "amount": 2900,
            "available_on": <VENDOR_ID>790467200,
            "balance_type": "payments",
            "created": <VENDOR_ID>78992<VENDOR_ID>864,
            "currency": "usd",
            "description": null,
            "e<VENDOR_AUTH_CODE>change_rate": null,
            "fee": <VENDOR_ID><VENDOR_ID>4,
            "fee_details": [
              {
                "amount": <VENDOR_ID><VENDOR_ID>4,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 2786,
            "reporting_category": "charge",
            "source": "ch_3UHndrKXBGcbgpbZ<VENDOR_ID>2G6<VENDOR_ID><VENDOR_ID>JA",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phon[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?payment%5Bpayment_intent%5D=pi_3UHndrKXBGcbgpbZ<VENDOR_ID>g<VENDOR_ID>CI<VENDOR_ID>A9&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2026-08-26.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Sun, 20 Sep 2026 16:31:05 GMT
recorded_with: VCR 6.4.0
