---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 9b0bddbc-6062-4270-b94e-74<VENDOR_ID>09e0<VENDOR_ID>0e24
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9b0bddbc-6062-4270-b94e-74<VENDOR_ID>09e0<VENDOR_ID>0e24
      Original-Request:
      - req_VLw39yyw2eGt9A
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_SDhMffkETICdB3",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>745940027,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "T0QSJDJF",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 29 Apr 2025 15:20:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_SDhMffkETICdB3
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - e2b48a57-7052-4b37-bdb4-088af47a0b4c
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e2b48a57-7052-4b37-bdb4-088af47a0b4c
      Original-Request:
      - req_EujijRvqqXHXaY
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>RJF<VENDOR_AUTH_CODE>PKXBGcbgpbZk58khme5",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": 4,
            "e<VENDOR_AUTH_CODE>p_year": 2026,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>745940027,
          "customer": "cus_SDhMffkETICdB3",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 29 Apr 2025 15:20:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_SDhMffkETICdB3
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>RJF<VENDOR_AUTH_CODE>PKXBGcbgpbZk58khme5
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - a3c7<VENDOR_ID>b33-c502-48ea-a362-22<VENDOR_ID>3b<VENDOR_ID>b02692
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents
    body:
      encoding: UTF-8
      string: amount=2900&currency=usd&customer=cus_SDhMffkETICdB3&e<VENDOR_AUTH_CODE>pand[0]=latest_charge.refunds&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_<VENDOR_ID>RJF<VENDOR_AUTH_CODE>PKXBGcbgpbZk58khme5&capture_method=manual
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 6e<VENDOR_ID>d0b2d-ee<VENDOR_ID><VENDOR_ID>-4fc2-877b-4e8d889ff403
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6e<VENDOR_ID>d0b2d-ee<VENDOR_ID><VENDOR_ID>-4fc2-877b-4e8d889ff403
      Original-Request:
      - req_Ws2dMEapFsMFaG
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3RJF<VENDOR_AUTH_CODE>QKXBGcbgpbZ<VENDOR_ID>tqMw4VU",
          "object": "payment_intent",
          "amount": 2900,
          "amount_capturable": 2900,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_<PADDLE_API_KEY>": "pi_3RJF<VENDOR_AUTH_CODE>QKXBGcbgpbZ<VENDOR_ID>tqMw4VU_<PADDLE_API_KEY>_dpTdvUjnuOh0DXgCl3mEI67L6",
          "confirmation_method": "automatic",
          "created": <VENDOR_ID>745940028,
          "currency": "usd",
          "customer": "cus_SDhMffkETICdB3",
          "description": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3RJF<VENDOR_AUTH_CODE>QKXBGcbgpbZ<VENDOR_ID>mM2A2H3",
            "object": "charge",
            "amount": 2900,
            "amount_captured": 0,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": null,
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line<VENDOR_ID>": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null,
              "ta<VENDOR_AUTH_CODE>_id": null
            },
            "calculated_statement_descriptor": "PAY RAILS",
            "captured": false,
            "created": <VENDOR_ID>745940028,
            "currency": "usd",
            "customer": "cus_SDhMffkETICdB3",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "advice_code": null,
              "network_advice_code": null,
              "network_decline_code": null,
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 45,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_3RJF<VENDOR_AUTH_CODE>QKXBGcbgpbZ<VENDOR_ID>tqMw4VU",
            "payment_method": "pm_<VENDOR_ID>RJF<VENDOR_AUTH_CODE>PKXBGcbgpbZk58khme5",
            "payment_method_details": {
              "card": {
                "amount_authorized": 2900,
                "authorization_code": null,
                "brand": "visa",
                "capture_before": <VENDOR_ID>746544828,
                "checks": {
                  "address_line<VENDOR_ID>_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": "pass"
                },
                "country": "US",
                "e<VENDOR_AUTH_CODE>p_month": 4,
                "e<VENDOR_AUTH_CODE>p_year": 2026,
                "e<VENDOR_AUTH_CODE>tended_authorization": {
                  "status": "disabled"
                },
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "incremental_authorization": {
                  "status": "unavailable"
                },
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "multicapture": {
                  "status": "unavailable"
                },
                "network": "visa",
                "network_token": {
                  "used": false
                },
                "network_transaction_id": "<VENDOR_ID><VENDOR_ID>9528868<VENDOR_ID>228<VENDOR_ID>7",
                "overcapture": {
                  "ma<VENDOR_AUTH_CODE>imum_amount_capturable": 2900,
                  "status": "unavailable"
                },
                "regulated_status": "unregulated",
                "three_d_secure": null,
                "wallet": null
              },
              "type": "card"
            },
            "radar_options": {},
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaKLzcw8AGMgY<VENDOR_AUTH_CODE>bsU5mGQ6LBbA<VENDOR_ID>HP_<VENDOR_ID>bTH9Hvv2Sf4T0tN97RbOU<VENDOR_ID>2b5ElqD3_iEh5CQAQKcZMHI2KJkzZ",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v<VENDOR_ID>/charges/ch_3RJF<VENDOR_AUTH_CODE>QKXBGcbgpbZ<VENDOR_ID>mM2A2H3/refunds"
            },
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": null
          },
          "livemode": false,
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_<VENDOR_ID>RJF<VENDOR_AUTH_CODE>PKXBGcbgpbZk58khme5",
          "payment_method_configuration_details": {
            "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
            "parent": null
          },
          "payment_method_options": {
            "afterpay_clearpay": {
              "reference": null
            },
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "klarna": {
              "preferred_locale": null
            },
            "link": {
              "persistent_token": null
            }
          },
          "payment_method_types": [
            "card",
            "afterpay_clearpay",
            "klarna",
            "link"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
          "status": "requires_capture",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 29 Apr 2025 15:20:28 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?e<VENDOR_AUTH_CODE>pand%5B%5D=data.invoice.total_discount_amounts.discount&payment%5Bpayment_intent%5D=pi_3RJF<VENDOR_AUTH_CODE>QKXBGcbgpbZ<VENDOR_ID>tqMw4VU&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Tue, 29 Apr 2025 15:20:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents/pi_3RJF<VENDOR_AUTH_CODE>QKXBGcbgpbZ<VENDOR_ID>tqMw4VU/capture
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 74574257-c75e-4c5a-ae46-b0c559a0ac4f
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urle[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/charges/ch_3RJF<VENDOR_AUTH_CODE>QKXBGcbgpbZ<VENDOR_ID>mM2A2H3?e<VENDOR_AUTH_CODE>pand%5B%5D=balance_transaction&e<VENDOR_AUTH_CODE>pand%5B%5D=payment_intent&e<VENDOR_AUTH_CODE>pand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3RJF<VENDOR_AUTH_CODE>QKXBGcbgpbZ<VENDOR_ID>mM2A2H3",
          "object": "charge",
          "amount": 2900,
          "amount_captured": 2900,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "t<VENDOR_AUTH_CODE>n_3RJF<VENDOR_AUTH_CODE>QKXBGcbgpbZ<VENDOR_ID>XOKslEi",
            "object": "balance_transaction",
            "amount": 2900,
            "available_on": <VENDOR_ID>746489600,
            "created": <VENDOR_ID>745940029,
            "currency": "usd",
            "description": null,
            "e<VENDOR_AUTH_CODE>change_rate": null,
            "fee": <VENDOR_ID><VENDOR_ID>4,
            "fee_details": [
              {
                "amount": <VENDOR_ID><VENDOR_ID>4,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 2786,
            "reporting_category": "charge",
            "source": "ch_3RJF<VENDOR_AUTH_CODE>QKXBGcbgpbZ<VENDOR_ID>mM2A2H3",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone":[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?e<VENDOR_AUTH_CODE>pand%5B%5D=data.invoice.total_discount_amounts.discount&payment%5Bpayment_intent%5D=pi_3RJF<VENDOR_AUTH_CODE>QKXBGcbgpbZ<VENDOR_ID>tqMw4VU&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Tue, 29 Apr 2025 15:20:30 GMT
recorded_with: VCR 6.3.1
