---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods
    body:
      encoding: UTF-8
      string: type=grabpay
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 808aae74-8c27-453d-b8ce-a799<VENDOR_ID>9040fd6
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 808aae74-8c27-453d-b8ce-a799<VENDOR_ID>9040fd6
      Original-Request:
      - req_VLFlEb67ZmDtS2
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>NhegAKXBGcbgpbZlBgA8s9H",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "created": <VENDOR_ID>692649586,
          "customer": null,
          "grabpay": {},
          "livemode": false,
          "metadata": {},
          "type": "grabpay"
        }
  recorded_at: Mon, 21 Aug 2023 20:26:26 GMT
recorded_with: VCR 6.2.0
