---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents
    body:
      encoding: UTF-8
      string: amount=0&confirm=true&currency=usd&e<VENDOR_AUTH_CODE>pand[0]=latest_charge.refunds
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 6fb3c<VENDOR_ID>ec-<VENDOR_ID><VENDOR_ID>b0-4da7-bde<VENDOR_ID>-0<VENDOR_ID>d2d26d2889
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6fb3c<VENDOR_ID>ec-<VENDOR_ID><VENDOR_ID>b0-4da7-bde<VENDOR_ID>-0<VENDOR_ID>d2d26d2889
      Original-Request:
      - req_Y3<VENDOR_AUTH_CODE>DvU2GtEbd9o
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "parameter_invalid_integer",
            "doc_url": "https://stripe.com/docs/error-codes/parameter-invalid-integer",
            "message": "This value must be greater than or equal to <VENDOR_ID>.",
            "param": "amount",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_Y3<VENDOR_AUTH_CODE>DvU2GtEbd9o?t=<VENDOR_ID>692649546",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 21 Aug 2023 20:25:46 GMT
recorded_with: VCR 6.2.0
