---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - ba3e3dc4-<VENDOR_ID>49f-44fb-8966-cd076c5ad576
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ba3e3dc4-<VENDOR_ID>49f-44fb-8966-cd076c5ad576
      Original-Request:
      - req_N<VENDOR_ID>2sHCldTXZqp<VENDOR_AUTH_CODE>
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TL2hLd7hoW2RBo",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>76<VENDOR_ID>9336<VENDOR_ID>0,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "XKHP3N45",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 31 Oct 2025 18:00:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/setup_intents
    body:
      encoding: UTF-8
      string: customer=cus_TL2hLd7hoW2RBo&usage=off_session
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 2<VENDOR_ID>85239d-c923-46df-a2c8-02b36df07775
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2<VENDOR_ID>85239d-c923-46df-a2c8-02b36df07775
      Original-Request:
      - req_3wZmTuI54i2d<VENDOR_ID>T
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-<VENDOR_ID>0-29.clover
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_<VENDOR_ID>SOMcRKXBGcbgpbZ4ZeBAzTL",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "cancellation_reason": null,
          "client_<PADDLE_API_KEY>": "seti_<VENDOR_ID>SOMcRKXBGcbgpbZ4ZeBAzTL_<PADDLE_API_KEY>_TL2hj4iPVEMOSzshDADJLk4efqcpEjY",
          "created": <VENDOR_ID>76<VENDOR_ID>9336<VENDOR_ID><VENDOR_ID>,
          "customer": "cus_TL2hLd7hoW2RBo",
          "description": null,
          "e<VENDOR_AUTH_CODE>cluded_payment_method_types": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": null,
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_configuration_details": {
            "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "us_bank_account": {
              "mandate_options": {},
              "verification_method": "automatic"
            }
          },
          "payment_method_types": [
            "card",
            "bancontact",
            "ideal",
            "sepa_debit",
            "acss_debit",
            "klarna",
            "link",
            "us_bank_account"
          ],
          "single_use_mandate": null,
          "status": "requires_payment_method",
          "usage": "off_session"
        }
  recorded_at: Fri, 31 Oct 2025 18:00:11 GMT
recorded_with: VCR 6.3.1
