---
http_interactions:
- request:
    method: post
    uri: https://sandbox-vendors.paddle.com/api/2.0/subscription/users
    body:
      encoding: UTF-8
      string: subscription_id=3576212&vendor_auth_code=d4fa0981f2c51335215bfbf31cddfbf1af76951baa11427910&vendor_id=123456
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":[{"subscription_id":3576212,"plan_id":7736,"user_id":62582,"user_email":"bob@bob.bob","marketing_consent":false,"update_url":"https://sandbox-checkout.paddle.com/subscription/update?user=62582\u0026subscription=136459\u0026hash=76883aa4923b6edbdf9eae0a3b1b98979b81c12ddfe987c5e96f9dad116bd008","cancel_url":"https://sandbox-checkout.paddle.com/subscription/cancel?user=62582\u0026subscription=136459\u0026hash=ffc1d9c7dcd3663a994b4ebc7457752cdc94cf5bbb99aa4249004947d2b412fe","state":"active","signup_date":"2021-09-15 14:28:37","last_payment":{"amount":25,"currency":"USD","date":"2021-09-15"},"linked_subscriptions":[],"payment_information":{"payment_method":"card","card_type":"visa","last_four_digits":"4242","expiry_date":"12/2024"},"quantity":1,"paused_at":"2021-09-15 14:33:32","paused_from":"2021-10-15 00:00:00","paused_reason":"voluntary"}]}'
  recorded_at: Thu, 04 Jun 2020 12:44:28 GMT
- request:
    method: post
    uri: https://sandbox-vendors.paddle.com/api/2.0/subscription/users_cancel
    body:
      encoding: UTF-8
      string: subscription_id=3576212&vendor_auth_code=d4fa0981f2c51335215bfbf31cddfbf1af76951baa11427910&vendor_id=123456
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"response":null}'
  recorded_at: Thu, 04 Jun 2020 12:44:29 GMT
recorded_with: VCR 5.1.0
