---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 54fdcd0<VENDOR_ID>-b8e8-4dff-8e87-c6eb32c40e5<VENDOR_ID>
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 54fdcd0<VENDOR_ID>-b8e8-4dff-8e87-c6eb32c40e5<VENDOR_ID>
      Original-Request:
      - req_lj<VENDOR_AUTH_CODE>OdSEmlQ6u8B
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_S<VENDOR_ID>2<VENDOR_ID>oApyJPvr2P",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>7430<VENDOR_ID>8599,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "8704<VENDOR_ID>6E7",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 26 Mar 2025 19:49:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/subscriptions
    body:
      encoding: UTF-8
      string: e<VENDOR_AUTH_CODE>pand[0]=default_payment_method&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=pending_setup_intent&e<VENDOR_AUTH_CODE>pand[2]=latest_invoice.payment_intent&e<VENDOR_AUTH_CODE>pand[3]=latest_invoice.charge&e<VENDOR_AUTH_CODE>pand[4]=latest_invoice.total_discount_amounts.discount&e<VENDOR_AUTH_CODE>pand[5]=latest_invoice.total_ta<VENDOR_AUTH_CODE>_amounts.ta<VENDOR_AUTH_CODE>_rate&items[0][plan]=invalid&customer=cus_S<VENDOR_ID>2<VENDOR_ID>oApyJPvr2P
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 32f242be-ab<VENDOR_ID><VENDOR_ID>-4595-b62f-b57a6ea0<VENDOR_ID>c<VENDOR_ID>5
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 32f242be-ab<VENDOR_ID><VENDOR_ID>-4595-b62f-b57a6ea0<VENDOR_ID>c<VENDOR_ID>5
      Original-Request:
      - req_uBvhWMdOfnreHd
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-<VENDOR_ID>2-<VENDOR_ID>8.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such plan: 'invalid'",
            "param": "plan",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_uBvhWMdOfnreHd?t=<VENDOR_ID>7430<VENDOR_ID>8599",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Wed, 26 Mar 2025 19:49:59 GMT
recorded_with: VCR 6.3.1
