---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - f0fca45e-f4d6-4<VENDOR_ID>70-b0ac-2<VENDOR_ID>2845b9cd64
      Stripe-Version:
      - 2026-03-25.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f0fca45e-f4d6-4<VENDOR_ID>70-b0ac-2<VENDOR_ID>2845b9cd64
      Original-Request:
      - req_2G<VENDOR_ID><VENDOR_ID>AijBkv<VENDOR_ID>LGY
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-03-25.dahlia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UFHpEBf3p9kWG4",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>774905737,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "4D<VENDOR_ID>XZNRI",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 30 Mar 2026 21:22:18 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_UFHpEBf3p9kWG4&return_url=http%3A%2F%2Flocalhost%3A3000%2F
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 5d58a<VENDOR_ID>ba-e7ad-42fb-ad2b-c964b2ad70c<VENDOR_ID>
      Stripe-Version:
      - 2026-03-25.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5d58a<VENDOR_ID>ba-e7ad-42fb-ad2b-c964b2ad70c<VENDOR_ID>
      Original-Request:
      - req_77oBNpud3igL6Z
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-03-25.dahlia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_<VENDOR_ID>TGnGIKXBGcbgpbZUntuuDsA",
          "object": "billing_portal.session",
          "configuration": "bpc_<VENDOR_ID>ILastKXBGcbgpbZ<VENDOR_AUTH_CODE>b0fTvsd",
          "created": <VENDOR_ID>774905738,
          "customer": "cus_UFHpEBf3p9kWG4",
          "customer_account": null,
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://localhost:3000/",
          "url": "https://billing.stripe.com/p/session/test_YWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaLF9VRkhwUkFIeGI<VENDOR_AUTH_CODE>bEVmbmRNZjZpVXpmTlYyNmpJMzVk0<VENDOR_ID>00LbomhAwi"
        }
  recorded_at: Mon, 30 Mar 2026 21:22:18 GMT
recorded_with: VCR 6.4.0
