---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 7437f4ee-fd7c-40<VENDOR_ID>5-aa33-6083f5a7b3b3
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7437f4ee-fd7c-40<VENDOR_ID>5-aa33-6083f5a7b3b3
      Original-Request:
      - req_RTgdyGyDKfg6lc
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_S9YEWHcDRp9<VENDOR_ID>Xn",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>744983523,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "8B06EDB0",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 18 Apr 2025 13:38:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_S9YEWHcDRp9<VENDOR_ID>Xn
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - f8fbd474-0ba5-4a69-ad78-2c3299<VENDOR_ID><VENDOR_ID>5a02
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f8fbd474-0ba5-4a69-ad78-2c3299<VENDOR_ID><VENDOR_ID>5a02
      Original-Request:
      - req_H9wIjLAyTnLojV
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>RFF7wKXBGcbgpbZEMiyo3JE",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": 4,
            "e<VENDOR_AUTH_CODE>p_year": 2026,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>744983524,
          "customer": "cus_S9YEWHcDRp9<VENDOR_ID>Xn",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 18 Apr 2025 13:38:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_S9YEWHcDRp9<VENDOR_ID>Xn
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>RFF7wKXBGcbgpbZEMiyo3JE
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 5<VENDOR_ID>4<VENDOR_ID>0e2a-6247-47b6-b6a<VENDOR_ID>-9<VENDOR_ID>5a0267f645
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents
    body:
      encoding: UTF-8
      string: amount=2900&currency=usd&customer=cus_S9YEWHcDRp9<VENDOR_ID>Xn&e<VENDOR_AUTH_CODE>pand[0]=latest_charge.refunds&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_<VENDOR_ID>RFF7wKXBGcbgpbZEMiyo3JE&capture_method=manual
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - dedb63e9-5627-49da-8570-ce5b923a5c0d
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - dedb63e9-5627-49da-8570-ce5b923a5c0d
      Original-Request:
      - req_aWJG<VENDOR_AUTH_CODE>gNMKHjBLu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3RFF7<VENDOR_AUTH_CODE>KXBGcbgpbZ<VENDOR_ID>a9IcCSq",
          "object": "payment_intent",
          "amount": 2900,
          "amount_capturable": 2900,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_<PADDLE_API_KEY>": "pi_3RFF7<VENDOR_AUTH_CODE>KXBGcbgpbZ<VENDOR_ID>a9IcCSq_<PADDLE_API_KEY>_mWl9fmC40JLKLkSLm6Z4JGN4e",
          "confirmation_method": "automatic",
          "created": <VENDOR_ID>744983525,
          "currency": "usd",
          "customer": "cus_S9YEWHcDRp9<VENDOR_ID>Xn",
          "description": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3RFF7<VENDOR_AUTH_CODE>KXBGcbgpbZ<VENDOR_ID>79t7N<VENDOR_ID>w",
            "object": "charge",
            "amount": 2900,
            "amount_captured": 0,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": null,
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line<VENDOR_ID>": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null,
              "ta<VENDOR_AUTH_CODE>_id": null
            },
            "calculated_statement_descriptor": "PAY RAILS",
            "captured": false,
            "created": <VENDOR_ID>744983525,
            "currency": "usd",
            "customer": "cus_S9YEWHcDRp9<VENDOR_ID>Xn",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "advice_code": null,
              "network_advice_code": null,
              "network_decline_code": null,
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 39,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_3RFF7<VENDOR_AUTH_CODE>KXBGcbgpbZ<VENDOR_ID>a9IcCSq",
            "payment_method": "pm_<VENDOR_ID>RFF7wKXBGcbgpbZEMiyo3JE",
            "payment_method_details": {
              "card": {
                "amount_authorized": 2900,
                "authorization_code": null,
                "brand": "visa",
                "capture_before": <VENDOR_ID>745588325,
                "checks": {
                  "address_line<VENDOR_ID>_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": "pass"
                },
                "country": "US",
                "e<VENDOR_AUTH_CODE>p_month": 4,
                "e<VENDOR_AUTH_CODE>p_year": 2026,
                "e<VENDOR_AUTH_CODE>tended_authorization": {
                  "status": "disabled"
                },
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "incremental_authorization": {
                  "status": "unavailable"
                },
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "multicapture": {
                  "status": "unavailable"
                },
                "network": "visa",
                "network_token": {
                  "used": false
                },
                "network_transaction_id": "<VENDOR_ID><VENDOR_ID>9528868<VENDOR_ID>228<VENDOR_ID>7",
                "overcapture": {
                  "ma<VENDOR_AUTH_CODE>imum_amount_capturable": 2900,
                  "status": "unavailable"
                },
                "regulated_status": "unregulated",
                "three_d_secure": null,
                "wallet": null
              },
              "type": "card"
            },
            "radar_options": {},
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaKOWricAGMgbNeS_pF7c6LBacTSmr3ygqGt9UYX7-nLLFOVeRRVG_SshtmNivSkNhnD8U0eYf9eu7XXra",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v<VENDOR_ID>/charges/ch_3RFF7<VENDOR_AUTH_CODE>KXBGcbgpbZ<VENDOR_ID>79t7N<VENDOR_ID>w/refunds"
            },
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": null
          },
          "livemode": false,
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_<VENDOR_ID>RFF7wKXBGcbgpbZEMiyo3JE",
          "payment_method_configuration_details": {
            "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
            "parent": null
          },
          "payment_method_options": {
            "afterpay_clearpay": {
              "reference": null
            },
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "klarna": {
              "preferred_locale": null
            },
            "link": {
              "persistent_token": null
            }
          },
          "payment_method_types": [
            "card",
            "afterpay_clearpay",
            "klarna",
            "link"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
          "status": "requires_capture",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Fri, 18 Apr 2025 13:38:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?e<VENDOR_AUTH_CODE>pand%5B%5D=data.invoice.total_discount_amounts.discount&payment%5Bpayment_intent%5D=pi_3RFF7<VENDOR_AUTH_CODE>KXBGcbgpbZ<VENDOR_ID>a9IcCSq&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Fri, 18 Apr 2025 13:38:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents/pi_3RFF7<VENDOR_AUTH_CODE>KXBGcbgpbZ<VENDOR_ID>a9IcCSq/capture
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - d0<VENDOR_ID>67292-0ff0-4b27-bd3e-3db2f9d28277
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/charges/ch_3RFF7<VENDOR_AUTH_CODE>KXBGcbgpbZ<VENDOR_ID>79t7N<VENDOR_ID>w?e<VENDOR_AUTH_CODE>pand%5B%5D=balance_transaction&e<VENDOR_AUTH_CODE>pand%5B%5D=refunds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3RFF7<VENDOR_AUTH_CODE>KXBGcbgpbZ<VENDOR_ID>79t7N<VENDOR_ID>w",
          "object": "charge",
          "amount": 2900,
          "amount_captured": 2900,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "t<VENDOR_AUTH_CODE>n_3RFF7<VENDOR_AUTH_CODE>KXBGcbgpbZ<VENDOR_ID>thhS2w0",
            "object": "balance_transaction",
            "amount": 2900,
            "available_on": <VENDOR_ID>745539200,
            "created": <VENDOR_ID>744983526,
            "currency": "usd",
            "description": null,
            "e<VENDOR_AUTH_CODE>change_rate": null,
            "fee": <VENDOR_ID><VENDOR_ID>4,
            "fee_details": [
              {
                "amount": <VENDOR_ID><VENDOR_ID>4,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 2786,
            "reporting_category": "charge",
            "source": "ch_3RFF7<VENDOR_AUTH_CODE>KXBGcbgpbZ<VENDOR_ID>79t7N<VENDOR_ID>w",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
          [...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?e<VENDOR_AUTH_CODE>pand%5B%5D=data.invoice.total_discount_amounts.discount&payment%5Bpayment_intent%5D=pi_3RFF7<VENDOR_AUTH_CODE>KXBGcbgpbZ<VENDOR_ID>a9IcCSq&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-03-3<VENDOR_ID>.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Fri, 18 Apr 2025 13:38:47 GMT
recorded_with: VCR 6.3.1
