---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User&expand[0]=tax
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ee0485b8-ec26-43cc-b915-e5641179b973
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ee0485b8-ec26-43cc-b915-e5641179b973
      Original-Request:
      - req_4YIioy9ApARzEA
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_MqPnTEURhMmjQp",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1669071576,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_prefix": "730AD841",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 21 Nov 2022 22:59:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_MqPnTEURhMmjQp
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e4534a28-da77-4616-a177-68b9ef6f7137
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e4534a28-da77-4616-a177-68b9ef6f7137
      Original-Request:
      - req_Dc1Uti8J2kh7sO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1M6ixgKXBGcbgpbZXHVxILvy",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "exp_month": 11,
            "exp_year": 2023,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1669071576,
          "customer": "cus_MqPnTEURhMmjQp",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 21 Nov 2022 22:59:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_MqPnTEURhMmjQp
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1M6ixgKXBGcbgpbZXHVxILvy
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f80c203f-3770-492d-98eb-2777c4b33a4e
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      mess[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=3000&confirm=true&currency=usd&customer=cus_MqPnTEURhMmjQp&expand[0]=latest_charge.refunds&payment_method=pm_1M6ixhKXBGcbgpbZm77rnJ0f
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 557655b8-ef86-4e4e-af49-9f1c0a013783
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 557655b8-ef86-4e4e-af49-9f1c0a013783
      Original-Request:
      - req_PIj41wPrKlA8Lf
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3M6ixiKXBGcbgpbZ0Z6FDLyT",
          "object": "payment_intent",
          "amount": 3000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 3000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3M6ixiKXBGcbgpbZ0Z6FDLyT_secret_ff8sBNjE4stLgqIA0kbdNM9WE",
          "confirmation_method": "automatic",
          "created": 1669071578,
          "currency": "usd",
          "customer": "cus_MqPnTEURhMmjQp",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3M6ixiKXBGcbgpbZ0GE32PV4",
            "object": "charge",
            "amount": 3000,
            "amount_captured": 3000,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": "txn_3M6ixiKXBGcbgpbZ0OuZf14r",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null
            },
            "calculated_statement_descriptor": "PAY RAILS",
            "captured": true,
            "created": 1669071579,
            "currency": "usd",
            "customer": "cus_MqPnTEURhMmjQp",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "invoice": null,
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 32,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_3M6ixiKXBGcbgpbZ0Z6FDLyT",
            "payment_method": "pm_1M6ixhKXBGcbgpbZm77rnJ0f",
            "payment_method_details": {
              "card": {
                "brand": "visa",
                "checks": {
                  "address_line1_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": null
                },
                "country": "US",
                "exp_month": 11,
                "exp_year": 2023,
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "network": "visa",
                "three_d_secure": null,
                "wallet": null
              },
              "type": "card"
            },
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xRTRiZm5LWEJHY2JncGJaKNyF8JsGMgYcFYel8wE6LBa4U6XtNjG5CGnfglEhDX5MY4RcQZ1_fa5WuLYek7wDcAAplELo-U8Cf5Q9",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/charges/ch_3M6ixiKXBGcbgpbZ0GE32PV4/refunds"
            },
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": null
          },
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1M6ixhKXBGcbgpbZm77rnJ0f",
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 21 Nov 2022 22:59:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3M6ixiKXBGcbgpbZ0GE32PV4&amount=1000
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f94e47ae-1198-446e-9503-aab61c4dc0f3
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f94e47ae-1198-446e-9503-aab61c4dc0f3
      Original-Request:
      - req_9TQyJYFpJjjGOY
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3M6ixiKXBGcbgpbZ00v5WCLW",
          "object": "refund",
          "amount": 1000,
          "balance_transaction": "txn_3M6ixiKXBGcbgpbZ0Hd45dWd",
          "charge": "ch_3M6ixiKXBGcbgpbZ0GE32PV4",
          "created": 1669071580,
          "currency": "usd",
          "metadata": {},
          "payment_intent": "pi_3M6ixiKXBGcbgpbZ0Z6FDLyT",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Mon, 21 Nov 2022 22:59:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3M6ixiKXBGcbgpbZ0GE32PV4&amount=500
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 149f22b5-2c8b-41a3-b21a-b847f1c35072
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 149f22b5-2c8b-41a3-b21a-b847f1c35072
      Original-Request:
      - req_SNWSxrA6ZMISbi
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3M6ixiKXBGcbgpbZ0LE7yj7c",
          "object": "refund",
          "amount": 500,
          "balance_transaction": "txn_3M6ixiKXBGcbgpbZ0PBSEDOQ",
          "charge": "ch_3M6ixiKXBGcbgpbZ0GE32PV4",
          "created": 1669071581,
          "currency": "usd",
          "metadata": {},
          "payment_intent": "pi_3M6ixiKXBGcbgpbZ0Z6FDLyT",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Mon, 21 Nov 2022 22:59:41 GMT
recorded_with: VCR 6.1.0
