---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=johnny%40appleseed.com
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_JGwGtpY8myaTMT",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1617990266,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "johnny@appleseed.com",
          "invoice_prefix": "14679625",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Fri, 09 Apr 2021 17:44:26 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_JGwGeSpRB1zQjV
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1IeONbKXBGcbgpbZJVe4fR4N",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "exp_month": 4,
            "exp_year": 2022,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1617990268,
          "customer": "cus_JGwGeSpRB1zQjV",
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Fri, 09 Apr 2021 17:44:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_JGwGeSpRB1zQjV
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1IeONbKXBGcbgpbZJVe4fR4N
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_JGwGeSpRB1zQjV",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1617990267,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "johnny@appleseed.com",
          "invoice_prefix": "0D6F97D3",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_1IeONbKXBGcbgpbZJVe4fR4N",
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Fri, 09 Apr 2021 17:44:28 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_discover/attach
    body:
      encoding: UTF-8
      string: customer=cus_JGwGeSpRB1zQjV
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_JGwGeSpRB1zQjV
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1IeONdKXBGcbgpbZajoupuNm
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_JGwGeSpRB1zQjV",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1617990267,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "johnny@appleseed.com",
          "invoice_prefix": "0D6F97D3",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_1IeONdKXBGcbgpbZajoupuNm",
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Fri, 09 Apr 2021 17:44:30 GMT
recorded_with: VCR 6.0.0
