---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: email=stripe%40e<VENDOR_AUTH_CODE>ample.org&name=Stripe+User&e<VENDOR_AUTH_CODE>pand[0]=ta<VENDOR_AUTH_CODE>&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 8c79b0f0-5edd-4ab3-9670-bea<VENDOR_ID>2b6<VENDOR_ID>3837
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8c79b0f0-5edd-4ab3-9670-bea<VENDOR_ID>2b6<VENDOR_ID>3837
      Original-Request:
      - req_ZPVihQvyIHcLSG
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VIOPDhT0tP<VENDOR_AUTH_CODE>fAc",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": <VENDOR_ID>78992<VENDOR_ID>808,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@e<VENDOR_AUTH_CODE>ample.org",
          "invoice_credit_balance": {},
          "invoice_prefi<VENDOR_AUTH_CODE>": "ALL<VENDOR_ID>IKZV",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "ne<VENDOR_AUTH_CODE>t_invoice_sequence": <VENDOR_ID>,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "ta<VENDOR_AUTH_CODE>": {
            "automatic_ta<VENDOR_AUTH_CODE>": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "ta<VENDOR_AUTH_CODE>_e<VENDOR_AUTH_CODE>empt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:30:08 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_VIOPDhT0tP<VENDOR_AUTH_CODE>fAc
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 786a0468-3d55-4678-9029-5e6766<VENDOR_ID><VENDOR_ID>3287
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 786a0468-3d55-4678-9029-5e6766<VENDOR_ID><VENDOR_ID>3287
      Original-Request:
      - req_bqBGYIrQcWnAWI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>UHncyKXBGcbgpbZmaOwkFg4",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line<VENDOR_ID>": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "ta<VENDOR_AUTH_CODE>_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line<VENDOR_ID>_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "e<VENDOR_AUTH_CODE>p_month": 9,
            "e<VENDOR_AUTH_CODE>p_year": 2027,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": <VENDOR_ID>78992<VENDOR_ID>808,
          "customer": "cus_VIOPDhT0tP<VENDOR_AUTH_CODE>fAc",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Sun, 20 Sep 2026 16:30:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/customers/cus_VIOPDhT0tP<VENDOR_AUTH_CODE>fAc
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_<VENDOR_ID>UHncyKXBGcbgpbZmaOwkFg4
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - 747a8c6f-88e9-4af0-87<VENDOR_ID>b-944f702e7805
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - app[...]
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_intents
    body:
      encoding: UTF-8
      string: amount=2900&currency=usd&customer=cus_VIOPDhT0tP<VENDOR_AUTH_CODE>fAc&e<VENDOR_AUTH_CODE>pand[0]=latest_charge.balance_transaction&e<VENDOR_AUTH_CODE>pand[<VENDOR_ID>]=latest_charge.payment_intent&e<VENDOR_AUTH_CODE>pand[2]=latest_charge.refunds.data.balance_transaction&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_<VENDOR_ID>UHncyKXBGcbgpbZmaOwkFg4
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Idempotency-Key:
      - a847084d-38be-4de6-873e-734adb<VENDOR_ID>7d49b
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a847084d-38be-4de6-873e-734adb<VENDOR_ID>7d49b
      Original-Request:
      - req_9cJw6Mhg6vbgSD
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3UHnczKXBGcbgpbZ0<VENDOR_ID>UR42rD",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 2900,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 2900,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_<PADDLE_API_KEY>": "pi_3UHnczKXBGcbgpbZ0<VENDOR_ID>UR42rD_<PADDLE_API_KEY>_eMVMmGZvtz8FtQiRisSAUdRDK",
          "confirmation_method": "automatic",
          "created": <VENDOR_ID>78992<VENDOR_ID>809,
          "currency": "usd",
          "customer": "cus_VIOPDhT0tP<VENDOR_AUTH_CODE>fAc",
          "customer_account": null,
          "description": null,
          "e<VENDOR_AUTH_CODE>cluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3UHnczKXBGcbgpbZ0cLaW8ND",
            "object": "charge",
            "amount": 2900,
            "amount_captured": 2900,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": null,
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line<VENDOR_ID>": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null,
              "ta<VENDOR_AUTH_CODE>_id": null
            },
            "calculated_statement_descriptor": "PAY RAILS",
            "captured": true,
            "created": <VENDOR_ID>78992<VENDOR_ID>8<VENDOR_ID>0,
            "currency": "usd",
            "customer": "cus_VIOPDhT0tP<VENDOR_AUTH_CODE>fAc",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "advice_code": null,
              "network_advice_code": null,
              "network_decline_code": null,
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 47,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": {
              "id": "pi_3UHnczKXBGcbgpbZ0<VENDOR_ID>UR42rD",
              "object": "payment_intent",
              "allowed_payment_method_types": null,
              "amount": 2900,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 2900,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": {
                "allow_redirects": "always",
                "enabled": true
              },
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic_async",
              "client_<PADDLE_API_KEY>": "pi_3UHnczKXBGcbgpbZ0<VENDOR_ID>UR42rD_<PADDLE_API_KEY>_eMVMmGZvtz8FtQiRisSAUdRDK",
              "confirmation_method": "automatic",
              "created": <VENDOR_ID>78992<VENDOR_ID>809,
              "currency": "usd",
              "customer": "cus_VIOPDhT0tP<VENDOR_AUTH_CODE>fAc",
              "customer_account": null,
              "description": null,
              "e<VENDOR_AUTH_CODE>cluded_payment_method_types": null,
              "last_payment_error": null,
              "latest_charge": "ch_3UHnczKXBGcbgpbZ0cLaW8ND",
              "livemode": false,
              "managed_payments": {
                "enabled": false
              },
              "metadata": {},
              "ne<VENDOR_AUTH_CODE>t_action": null,
              "on_behalf_of": null,
              "payment_method": "pm_<VENDOR_ID>UHncyKXBGcbgpbZmaOwkFg4",
              "payment_method_configuration_details": {
                "id": "pmc_<VENDOR_ID>KVQ6KKXBGcbgpbZtICYcb8a",
                "parent": null
              },
              "payment_method_options": {
                "acss_debit": {
                  "verification_method": "automatic"
                },
                "afterpay_clearpay": {
                  "reference": null
                },
                "alipay": {},
                "card": {
                  "installments": null,
                  "mandate_options": null,
                  "network": null,
                  "request_three_d_secure": "automatic"
                },
                "klarna": {
                  "preferred_locale": null
                },
                "link": {
                  "persistent_token": null
                },
                "us_bank_account": {
                  "financial_connections": {
                    "permissions": [
                      "payment_method"
                    ],
                    "prefetch": []
                  },
                  "mandate_options": {},
                  "transaction_purpose": "unspecified",
                  "verification_method": "automatic"
                },
                "wechat_pay": {
                  "app_id": null,
                  "client": null
                }
              },
              "payment_method_types": [
                "card",
                "acss_debit",
                "afterpay_clearpay",
                "alipay",
                "klarna",
                "link",
                "us_bank_account",
                "wechat_pay"
              ],
              "payment_record": null,
              "processing": null,
              "receipt_email": null,
              "review": null,
              "setup_future_usage": null,
              "shared_payment_granted_token": null,
              "shipping": null,
              "source": null,
              "statement_descriptor": null,
              "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
              "status": "succeeded",
              "transfer_data": null,
              "transfer_group": null
            },
            "payment_method": "pm_<VENDOR_ID>UHncyKXBGcbgpbZmaOwkFg4",
            "payment_method_details": {
              "card": {
                "amount_authorized": 2900,
                "authorization_code": "403779",
                "brand": "visa",
                "checks": {
                  "address_line<VENDOR_ID>_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": "pass"
                },
                "country": "US",
                "electronic_commerce_indicator": "07",
                "e<VENDOR_AUTH_CODE>p_month": 9,
                "e<VENDOR_AUTH_CODE>p_year": 2027,
                "e<VENDOR_AUTH_CODE>tended_authorization": {
                  "status": "disabled"
                },
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "incremental_authorization": {
                  "status": "unavailable"
                },
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "multicapture": {
                  "status": "unavailable"
                },
                "network": "visa",
                "network_token": {
                  "used": false
                },
                "network_transaction_id": "<VENDOR_ID><VENDOR_ID>9528868<VENDOR_ID>228<VENDOR_ID>7",
                "overcapture": {
                  "ma<VENDOR_AUTH_CODE>imum_amount_capturable": 2900,
                  "status": "unavailable"
                },
                "regulated_status": "unregulated",
                "three_d_secure": null,
                "transaction_link_id": null,
                "wallet": null
              },
              "type": "card"
            },
            "radar_options": {},
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8<VENDOR_AUTH_CODE>RTRiZm5LWEJHY2JncGJaKJKUwNUGMgbdBgiD8Os6LBa20GgkTLIGrMAQVqIhOrSkeg<VENDOR_AUTH_CODE>nuCvSXPUdTJ0FjM<VENDOR_ID>ZHEJe2FaD6eIRA_pR",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v<VENDOR_ID>/charges/ch_3UHnczKXBGcbgpbZ0cLaW8ND/refunds"
            },
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffi<VENDOR_AUTH_CODE>": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": null
          },
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "ne<VENDOR_AUTH_CODE>t_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_<VENDOR_ID>UHncyKXBGcbgpbZ[...]
- request:
    method: get
    uri: https://api.stripe.com/v<VENDOR_ID>/invoice_payments?payment%5Bpayment_intent%5D=pi_3UHnczKXBGcbgpbZ0<VENDOR_ID>UR42rD&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Stripe-Version:
      - 2026-08-26.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v<VENDOR_ID>/invoice_payments"
        }
  recorded_at: Sun, 20 Sep 2026 16:30:10 GMT
recorded_with: VCR 6.4.0
