---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v<VENDOR_ID>/payment_methods
    body:
      encoding: UTF-8
      string: type=afterpay_clearpay&billing_details[address][line<VENDOR_ID>]=<VENDOR_ID>+Fake+Street&billing_details[address][city]=Cupertino&billing_details[address][state]=CA&billing_details[address][country]=US&billing_details[address][postal_code]=95<VENDOR_ID>02&billing_details[email]=test%40e<VENDOR_AUTH_CODE>ample.org&billing_details[name]=Test+User
    headers:
      Authorization:
      - Bearer sk_test_e<VENDOR_AUTH_CODE>0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/<VENDOR_AUTH_CODE>-www-form-urlencoded
      Idempotency-Key:
      - 22639678-09b8-42af-949c-62e30c085550
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 22639678-09b8-42af-949c-62e30c085550
      Original-Request:
      - req_wvFnL<VENDOR_AUTH_CODE>hcAwhosi
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-08-<VENDOR_ID>6
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_<VENDOR_ID>NhegaKXBGcbgpbZWPXHwNiQ",
          "object": "payment_method",
          "afterpay_clearpay": {},
          "billing_details": {
            "address": {
              "city": "Cupertino",
              "country": "US",
              "line<VENDOR_ID>": "<VENDOR_ID> Fake Street",
              "line2": null,
              "postal_code": "95<VENDOR_ID>02",
              "state": "CA"
            },
            "email": "test@e<VENDOR_AUTH_CODE>ample.org",
            "name": "Test User",
            "phone": null
          },
          "created": <VENDOR_ID>6926496<VENDOR_ID>2,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "afterpay_clearpay"
        }
  recorded_at: Mon, 21 Aug 2023 20:26:52 GMT
recorded_with: VCR 6.2.0
