---
http_interactions:
  - request:
      method: post
      uri: https://api.stripe.com/v1/customers
      body:
        encoding: UTF-8
        string: email=gob%40bluth.com&name=
      headers:
        Authorization:
          - Bearer <STRIPE_PRIVATE_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - "2020-08-27"
        Stripe-Account:
          - acct_1ISuLNQK2ZHS99Rk
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - 70815c9c-53f6-4d71-9c1f-a97a68fb4067
        Original-Request:
          - req_JS6IYwId76cgFM
        Stripe-Account:
          - acct_1ISuLNQK2ZHS99Rk
        Stripe-Should-Retry:
          - "false"
        Stripe-Version:
          - "2020-08-27"
      body:
        encoding: UTF-8
        string: |
          {
            "id": "cus_LNGzwWSeUkaSA4",
            "object": "customer",
            "address": null,
            "balance": 0,
            "created": 1648050589,
            "currency": null,
            "default_source": null,
            "delinquent": false,
            "description": null,
            "discount": null,
            "email": "gob@bluth.com",
            "invoice_prefix": "AA2068BD",
            "invoice_settings": {
              "custom_fields": null,
              "default_payment_method": null,
              "footer": null
            },
            "livemode": false,
            "metadata": {
            },
            "name": null,
            "next_invoice_sequence": 1,
            "phone": null,
            "preferred_locales": [

            ],
            "shipping": null,
            "tax_exempt": "none",
            "test_clock": null
          }
    recorded_at: Wed, 23 Mar 2022 15:49:49 GMT
  - request:
      method: post
      uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
      body:
        encoding: UTF-8
        string: customer=cus_LNGzwWSeUkaSA4
      headers:
        Authorization:
          - Bearer <STRIPE_PRIVATE_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - "2020-08-27"
        Stripe-Account:
          - acct_1ISuLNQK2ZHS99Rk
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - ed33cb89-056b-4bd9-9791-886fa937897c
        Original-Request:
          - req_ALvIjP9CWcukPy
        Stripe-Account:
          - acct_1ISuLNQK2ZHS99Rk
        Stripe-Should-Retry:
          - "false"
        Stripe-Version:
          - "2020-08-27"
      body:
        encoding: UTF-8
        string: |
          {
            "id": "pm_1KgWRVQK2ZHS99Rkg3izgan8",
            "object": "payment_method",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null
            },
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": null
              },
              "country": "US",
              "exp_month": 3,
              "exp_year": 2023,
              "fingerprint": "w4XDzQOFakih5EZM",
              "funding": "credit",
              "generated_from": null,
              "last4": "4242",
              "networks": {
                "available": [
                  "visa"
                ],
                "preferred": null
              },
              "three_d_secure_usage": {
                "supported": true
              },
              "wallet": null
            },
            "created": 1648050590,
            "customer": "cus_LNGzwWSeUkaSA4",
            "livemode": false,
            "metadata": {
            },
            "type": "card"
          }
    recorded_at: Wed, 23 Mar 2022 15:49:50 GMT
  - request:
      method: post
      uri: https://api.stripe.com/v1/customers/cus_LNGzwWSeUkaSA4
      body:
        encoding: UTF-8
        string: invoice_settings[default_payment_method]=pm_1KgWRVQK2ZHS99Rkg3izgan8
      headers:
        Authorization:
          - Bearer <STRIPE_PRIVATE_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - "2020-08-27"
        Stripe-Account:
          - acct_1ISuLNQK2ZHS99Rk
    response:
      status:
[...]
  - request:
      method: get
      uri: https://api.stripe.com/v1/customers/cus_LNGzwWSeUkaSA4?expand%5B%5D=invoice_credit_balance&expand%5B%5D=tax
      body:
        encoding: UTF-8
        string: invoice_settings[default_payment_method]=pm_1KgWRVQK2ZHS99Rkg3izgan8
      headers:
        Authorization:
          - Bearer <STRIPE_PRIVATE_KEY>
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - "2020-08-27"
        Stripe-Account:
          [...]
