---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User&expand[0]=tax&expand[1]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 69917f57-081b-4262-acc1-297ad56178a1
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 69917f57-081b-4262-acc1-297ad56178a1
      Original-Request:
      - req_JsWPJSvzrDHyYU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VOQk9jrBL5PiDU",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1791314331,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_credit_balance": {},
          "invoice_prefix": "VOILQCID",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 06 Oct 2026 19:18:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: customer=cus_VOQk9jrBL5PiDU&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 67dfdbde-af4c-4aae-a69b-9da980e71e29
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 67dfdbde-af4c-4aae-a69b-9da980e71e29
      Original-Request:
      - req_FWCTgKFSl2FO7r
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1UNdt1KXBGcbgpbZULx29o7u",
          "object": "setup_intent",
          "allowed_payment_method_types": null,
          "application": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "cancellation_reason": null,
          "client_secret": "seti_1UNdt1KXBGcbgpbZULx29o7u_secret_VOQkUe4rTyGA060jVLrJNlKqjf4O55J",
          "created": 1791314331,
          "customer": "cus_VOQk9jrBL5PiDU",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_configuration_details": {
            "id": "pmc_1KVQ6KKXBGcbgpbZtICYcb8a",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "us_bank_account": {
              "mandate_options": {},
              "verification_method": "automatic"
            }
          },
          "payment_method_types": [
            "card",
            "bancontact",
            "ideal",
            "sepa_debit",
            "acss_debit",
            "klarna",
            "link",
            "us_bank_account"
          ],
          "single_use_mandate": null,
          "status": "requires_payment_method",
          "usage": "off_session"
        }
  recorded_at: Tue, 06 Oct 2026 19:18:51 GMT
recorded_with: VCR 6.4.0
