---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=afterpay_clearpay&billing_details[address][line1]=1+Fake+Street&billing_details[address][city]=Cupertino&billing_details[address][state]=CA&billing_details[address][country]=US&billing_details[address][postal_code]=95102&billing_details[email]=test%40example.org&billing_details[name]=Test+User
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 1a308631-835a-4f13-83a5-6cf92731af17
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1a308631-835a-4f13-83a5-6cf92731af17
      Original-Request:
      - req_EdWxyRzm3D8FPW
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UNdt0KXBGcbgpbZC9nSIzYZ",
          "object": "payment_method",
          "afterpay_clearpay": {},
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": "Cupertino",
              "country": "US",
              "line1": "1 Fake Street",
              "line2": null,
              "postal_code": "95102",
              "state": "CA"
            },
            "email": "test@example.org",
            "name": "Test User",
            "phone": null,
            "tax_id": null
          },
          "created": 1791314330,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "afterpay_clearpay"
        }
  recorded_at: Tue, 06 Oct 2026 19:18:50 GMT
recorded_with: VCR 6.4.0
