---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User&expand[0]=tax&expand[1]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - cc66aeee-09f7-450c-8911-9b9c1df9c21c
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cc66aeee-09f7-450c-8911-9b9c1df9c21c
      Original-Request:
      - req_y1asyD8SKI6I9g
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VIOQVddqJh8HWR",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1789921857,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_credit_balance": {},
          "invoice_prefix": "LUB7RUYT",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:30:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_VIOQVddqJh8HWR
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - b0becf36-2dcd-4303-873f-14d730209838
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b0becf36-2dcd-4303-873f-14d730209838
      Original-Request:
      - req_Tsh8xVMPxtBzcs
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UHndlKXBGcbgpbZmYsJwhDN",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 9,
            "exp_year": 2027,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1789921857,
          "customer": "cus_VIOQVddqJh8HWR",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Sun, 20 Sep 2026 16:30:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_VIOQVddqJh8HWR
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1UHndlKXBGcbgpbZmYsJwhDN
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 53c3e308-3c4a-4089-aff8-4c8c5fd93e72
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_VIOQVddqJh8HWR&amount=1000&currency=usd&description=One-time+setup+fee
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - e2c348b9-246d-426f-857d-251819ba8fdd
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e2c348b9-246d-426f-857d-251819ba8fdd
      Original-Request:
      - req_DPorupqgmdc6iU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ii_1UHndmKXBGcbgpbZijKIqnYH",
          "object": "invoiceitem",
          "amount": 1000,
          "currency": "usd",
          "customer": "cus_VIOQVddqJh8HWR",
          "customer_account": null,
          "date": 1789921858,
          "description": "One-time setup fee",
          "discountable": true,
          "discounts": [],
          "frozen_fields": [],
          "invoice": null,
          "invoicing_rules": [],
          "livemode": false,
          "metadata": {},
          "parent": null,
          "period": {
            "end": 1789921858,
            "start": 1789921858
          },
          "pricing": {
            "price_details": {
              "price": "price_1PmHofKXBGcbgpbZCVOHQep3",
              "product": "prod_QdYwATBkKi2FtY"
            },
            "type": "price_details",
            "unit_amount_decimal": "1000"
          },
          "proration": false,
          "quantity": 1,
          "quantity_decimal": "1",
          "tax_rates": [],
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:30:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: pending_invoice_items_behavior=include&customer=cus_VIOQVddqJh8HWR
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 63cbb78c-b3a7-4b9f-a485-1080d6e41075
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 63cbb78c-b3a7-4b9f-a485-1080d6e41075
      Original-Request:
      - req_49abTQBAV71R1Q
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "in_1UHndnKXBGcbgpbZOLJEzoXT",
          "object": "invoice",
          "account_country": "US",
          "account_name": "Pay",
          "account_tax_ids": null,
          "amount_due": 1000,
          "amount_overpaid": 0,
          "amount_paid": 0,
          "amount_remaining": 1000,
          "amount_shipping": 0,
          "application": null,
          "attempt_count": 0,
          "attempted": false,
          "auto_advance": false,
          "automatic_tax": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null,
            "provider": null,
            "status": null
          },
          "automatically_finalizes_at": null,
          "billing_reason": "manual",
          "collection_method": "charge_automatically",
          "created": 1789921859,
          "currency": "usd",
          "custom_fields": null,
          "customer": "cus_VIOQVddqJh8HWR",
          "customer_account": null,
          "customer_address": null,
          "customer_email": "stripe@example.org",
          "customer_name": "Stripe User",
          "customer_phone": null,
          "customer_shipping": null,
          "customer_tax_exempt": "none",
          "customer_tax_ids": [],
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discounts": [],
          "due_date": null,
          "effective_at": null,
          "ending_balance": null,
          "footer": null,
          "from_invoice": null,
          "hosted_invoice_url": null,
          "invoice_pdf": null,
          "issuer": {
            "type": "self"
          },
          "last_finalization_error": null,
          "latest_revision": null,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "il_1UHndmKXBGcbgpbZs6HwLoqv",
                "object": "line_item",
                "amount": 1000,
                "currency": "usd",
                "description": "One-time setup fee",
                "discount_amounts": [],
                "discountable": true,
                "discounts": [],
                "invoice": "in_1UHndnKXBGcbgpbZOLJEzoXT",
                "livemode": false,
                "metadata": {},
                "parent": {
                  "invoice_item_details": {
                    "invoice_item": "ii_1UHndmKXBGcbgpbZijKIqnYH",
                    "proration": false,
                    "proration_details": {
                      "credited_items": null
                    },
                    "subscription": null
                  },
                  "subscription_item_details": null,
                  "type": "invoice_item_details"
                },
                "period": {
                  "end": 1789921858,
                  "start": 1789921858
                },
                "pretax_credit_amounts": [],
                "pricing": {
                  "price_details": {
                    "price": "price_1PmHofKXBGcbgpbZCVOHQep3",
                    "product": "prod_QdYwATBkKi2FtY"
                  },
                  "type": "price_details",
                  "unit_amount_decimal": "1000"
                },
                "quantity": 1,
                "quantity_decimal": "1",
                "subtotal": 1000,
                "taxes": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/invoices/in_1UHndnKXBGcbgpbZOLJEzoXT/lines"
          },
          "livemode": false,
          "metadata": {},
          "next_payment_attempt": null,
          "number": null,
          "on_behalf_of": null,
          "parent": null,
          "payment_settings": {
            "default_mandate": null,
            "payment_method_options": null,
            "payment_method_types": null
          },
          "period_end": 1789921859,
          "period_start": 1789921859,
          "post_payment_credit_notes_amount": 0,
          "pre_payment_credit_notes_amount": 0,
          "receipt_number": null,
          "rendering": {
            "amount_tax_display": null,
            "pdf": {
              "page_size": "auto"
            },
            "template": null,
            "template_version": null
          },
          "shipping_cost": null,
          "shipping_details": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "status": "draft",
          "status_transitions": {
            "finalized_at": null,
            "marked_uncollectible_at": null,
            "paid_at": null,
            "voided_at": null
          },
          "subtotal": 1000,
          "subtotal_excluding_tax": 1000,
          "test_clock": null,
          "total": 1000,
          "total_discount_amounts": [],
          "total_excluding_tax": 1000,
          "total_pretax_credit_amounts": [],
          "total_taxes": [],
          "webhooks_delivered_at": 1789921859
        }
  recorded_at: Sun, 20 Sep 2026 16:30:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_1UHndnKXBGcbgpbZOLJEzoXT/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 634acdfc-61fc-45d9-ae4f-19679ca12387
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
     [...]
