---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User&expand[0]=tax&expand[1]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - f7eb8ecf-51f5-49aa-964c-263648fad9e6
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f7eb8ecf-51f5-49aa-964c-263648fad9e6
      Original-Request:
      - req_GRW1xf47iGKmZc
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VIOQhfpGg0TJov",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1789921825,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_credit_balance": {},
          "invoice_prefix": "5JDWQR20",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:30:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_authenticationRequired/attach
    body:
      encoding: UTF-8
      string: customer=cus_VIOQhfpGg0TJov
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 204713a8-2f12-4887-9441-6655456815da
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 204713a8-2f12-4887-9441-6655456815da
      Original-Request:
      - req_iNaH3N8aMqpcDT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UHndGKXBGcbgpbZWI7ihpa6",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "DE",
            "display_brand": "visa",
            "exp_month": 9,
            "exp_year": 2027,
            "fingerprint": "qu2JxQg97yWGBVrd",
            "funding": "credit",
            "generated_from": null,
            "last4": "3184",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1789921826,
          "customer": "cus_VIOQhfpGg0TJov",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Sun, 20 Sep 2026 16:30:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_VIOQhfpGg0TJov
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1UHndGKXBGcbgpbZWI7ihpa6
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 558d656f-6412-4ebf-a4ce-ba11cc087c38
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2900&currency=usd&customer=cus_VIOQhfpGg0TJov&expand[0]=latest_charge.balance_transaction&expand[1]=latest_charge.payment_intent&expand[2]=latest_charge.refunds.data.balance_transaction&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_1UHndGKXBGcbgpbZWI7ihpa6
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 0cac1168-9d12-486e-9813-829d3f6f630c
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0cac1168-9d12-486e-9813-829d3f6f630c
      Original-Request:
      - req_A2VXzzVTenxEHd
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3UHndHKXBGcbgpbZ1l7N3Tuw",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 2900,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_secret": "pi_3UHndHKXBGcbgpbZ1l7N3Tuw_secret_HaY2r7XRgskGCMRP3wBT51UBo",
          "confirmation_method": "automatic",
          "created": 1789921827,
          "currency": "usd",
          "customer": "cus_VIOQhfpGg0TJov",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": {
            "redirect_to_url": {
              "return_url": "http://localhost:3000/",
              "url": "https://hooks.stripe.com/3d_secure_2/hosted?merchant=acct_1E4bfnKXBGcbgpbZ&payment_intent=pi_3UHndHKXBGcbgpbZ1l7N3Tuw&payment_intent_client_secret=pi_3UHndHKXBGcbgpbZ1l7N3Tuw_secret_HaY2r7XRgskGCMRP3wBT51UBo&publishable_key=pk_test_kuC7PkD19qNXN7FWxJjbyP3M&source=payatt_3UHndHKXBGcbgpbZ1ddEj0ad"
            },
            "type": "redirect_to_url"
          },
          "on_behalf_of": null,
          "payment_method": "pm_1UHndGKXBGcbgpbZWI7ihpa6",
          "payment_method_configuration_details": {
            "id": "pmc_1KVQ6KKXBGcbgpbZtICYcb8a",
            "parent": null
          },
          "payment_method_options": {
            "acss_debit": {
              "verification_method": "automatic"
            },
            "afterpay_clearpay": {
              "reference": null
            },
            "alipay": {},
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "klarna": {
              "preferred_locale": null
            },
            "link": {
              "persistent_token": null
            },
            "us_bank_account": {
              "financial_connections": {
                "permissions": [
                  "payment_method"
                ],
                "prefetch": []
              },
              "mandate_options": {},
              "transaction_purpose": "unspecified",
              "verification_method": "automatic"
            },
            "wechat_pay": {
              "app_id": null,
              "client": null
            }
          },
          "payment_method_types": [
            "card",
            "acss_debit",
            "afterpay_clearpay",
            "alipay",
            "klarna",
            "link",
            "us_bank_account",
            "wechat_pay"
          ],
          "payment_record": null,
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_action",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Sun, 20 Sep 2026 16:30:27 GMT
recorded_with: VCR 6.4.0
