---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=bancontact&billing_details[name]=Test+User
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 7e4ad6e9-7a0b-456a-8aeb-b0e401178069
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7e4ad6e9-7a0b-456a-8aeb-b0e401178069
      Original-Request:
      - req_kyGfUluGGI5k7t
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UHndMKXBGcbgpbZy8hsKor6",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "bancontact": {},
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": "Test User",
            "phone": null,
            "tax_id": null
          },
          "created": 1789921832,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "bancontact"
        }
  recorded_at: Sun, 20 Sep 2026 16:30:32 GMT
recorded_with: VCR 6.4.0
