---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=acss_debit&acss_debit[account_number]=000123456789&acss_debit[institution_number]=000&acss_debit[transit_number]=11000&billing_details[email]=test%40example.org&billing_details[name]=Test+User
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - e8c2bfa3-7276-4554-80df-fdc11e04d166
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e8c2bfa3-7276-4554-80df-fdc11e04d166
      Original-Request:
      - req_eS0NbCAsqG5Kpx
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UNdt1KXBGcbgpbZ8irpPcr0",
          "object": "payment_method",
          "acss_debit": {
            "bank_name": "STRIPE TEST BANK",
            "fingerprint": "SNmpHXLO23uR6VaH",
            "institution_number": "000",
            "last4": "6789",
            "transit_number": "11000"
          },
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": "test@example.org",
            "name": "Test User",
            "phone": null,
            "tax_id": null
          },
          "created": 1791314331,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "acss_debit"
        }
  recorded_at: Tue, 06 Oct 2026 19:18:51 GMT
recorded_with: VCR 6.4.0
