---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User&expand[0]=tax&expand[1]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - ff931a6a-ec9f-4488-970f-490385571b38
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ff931a6a-ec9f-4488-970f-490385571b38
      Original-Request:
      - req_AXhedYGM8VqIr4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VOQjNy97fmH02s",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1791314298,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_credit_balance": {},
          "invoice_prefix": "Y48BBRO4",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 06 Oct 2026 19:18:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_VOQjNy97fmH02s
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 8e2b3274-e4e0-4bdd-b5c5-fce4b2b74376
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8e2b3274-e4e0-4bdd-b5c5-fce4b2b74376
      Original-Request:
      - req_bgyVHoRf0qRQb0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UNdsVKXBGcbgpbZaCMfgcRe",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 10,
            "exp_year": 2027,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1791314299,
          "customer": "cus_VOQjNy97fmH02s",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Tue, 06 Oct 2026 19:18:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_VOQjNy97fmH02s
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1UNdsVKXBGcbgpbZaCMfgcRe
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 412893ff-341b-4c18-bc04-eee9fae6dab9
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2500&currency=usd&customer=cus_VOQjNy97fmH02s&expand[0]=latest_charge.balance_transaction&expand[1]=latest_charge.payment_intent&expand[2]=latest_charge.refunds.data.balance_transaction&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_1UNdsVKXBGcbgpbZaCMfgcRe&shipping[name]=Recipient&shipping[address][line1]=One+Infinite+Loop&shipping[address][city]=Cupertino&shipping[address][state]=CA
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 2401d36a-aab7-4eab-89b9-5437420cc6da
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2401d36a-aab7-4eab-89b9-5437420cc6da
      Original-Request:
      - req_q2n7eeoLqE6JOp
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3UNdsWKXBGcbgpbZ151WdAzJ",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 2500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 2500,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_secret": "pi_3UNdsWKXBGcbgpbZ151WdAzJ_secret_9ZYkS68qQPmBzJRh4naACAFqr",
          "confirmation_method": "automatic",
          "created": 1791314300,
          "currency": "usd",
          "customer": "cus_VOQjNy97fmH02s",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3UNdsWKXBGcbgpbZ1ihJvNqn",
            "object": "charge",
            "amount": 2500,
            "amount_captured": 2500,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": null,
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null,
              "tax_id": null
            },
            "calculated_statement_descriptor": "PAY RAILS",
            "captured": true,
            "created": 1791314300,
            "currency": "usd",
            "customer": "cus_VOQjNy97fmH02s",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "advice_code": null,
              "network_advice_code": null,
              "network_decline_code": null,
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 53,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": {
              "id": "pi_3UNdsWKXBGcbgpbZ151WdAzJ",
              "object": "payment_intent",
              "allowed_payment_method_types": null,
              "amount": 2500,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 2500,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": {
                "allow_redirects": "always",
                "enabled": true
              },
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic_async",
              "client_secret": "pi_3UNdsWKXBGcbgpbZ151WdAzJ_secret_9ZYkS68qQPmBzJRh4naACAFqr",
              "confirmation_method": "automatic",
              "created": 1791314300,
              "currency": "usd",
              "customer": "cus_VOQjNy97fmH02s",
              "customer_account": null,
              "description": null,
              "excluded_payment_method_types": null,
              "last_payment_error": null,
              "latest_charge": "ch_3UNdsWKXBGcbgpbZ1ihJvNqn",
              "livemode": false,
              "managed_payments": {
                "enabled": false
              },
              "metadata": {},
              "next_action": null,
              "on_behalf_of": null,
              "payment_method": "pm_1UNdsVKXBGcbgpbZaCMfgcRe",
              "payment_method_configuration_details": {
                "id": "pmc_1KVQ6KKXBGcbgpbZtICYcb8a",
                "parent": null
              },
              "payment_method_options": {
                "acss_debit": {
                  "verification_method": "automatic"
                },
                "afterpay_clearpay": {
                  "reference": null
                },
                "alipay": {},
                "card": {
                  "installments": null,
                  "mandate_options": null,
                  "network": null,
                  "request_three_d_secure": "automatic"
                },
                "klarna": {
                  "preferred_locale": null
                },
                "link": {
                  "persistent_token": null
                },
                "us_bank_account": {
                  "financial_connections": {
                    "permissions": [
                      "payment_method"
                    ],
                    "prefetch": []
                  },
                  "mandate_options": {},
                  "transaction_purpose": "unspecified",
                  "verification_method": "automatic"
                },
                "wechat_pay": {
                  "app_id": null,
                  "client": null
                }
              },
              "payment_method_types": [
                "card",
                "acss_debit",
                "afterpay_clearpay",
                "alipay",
                "klarna",
                "link",
                "us_bank_account",
                "wechat_pay"
              ],
              "payment_record": null,
              "processing": null,
              "receipt_email": null,
              "review": null,
              "setup_future_usage": null,
              "shared_payment_granted_token": null,
              "shipping": {
                "address": {
                  "city": "Cupertino",
                  "country": null,
                  "line1": "One Infinite Loop",
                  "line2": null,
                  "postal_code": null,
                  "state": "CA"
                },
                "carrier": null,
                "name": "Recipient",
                "phone": null,
                "tracking_number": null
              },
              "source": null,
              "statement_descriptor": null,
              "statement_descriptor_suffix": null,
              "status": "succeeded",
              "transfer_data": null,
              "transfer_group": null
            },
            "payment_method": "pm_1UNdsVKXBGcbgpbZaCMfgcRe",
            "payment_method_details": {
              "card": {
                "amount_authorized": 2500,
                "authorization_code": "075884",
                "brand": "visa",
                "checks": {
                  "address_line1_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": "pass"
                },
                "country": "US",
                "electronic_commerce_indicator": "07",
                "exp_month": 10,
                "exp_year": 2027,
                "extended_authorization": {
                  "status": "disabled"
                },
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "incremental_authorization": {
                  "status": "unavailable"
                },
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "multicapture": {
                  "status": "unavailable"
                },
                "network": "visa",
                "network_token": {
                  "used": false
                },
                "network_transaction_id": "119528868122817",
                "overcapture": {
                  "maximum_amount_capturable": 2500,
                  "status": "unavailable"
                },
                "regulated_status": "unregulated",
                "three_d_secure": null,
                "transaction_link_id": null,
                "wallet": null
              },
              "type": "card"
            },
            "radar_options": {},
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xRTRiZm5LWEJHY2JncGJaKPySldYGMgad2_i73gE6LBYSdecy2zOx3-OAxPHk__r-XIah5-jWhplpq6Ake4f9jpQS8mMdo-bikCpE",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/charges/ch_3UNdsWKXBGcbgpbZ1ihJvNqn/refunds"
            },
            "review": null,
            "shipping": {
              "address": {
                "city": "Cupertino",
                "country": null,
                "line1": "One Infinite Loop",
                "line2": null,
                "postal_code": null,
                "state": "CA"
              },
              "carrier": null,
              "name": "Recipient",
              "phone": null,
              "tracking_number": null
            },
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": null
          },
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1UNdsVKXBGcbgpbZaCMfgcRe",
          "payment_method_configu[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoice_payments?payment%5Bpayment_intent%5D=pi_3UNdsWKXBGcbgpbZ151WdAzJ&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Stripe-Version:
      - 2026-09-30.endive
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/invoice_payments"
        }
  recorded_at: Tue, 06 Oct 2026 19:18:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3UNdsWKXBGcbgpbZ1ihJvNqn?expand%5B%5D=balance_transaction&expand%5B%5D=payment_intent&expand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Stripe-Version:
      - 2026-09-30.endive
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Str[...]
