---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User&expand[0]=tax&expand[1]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - fc8e972a-c35c-4e72-b452-45db41047dd1
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fc8e972a-c35c-4e72-b452-45db41047dd1
      Original-Request:
      - req_k3PAyfbJ3zH87m
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VOQkIfGrGytLyf",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1791314330,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_credit_balance": {},
          "invoice_prefix": "BLVWPHWA",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 06 Oct 2026 19:18:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_chargeDeclined/attach
    body:
      encoding: UTF-8
      string: customer=cus_VOQkIfGrGytLyf
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 941c6201-4a85-42c5-8598-a1b163cae6c8
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 941c6201-4a85-42c5-8598-a1b163cae6c8
      Original-Request:
      - req_2C0bB62GNmat4e
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "advice_code": "try_again_later",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "network_decline_code": "01",
            "param": "",
            "request_log_url": "https://dashboard.stripe.com/acct_1E4bfnKXBGcbgpbZ/test/workbench/logs?object=req_2C0bB62GNmat4e",
            "type": "card_error"
          }
        }
  recorded_at: Tue, 06 Oct 2026 19:18:50 GMT
recorded_with: VCR 6.4.0
