---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User&expand[0]=tax&expand[1]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 19d211d7-3964-4bdb-9e38-3990afb1ed98
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 19d211d7-3964-4bdb-9e38-3990afb1ed98
      Original-Request:
      - req_wrSRV7jo9qbQR3
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VOQkM5C5OqPF0y",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1791314314,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_credit_balance": {},
          "invoice_prefix": "BXZJOMXD",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 06 Oct 2026 19:18:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_VOQkM5C5OqPF0y
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 6b741c8e-78ef-42ce-99d4-c29de26a8666
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6b741c8e-78ef-42ce-99d4-c29de26a8666
      Original-Request:
      - req_bsxcPdk8vg9rNY
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UNdskKXBGcbgpbZirQdV5l4",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 10,
            "exp_year": 2027,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1791314314,
          "customer": "cus_VOQkM5C5OqPF0y",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Tue, 06 Oct 2026 19:18:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_VOQkM5C5OqPF0y
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1UNdskKXBGcbgpbZirQdV5l4
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - fae65a3a-a845-4128-8a9b-ce60f028137b
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_discover/attach
    body:
      encoding: UTF-8
      string: customer=cus_VOQkM5C5OqPF0y
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 3c8d8e1f-8a22-4f06-9acf-eaca88c652f0
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
    [...]
[...]
