---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=sepa_debit&sepa_debit[iban]=DK5000400440116243&billing_details[email]=test%40example.org&billing_details[name]=Test+User
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 4557cc34-93e4-4046-a6a7-94401f43f5a0
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4557cc34-93e4-4046-a6a7-94401f43f5a0
      Original-Request:
      - req_orclW9kvR3L14f
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UNdsUKXBGcbgpbZlfSORnbu",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": "test@example.org",
            "name": "Test User",
            "phone": null,
            "tax_id": null
          },
          "created": 1791314298,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "sepa_debit": {
            "bank_code": "0040",
            "branch_code": "",
            "country": "DK",
            "fingerprint": "BZ2XYzsIYf06E4yv",
            "generated_from": {
              "charge": null,
              "setup_attempt": null
            },
            "last4": "6243"
          },
          "shared_payment_granted_token": null,
          "type": "sepa_debit"
        }
  recorded_at: Tue, 06 Oct 2026 19:18:18 GMT
recorded_with: VCR 6.4.0
