---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=oxxo&billing_details[email]=test%40example.org&billing_details[name]=Test+User
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 86aeeed4-34a4-4c3d-ba45-bd514f09306b
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 86aeeed4-34a4-4c3d-ba45-bd514f09306b
      Original-Request:
      - req_djBYJsndaqd0XZ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UHnd1KXBGcbgpbZnLjr3XY2",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": "test@example.org",
            "name": "Test User",
            "phone": null,
            "tax_id": null
          },
          "created": 1789921811,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "oxxo": {},
          "shared_payment_granted_token": null,
          "type": "oxxo"
        }
  recorded_at: Sun, 20 Sep 2026 16:30:11 GMT
recorded_with: VCR 6.4.0
