---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User&expand[0]=tax&expand[1]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 7bbdc13d-2219-4be1-895b-4fc055d3b69c
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7bbdc13d-2219-4be1-895b-4fc055d3b69c
      Original-Request:
      - req_JJGPepKSZWeikz
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VOQkqyft4ADN6J",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1791314343,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_credit_balance": {},
          "invoice_prefix": "XIIALPJD",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 06 Oct 2026 19:19:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_VOQkqyft4ADN6J
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 4bd28154-6d07-46ea-9163-2cff16358c7f
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4bd28154-6d07-46ea-9163-2cff16358c7f
      Original-Request:
      - req_bEBhhgkN0cIeuJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UNdtDKXBGcbgpbZFxVWahvG",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 10,
            "exp_year": 2027,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1791314343,
          "customer": "cus_VOQkqyft4ADN6J",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Tue, 06 Oct 2026 19:19:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_VOQkqyft4ADN6J
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1UNdtDKXBGcbgpbZFxVWahvG
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - bc9e3810-5ae0-4f61-bd06-d64c62e6d0ce
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_VOQkqyft4ADN6J&amount=1000&currency=usd&description=One-time+setup+fee
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - e7cc9584-262a-4262-aa0b-3704f3326f34
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e7cc9584-262a-4262-aa0b-3704f3326f34
      Original-Request:
      - req_JDwHIS1kIkXiJF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ii_1UNdtEKXBGcbgpbZTiCssbwJ",
          "object": "invoiceitem",
          "amount": 1000,
          "currency": "usd",
          "customer": "cus_VOQkqyft4ADN6J",
          "customer_account": null,
          "date": 1791314344,
          "description": "One-time setup fee",
          "discountable": true,
          "discounts": [],
          "frozen_fields": [],
          "invoice": null,
          "invoicing_rules": [],
          "livemode": false,
          "metadata": {},
          "parent": null,
          "period": {
            "end": 1791314344,
            "start": 1791314344
          },
          "pricing": {
            "price_details": {
              "price": "price_1PmHofKXBGcbgpbZCVOHQep3",
              "product": "prod_QdYwATBkKi2FtY"
            },
            "type": "price_details",
            "unit_amount_decimal": "1000"
          },
          "proration": false,
          "quantity": 1,
          "quantity_decimal": "1",
          "tax_rates": [],
          "test_clock": null
        }
  recorded_at: Tue, 06 Oct 2026 19:19:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: pending_invoice_items_behavior=include&customer=cus_VOQkqyft4ADN6J
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 566b33d7-423f-4b2d-b2f1-b48f33e8fd60
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 566b33d7-423f-4b2d-b2f1-b48f33e8fd60
      Original-Request:
      - req_OoJSANCF5vQcFe
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "in_1UNdtEKXBGcbgpbZssEdTu5O",
          "object": "invoice",
          "account_country": "US",
          "account_name": "Pay",
          "account_tax_ids": null,
          "amount_due": 1000,
          "amount_overpaid": 0,
          "amount_paid": 0,
          "amount_remaining": 1000,
          "amount_shipping": 0,
          "application": null,
          "attempt_count": 0,
          "attempted": false,
          "auto_advance": false,
          "automatic_tax": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null,
            "provider": null,
            "status": null
          },
          "automatically_finalizes_at": null,
          "billing_reason": "manual",
          "collection_method": "charge_automatically",
          "created": 1791314344,
          "currency": "usd",
          "custom_fields": null,
          "customer": "cus_VOQkqyft4ADN6J",
          "customer_account": null,
          "customer_address": null,
          "customer_email": "stripe@example.org",
          "customer_name": "Stripe User",
          "customer_phone": null,
          "customer_shipping": null,
          "customer_tax_exempt": "none",
          "customer_tax_ids": [],
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discounts": [],
          "due_date": null,
          "effective_at": null,
          "ending_balance": null,
          "footer": null,
          "from_invoice": null,
          "hosted_invoice_url": null,
          "invoice_pdf": null,
          "issuer": {
            "type": "self"
          },
          "last_finalization_error": null,
          "latest_revision": null,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "il_1UNdtEKXBGcbgpbZWeX2irig",
                "object": "line_item",
                "amount": 1000,
                "currency": "usd",
                "description": "One-time setup fee",
                "discount_amounts": [],
                "discountable": true,
                "discounts": [],
                "invoice": "in_1UNdtEKXBGcbgpbZssEdTu5O",
                "livemode": false,
                "metadata": {},
                "parent": {
                  "invoice_item_details": {
                    "invoice_item": "ii_1UNdtEKXBGcbgpbZTiCssbwJ",
                    "proration": false,
                    "proration_details": {
                      "credited_items": null
                    },
                    "subscription": null
                  },
                  "subscription_item_details": null,
                  "type": "invoice_item_details"
                },
                "period": {
                  "end": 1791314344,
                  "start": 1791314344
                },
                "pretax_credit_amounts": [],
                "pricing": {
                  "price_details": {
                    "price": "price_1PmHofKXBGcbgpbZCVOHQep3",
                    "product": "prod_QdYwATBkKi2FtY"
                  },
                  "type": "price_details",
                  "unit_amount_decimal": "1000"
                },
                "quantity": 1,
                "quantity_decimal": "1",
                "subtotal": 1000,
                "taxes": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/invoices/in_1UNdtEKXBGcbgpbZssEdTu5O/lines"
          },
          "livemode": false,
          "metadata": {},
          "next_payment_attempt": null,
          "number": null,
          "on_behalf_of": null,
          "parent": null,
          "payment_settings": {
            "default_mandate": null,
            "payment_method_options": null,
            "payment_method_types": null
          },
          "period_end": 1791314344,
          "period_start": 1791314344,
          "post_payment_credit_notes_amount": 0,
          "pre_payment_credit_notes_amount": 0,
          "receipt_number": null,
          "rendering": {
            "amount_tax_display": null,
            "pdf": {
              "page_size": "auto"
            },
            "template": null,
            "template_version": null
          },
          "shipping_cost": null,
          "shipping_details": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "status": "draft",
          "status_transitions": {
            "finalized_at": null,
            "marked_uncollectible_at": null,
            "paid_at": null,
            "voided_at": null
          },
          "subtotal": 1000,
          "subtotal_excluding_tax": 1000,
          "test_clock": null,
          "total": 1000,
          "total_discount_amounts": [],
          "total_excluding_tax": 1000,
          "total_pretax_credit_amounts": [],
          "total_taxes": [],
          "webhooks_delivered_at": 1791314344
        }
  recorded_at: Tue, 06 Oct 2026 19:19:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_1UNdtEKXBGcbgpbZssEdTu5O/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 12c301b9-5ce2-4bda-9f24-302261dc164e
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
     [...]
