---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.paddle.com/transactions
    body:
      encoding: UTF-8
      string: '{"items":null,"customer_id":"ctm_123"}'
    headers:
      Paddle-Version:
      - '1'
      Authorization:
      - Bearer <PADDLE_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"type":"request_error","code":"forbidden","detail":"You are
        not permitted to perform this request","documentation_url":"https://developer.paddle.com/v1/errors/shared/forbidden"},"meta":{"request_id":"4634f702-c9c0-47ee-91dc-0b38b9bc9c35"}}'
  recorded_at: Thu, 26 Oct 2023 17:34:34 GMT
recorded_with: VCR 6.2.0
