---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.paddle.com/transactions
    body:
      encoding: UTF-8
      string: '{"items":null,"customer_id":"ctm_0123"}'
    headers:
      Authorization:
      - Bearer <PADDLE_API_KEY>
      Paddle-Version:
      - '1'
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"type":"request_error","code":"bad_request","detail":"Invalid
        request.","documentation_url":"https://developer.paddle.com/v1/errors/shared/bad_request","errors":[{"field":"customer_id","message":"Must
        validate at least one schema (anyOf)"},{"field":"customer_id","message":"Does
        not match pattern ''^ctm_[a-z\\d]{26}$''"},{"field":"customer_id","message":"Invalid
        type. Expected: null, given: string"},{"field":"items","message":"Invalid
        type. Expected: array, given: null"}]},"meta":{"request_id":"ed7253a8-51ec-4de3-b50b-bc54e62534e4"}}'
  recorded_at: Tue, 06 Oct 2026 20:15:04 GMT
recorded_with: VCR 6.4.0
