---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User&expand[0]=tax&expand[1]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - e5204957-e2f6-4103-b79d-9930cb663c3e
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e5204957-e2f6-4103-b79d-9930cb663c3e
      Original-Request:
      - req_XN5XYlCPY556BS
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VIOREaNtWaFRzs",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1789921894,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_credit_balance": {},
          "invoice_prefix": "KCGXS6DR",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 20 Sep 2026 16:31:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=0&currency=usd&customer=cus_VIOREaNtWaFRzs&expand[0]=latest_charge.balance_transaction&expand[1]=latest_charge.payment_intent&expand[2]=latest_charge.refunds.data.balance_transaction&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 6074900f-8f1d-43fc-9641-d72cf1db7913
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6074900f-8f1d-43fc-9641-d72cf1db7913
      Original-Request:
      - req_JRhqZwSICfJx9o
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "parameter_invalid_integer",
            "doc_url": "https://stripe.com/docs/error-codes/parameter-invalid-integer",
            "message": "The amount must be greater than or equal to the minimum charge amount allowed for your account and the currency set (https://docs.stripe.com/currencies#minimum-and-maximum-charge-amounts).  If you want to save a Payment Method for future use without an immediate payment, use a Setup Intent instead: https://docs.stripe.com/payments/setup-intents",
            "param": "amount",
            "request_log_url": "https://dashboard.stripe.com/acct_1E4bfnKXBGcbgpbZ/test/workbench/logs?object=req_JRhqZwSICfJx9o",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sun, 20 Sep 2026 16:31:34 GMT
recorded_with: VCR 6.4.0
