---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User&expand[0]=tax&expand[1]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - eef2369d-3ad7-44b3-8230-96fdd6f97e57
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - eef2369d-3ad7-44b3-8230-96fdd6f97e57
      Original-Request:
      - req_8QR39FZ9X5O7WH
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VOQjdyLGe8YYen",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1791314279,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_credit_balance": {},
          "invoice_prefix": "29VQG7JT",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 06 Oct 2026 19:17:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_VOQjdyLGe8YYen
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 51e82ed4-3cea-4ac4-b92f-9d7d1aed26c7
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 51e82ed4-3cea-4ac4-b92f-9d7d1aed26c7
      Original-Request:
      - req_BAZqsaeXqXKVys
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UNdsBKXBGcbgpbZsfI6NUeD",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 10,
            "exp_year": 2027,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1791314279,
          "customer": "cus_VOQjdyLGe8YYen",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Tue, 06 Oct 2026 19:17:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_VOQjdyLGe8YYen
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1UNdsBKXBGcbgpbZsfI6NUeD
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 50f379b5-a1c3-4ff6-8f87-b08e878f3b59
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2900&currency=usd&customer=cus_VOQjdyLGe8YYen&expand[0]=latest_charge.balance_transaction&expand[1]=latest_charge.payment_intent&expand[2]=latest_charge.refunds.data.balance_transaction&return_url=http%3A%2F%2Flocalhost%3A3000%2F&confirm=true&payment_method=pm_1UNdsBKXBGcbgpbZsfI6NUeD&capture_method=manual
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 19860c75-19ae-45e4-83de-d8976b968922
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 19860c75-19ae-45e4-83de-d8976b968922
      Original-Request:
      - req_2Ygk7sVjdR54oZ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3UNdsCKXBGcbgpbZ1sDlhgIY",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 2900,
          "amount_capturable": 2900,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "pi_3UNdsCKXBGcbgpbZ1sDlhgIY_secret_xD2Ug6wRbKpZ9ujR1EC1QECKI",
          "confirmation_method": "automatic",
          "created": 1791314280,
          "currency": "usd",
          "customer": "cus_VOQjdyLGe8YYen",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "ch_3UNdsCKXBGcbgpbZ1X4cTBC3",
            "object": "charge",
            "amount": 2900,
            "amount_captured": 0,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": null,
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null,
              "tax_id": null
            },
            "calculated_statement_descriptor": "PAY RAILS",
            "captured": false,
            "created": 1791314280,
            "currency": "usd",
            "customer": "cus_VOQjdyLGe8YYen",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "advice_code": null,
              "network_advice_code": null,
              "network_decline_code": null,
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 53,
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": {
              "id": "pi_3UNdsCKXBGcbgpbZ1sDlhgIY",
              "object": "payment_intent",
              "allowed_payment_method_types": null,
              "amount": 2900,
              "amount_capturable": 2900,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": {
                "allow_redirects": "always",
                "enabled": true
              },
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "manual",
              "client_secret": "pi_3UNdsCKXBGcbgpbZ1sDlhgIY_secret_xD2Ug6wRbKpZ9ujR1EC1QECKI",
              "confirmation_method": "automatic",
              "created": 1791314280,
              "currency": "usd",
              "customer": "cus_VOQjdyLGe8YYen",
              "customer_account": null,
              "description": null,
              "excluded_payment_method_types": null,
              "last_payment_error": null,
              "latest_charge": "ch_3UNdsCKXBGcbgpbZ1X4cTBC3",
              "livemode": false,
              "managed_payments": {
                "enabled": false
              },
              "metadata": {},
              "next_action": null,
              "on_behalf_of": null,
              "payment_method": "pm_1UNdsBKXBGcbgpbZsfI6NUeD",
              "payment_method_configuration_details": {
                "id": "pmc_1KVQ6KKXBGcbgpbZtICYcb8a",
                "parent": null
              },
              "payment_method_options": {
                "afterpay_clearpay": {
                  "reference": null
                },
                "card": {
                  "installments": null,
                  "mandate_options": null,
                  "network": null,
                  "request_three_d_secure": "automatic"
                },
                "klarna": {
                  "preferred_locale": null
                },
                "link": {
                  "persistent_token": null
                }
              },
              "payment_method_types": [
                "card",
                "afterpay_clearpay",
                "klarna",
                "link"
              ],
              "payment_record": null,
              "processing": null,
              "receipt_email": null,
              "review": null,
              "setup_future_usage": null,
              "shared_payment_granted_token": null,
              "shipping": null,
              "source": null,
              "statement_descriptor": null,
              "statement_descriptor_suffix": null,
              "status": "requires_capture",
              "transfer_data": null,
              "transfer_group": null
            },
            "payment_method": "pm_1UNdsBKXBGcbgpbZsfI6NUeD",
            "payment_method_details": {
              "card": {
                "amount_authorized": 2900,
                "authorization_code": "759339",
                "brand": "visa",
                "capture_before": 1791919080,
                "checks": {
                  "address_line1_check": null,
                  "address_postal_code_check": null,
                  "cvc_check": "pass"
                },
                "country": "US",
                "electronic_commerce_indicator": "07",
                "exp_month": 10,
                "exp_year": 2027,
                "extended_authorization": {
                  "status": "disabled"
                },
                "fingerprint": "w4XDzQOFakih5EZM",
                "funding": "credit",
                "incremental_authorization": {
                  "status": "unavailable"
                },
                "installments": null,
                "last4": "4242",
                "mandate": null,
                "multicapture": {
                  "status": "unavailable"
                },
                "network": "visa",
                "network_token": {
                  "used": false
                },
                "network_transaction_id": "119528868122817",
                "overcapture": {
                  "maximum_amount_capturable": 2900,
                  "status": "unavailable"
                },
                "regulated_status": "unregulated",
                "three_d_secure": null,
                "transaction_link_id": null,
                "wallet": null
              },
              "type": "card"
            },
            "radar_options": {},
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xRTRiZm5LWEJHY2JncGJaKOiSldYGMgYCkxh3eHY6LBZDx7R1bHw2RadlaGl3zM2MNY-xgsIhQbZDEAfcC1U7h1gfHp_heJmRVBpL",
            "refunded": false,
            "refunds": {
              "object": "list",
              "data": [],
              "has_more": false,
              "total_count": 0,
              "url": "/v1/charges/ch_3UNdsCKXBGcbgpbZ1X4cTBC3/refunds"
            },
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": null
          },
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1UNdsBKXBGcbgpbZsfI6NUeD",
          "payment_method_configu[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoice_payments?payment%5Bpayment_intent%5D=pi_3UNdsCKXBGcbgpbZ1sDlhgIY&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Stripe-Version:
      - 2026-09-30.endive
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/invoice_payments"
        }
  recorded_at: Tue, 06 Oct 2026 19:18:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3UNdsCKXBGcbgpbZ1sDlhgIY/capture
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 84eec31d-c48d-4bac-add9-94da519f01bc
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3UNdsCKXBGcbgpbZ1X4cTBC3?expand%5B%5D=balance_transaction&expand%5B%5D=payment_intent&expand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Stripe-Version:
      - 2026-09-30.endive
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3UNdsCKXBGcbgpbZ1X4cTBC3",
          "object": "charge",
          "amount": 2900,
          "amount_captured": 2900,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3UNdsCKXBGcbgpbZ1pfH8Dzd",
            "object": "balance_transaction",
            "amount": 2900,
            "available_on": 1791849600,
            "balance_type": "payments",
            "created": 1791314281,
            "currency": "usd",
            "description": null,
            "exchange_rate": null,
            "fee": 114,
            "fee_details": [
              {
                "amount": 114,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 2786,
            "reporting_category": "charge",
            "source": "ch_3UNdsCKXBGcbgpbZ1X4cTBC3",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoice_payments?payment%5Bpayment_intent%5D=pi_3UNdsCKXBGcbgpbZ1sDlhgIY&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Stripe-Version:
      - 2026-09-30.endive
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/invoice_payments"
        }
  recorded_at: Tue, 06 Oct 2026 19:18:01 GMT
recorded_with: VCR 6.4.0
