---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stripe%40example.org&name=Stripe+User&expand[0]=tax&expand[1]=invoice_credit_balance
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - e49a0835-0524-45b7-8983-6dda7ddb91b5
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e49a0835-0524-45b7-8983-6dda7ddb91b5
      Original-Request:
      - req_72gWYLvREcQxFh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VOQjyqPPguF45m",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1791314269,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stripe@example.org",
          "invoice_credit_balance": {},
          "invoice_prefix": "6NGSBPRQ",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Stripe User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax": {
            "automatic_tax": "unrecognized_location",
            "ip_address": null,
            "location": null,
            "provider": "stripe"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 06 Oct 2026 19:17:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_VOQjyqPPguF45m
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - '09b31ff6-7c4d-43d7-a36b-2e9f77f854ed'
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '09b31ff6-7c4d-43d7-a36b-2e9f77f854ed'
      Original-Request:
      - req_PidCrgsva0VlU9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1UNds1KXBGcbgpbZdFXD0fZI",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 10,
            "exp_year": 2027,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1791314269,
          "customer": "cus_VOQjyqPPguF45m",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Tue, 06 Oct 2026 19:17:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_VOQjyqPPguF45m
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1UNds1KXBGcbgpbZdFXD0fZI
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - ca5b1bc9-07de-42bf-981c-d78d9b0a2da6
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: customer=cus_VOQjyqPPguF45m
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 3e03f4b3-7d01-4ca0-96ac-a2676d5fe4d8
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3e03f4b3-7d01-4ca0-96ac-a2676d5fe4d8
      Original-Request:
      - req_039cR7Sc1LQeF5
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "in_1UNds2KXBGcbgpbZT66mFnWL",
          "object": "invoice",
          "account_country": "US",
          "account_name": "Pay",
          "account_tax_ids": null,
          "amount_due": 0,
          "amount_overpaid": 0,
          "amount_paid": 0,
          "amount_remaining": 0,
          "amount_shipping": 0,
          "application": null,
          "attempt_count": 0,
          "attempted": false,
          "auto_advance": false,
          "automatic_tax": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null,
            "provider": null,
            "status": null
          },
          "automatically_finalizes_at": null,
          "billing_reason": "manual",
          "collection_method": "charge_automatically",
          "created": 1791314270,
          "currency": "usd",
          "custom_fields": null,
          "customer": "cus_VOQjyqPPguF45m",
          "customer_account": null,
          "customer_address": null,
          "customer_email": "stripe@example.org",
          "customer_name": "Stripe User",
          "customer_phone": null,
          "customer_shipping": null,
          "customer_tax_exempt": "none",
          "customer_tax_ids": [],
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discounts": [],
          "due_date": null,
          "effective_at": null,
          "ending_balance": null,
          "footer": null,
          "from_invoice": null,
          "hosted_invoice_url": null,
          "invoice_pdf": null,
          "issuer": {
            "type": "self"
          },
          "last_finalization_error": null,
          "latest_revision": null,
          "lines": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/invoices/in_1UNds2KXBGcbgpbZT66mFnWL/lines"
          },
          "livemode": false,
          "metadata": {},
          "next_payment_attempt": null,
          "number": null,
          "on_behalf_of": null,
          "parent": null,
          "payment_settings": {
            "default_mandate": null,
            "payment_method_options": null,
            "payment_method_types": null
          },
          "period_end": 1791314270,
          "period_start": 1791314270,
          "post_payment_credit_notes_amount": 0,
          "pre_payment_credit_notes_amount": 0,
          "receipt_number": null,
          "rendering": {
            "amount_tax_display": null,
            "pdf": {
              "page_size": "auto"
            },
            "template": null,
            "template_version": null
          },
          "shipping_cost": null,
          "shipping_details": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "status": "draft",
          "status_transitions": {
            "finalized_at": null,
            "marked_uncollectible_at": null,
            "paid_at": null,
            "voided_at": null
          },
          "subtotal": 0,
          "subtotal_excluding_tax": 0,
          "test_clock": null,
          "total": 0,
          "total_discount_amounts": [],
          "total_excluding_tax": 0,
          "total_pretax_credit_amounts": [],
          "total_taxes": [],
          "webhooks_delivered_at": 1791314270
        }
  recorded_at: Tue, 06 Oct 2026 19:17:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_VOQjyqPPguF45m&invoice=in_1UNds2KXBGcbgpbZT66mFnWL&amount=1900&discounts[0][coupon]=sirmAxRi
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 176641ca-8fb1-4fa2-bc03-cb06b0951401
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 176641ca-8fb1-4fa2-bc03-cb06b0951401
      Original-Request:
      - req_5jPytC33tS0czI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ii_1UNds2KXBGcbgpbZtggEDR61",
          "object": "invoiceitem",
          "amount": 1900,
          "currency": "usd",
          "customer": "cus_VOQjyqPPguF45m",
          "customer_account": null,
          "date": 1791314270,
          "description": null,
          "discountable": true,
          "discounts": [
            "di_1UNds2KXBGcbgpbZrQBoPgaZ"
          ],
          "frozen_fields": [],
          "invoice": "in_1UNds2KXBGcbgpbZT66mFnWL",
          "invoicing_rules": [],
          "livemode": false,
          "metadata": {},
          "parent": null,
          "period": {
            "end": 1791314270,
            "start": 1791314270
          },
          "pricing": {
            "price_details": {
              "price": "price_1UNds2KXBGcbgpbZHZc79lXB",
              "product": "prod_VOQjAlewfLyFaf"
            },
            "type": "price_details",
            "unit_amount_decimal": "1900"
          },
          "proration": false,
          "quantity": 1,
          "quantity_decimal": "1",
          "tax_rates": [],
          "test_clock": null
        }
  recorded_at: Tue, 06 Oct 2026 19:17:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_1UNds2KXBGcbgpbZT66mFnWL/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Idempotency-Key:
      - 8d0339f7-ff42-4528-a436-31a49bb85809
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
     [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoice_payments?invoice=in_1UNds2KXBGcbgpbZT66mFnWL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Stripe-Version:
      - 2026-09-30.endive
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "inpay_1UNds4KXBGcbgpbZwNxgM3oZ",
              "object": "invoice_payment",
              "amount_paid": 950,
              "amount_requested": 950,
              "created": 1791314272,
              "currency": "usd",
              "invoice": "in_1UNds2KXBGcbgpbZT66mFnWL",
              "is_default": true,
              "livemode": false,
              "payment": {
                "payment_intent": "pi_3UNds3KXBGcbgpbZ1xrZzQ6f",
                "type": "payment_intent"
              },
              "status": "paid",
              "status_transitions": {
                "canceled_at": null,
                "paid_at": 1791314272
              }
            }
          ],
          "has_more": false,
          "url": "/v1/invoice_payments"
        }
  recorded_at: Tue, 06 Oct 2026 19:17:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3UNds3KXBGcbgpbZ1xrZzQ6f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Stripe-Version:
      - 2026-09-30.endive
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3UNds3KXBGcbgpbZ1xrZzQ6f",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 950,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 950,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3UNds3KXBGcbgpbZ1xrZzQ6f_secret_nbNDHIH5DFGPhwEllLKwmVDGW",
          "confirmation_method": "automatic",
          "created": 1791314271,
          "currency": "usd",
          "customer": "cus_VOQjyqPPguF45m",
          "customer_account": null,
          "description": "Payment for Invoice",
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": "ch_3UNds3KXBGcbgpbZ10Bo8HdT",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1UNds1KXBGcbgpbZdFXD0fZI",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "acss_debit": {
              "mandate_options": {
                "interval_description": null,
                "payment_schedule": null,
                "transaction_type": null
              },
              "verification_method": "automatic"
            },
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "cashapp": {},
            "link": {
              "persistent_token": null
            },
            "us_bank_account": {
              "mandate_options": {},
              "transaction_purpose": "unspecified",
              "verification_method": "automatic"
            }
          },
          "payment_method_types": [
            "acss_debit",
            "card",
            "cashapp",
            "link",
            "us_bank_account"
          ],
          "payment_record": null,
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 06 Oct 2026 19:17:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3UNds3KXBGcbgpbZ10Bo8HdT?expand%5B%5D=balance_transaction&expand%5B%5D=payment_intent&expand%5B%5D=refunds.data.balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Stripe-Version:
      - 2026-09-30.endive
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3UNds3KXBGcbgpbZ10Bo8HdT",
          "object": "charge",
          "amount": 950,
          "amount_captured": 950,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3UNds3KXBGcbgpbZ19yxRTuk",
            "object": "balance_transaction",
            "amount": 950,
            "available_on": 1791849600,
            "balance_type": "payments",
            "created": 1791314272,
            "currency": "usd",
            "description": "Payment for Invoice",
            "exchange_rate": null,
            "fee": 58,
            "fee_details": [
              {
                "amount": 58,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 892,
            "reporting_category": "charge",
            "source": "ch_3UNds3KXBGcbgpbZ10Bo8HdT",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "PAY RAILS",
          "captured": true,
          "created": 1791314272,
          "currency": "usd",
          "customer": "cus_VOQjyqPPguF45m",
          "description": "Payment for Invoice",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 3,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": {
            "id": "pi_3UNds3KXBGcbgpbZ1xrZzQ6f",
            "object": "payment_intent",
            "allowed_payment_method_types": null,
            "amount": 950,
            "amount_capturable": 0,
            "amount_details": {
              "tip": {}
            },
            "amount_received": 950,
            "application": null,
            "application_fee_amount": null,
            "automatic_payment_methods": null,
            "canceled_at": nul[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoice_payments?payment%5Bpayment_intent%5D=pi_3UNds3KXBGcbgpbZ1xrZzQ6f&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Stripe-Version:
      - 2026-09-30.endive
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "inpay_1UNds4KXBGcbgpbZwNxgM3oZ",
              "object": "invoice_payment",
              "amount_paid": 950,
              "amount_requested": 950,
              "created": 1791314272,
              "currency": "usd",
              "invoice": "in_1UNds2KXBGcbgpbZT66mFnWL",
              "is_default": true,
              "livemode": false,
              "payment": {
                "payment_intent": "pi_3UNds3KXBGcbgpbZ1xrZzQ6f",
                "type": "payment_intent"
              },
              "status": "paid",
              "status_transitions": {
                "canceled_at": null,
                "paid_at": 1791314272
              }
            }
          ],
          "has_more": false,
          "url": "/v1/invoice_payments"
        }
  recorded_at: Tue, 06 Oct 2026 19:17:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_1UNds2KXBGcbgpbZT66mFnWL?expand%5B%5D=total_discount_amounts.discount.source.coupon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Stripe-Version:
      - 2026-09-30.endive
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-09-30.endive
      X-[...]
