---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/invoice_payments?payment%5Bpayment_intent%5D=pm_1234&payment%5Btype%5D=payment_intent&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_PRIVATE_KEY>
      Stripe-Version:
      - 2026-08-26.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/invoice_payments"
        }
  recorded_at: Sun, 20 Sep 2026 16:31:33 GMT
recorded_with: VCR 6.4.0
