<div class="row">
  <div class="col-sm-6">
    <a
      href="#!"
      class="paddle_button"
      data-product="614997"
      data-email="<%= current_user.email %>"
      data-passthrough="<%= { owner_sgid: current_user.to_sgid(for: 'paddle_614997').to_s }.to_json %>"
      >Checkout</a>
  </div>
</div>
