---
http_interactions:
- request:
    method: post
    uri: https://sandbox-vendors.paddle.com/api/2.0/subscription/users
    body:
      encoding: UTF-8
      string: '{"vendor_id":"<VENDOR_ID>","vendor_auth_code":"<VENDOR_AUTH_CODE>","subscription_id":"3576390"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 18fdb721-2f92-4f3c-986f-a3cc5a57cec7
      Correlation-Id:
      - 18fdb721-2f92-4f3c-986f-a3cc5a57cec7
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":[{"subscription_id":3576390,"plan_id":594470,"user_id":17368056,"user_email":"test@example.com","marketing_consent":false,"update_url":"https:\/\/checkout.paddle.com\/subscription\/update?user=17368056&subscription=3576390&hash=cc553b2a75a8a8c23bbd22463e5820a8580ea71198db9519ed752ea36d90ceee","cancel_url":"https:\/\/checkout.paddle.com\/subscription\/cancel?user=17368056&subscription=3576390&hash=53fafebb9ea30fc7853acbbb57a4bcecc02948ee7deb602df441b1fe19e6aa9a","state":"active","signup_date":"2020-06-04
        13:06:33","last_payment":{"amount":0,"currency":"USD","date":"2020-06-04"},"linked_subscriptions":[],"payment_information":{"payment_method":"card","card_type":"Visa","last_four_digits":"0020","expiry_date":"06\/2022"},"next_payment":{"amount":0,"currency":"USD","date":"2020-07-04"}}]}'
  recorded_at: Sun, 05 Nov 2023 14:17:46 GMT
recorded_with: VCR 6.2.0
