name: Tests

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main
  workflow_call:

jobs:
  lint:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: "3.3"

      - name: StandardRb check
        run: bundle exec standardrb

  sqlite:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ["3.2", "3.3"]
        gemfile:
          - rails_6.1
          - rails_7.0
          - rails_7.1
          - rails_7.2
          - rails_8.0
          - rails_main
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}.gemfile
      BUNDLE_PATH_RELATIVE_TO_CWD: true

    steps:
      - name: SQLite3 version
        run: sqlite3 --version
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: default
          bundler-cache: true
          rubygems: latest
      - name: Run tests
        env:
          DATABASE_URL: "sqlite3:pay_test"
          RUBYOPT: "--enable-frozen-string-literal"
          STRIPE_PRIVATE_KEY: ${{ secrets.STRIPE_PRIVATE_KEY }}
        run: |
          bin/rails db:test:prepare
          bin/rails test

  postgres:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ["3.2", "3.3"]
        gemfile:
          - rails_6.1
          - rails_7.0
          - rails_7.1
          - rails_7.2
          - rails_8.0
          - rails_main
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}.gemfile
      BUNDLE_PATH_RELATIVE_TO_CWD: true

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: test
        ports: ['5432:5432']

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: default
          bundler-cache: true
          rubygems: latest
      - name: Run tests
        env:
          DATABASE_URL: postgres://postgres:password@localhost:5432/test
          RUBYOPT: "--enable-frozen-string-literal"
          STRIPE_PRIVATE_KEY: ${{ secrets.STRIPE_PRIVATE_KEY }}
        run: |
          bin/rails db:test:prepare
          bin/rails test

  mysql:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ["3.2", "3.3"]
        gemfile:
          - rails_6.1
          - rails_7.0
          - rails_7.1
          - rails_7.2
          - rails_8.0
          - rails_main
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}.gemfile
      BUNDLE_PATH_RELATIVE_TO_CWD: true

    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: test
        ports: ['3306:3306']
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: default
          bundler-cache: true
          rubygems: latest
      - name: Run tests
        env:
          DATABASE_URL: mysql2://root:password@127.0.0.1:3306/test
          RUBYOPT: "--enable-frozen-string-literal"
          STRIPE_PRIVATE_KEY: ${{ secrets.STRIPE_PRIVATE_KEY }}
        run: |
          bin/rails db:test:prepare
          bin/rails test
